.DS_Store
.Rhistory
.Rproj.user
taxize_.Rproj
taxize.Rproj
README.html
._README.md
inst/doc/.texpadtmp/taxize_msNotes.bib
inst/doc/.texpadtmp/taxize_ms.aux
inst/doc/.texpadtmp/taxize_ms.bbl
inst/doc/.texpadtmp/taxize_ms.blg
inst/doc/.texpadtmp/taxize_ms.log
inst/doc/.texpadtmp/taxize_ms.out
inst/doc/.texpadtmp/taxize_ms.synctex.gz
.httr-oauth
inst/vign/taxize_vignette_cache
vignettes/taxize_case_study_cache/
vignettes/cache/
tests/testthat/Rplots.pdf
revdep/checks.noindex
revdep/data.sqlite
revdep/library.noindex
inst/doc
taxa-ids-notes.R
docs
