.DS_Store
.Rhistory
.Rproj.user
taxize_.Rproj
.Rbuildignore
.gitignore
README.html
._README.md
inst/doc/*.aux
inst/doc/*.bbl
inst/doc/*.blg
inst/doc/*.log
inst/doc/*.out
inst/doc/*.synctex.gz
inst/doc/*concordance.tex
inst/doc/taxize_withcodeNotes.bib
inst/doc/taxize_withcode_appANotes.bib
