import(RCurl)
import(stringr)
import(XML)
import(plyr)
import(RJSONIO)

export(classification,
downstream,
eol_hierarchy,
eol_search,
eolping,
get_familyname,
get_itis_xml,
get_phylomatic_tree,
get_phymat_format,
get_tsn,
getacceptname,
gettaxrank,
parse_itis,
printhier,
tnrsmatch)
