export(classification)
export(downstream)
export(eol_hierarchy)
export(eol_search)
export(eolping)
export(get_familyname)
export(get_itis_xml)
export(get_phylomatic_tree)
export(get_phymat_format)
export(get_tsn)
export(getacceptname)
export(gettaxrank)
export(parse_itis)
export(printhier)
export(tnrsmatch)
export(tp_getacceptednames)
export(tp_getsummary)
export(tp_getsynonyms)
import(RCurl)
import(RJSONIO)
import(XML)
import(plyr)
import(stringr)
