export(capwords)
export(classification)
export(col_children)
export(col_classification)
export(eol_dataobjects)
export(eol_hierarchy)
export(eol_pages)
export(eol_ping)
export(eol_search)
export(getacceptednamesfromtsn)
export(getanymatchcount)
export(getcommentdetailfromtsn)
export(getcommonnamesfromtsn)
export(getcoremetadatafromtsn)
export(getcoveragefromtsn)
export(getcredibilityratingfromtsn)
export(getcredibilityratings)
export(getcurrencyfromtsn)
export(getdatedatafromtsn)
export(getdescription)
export(getexpertsfromtsn)
export(getfullhierarchyfromtsn)
export(getfullrecordfromlsid)
export(getfullrecordfromtsn)
export(get_genes_avail)
export(getgeographicdivisionsfromtsn)
export(getgeographicvalues)
export(getglobalspeciescompletenessfromtsn)
export(gethierarchydownfromtsn)
export(gethierarchyupfromtsn)
export(getitistermsfromcommonname)
export(getitistermsfromscientificname)
export(getjurisdictionaloriginfromtsn)
export(getjurisdictionoriginvalues)
export(getjurisdictionvalues)
export(getkey)
export(getkingdomnamefromtsn)
export(getkingdomnames)
export(getlastchangedate)
export(getlsidfromtsn)
export(getothersourcesfromtsn)
export(getparenttsnfromtsn)
export(getpublicationsfromtsn)
export(getranknames)
export(getrecordfromlsid)
export(getreviewyearfromtsn)
export(getscientificnamefromtsn)
export(get_seqs)
export(getsynonymnamesfromtsn)
export(gettaxonauthorshipfromtsn)
export(gettaxonomicranknamefromtsn)
export(gettaxonomicusagefromtsn)
export(get_tsn)
export(gettsnbyvernacularlanguage)
export(gettsnfromlsid)
export(get_uid)
export(getunacceptabilityreasonfromtsn)
export(getvernacularlanguages)
export(gni_details)
export(gni_search)
export(gnr_datasources)
export(gnr_resolve)
export(itis)
export(itis_acceptname)
export(itis_downstream)
export(itis_name)
export(itis_phymat_format)
export(itis_taxrank)
export(iucn_summary)
export(phylomatic_tree)
export(plantminer)
export(searchbycommonname)
export(searchbycommonnamebeginswith)
export(searchbycommonnameendswith)
export(searchbyscientificname)
export(searchforanymatch)
export(searchforanymatchpaged)
export(tp_acceptednames)
export(tpl_get)
export(tpl_search)
export(tp_namedistributions)
export(tp_namereferences)
export(tp_summary)
export(tp_synonyms)
export(ubio_namebank)
import(ape)
import(foreach)
import(httr)
import(plyr)
import(RCurl)
import(ritis)
import(RJSONIO)
import(stringr)
import(Taxonstand)
import(XML)
S3method(classification,default)
S3method(classification,tsn)
S3method(classification,uid)
