http_interactions:
- request:
    method: get
    uri: http://www.mobot.org/MOBOT/research/APweb/top/synonymyfamilies.html
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(taxize/1.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html
      last-modified: Tue, 03 Nov 2020 21:24:50 GMT
      etag: '"b1eb93c327b2d61:0"'
    body:
      encoding: UTF-8
      file: no
      string: "<html>\r\n<head>\r\n\t<title>Synonymy Families</title>\r\n\t<font face=\"verdana,
        georgia, arial, serif\">\r\n\t<style>A {text-decoration : none;}</style>\r\n\t<style>A
        {text-decoration : none;}A:HOVER {background-color : transparent;color : Red;}</style>\r\n</head>\r\n\r\n\r\n<body
        bgcolor=\"#FFFFFF\"><font face=\"verdana, georgia, arial, serif\" size=\"2\">\r\n<body
        text=\"Black\" link=\"Blue\" vlink=\"Blue\" alink=\"Blue\">\r\n\r\n<h3 align=\"center\"><a
        name=top>COMPLETE SYNONYMY OF FAMILY NAMES OF EXTANT VASCULAR PLANTS</a></h3>\r\n\r\n\r\n<a
        href=\"#Abietaceae\">A</a> | <a href=\"#Balanitaceae\">B</a> | <a href=\"#Cabombaceae\">C</a>
        | <a href=\"#Dacrycarpaceae\">D</a> | <a href=\"#Ebenaceae\">E</a> | <a href=\"#Fabaceae\">F</a>
        | <a href=\"#Gaiadendraceae\">G</a> | <a href=\"#Hachetteaceae\">H</a> | <a
        href=\"#Icacinaceae\">I</a> | <a href=\"#Jalapaceae\">J</a> | <a href=\"#Kadsurac[...]
