http_interactions:
- request:
    method: get
    uri: http://www.mobot.org/MOBOT/research/APweb/top/synonymyorders.html
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/5.2.2 crul/1.5.0 rOpenSci(taxize/0.9.102)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html
      last-modified: Tue, 09 Apr 2024 19:07:46 GMT
      etag: '"f295a35b18ada1:0"'
    body:
      encoding: ''
      file: no
      string: "\r\n<html>\r\n<HEAD>\r\n\r\n<!-- Google Tag Manager header-->\r\n<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':\r\nnew
        Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],\r\nj=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=\r\n'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);\r\n})(window,document,'script','dataLayer','GTM-NKBVWX3');</script>\r\n<!--
        End Google Tag Manager -->\r\n\r\n\t<title>Synonymy Orders</title>\r\n\t<font
        face=\"verdana, georgia, arial, serif\">\r\n\t<style>A {text-decoration :
        none;}</style>\r\n\t<style>A {text-decoration : none;}A:HOVER {background-color
        : transparent;color : Red;}</style>\r\n</head>\r\n\r\n\r\n<body bgcolor=\"#FFFFFF\"><font
        face=\"verdana, georgia, arial, serif\" size=\"2\">\r\n\t\r\n<!-- Google Tag
        Manager body (noscript) -->\r\n<noscript><iframe src=\"https://www.googletagmanager.com/ns.html?id=GTM-NKBVWX3\"\r\nheight=\"0\"
        width=\"0\" style=\"display:none;visibility:hidden\"></iframe></noscript>\r\n<!--
        End Google Tag Manager (noscript) -->\r\n\t\r\n<body text=\"Black\" link=\"Blue\"
        vlink=\"Blue\" alink=\"Blue\">\r\n\r\n<h3 align=\"center\"><a name=top>COMPLETE
        SYNONYMY OF ORDERS OF EXTANT SEED PLANTS</a></h3>\r\n\r\n<a href=\"#Abietales\">A</a>
        | <a href=\"#Balanitales\">B</a> | <a href=\"#Cactales\">C</a> | <a href=\"#Daphnales\">D</a>
        | <a href=\"#Ebenales\">E</a> | <a href=\"#Fabales\">F</a> | <a href=\"#Galiales\">G</a>
        | <a href=\"#Haemodorales\">H</a> | <a href=\"#Icacinales\">I</a> | <a href=\"#Jasminales\">J</a>
        | <a href=\"#Krameriales\">J</a> | <a href=\"#Lacistematales\">L</a> | <a
        href=\"#Magnoliales\">M</a> | <a href=\"#Najadales\">N</a> | <a href=\"#Ochnales\">O</a>
        | <a href=\"#Paeoniales\">P</a> | <a href=\"#Quercales\">Q</a> | <a href=\"#Rafflesiales\">R</a>
        | <a href=\"#Sabiales\">S</a> | <a href=\"#Taccales\">T</a> | <a href=\"#Ulmales\">U</a>
        | <a href=\"#Vacciniales\">V</a> | <a href=\"#Welwitschiales\">W</a> | <a
        href=\"#Xanthorrhoeales\">X</a> | <a href=\"#Zamiales\">Z</a> </font>\r\n\r\n<p><a
        href=\"../welcome.html\" name=\"Welcome\" title=\"Welcome\" target=\"_parent\">Back
        to Home</a></p>\r\n\r\n<p><font face=\"verdana, georgia, arial, serif\" size=\"-1\">Names
        to the left of the \"=\" are either indicated as being Accepted, or are followed
        by the Accepted name of which they are a synonym.</font></p>\r\n\r\n\r\n<font
        face=\"verdana, georgia, arial, serif\" size=\"2\">\r\n<a name=Abietales>Abietales</a>
        = <a href=\"../orders/conifers.html#Conifers\" target=\"home\">Pinales</a>.<br>\r\nAcanthales
        = <a href=\"../orders/lamialesweb.htm#Lamiales\" target=\"home\">Lamiales</a>.<br>\r\nAcerales
        = <a href=\"../orders/sapindalesweb.htm#Sapindales\" target=\"home\">Sapindales</a>.<br>\r\n<a
        href=\"../orders/acoralesweb.htm#Acorales\" target=\"home\">Acorales</a> =
        Accepted.<br>\r\nActinidiales = <a href=\"../orders/ericalesweb.htm#Ericales\"
        target=\"home\">Ericales</a>.<br>\r\nActinostrobales = <a href=\"../orders/cupressalesweb.html#Cupres[...]
