http_interactions:
- request:
    method: get
    uri: https://www.itis.gov/ITISWebService/jsonservice/getHierarchyDownFromTSN?tsn=1234123434
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: text/json;charset=ISO-8859-1
    body:
      encoding: ''
      file: no
      string: |
        {"author":"","class":"gov.usgs.itis.itis_service.data.SvcHierarchyRecordList","hierarchyList":[null],"rankName":"","sciName":"","tsn":"1234123434"}
  recorded_at: 2024-09-05 18:03:53 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
