http_interactions:
- request:
    method: get
    uri: https://www.itis.gov/ITISWebService/jsonservice/getITISTermsFromScientificName?srchKey=Saurauia
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/json;charset=ISO-8859-1
      status: 'HTTP/1.1 200 '
      x-application: itis_webservices
      x-node-name: not shown
      x-upstream-member: not shown
    body:
      encoding: UTF-8
      file: no
      string: |
        {"class":"gov.usgs.itis.itis_service.data.SvcItisTermList","itisTerms":[{"author":null,"class":"gov.usgs.itis.itis_service.data.SvcItisTerm","commonNames":[null],"nameUsage":"not accepted","scientificName":"Saurauiaceae","tsn":"897114"}],"requestedName":"Saurauia"}
  recorded_at: 2020-02-10 22:14:55 GMT
  recorded_with: vcr/0.4.1.94, webmockr/0.5.1.98
[...]
- request:
    method: get
    uri: https://www.itis.gov/ITISWebService/jsonservice/getHierarchyDownFromTSN?tsn=897114
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/json;charset=ISO-8859-1
      status: 'HTTP/1.1 200 '
      x-application: itis_webservices
      x-node-name: not shown
      x-upstream-member: not shown
    body:
      encoding: UTF-8
      file: no
      string: |
        {"author":"","class":"gov.usgs.itis.itis_service.data.SvcHierarchyRecordList","hierarchyList":[null],"rankName":"","sciName":"","tsn":"897114"}
  recorded_at: 2020-02-10 22:14:55 GMT
  recorded_with: vcr/0.4.1.94, webmockr/0.5.1.98
