http_interactions:
- request:
    method: get
    uri: https://www.itis.gov/ITISWebService/jsonservice/getHierarchyDownFromTSN?tsn=23424234234
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/json;charset=ISO-8859-1
      status: 'HTTP/1.1 200 '
      x-application: itis_webservices
      x-node-name: not shown
      x-upstream-member: not shown
    body:
      encoding: UTF-8
      string: |
        {"author":"","class":"gov.usgs.itis.itis_service.data.SvcHierarchyRecordList","hierarchyList":[null],"rankName":"","sciName":"","tsn":"23424234234"}
  recorded_at: 2019-01-26 17:32:59 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
- request:
    method: get
    uri: http://www.catalogueoflife.org/col/webservice?id=23424234234&response=full
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <results id="23424234234" name="" total_number_of_results="0" number_of_results_returned="0" start="0" error_message="No names found" version="1.9 rev 2126ab0" rank=""/>
  recorded_at: 2019-01-26 17:32:59 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
- request:
    method: get
    uri: https://eutils.ncbi.nlm.nih.gov/entrez/eutils/esearch.fcgi?db=taxonomy&term=dragon%5BNext%20Level%5D&RetMax=1000&RetStart=0&api_key=<<entrez_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-ratelimit-remaining: '8'
      ncbi-phid: 939B131039D6F97500002297A3081977.1.1.m_1
      l5d-success-class: '1.0'
      ncbi-sid: 60AC4BF42D557947_1B7ASID
      x-ratelimit-limit: '10'
      content-type: text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE eSearchResult PUBLIC "-//NLM//DTD esearch 20060628//EN" "https://eutils.ncbi.nlm.nih.gov/eutils/dtd/20060628/esearch.dtd">
        <eSearchResult><Count>0</Count><RetMax>0</RetMax><RetStart>0</RetStart><IdList/><TranslationSet/><QueryTranslation>(dragon[Next Level])</QueryTranslation><ErrorList><PhraseNotFound>dragon[Next Level]</PhraseNotFound></ErrorList><WarningList><OutputMessage>No items found.</OutputMessage></WarningList></eSearchResult>
  recorded_at: 2019-01-26 17:32:59 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
- request:
    method: get
    uri: http://www.marinespecies.org/rest/AphiaRecordsByName/23424234234?like=true&marine_only=true&offset=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '204'
      message: No Content
      explanation: Request fulfilled, nothing follows
    headers:
      status: HTTP/1.1 204 No Content
      content-type: text/html; charset=UTF-8;
    body:
      encoding: UTF-8
      string: ''
  recorded_at: 2019-01-26 17:32:59 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
