http_interactions:
- request:
    method: get
    uri: https://v4.boldsystems.org/index.php/Taxbrowser_Taxonpage?taxid=88899
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: "<!DOCTYPE HTML>\n<html>\n<head>\n\t<meta charset=\"utf-8\" />\n<meta
        http-equiv=\"Content-Type\" content=\"text/html; charset=iso-8859-1\">\n\n<title>Momotus
        | Taxonomy Browser | BOLDSYSTEMS</title>\n\n<meta name=\"keywords\" content=\"\"
        />\n<meta name=\"description\" content=\"\" />\n<link rel=\"shortcut icon\"
        type=\"image/x-icon\" href=\"/favicon.ico\" />\n<link rel=\"apple-touch-icon\"
        href=\"/favicons/apple-icon.png\"/>\n<link rel=\"apple-touch-icon\" sizes=\"57x57\"
        href=\"/favicons/apple-icon-57x57.png\"/>\n<link rel=\"apple-touch-icon\"
        sizes=\"60x60\" href=\"/favicons/apple-icon-60x60.png\"/>\n<link rel=\"apple-touch-icon\"
        sizes=\"72x72\" href=\"/favicons/apple-icon-72x72.png\"/>\n<link rel=\"apple-touch-icon\"
        sizes=\"76x76[...]
- request:
    method: get
    uri: http://v4.boldsystems.org/index.php/API_Tax/TaxonSearch?taxName=Momotus
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"top_matched_names":[{"taxid":88899,"taxon":"Momotus","tax_rank":"genus","tax_division":"Animalia","parentid":88898,"parentname":"Momotidae","specimenrecords":"82"}],"total_matched_names":1}'
  recorded_at: 2020-04-23 22:30:54 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
[...]
