http_interactions:
- request:
    method: get
    uri: https://www.marinespecies.org/rest/AphiaChildrenByAphiaID/1837?marine_only=true&offset=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"AphiaID":1451682,"url":"https:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=1451682","scientificname":"Didelphimorphia","authority":null,"status":"accepted","unacceptreason":null,"taxonRankID":100,"rank":"Order","valid_AphiaID":1451682,"valid_name":"Didelphimorphia","valid_authority":null,"parentNameUsageID":1837,"kingdom":"Animalia","phylum":"Chordata","class":"Mammalia","order":"Didelphimorphia","family":null,"genus":null,"citation":"WoRMS
        (2024). Didelphimorphia. Accessed at: https:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=1451682
        on 2024-09-05","lsid":"urn:lsid:marinespecies.org:taxname:1451682","isMarine":1,"isBrackish":null,"isFreshwater":null,"isTerrestrial":1,"isExtinct":null,"match_type":"exact","modified":"2020-08-04T07:26:30.613Z"},{"AphiaID":380416,"url":"https:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=380416","scientificname":"Theria","authority":null,"status":"accepted","unacceptreason":null,"taxonRankID":70,"rank":"Subclass","valid_AphiaID":380416,"valid_name":"Theria","valid_authority":null,"parentNameUsageID":1837,"kingdom":"Animalia","phylum":"Chordata","class":"Mammalia","order":null,"family":null,"genus":null,"citation":"WoRMS
        (2024). Theria. Accessed at: https:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=380416
        on 2024-09-05","lsid":"urn:lsid:marinespecies.org:taxname:380416","isMarine":1,"isBrackish":1,"isFreshwater":1,"isTerrestrial":1,"isExtinct":null,"match_type":"exact","modified":"2009-01-15T06:47:06.863Z"}]'
  recorded_at: 2024-09-05 16:45:31 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
- request:
    method: get
    uri: https://www.marinespecies.org/rest/AphiaChildrenByAphiaID/1837?marine_only=false&offset=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"AphiaID":1037271,"url":"https:\/\/www.marinespecies.o[...]
