http_interactions:
- request:
    method: get
    uri: http://www.marinespecies.org/rest/AphiaChildrenByAphiaID/1837?marine_only=true&offset=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"AphiaID":1451682,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=1451682","scientificname":"Didelphimorphia","authority":null,"status":"accepted","unacceptreason":null,"taxonRankID":100,"rank":"Order","valid_AphiaID":1451682,"valid_name":"Didelphimorphia","valid_authority":null,"parentNameUsageID":1837,"kingdom":"Animalia","phylum":"Chordata","class":"Mammalia","order":"Didelphimorphia","family":null,"genus":null,"citation":"WoRMS
        (2020). Didelphimorphia. Accessed at: http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=1451682
        on 2020-10-01","lsid":"urn:lsid:marinespecies.org:taxname:1451682","isMarine":1,"isBrackish":null,"isFreshwater":null,"isTerrestrial":null,"isExtinct":null,"match_type":"exact","modified":"2020-08-04T07:26:30.613Z"}]'
  recorded_at: 2020-09-30 22:04:10 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: http://www.marinespecies.org/rest/AphiaChildrenByAphiaID/1837?marine_only=false&offset=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"AphiaID":1037271,"url":"http:\/\/www.marinespecie[...]
