http_interactions:
- request:
    method: get
    uri: https://biodiversity.org.au/nsl/services/rest/name/apni/71130/api/apc.json
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(taxize/0.9.99.92)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"action":"apc","name":{"class":"au.org.biodiversity.nsl.Name","_links":{"permalink":{"link":"https://id.biodiversity.org.au/name/apni/71130","preferred":true,"resources":1}},"nameElement":"Pinus","fullNameHtml":"<scientific><name
        data-id=''71130''><element>Pinus<\u002felement> <authors><author data-id=''1426''
        title=''Linnaeus, C.''>L.<\u002fauthor><\u002fauthors><\u002fname><\u002fscientific>"},"inAPC":true,"excluded":false,"operation":"apc","nsl-name":71130,"nameNs":"APC-name","nameId":"https://id.biodiversity.org.au/name/apni/71130","taxonNs":"APC-name","taxonId":"https://id.biodiversity.org.au/node/apni/2902806","type":"APCConcept"}'
  recorded_at: 2020-11-11 22:40:43 GMT
  recorded_with: vcr/0.5.4.93, webmockr/0.7.0.91
- request:
    method: get
    uri: https://id.biodiversity.org.au/node/apni/2902806
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(taxize/0.9.99.92)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"treeElement":{"class":"au.org.biodiversity.nsl.TreeElement","_links":{"elementLink":"https://id.biodiversity.org.au/tree/51375772/51210544","taxonLink":"https://id.biodiversity.org.au/node/apni/2902806","parentElementLink":"https://id.biodiversity.org.au/tree/51375772/51210543","nameLink":"https://id.biodiversity.org.au/name/apni/71130","instanceLink":"https://id.biodiversity.org.au/instance/apni/571486","sourceElementLink":null},"tree":{"class":"au.org.biodiversity.nsl.Tree","_links":{"permalinks":[{"link":"https://id.biodiversity.org.au/tree/apni/APC","preferred":true,"resources":1}]},"audit":null,"name":"APC"},"simpleName":"Pinus","namePath":"Plantae/Charophyta/Equisetopsida/Pinidae/Pinales/Pinaceae/Pinus","treePath":"/51209397/51209398/51209399/51210497/51252111/51210543/51210544","displayHtml":"<data><scientific><name
        data-id=''71130''><element>Pinus<\u002felement> <authors><author data-id=''1426''
        title=''Linnaeus, C.''>L.<\u002fauthor><\u002fauthors><\u002fname><\u002fscientific><name-status
        class=\"legitimate\">, legitimate<\u002fname-status> <citation><ref data-id=''40164''><ref-section><author>Hill,
        K.D.<\u002fauthor> <author>in McCarthy, P.M. (ed.)<\u002fauthor> <year>(1998)<\u002fyear>,
        <ref-title>Araucariaceae.<\u002fref-title> <par-title><i>Flora of Australia<\u002fi><\u002fpar-title>
        <volume>48<\u002fvolume><\u002fref-section><\u002fref><\u002fcitation><\u002fdata>","sourceShard":"APNI","synonymsHtml":"<synonyms><\u002fsynonyms>","synonyms":{"list":[]},"profile":{"APC
        Dist.":{"value":"WA (naturalised), SA (naturalised), Qld (naturalised), NSW
        (naturalised), ACT (naturalised), Vic (naturalised), Tas (naturalised)","created_at":"2009-08-31T00:00:00+10:00","created_by":"KIRSTENC","updated_at":"2009-08-31T00:00:00+10:00","updated_by":"KIRSTENC","source_link":"https://id.biodiversity.org.au/instanceNote/apni/1110750"}},"children":[{"displayHtml":"<data><scientific><name
        data-id=''71130''><element>Pinus<\u002felement> <authors><author data-id=''1426''
        title=''Linnaeus, C.''>L.<\u002fauthor><\u002fauthors><\u002fname><\u002fscientific><name-status
        class=\"legitimate\">, legitimate<\u002fname-status> <citation><ref data-id=''40164''><ref-section><author>Hill,
        K.D.<\u002fauthor> <author>in McCarthy, P.M. (ed.)<\u002fauthor> <year>(1998)<\u002fyear>,
        <ref-title>Araucariaceae.<\u002fref-title> <par-title><i>Flora of Australia<\u002fi><\u002fpar-title>
        <volume>48<\u002fvolume><\u002fref-section><\u002fref><\u002fcitation><\u002fdata>","elementLink":"https://id.biodiversity.org.au/tree/51375772/51210544","nameLink":"https://id.biodiversity.org.au/name/apni/71130","instanceLink":"https://id.biodiversity.org.au/instance/apni/571486","excluded":false,"depth":7,"synonymsHtml":"<synonyms><\u002fsynonyms>"},{"displayHtml":"<data><scientific><name
        data-id=''120996''><scientific><name data-id=''71130''><element>Pinus<\u002felement><\u002fname><\u002fscientific>
        <element>canariensis<\u002felement> <authors><ex data-id=''3039'' title=''Smith,
        Christen''>C.Sm.<\u002fex> ex <author data-id=''6840'' title=''Candolle, A.P.
        de''>DC.<\u002fauthor><\u002fauthors><\u002fname><\u002fscientific><name-status
        class=\"legitimate\">, legitimate<\u002fname-status> <citation><ref data-id=''42942''><ref-section><author>CHAH<\u002fauthor>
        <year>(2006)<\u002fyear>, <par-title><i>Australian Plant Census<\u002fi><\u002fpar-title><\u002fref-section><\u002fref><\u002fcitation><\u002fdata>","elementLink":"https://id.biodiversity.org.au/tree/51375772/51359650","nameLink":"https://id.biodiversity.org.au/name/apni/120996","instanceLink":"https://id.biodiversity.org.au/instance/apni/614791","excluded":false,"depth":8,"synonymsHtml":"<synonyms><tax><scientific><name
        data-id=''205595''><scientific><name data-id=''71130''><element>Pinus<\u002felement><\u002fname><\u002fscientific>
        <element>aff. canariensis (Castlemaine)<\u002felement><\u002fname><\u002fscientific><name-status
        class=\"[n/a]\">, [n/a]<\u002fname-status> <year>(June 2003)<\u002fyear> <type>taxonomic
        synonym<\u002ftype><\u002ftax><\u002fsynonyms>"},{"displayHtml":"<data><scientific><name
        data-id=''173792''><scientific><name data-id=''71130[...]
- request:
    method: get
    uri: https://v4.boldsystems.org/index.php/API_Tax/TaxonSearch?taxName=Pinus
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"top_matched_names":[{"taxid":100249,"taxon":"Pinus","tax_rank":"genus","tax_division":"Plantae","parentid":48450,"parentname":"Pinaceae","taxonrep":"Pinus","representitive_image":{"image":"PNCA\/DSG787-disc+1168655778.JPG","apectratio":1.506},"specimenrecords":"2050"}],"total_matched_names":1}'
  recorded_at: 2020-11-11 22:40:43 GMT
  recorded_with: vcr/0.5.4.93, webmockr/0.7.0.91
- request:
    method: get
    uri: https://v4.boldsystems.org/index.php/Taxbrowser_Taxonpage?taxid=100249
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/html; charset=utf-8
      status: HTTP/1.1 200 OK
    body:
      encoding: UTF-8
      file: no
      string: "<!DOCTYPE HTML>\n<html>\n<head>\n\t<meta charset=\"utf-8\" />\n<meta
        http-equiv=\"Content-Type\" content=\"text/html; charset=iso-8859-1\">\n\n<title>Pinus
        | Taxonomy Browser | BOLDSYSTEMS</title>\n\n<meta name=\"keywords\" content=\"\"
        />\n<meta name=\"description\" content=\"\" />\n<link rel=\"shortcut icon\"
        type=\"image/x-icon\" href=\"/favicon.ico\" />\n<link rel=\"apple-touch-icon\"
        href=\"/favicons/apple-icon.png\"/>\n<link rel=\"apple-touch-icon\" sizes=\"57x57\"
        href=\"/favicons/apple-icon-57x57.png\"/>\n<link rel=\"apple-touch-icon\"
        sizes=\"60x60\" href=\"/favicons/apple-icon-60x60.pn[...]
