http_interactions:
- request:
    method: get
    uri: https://powo.science.kew.org/api/2/search?q=Quercus%20douglasii&perPage=100&cursor=%2A
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/5.2.2 crul/1.5.0 rOpenSci(taxize/0.9.102)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/1.1 200 '
      content-type: application/json;charset=UTF-8
      etag: '"00b0c0f7e00e276eb8dadc9a18f3cc157"'
    body:
      encoding: ''
      file: no
      string: '{"totalResults":1,"page":1,"totalPages":1,"perPage":100,"cursor":"AoMIQVxwQTs2MDBGYWdhY2VhZVF1ZXJjdXNkb3VnbGFzaWksVGF4b25fNTIwOTM3","message":"If
        you would like to download and use the POWO data in a conciencious way, please
        use our official library pykew [https://github.com/RBGKew/pykew].","results":[{"accepted":true,"author":"Hook.
        & Arn.","kingdom":"Plantae","family":"Fagaceae","name":"Quercus douglasii","rank":"Species","snippet":"
        <b>Common Name</b>: Blue Oak","url":"/taxon/urn:lsid:ipni.org:names:296074-1","fqId":"urn:lsid:ipni.org:names:296074-1","images":[{"thumbnail":"//d2seqvvyy3b8p2.cloudfront.net/97ca1d465cef5c3dcf1355adea1bea83.jpg","fullsize":"//d2seqvvyy3b8p2.cloudfront.net/7b40fd07136cc54d8241dd4f7183381c.jpg","caption":"Quercus
        douglasii"},{"thumbnail":"//d2seqvvyy3b8p2.cloudfront.net/290243b895ec43a59d2bad6bc3f22817.jpg","fullsize":"//d2seqvvyy3b8p2.cloudfront.net/411c2a23afb7e0a71229a42fc32fc72a.jpg","caption":"A
        specimen from Kew''s Herbarium"},{"thumbnail":"//d2seqvvyy3b8p2.cloudfront.net/1d3d5ec04b4d72a0901b83a6c59e52c3.jpg","fullsize":"//d2seqvvyy3b8p2.cloudfront.net/36ae36c5cbe55c18384ce554453fbc6b.jpg","caption":"A
        specimen from Kew''s Herbarium"}]}]}'
  recorded_at: 2024-09-05 22:24:08 GMT
  recorded_with: vcr/1.6.0.91, webmockr/1.0.0
- request:
    method: get
    uri: https://powo.science.kew.org/api/2/search?q=aaa%20vva&perPage=100&cursor=%2A
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/5.2.2 crul/1.5.0 rOpenSci(taxize/0.9.102)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/1.1 200 '
      content-type: application/json;charset=UTF-8
      etag: '"079f43b03e319832200d33519d1aafd9b"'
    body:
      encoding: ''
      file: no
      string: '{"totalResults":0,"page":1,"totalPages":0,"perPage":100,"cursor":"*","message":"If
        you would like to download and use the POWO data in a conciencious way, please
        use our official library pykew [https://github.com/RBGKew/pykew]."}'
  recorded_at: 2024-09-05 22:24:08 GMT
  recorded_with: vcr/1.6.0.91, webmockr/1.0.0
- request:
    method: get
    uri: https://powo.science.kew.org/api/2/taxon/urn:lsid:ipni.org:names:296074-1
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/5.2.2 crul/1.5.0 rOpenSci(taxize/0.9.102)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/1.1 200 '
      content-type: application/json;charset=UTF-8
      content-disposition: inline;filename=f.txt
      etag: '"0e1b816680f2fdfb820817d1ea72ad4df"'
    body:
      encoding: ''
      file: no
      string: '{"modified":"2019-06-13T16:42:18.000Z","bibliographicCitation":"IPNI
        2024. Published on the Internet http://www.ipni.org; WCVP 2024. WCVP. Facilitated
        by the Royal Botanic Gardens, Kew. Published on the Internet; https://powo.science.kew.org/
        Retrieved 2011 onwards","genus":"Quercus","taxonomicStatus":"Accepted","kingdom":"Plantae","phylum":"Streptophyta","clazz":"Equisetopsida","subclass":"Magnoliidae","order":"Fagales","family":"Fagaceae","nomenclaturalCode":"Botanical","source":"wcvp:172538","namePublishedInYear":1840,"taxonRemarks":"California","nomenclaturalStatus":"Available","lifeform":"tree","climate":"subtropical","hybrid":false,"synonym":false,"locations":["SOUTHWESTERN_USA","CAL_OO","NORTHERN_AMERICA","CAL"],"plantae":true,"fungi":false,"fqId":"urn:lsid:ipni.org:names:296074-1","name":"Quercus
        douglasii","authors":"Hook. & Arn.","species":"douglasii","rank":"SPECIES","reference":"Bot.
        Beechey Voy.: 391 (1840)","classification":[{"fqId":"urn:lsid:ipni.org:names:30000116-2","name":"Fagaceae","author":"Dumort.","rank":"FAMILY","taxonomicStatus":"Accepted"},{"fqId":"urn:lsid:ipni.org:names:325819-2","name":"Quercus","author":"L.","rank":"GENUS","taxonomicStatus":"Accepted"},{"fqId":"urn:lsid:ipni.org:names:296074-1","name":"Quercus
        douglasii","author":"Hook. & Arn.","rank":"SPECIES","taxonomicStatus":"Accepted"}],"synonyms":[{"fqId":"urn:lsid:ipni.org:names:216142-2","name":"Quercus
        oblongifolia var. brevilobata","author":"Torr.","rank":"VARIETY","taxonomicStatus":"Heterotypic_Synonym"},{"fqId":"urn:lsid:ipni.org:names:216297-2","name":"Quercus
        ransomii","author":"Kellogg","rank":"SPECIES","taxonomicStatus":"Heterotypic_Synonym"},{"fqId":"urn:lsid:ipni.org:names:296174-1","name":"Quercus
        gambelii","author":"Liebm.","rank":"SPECIES","taxonomicStatus":"Heterotypic_Synonym"},{"fqId":"urn:lsid:ipni.org:names:215769-2","name":"Quercus
        douglasii var. ransomii","author":"(Kellogg) Zabel","rank":"VARIETY","taxonomicStatus":"Heterotypic_Synonym"}]}'
  recorded_at: 2024-09-05 22:24:08 GMT
  recorded_with: vcr/1.6.0.91, webmockr/1.0.0
