http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/2704179?limit=20
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(taxize/1.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"key":2704179,"nubKey":2704179,"nameKey":8951503,"taxonID":"gbif:2704179","sourceTaxonKey":175115369,"kingdom":"Plantae","phylum":"Tracheophyta","order":"Poales","family":"Poaceae","genus":"Poa","species":"Poa
        annua","kingdomKey":6,"phylumKey":7707728,"classKey":196,"orderKey":1369,"familyKey":3073,"genusKey":2704173,"speciesKey":2704179,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ddf754f-d193-4cc9-b351-99906754a03b","parentKey":2704173,"parent":"Poa","scientificName":"Poa
        annua L.","canonicalName":"Poa annua","authorship":"L.","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","publishedIn":"L.
        In: Sp. Pl.: 68. (1753).","numDescendants":3,"lastCrawled":"2021-03-03T06:32:33.335+0000","lastInterpreted":"2021-03-03T06:26:57.379+0000","issues":[],"synonym":false,"class":"Liliopsida"}'
  recorded_at: 2021-09-15 22:44:04 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
