http_interactions:
- request:
    method: get
    uri: https://www.itis.gov/ITISWebService/jsonservice/getITISTermsFromScientificName?srchKey=Asdfafsfd
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: text/json;charset=ISO-8859-1
    body:
      encoding: ''
      file: no
      string: |
        {"class":"gov.usgs.itis.itis_service.data.SvcItisTermList","itisTerms":[null],"requestedName":"Asdfafsfd"}
  recorded_at: 2024-09-05 16:40:19 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Asdfafsfd&strict=FALSE&verbose=TRUE&limit=500
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/5.2.2 crul/1.5.0 rOpenSci(taxize/0.9.102)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"confidence":100,"matchType":"NONE","synonym":false}'
  recorded_at: 2024-09-05 16:40:19 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
- request:
    method: get
    uri: http://services.tropicos.org/Name/Search?format=json&name=Asdfafsfd&apikey=00ca3d6a-cbcc-4924-b882-c26b16d54446
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/5.2.2 crul/1.5.0 rOpenSci(taxize/0.9.102)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: ''
      file: no
      string: '[{"Error":"No names were found"}]'
  recorded_at: 2024-09-05 16:40:19 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
- request:
    method: get
    uri: https://species-ws.nbnatlas.org/search?q=Asdfafsfd&fq=idxtype%3ATAXON&pageSize=500&startIndex=0
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/5.2.2 crul/1.5.0 rOpenSci(taxize/0.9.102)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json;charset=UTF-8
      status: 'HTTP/2 200 '
    body:
      encoding: ''
      file: no
      string: '{"searchResults":{"totalRecords":0,"facetResults":[],"results":[],"queryTitle":"Asdfafsfd"}}'
  recorded_at: 2024-09-05 16:40:19 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
