http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/6162875?limit=20
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/5.2.2 crul/1.5.0 rOpenSci(taxize/0.9.102)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"key":6162875,"nubKey":6162875,"nameKey":16733358,"taxonID":"gbif:6162875","sourceTaxonKey":176745161,"kingdom":"Animalia","phylum":"Chordata","family":"Boidae","genus":"Boa","species":"Boa
        nebulosa","kingdomKey":1,"phylumKey":44,"classKey":11592253,"familyKey":2464897,"genusKey":2444141,"speciesKey":8823175,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"19491596-35ae-4a91-9a98-85cf505f1bd3","parentKey":2444141,"parent":"Boa","acceptedKey":8823175,"accepted":"Boa
        nebulosa (Lazell, 1964)","basionymKey":6162876,"basionym":"Constrictor constrictor
        nebulosus Lazell, 1964","scientificName":"Boa constrictor nebulosa (Lazell,
        1964)","canonicalName":"Boa constrictor nebulosa","authorship":"(Lazell, 1964)
        ","nameType":"SCIENTIFIC","rank":"SUBSPECIES","origin":"SOURCE","taxonomicStatus":"SYNONYM","nomenclaturalStatus":[],"remarks":"","numDescendants":0,"lastCrawled":"2023-08-22T23:20:59.545+00:00","lastInterpreted":"2023-08-22T22:20:14.968+00:00","issues":["ORIGINAL_NAME_DERIVED"],"class":"Squamata"}'
  recorded_at: 2024-09-05 16:39:46 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
