http_interactions:
- request:
    method: get
    uri: http://www.plantsoftheworldonline.org/api/2/taxon/urn:lsid:ipni.org:names:119003-2
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(taxize/1.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/1.1 200 '
      content-type: application/json;charset=UTF-8
      content-disposition: inline;filename=f.txt
      etag: W/"0bcc5e9cb20013ff8b7138cd8f14608b2"
    body:
      encoding: UTF-8
      file: no
      string: '{"modified":"2021-09-06T23:00:00.000Z","bibliographicCitation":"IPNI
        2021. Published on the Internet http://www.ipni.org; WCSP 2021. WCSP. Facilitated
        by the Royal Botanic Gardens, Kew. Published on the Internet; http://apps.kew.org/wcsp/
        Retrieved 2011 onwards","genus":"Helianthus","taxonomicStatus":"Accepted","kingdom":"Plantae","phylum":"Magnoliophyta","family":"Asteraceae","nomenclaturalCode":"Botanical","source":"kew.org:az:reference:910966","namePublishedInYear":1753,"taxonRemarks":"SW.
        U.S.A. to Mexico","nomenclaturalStatus":"Available","synonym":false,"plantae":true,"fungi":false,"fqId":"urn:lsid:ipni.org:names:119003-2","name":"Helianthus
        annuus","authors":"L.","species":"annuus","rank":"SPECIES","reference":"Sp.
        Pl.: 904 (1753)","classification":[{"fqId":"urn:lsid:ipni.org:names:319342-2","name":"Asteraceae","author":"Bercht.
        & J.Presl","rank":"FAMILY","taxonomicStatus":"Accepted"},{"fqId":"urn:lsid:ipni.org:names:30000729-2","name":"Helianthus","author":"L.","rank":"GENUS","taxonomicStatus":"Accepted"},{"fqId":"urn:lsid:ipni.org:names:119003-2","name":"Helianthus
        annuus","author":"L.","rank":"SPECIES","taxonomicStatus":"Accepted"}],"basionymOf":[{"fqId":"urn:lsid:ipni.org:names:212222-1","name":"Helianthus
        platycephalus","author":"Cass.","rank":"SPECIES","taxonomicStatus":"Synonym"}],"synonyms":[{"fqId":"urn:lsid:ipni.org:names:212108-1","name":"Helianthus
        grandiflorus","author":"Wender. ex Steud.","rank":"SPECIES","taxonomicStatus":"Synonym"},{"fqId":"urn:lsid:ipni.org:names:119029-2","name":"Helianthus
        annuus var. pumilus","author":"DC.","rank":"VARIETY","taxonomicStatus":"Synonym"},{"fqId":"urn:lsid:ipni.org:names:119008-2","name":"Helianthus
        annuus var. convolutus","author":"Cockerell","rank":"VARIETY","taxonomicStatus":"Synonym"},{"fqId":"urn:lsid:ipni.org:[...]
