http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Quercus%20douglasii&strict=FALSE&verbose=TRUE&limit=500
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/5.2.2 crul/1.5.0 rOpenSci(taxize/0.9.102)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"usageKey":2878266,"scientificName":"Quercus douglasii Hook. & Arn.","canonicalName":"Quercus
        douglasii","rank":"SPECIES","status":"ACCEPTED","confidence":99,"note":"Similarity:
        name=110; authorship=0; classification=-2; rank=6; status=1; score=115; nextMatch=5","matchType":"EXACT","alternatives":[{"usageKey":10993837,"scientificName":"Quedius
        douglasi Bernhauer, 1929","canonicalName":"Quedius douglasi","rank":"SPECIES","status":"ACCEPTED","confidence":70,"note":"Similarity:
        name=65; authorship=0; classification=-2; rank=6; status=1; score=70","matchType":"FUZZY","kingdom":"Animalia","phylum":"Arthropoda","order":"Coleoptera","family":"Staphylinidae","genus":"Quedius","species":"Quedius
        douglasi","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":1470,"familyKey":7854,"genusKey":4290501,"speciesKey":10993837,"synonym":false,"class":"Insecta"}],"kingdom":"Plantae","phylum":"Tracheophyta","order":"Fagales","family":"Fagaceae","genus":"Quercus","species":"Quercus
        douglasii","kingdomKey":6,"phylumKey":7707728,"classKey":220,"orderKey":1354,"familyKey":4689,"genusKey":2877951,"speciesKey":2878266,"synonym":false,"class":"Magnoliopsida"}'
  recorded_at: 2024-09-05 16:39:43 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=aaa%20vva&strict=FALSE&verbose=TRUE&limit=500
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/5.2.2 crul/1.5.0 rOpenSci(taxize/0.9.102)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"confidence":100,"matchType":"NONE","synonym":false}'
  recorded_at: 2024-09-05 16:39:43 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
- request:
    method: get
    uri: https://api.gbif.org/v1/species/2878266?limit=20
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/5.2.2 crul/1.5.0 rOpenSci(taxize/0.9.102)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"key":2878266,"nubKey":2878266,"nameKey":9607100,"taxonID":"gbif:2878266","kingdom":"Plantae","phylum":"Tracheophyta","order":"Fagales","family":"Fagaceae","genus":"Quercus","species":"Quercus
        douglasii","kingdomKey":6,"phylumKey":7707728,"classKey":220,"orderKey":1354,"familyKey":4689,"genusKey":2877951,"speciesKey":2878266,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ddf754f-d193-4cc9-b351-99906754a03b","parentKey":2877951,"parent":"Quercus","scientificName":"Quercus
        douglasii Hook. & Arn.","canonicalName":"Quercus douglasii","vernacularName":"blue
        oak","authorship":"Hook. & Arn.","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","publishedIn":"Bot.
        Beechey Voy.: 391 (1840)","numDescendants":0,"lastCrawled":"2023-08-22T23:20:59.545+00:00","lastInterpreted":"2023-08-22T23:04:47.831+00:00","issues":[],"class":"Magnoliopsida"}'
  recorded_at: 2024-09-05 16:39:43 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
