http_interactions:
- request:
    method: get
    uri: http://www.plantsoftheworldonline.org/api/2/taxon/urn:lsid:ipni.org:names:119003-2
    body:
      encoding: ''
      string: ''
    headers:
      X-User-Agent: r-curl/3.3 crul/0.7.0 taxize/0.9.5.9310
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-disposition: inline;filename=f.txt
      etag: '"0f0afd2f6d8e7f2d61cfdecae8d88f916-gzip"'
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"modified":"2019-02-12T00:00:00.000Z","bibliographicCitation":"IPNI
        2019. Published on the Internet http://www.ipni.org; WCSP 2019. WCSP. Facilitated
        by the Royal Botanic Gardens, Kew. Published on the Internet; http://apps.kew.org/wcsp/
        Retrieved 2011 onwards","genus":"Helianthus","taxonomicStatus":"Accepted","kingdom":"Plantae","phylum":"Magnoliophyta","family":"Asteraceae","nomenclaturalCode":"Botanical","source":"kew.org:az:reference:910966","namePublishedInYear":1753,"taxonRemarks":"SW.
        U.S.A. to Mexico","nomenclaturalStatus":"Available","synonym":false,"plantae":true,"fungi":false,"fqId":"urn:lsid:ipni.org:names:119003-2","name":"Helianthus
        annuus","authors":"L.","species":"annuus","rank":"SPECIES","reference":"Sp.
        Pl. 2: 904 (1753)","classification":[{"fqId":"urn:lsid:ipni.org:names:319342-2","name":"Asteraceae","author":"Bercht.
        & J.Presl","rank":"FAMILY","taxonomicStatus":"Accepted"},{"fqId":"urn:lsid:ipni.org:names:30000729-2","name":"Helianthus","author":"L.","rank":"GENUS","taxonomicStatus":"Accepted"},{"fqId":"urn:lsid:ipni.org:names:119003-2","name":"Helianthus
        annuus","author":"L.","rank":"SPECIES","taxonomicStatus":"Accepted"}],"basionymOf":[{"fqId":"urn:lsid:ipni.org:names:212222-1","name":"Helianthus
        platycephalus","author":"Cass.","rank":"SPECIES","taxonomicStatus":"Synonym"}],"synonyms":[{"fqId":"urn:lsid:ipni.org:names:119009-2","name":"Helianthus
        annuus var. coronatus","author":"Cockerell","rank":"VARIETY","taxonomicStatus":"Synonym"},{"fqId":"urn:lsid:ipni.org:names:212108-1","name":"Helianthus
        grandiflorus","author":"Wender. ex Steud.","rank":"SPECIES","taxonomicStatus":"Synonym"},{"fqId":"urn:lsid:ipni.org:names:119007-2","name":"Helianthus
        annuus var. chrysanthemoides","author":"Cockerell","rank":"VARIETY","taxonomicStatus":"Synonym"},{"fqId":"urn:[...]
