http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Quercus%20douglasii&strict=FALSE&verbose=TRUE&limit=500
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(taxize/1.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"usageKey":2878266,"scientificName":"Quercus douglasii Hook. & Arn.","canonicalName":"Quercus
        douglasii","rank":"SPECIES","status":"ACCEPTED","confidence":98,"note":"Similarity:
        name=110; authorship=0; classification=-2; rank=5; status=1; nextMatch=5","matchType":"EXACT","alternatives":[{"usageKey":7203493,"scientificName":"Quedius
        douglasi Bernhauer, 1929","canonicalName":"Quedius douglasi","rank":"SPECIES","status":"ACCEPTED","confidence":69,"note":"Similarity:
        name=65; authorship=0; classification=-2; rank=5; status=1","matchType":"FUZZY","kingdom":"Animalia","phylum":"Arthropoda","order":"Coleoptera","family":"Staphylinidae","genus":"Quedius","species":"Quedius
        douglasi","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":1470,"familyKey":7854,"genusKey":4290501,"speciesKey":7203493,"synonym":false,"class":"Insecta"},{"usageKey":10993837,"acceptedUsageKey":7203493,"scientificName":"Quedius
        douglasi Bernhauer, 1929","canonicalName":"Quedius douglasi","rank":"SPECIES","status":"SYNONYM","confidence":68,"note":"Similarity:
        name=65; authorship=0; classification=-2; rank=5; status=0","matchType":"FUZZY","kingdom":"Animalia","phylum":"Arthropoda","order":"Coleoptera","family":"Staphylinidae","genus":"Quedius","species":"Quedius
        douglasi","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":1470,"familyKey":7854,"genusKey":4290501,"speciesKey":7203493,"synonym":true,"class":"Insecta"}],"kingdom":"Plantae","phylum":"Tracheophyta","order":"Fagales","family":"Fagaceae","genus":"Quercus","species":"Quercus
        douglasii","kingdomKey":6,"phylumKey":7707728,"classKey":220,"orderKey":1354,"familyKey":4689,"genusKey":2877951,"speciesKey":2878266,"synonym":false,"class":"Magnoliopsida"}'
  recorded_at: 2021-09-15 22:44:03 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=aaa%20vva&strict=FALSE&verbose=TRUE&limit=500
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(taxize/1.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"confidence":100,"matchType":"NONE","synonym":false}'
  recorded_at: 2021-09-15 22:44:03 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.gbif.org/v1/species/2878266?limit=20
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(taxize/1.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"key":2878266,"nubKey":2878266,"nameKey":9607100,"taxonID":"gbif:2878266","sourceTaxonKey":170977234,"kingdom":"Plantae","phylum":"Tracheophyta","order":"Fagales","family":"Fagaceae","genus":"Quercus","species":"Quercus
        douglasii","kingdomKey":6,"phylumKey":7707728,"classKey":220,"orderKey":1354,"familyKey":4689,"genusKey":2877951,"speciesKey":2878266,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ddf754f-d193-4cc9-b351-99906754a03b","parentKey":2877951,"parent":"Quercus","scientificName":"Quercus
        douglasii Hook. & Arn.","canonicalName":"Quercus douglasii","authorship":"Hook.
        & Arn.","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","publishedIn":"Hook.
        & Arn. In: Bot. Beechey Voy.: 391. (1840).","numDescendants":0,"lastCrawled":"2021-03-03T06:32:33.335+0000","lastInterpreted":"2021-03-03T06:13:29.113+0000","issues":[],"synonym":false,"class":"Magnoliopsida"}'
  recorded_at: 2021-09-15 22:44:03 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
