http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/8286319?limit=20
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(taxize/1.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"key":8286319,"nameKey":8951632,"taxonID":"gbif:8286319","sourceTaxonKey":116779161,"kingdom":"Plantae","phylum":"Tracheophyta","order":"Poales","family":"Poaceae","genus":"Poa","species":"Poa
        annua","kingdomKey":6,"phylumKey":7707728,"classKey":196,"orderKey":1369,"familyKey":3073,"genusKey":2704173,"speciesKey":2704179,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"d027759f-84bc-4dfc-a5ea-b17a50793451","parentKey":2704179,"parent":"Poa
        annua","scientificName":"Poa annua var. annua","canonicalName":"Poa annua
        annua","authorship":"L.","nameType":"SCIENTIFIC","rank":"VARIETY","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","numDescendants":0,"lastCrawled":"2021-03-03T06:32:33.335+0000","lastInterpreted":"2021-03-03T06:26:57.391+0000","issues":[],"synonym":false,"class":"Liliopsida"}'
  recorded_at: 2021-09-15 22:44:05 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
