http_interactions:
- request:
    method: get
    uri: http://www.plantsoftheworldonline.org/api/2/search?q=foobar&perPage=100&cursor=%2A
    body:
      encoding: ''
      string: ''
    headers:
      X-User-Agent: r-curl/3.3 crul/0.7.0 taxize/0.9.5.9310
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      etag: '"087a75e35cca4694f5c2a4abfb14b9d9f-gzip"'
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalResults":0,"page":0,"totalPages":0,"perPage":100,"cursor":"*"}'
  recorded_at: 2019-02-21 01:30:22 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
[...]
