http_interactions:
- request:
    method: get
    uri: https://powo.science.kew.org/api/2/taxon/urn:lsid:ipni.org:names:119003-2
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/5.2.2 crul/1.5.0 rOpenSci(taxize/0.9.102)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/1.1 200 '
      content-type: application/json;charset=UTF-8
      content-disposition: inline;filename=f.txt
      etag: '"098233a05a6bc1ad6901bafff64230eab"'
    body:
      encoding: ''
      file: no
      string: '{"modified":"2022-07-11T23:00:00.000Z","bibliographicCitation":"IPNI
        2024. Published on the Internet http://www.ipni.org; WCVP 2024. WCVP. Facilitated
        by the Royal Botanic Gardens, Kew. Published on the Internet; https://powo.science.kew.org/
        Retrieved 2011 onwards","genus":"Helianthus","taxonomicStatus":"Accepted","kingdom":"Plantae","phylum":"Streptophyta","clazz":"Equisetopsida","subclass":"Magnoliidae","order":"Asterales","family":"Asteraceae","nomenclaturalCode":"Botanical","source":"wcvp:2910966","namePublishedInYear":1753,"taxonRemarks":"SW.
        U.S.A. to Mexico","nomenclaturalStatus":"Available","lifeform":"annual","climate":"temperate","hybrid":false,"paftolId":"18561","locations":["CHS_HE","NCA","ALT","CHH_OO","SAS_OO","AMU","AGE_ER","CHS_HN","YUG_MA","URU","POR","MXS_MI","THA","CHS_KI","JAP_HK","NWM_OO","MIDDLE_EUROPE","ITA","AMU_OO","WIS_OO","NDA_OO","KAM_OO","ASS_MI","MACARONESIA","BRC","IND_KE","CLN","NSW_NS","TAS","SPA_SP","WESTERN_ASIA","NTA","CHS_GX","IRE_IR","POR_OO","MXC","CLC","CPP_WC","IOW_OO","AFRICA","AGS_RN","CLC_SA","TCS_NK","LOU_OO","MIC_OO","WSB","YUG_SL","BOT","MXT_QR","AUSTRALIA","ITA_IT","NSC_OO","YUG","ONT_OO","MXT_CI","EHM_SI","PAL_JO","TVL_NP","AGW[...]
