http_interactions:
- request:
    method: get
    uri: https://biodiversity.org.au/nsl/services/rest/name/apni/61294
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(taxize/0.9.99.92)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"class":"au.org.biodiversity.nsl.Name","_links":{"permalinks":[{"link":"https://biodiversity.org.au/apni.name/6717","preferred":false,"resources":1},{"link":"https://biodiversity.org.au/boa/name/apni/61294","preferred":false,"resources":1},{"link":"https://id.biodiversity.org.au/61294","preferred":false,"resources":1},{"link":"https://id.biodiversity.org.au/name/apni/61294","preferred":true,"resources":1},{"link":"https://id.biodiversity.org.au/Acacia%20dealbata%20Link","preferred":false,"resources":23}]},"audit":{"created":{"by":"KIRSTENC","at":"2005-11-14T00:11:11Z"},"updated":{"by":"KIRSTENC","at":"2005-11-14T00:11:11Z"}},"fullName":"Acacia
        dealbata Link","fullNameHtml":"<scientific><name data-id=''61294''><scientific><name
        data-id=''56859''><element>Acacia<\u002felement><\u002fname><\u002fscientific>
        <element>dealbata<\u002felement> <authors><author data-id=''6888'' title=''Link,
        J.H.F.''>Link<\u002fauthor><\u002fauthors><\u002fname><\u002fscientific>","nameElement":"dealbata","simpleName":"Acacia
        dealbata","sortName":"acacia dealbata","rank":{"name":"Species","sortOrder":190},"verbatimRank":null,"type":"scientific","status":"legitimate","tags":[],"family":{"class":"au.org.biodiversity.nsl.Name","_links":{"permalink":{"link":"https://id.biodiversity.org.au/name/apni/54582","preferred":true,"resources":1}},"nameElement":"Fabaceae","fullNameHtml":"<scientific><name
        data-id=''54582''><element>Fabaceae<\u002felement> <authors><author data-id=''1554''
        title=''Lindley, J.''>Lindl.<\u002fauthor><\u002fauthors><\u002fname><\u002fscientific>"},"parent":{"class":"au.org.biodiversity.nsl.Name","_links":{"permalink":{"link":"https://id.biodiversity.org.au/name/apni/56859","preferred":true,"resources":1}},"nameElement":"Acacia","fullNameHtml":"<scientific><name
        data-id=''56859''><element>Acacia<\u002felement> <authors><author data-id=''7037''
        title=''Miller, P.''>Mill.<\u002fauthor><\u002fauthors><\u002fname><\u002fscientific>"},"basionym":{},"secondParent":{},"instances":[{"class":"au.org.biodiversity.nsl.Instance","_links":{"permalink":{"link":"https://id.biodiversity.org.au/instance/apni/51343120","preferred":true,"resources":1}},"instanceType":"basionym","page":"358","name":"<scientific><name
        data-id=''61294''><scientific><name data-id=''56859''><element>Acacia<\u002felement><\u002fname><\u002fscientific>
        <element>dealbata<\u002felement> <authors><author data-id=''6888'' title=''Link,
        J.H.F.''>Link<\u002fauthor><\u002fauthors><\u002fname><\u002fscientific>","protologue":false,"citation":"Pedley,
        L. (24 September 1987), Racosperma Martius (Leguminosae: Mimosoideae) in New
        Zealand: a checklist. Austrobaileya 2(4)","citationHtml":"<ref data-id=''39787''><ref-paper><author>Pedley,
        L.<\u002fauthor> <year>(24 September 1987)<\u002fyear>, <ref-title>Racosperma
        Martius (Leguminosae: Mimosoideae) in New Zealand: a checklist.<\u002fref-title>
        <par-title><i>Austrobaileya<\u002fi><\u002fpar-title> <volume>2(4)<\u002fvolume><\u002fref-paper><\u002fref>","citationAuthYear":"Pedley,
        1987"},{"class":"au.org.biodiversity.nsl.Instance","_links":{"permalink":{"link":"https://id.biodiversity.org.au/instance/apni/778518","preferred":true,"resources":1}},"instanceType":"secondary
        reference","page":"47","name":"<scientific><name data-id=''61294''><scientific><name
        data-id=''56859''><element>Acacia<\u002felement><\u002fname><\u002fscientific>
        <element>dealbata<\u002felement> <authors><author data-id=''6888'' title=''Link,
        J.H.F.''>Link<\u002fauthor><\u002fauthors><\u002fname><\u002fscientific>","protologue":false,"citation":"Mueller,
        F.J.H. von (1882), Systematic Census of Australian Plants","citationHtml":"<ref
        data-id=''38371''><ref-section><author>Mueller, F.J.H. von<\u002fauthor> <year>(1882)<\u002fyear>,
        <par-title><i>Systematic Census of Australian Plants<\u002fi><\u002fpar-title><\u002fref-section><\u002fref>","citationAuthYear":"F.Muell.,
        1882"},{"class":"au.org.biodiversity.nsl.Instance","_links":{"permalink":{"link":"https://id.biodiversity.org.au/instance/apni/723026","preferred":true,"resources":1}},"instanceType":"secondary
        reference","page":"231","name":"<scientific><name data-id=''61294''><scien[...]
- request:
    method: get
    uri: https://biodiversity.org.au/nsl/services/rest/name/apni/61294/api/branch
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(taxize/0.9.99.92)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"action":"branch","name":{"class":"au.org.biodiversity.nsl.Name","_links":{"permalink":{"link":"https://id.biodiversity.org.au/name/apni/61294","preferred":true,"resources":1}},"nameElement":"dealbata","fullNameHtml":"<scientific><name
        data-id=''61294''><scientific><name data-id=''56859''><element>Acacia<\u002felement><\u002fname><\u002fscientific>
        <element>dealbata<\u002felement> <authors><author data-id=''6888'' title=''Link,
        J.H.F.''>Link<\u002fauthor><\u002fauthors><\u002fname><\u002fscientific>"},"branch":[{"class":"au.org.biodiversity.nsl.Name","_links":{"permalinks":[{"link":"https://biodiversity.org.au/apni.name/-1","preferred":false,"resources":1},{"link":"https://biodiversity.org.au/boa/name/apni/54717","preferred":false,"resources":1},{"link":"https://id.biodiversity.org.au/54717","preferred":false,"resources":1},{"link":"https://id.biodiversity.org.au/name/apni/54717","preferred":true,"resources":1},{"link":"https://id.biodiversity.org.au/Plantae%20Haeckel","preferred":false,"resources":3}[...]
- request:
    method: get
    uri: https://biodiversity.org.au/nsl/services/api/name/acceptable-name.json?name=Acacia%20dealbata
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(taxize/0.9.99.92)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"action":"acceptable-name","count":5,"query":"Acacia dealbata","names":[{"class":"au.org.biodiversity.nsl.Name","_links":{"permalink":{"link":"https://id.biodiversity.org.au/name/apni/61294","preferred":true,"resources":1}},"nameType":"scientific","nameStatus":"legitimate","nameRank":"Species","primaryInstance":[{"class":"au.org.biodiversity.nsl.Instance","_links":{"permalink":{"link":"https://id.biodiversity.org.au/instance/apni/466684","preferred":true,"resources":1}},"instanceType":"tax.
        nov.","page":"445","name":"<scientific><name data-id=''61294''><scientific><name
        data-id=''56859''><element>Acacia<\u002felement><\u002fname><\u002fscientific>
        <element>dealbata<\u002felement> <authors><author data-id=''6888'' title=''Link,
        J.H.F.''>Link<\u002fauthor><\u002fauthors><\u002fname><\u002fscientific>","protologue":true,"citation":"Link,
        J.H.F. (1822), Enumeratio Plantarum Horti Regii Berolinensis Altera 2","citationHtml":"<ref
        data-id=''22547''><ref-section><author>Link, J.H.F.<\u002fauthor> <year>(1822)<\u002fyear>,
        <par-title><i>Enumeratio Plantarum Horti Regii Berolinensis Altera<\u002fi><\u002fpar-title>
        <volume>2<\u002fvolume><\u002fref-section><\u002fref>","citationAuthYear":"Link,
        1822"}],"fullName":"Acacia dealbata Link","fullNameHtml":"<scientific><name
        data-id=''61294''><scientific><name data-id=''56859''><element>Acacia<\u002felement><\u002fname><\u002fscientific>
        <element>dealbata<\u002felement> <authors><author data-id=''6888'' title=''Link,
        J.H.F.''>Link<\u002fauthor><\u002fauthors><\u002fname><\u002fscientific>","simpleName":"Acacia
        dealbata","simpleNameHtml":"<scientific><name data-id=''61294''><scientific><name
        data-id=''56859''><element>Acacia<\u002felement><\u002fname><\u002fscientific>
        <element>dealbata<\u002felement><\u002fname><\u002fscientific>"},{"class":"au.org.biodiversity.nsl.Name","_links":{"permalink":{"link":"https://id.biodiversity.org.au/name/apni/141782","preferred":true,"resources":1}},"nameType":"autonym","nameStatus":"legitimate","nameRank":"Subspecies","primaryInstance":[{"class":"au.org.biodiversity.nsl.Instance[...]
[...]
