http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Quercus%20douglasii&strict=FALSE&verbose=TRUE&limit=500
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(taxize/0.9.93.91)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"usageKey":2878266,"scientificName":"Quercus douglasii Hook. & Arn.","canonicalName":"Quercus
        douglasii","rank":"SPECIES","status":"ACCEPTED","confidence":98,"note":"Similarity:
        name=110; authorship=0; classification=-2; rank=5; status=1; nextMatch=3","matchType":"EXACT","alternatives":[{"usageKey":9083417,"scientificName":"Quercus
        douglasii A.DC.","canonicalName":"Quercus douglasii","rank":"SPECIES","status":"DOUBTFUL","confidence":95,"note":"Similarity:
        name=110; authorship=0; classification=-2; rank=5; status=-5","matchType":"EXACT","kingdom":"Plantae","phylum":"Tracheophyta","order":"Fagales","family":"Fagaceae","genus":"Quercus","species":"Quercus
        douglasii","kingdomKey":6,"phylumKey":7707728,"classKey":220,"orderKey":1354,"familyKey":4689,"genusKey":2877951,"speciesKey":9083417,"synonym":false,"class":"Magnoliopsida"},{"usageKey":7203493,"scientificName":"Quedius
        douglasi Bernhauer, 1929","canonicalName":"Quedius douglasi","rank":"SPECIES","status":"ACCEPTED","confidence":69,"note":"Similarity:
        name=65; authorship=0; classification=-2; rank=5; status=1","matchType":"FUZZY","kingdom":"Animalia","phylum":"Arthropoda","order":"Coleoptera","family":"Staphylinidae","genus":"Quedius","species":"Quedius
        douglasi","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":1470,"familyKey":7854,"genusKey":4290501,"speciesKey":7203493,"synonym":false,"class":"Insecta"}],"kingdom":"Plantae","phylum":"Tracheophyta","order":"Fagales","family":"Fagaceae","genus":"Quercus","species":"Quercus
        douglasii","kingdomKey":6,"phylumKey":7707728,"classKey":220,"orderKey":1354,"familyKey":4689,"genusKey":2877951,"speciesKey":2878266,"synonym":false,"class":"Magnoliopsida"}'
  recorded_at: 2020-03-25 19:15:43 GMT
  recorded_with: vcr/0.5.0, webmockr/0.6.2
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=aaa%20vva&strict=FALSE&verbose=TRUE&limit=500
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(taxize/0.9.93.91)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"confidence":100,"matchType":"NONE","synonym":false}'
  recorded_at: 2020-03-25 19:15:43 GMT
  recorded_with: vcr/0.5.0, webmockr/0.6.2
- request:
    method: get
    uri: https://api.gbif.org/v1/species/2878266?limit=20
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(taxize/0.9.93.91)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"key":2878266,"nubKey":2878266,"nameKey":9607100,"taxonID":"gbif:2878266","sourceTaxonKey":145471559,"kingdom":"Plantae","phylum":"Tracheophyta","order":"Fagales","family":"Fagaceae","genus":"Quercus","species":"Quercus
        douglasii","kingdomKey":6,"phylumKey":7707728,"classKey":220,"orderKey":1354,"familyKey":4689,"genusKey":2877951,"speciesKey":2878266,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ddf754f-d193-4cc9-b351-99906754a03b","parentKey":2877951,"parent":"Quercus","scientificName":"Quercus
        douglasii Hook. & Arn.","canonicalName":"Quercus douglasii","authorship":"Hook.
        & Arn.","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","publishedIn":"Bot.
        Beechey Voy. 391.  1840","numDescendants":2,"lastCrawled":"2019-09-06T05:41:48.812+0000","lastInterpreted":"2019-09-06T05:30:13.844+0000","issues":[],"synonym":false,"class":"Magnoliopsida"}'
  recorded_at: 2020-03-25 19:15:43 GMT
  recorded_with: vcr/0.5.0, webmockr/0.6.2
