http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/2704179?limit=20
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/5.2.2 crul/1.5.0 rOpenSci(taxize/0.9.102)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"key":2704179,"nubKey":2704179,"nameKey":8951503,"taxonID":"gbif:2704179","kingdom":"Plantae","phylum":"Tracheophyta","order":"Poales","family":"Poaceae","genus":"Poa","species":"Poa
        annua","kingdomKey":6,"phylumKey":7707728,"classKey":196,"orderKey":1369,"familyKey":3073,"genusKey":2704173,"speciesKey":2704179,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ddf754f-d193-4cc9-b351-99906754a03b","parentKey":2704173,"parent":"Poa","scientificName":"Poa
        annua L.","canonicalName":"Poa annua","vernacularName":"Annual Bluegrass","authorship":"L.","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","publishedIn":"Sp.
        Pl.: 68 (1753)","numDescendants":2,"lastCrawled":"2023-08-22T23:20:59.545+00:00","lastInterpreted":"2023-08-22T23:15:26.842+00:00","issues":[],"class":"Liliopsida"}'
  recorded_at: 2024-09-05 16:39:45 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
