http_interactions:
- request:
    method: get
    uri: http://www.catalogueoflife.org/col/webservice?name=Animalia&response=full
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <results id="" name="Animalia" total_number_of_results="2" number_of_results_returned="2" start="0" error_message="" version="1.9 rev 2126ab0" rank="">
          <result>
            <id>5ede24b0534ebd5e1f552d5b9f874a6a</id>
            <name>Animalia</name>
            <rank>Kingdom</rank>
            <name_status>accepted name</name_status>
            <name_html>Animalia</name_html>
            <url>http://www.catalogueoflife.org/col/browse/tree/id/5ede24b0534ebd5e1f552d5b9f874a6a</url>
            <is_extinct>false</is_extinct>
            <classification/>
            <child_taxa>
              <taxon>
                <id>29cf5a3a0cad337a0216edca32bab745</id>
                <name>Acanthocephala</name>
                <rank>Phylum</rank>
                <name_html>Acanthocephala</name_html>
                <url>http://www.catalogueoflife.org/col/browse/tree/id/29cf5a3a0cad337a0216edca32bab745</url>
                <is_extinct>false</is_extinct>
              </taxon>
              <taxon>
                <id>fcdf92d44b508e2ee14838083684b7b7</id>
                <name>Annelida</name>
         [...]
- request:
    method: get
    uri: http://www.catalogueoflife.org/col/webservice?name=Plantae&response=full
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <results id="" name="Plantae[...]
- request:
    method: get
    uri: http://www.catalogueoflife.org/col/webservice?name=Accipiter%20striatus&response=full
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <results id="" name="Accipiter striatus" total_number_of_results="9" number_of_results_returned="9" start="0" error_message="" version="1.9 rev 2126ab0" rank="">
          <result>
            <id>d349b58e7b60be92c17e5d10fedac0c1</id>
            <name>Accipiter striatus</name>
            <rank>Species</rank>
            <name_status>accepted name</name_status>
            <genus>Accipiter</genus>
            <subgenus></subgenus>
            <species>striatus</species>
            <infraspecies_marker></infraspecies_marker>
            <infraspecies></infraspecies>
            <author>Vieillot, 1808</author>
            <record_scrutiny_date>
              <scrutiny>22-Sep-2011</scrutiny>
            </record_scrutiny_date>
            <online_resource><![CDATA[http://www.itis.gov/servlet/SingleRpt/SingleRpt?search_topic=TSN&search_value=175304]]></online_resource>
            <is_extinct>false</is_extinct>
            <source_database>ITIS Global: The Integrated Taxonomic Information System</source_database>
            <source_database_url>http://www.itis.gov;
        http://www.cbif.gc.ca/acp/eng/itis/search (Canada)</source_database_url>
            <bibliographic_citation><![CDATA[Tom Orrell (custodian), Dave Nicolson (ed). (2019). ITIS Global: The Integrated Taxonomic Information System (version Jun 2017). In: Roskov Y., Ower G., Orrell T., Nicolson D., Bailly N., Kirk P.M., Bourgoin T., DeWalt R.E., Decock W., Nieukerken E. van, Zarucchi J., Penev L., eds. (2019). Species 2000 & ITIS Catalogue of Life, 24th December 2018. Digital resource at www.catalogueoflife.org/col. Species 2000: Naturalis, Leiden, the Netherlands. ISSN 2405-8858.]]></bibliographic_citation>
            <name_html><i>Accipiter striatus</i> Vieillot, 1808</name_html>
            <url>http://www.catalogueoflife.org/col/details/species/id/d349b58e7b60be92c17e5d10fedac0c1</url>
            <distribution>Caribbean 133 0; North America 132 0</distribution>
            <references>
              <reference>
                <author>Gill, Frank, and Minturn Wright</author>
                <year>2006</year>
                <title></title>
                <source>Birds of the World: Recommended English Names</source>
              </reference>
              <reference>
                <author>Banks, R. C., R. W. McDiarmid, and A. L. Gardner</author>
                <year>1987</year>
                <title>Checklist of Vertebrates of the United States, the U.S. Territories, and Canada</title>
                <source>Resource Publication, no. 166</source>
              </reference>
              <reference>
                <author>Banks, R. C., R. W. McDia[...]
- request:
    method: get
    uri: http://www.catalogueoflife.org/col/webservice?id=2346405&response=full
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <results id="2346405" name="" total_number_of_results="0" number_of_results_returned="0" start="0" error_message="No names found" version="1.9 rev 2126ab0" rank=""/>
  recorded_at: 2019-01-24 01:18:31 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
[...]
