http_interactions:
- request:
    method: get
    uri: http://www.catalogueoflife.org/col/webservice?name=Apis&response=terse&format=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"id":"","name":"Apis","total_number_of_results":73,"number_of_results_returned":73,"start":0,"error_message":"","version":"1.9
        rev 2126ab0","rank":"","results":[{"id":"015be25f6b061ba517f495394b80f108","name":"Apis","rank":"Genus","name_status":"accepted
        name","name_html":"<i>Apis<\/i>","url":"http:\/\/www.catalogueoflife.org\/col\/browse\/tree\/id\/015be25f6b061ba517f495394b80f108","is_extinct":"false"},{"id":"1182a102a18b40aa19385bf5f1f53367","name":"Actinomadura
        apis","rank":"Species","name_status":"accepted name","record_scrutiny_date":[],"online_resource":"http:\/\/www.itis.gov\/servlet\/SingleRpt\/SingleRpt?search_topic=TSN&search_value=958884","is_extinct":"false","source_database":"ITIS
        Global: The Integrated Taxonomic Information System","source_database_url":"http:\/\/www.itis.gov;\nhttp:\/\/www.cbif.gc.ca\/acp\/eng\/itis\/search
        (Canada)","bibliographic_citation":"Tom Orrell (custodian), Dave Nicolson
        (ed). (2019). ITIS Global: The Integrated Taxonomic Information System (version
        Jun 2017). In: Roskov Y., Ower G., Orrell T., Nicolson D., Bailly N., Kirk
        P.M., Bourgoin T., DeWalt R.E., Decock W., Nieukerken E. van, Zarucchi J.,
        Penev L., eds. (2019). Species 2000 & ITIS Catalogue of Life, 24th December
        2018. Digital resource at www.catalogueoflife.org\/col. Species 2000: Naturalis,
        Leiden, the Netherlands. I[...]
[...]
- request:
    method: get
    uri: http://www.catalogueoflife.org/col/webservice?name=Puma%20concolor&response=terse&format=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"id":"","name":"Puma concolor","total_number_of_results":32,"[...]
- request:
    method: get
    uri: http://www.catalogueoflife.org/col/webservice?id=11935941&response=terse&format=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"id":"11935941","name":"","total_number_of_results":0,"number_of_results_returned":0,"start":0,"error_message":"No
        names found","version":"1.9 rev 2126ab0","rank":""}'
  recorded_at: 2019-01-24 01:21:08 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
