http_interactions:
- request:
    method: get
    uri: http://www.catalogueoflife.org/col/webservice?name=Animalia&response=full
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <results id="" name="Animalia" total_number_of_results="2" number_of_results_returned="2" start="0" error_message="" version="1.9 rev 2126ab0" rank="">
          <result>
            <id>5ede24b0534ebd5e1f552d5b9f874a6a</id>
            <name>Animalia</name>
            <rank>Kingdom</rank>
            <name_status>accepted name</name_status>
            <name_html>Animalia</name_html>
            <url>http://www.catalogueoflife.org/col/browse/tree/id/5ede24b0534ebd5e1f552d5b9f874a6a</url>
            <is_extinct>false</is_extinct>
            <classification/>
            <child_taxa>
              <taxon>
                <id>29cf5a3a0cad337a0216edca32bab745</id>
                <name>Acanthocephala</name>
                <rank>Phylum</rank>
                <name_html>Acanthocephala</name_html>
                <url>http://www.catalogueoflife.org/col/browse/tree/id/29cf5a3a0cad337a0216edca32bab745</url>
                <is_extinct>false</is_extinct>
              </taxon>
              <taxon>
                <id>fcdf92d44b508e2ee14838083684b7b7</id>
                <name>Annelida</name>
         [...]
- request:
    method: get
    uri: http://www.catalogueoflife.org/col/webservice?name=Plantae&response=full
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <results id="" name="Plantae[...]
- request:
    method: get
    uri: http://www.catalogueoflife.org/col/webservice?name=Salicaceae&response=full
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <results id="" name="Salicaceae" total_number_of_results="1" number_of_results_returned="1" start="0" error_message="" version="1.9 rev 2126ab0" rank="">
          <result>
            <id>9d60628cde8a115d0645d8b20421fdcf</id>
            <name>Salicaceae</name>
            <rank>Family</rank>
            <name_status>accepted name</name_status>
            <name_html>Salicaceae</name_html>
            <url>http://www.catalogueoflife.org/col/browse/tree/id/9d60628cde8a115d0645d8b20421fdcf</url>
            <is_extinct>false</is_extinct>
            <classification>
              <taxon>
                <id>208cf441fe2e1662376a9ce9e80782e1</id>
                <name>Plantae</name>
                <rank>Kingdom</rank>
                <name_html>Plantae</name_html>
                <url>http://www.catalogueoflife.org/col/browse/tree/id/208cf441fe2e1662376a9ce9e80782e1</url>
              </taxon>
              <taxon>
                <id>73328ba4e1446e1ee3602956b66eb127</id>
                <name>Tracheophyta</name>
                <rank>Phylum</rank>
       [...]
