http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Apis&strict=FALSE&verbose=TRUE&limit=500
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(taxize/0.9.92.92)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"usageKey":7799978,"scientificName":"Apis Fabricius","canonicalName":"Apis","rank":"GENUS","status":"ACCEPTED","confidence":94,"note":"Similarity:
        name=100; authorship=0; classification=-2; rank=0; status=1; nextMatch=3","matchType":"EXACT","alternatives":[{"usageKey":1334757,"scientificName":"Apis
        Linnaeus, 1758","canonicalName":"Apis","rank":"GENUS","status":"DOUBTFUL","confidence":90,"note":"Similarity:
        name=100; authorship=0; classification=-2; rank=0; status=-5","matchType":"EXACT","kingdom":"Animalia","phylum":"Arthropoda","order":"Hymenoptera","family":"Apidae","genus":"Apis","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":1457,"familyKey":4334,"genusKey":1334757,"synonym":false,"class":"Insecta"},{"usageKey":3242821,"scientificName":"Acis
        Duchassaing & Michelotti, 1860","canonicalName":"Acis","rank":"GENUS","status":"ACCEPTED","confidence":74,"note":"Similarity:
        name=75; authorship=0; classification=-2; rank=0; status=1","matchType":"FUZZY","kingdom":"Animalia","phylum":"Cnidaria","order":"Alcyonacea","family":"Plexauridae","genus":"Acis","kingdomKey":1,"phylumKey":43,"classKey":206,"orderKey":1437,"familyKey":9242,"genusKey":3242821,"synonym":false,"class":"An[...]
- request:
    method: get
    uri: http://api.gbif.org/v1/species/7799978?limit=20
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(taxize/0.9.92.92)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"key":7799978,"nameKey":837464,"taxonID":"gbif:7799978","kingdom":"Animalia","phylum":"Arthropoda","order":"Hymenoptera","family":"Apidae","genus":"Apis","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":1457,"familyKey":4334,"genusKey":7799978,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ddf754f-d193-4cc9-b351-99906754a03b","parentKey":4334,"parent":"Apidae","scientificName":"Apis
        Fabricius","canonicalName":"Apis","authorship":"Fabricius","nameType":"SCIENTIFIC","rank":"GENUS","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","numDescendants":62,"lastCrawled":"2019-09-06T05:41:48.812+0000","lastInterpreted":"2019-09-06T04:29:36.604+0000","issues":[],"synonym":false,"class":"Insecta"}'
  recorded_at: 2020-03-06 01:56:30 GMT
  recorded_with: vcr/0.5.0, webmockr/0.6.0
- request:
    method: get
    uri: http://api.gbif.org/v1/species/7799978/children?limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(taxize/0.9.92.92)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":100,"endOfRecords":true,"results":[{"key":9637818,"nameKey":16165306,"taxonID":"gbif:9637818","sourceTaxonKey":134863113,"kingdom":"Animalia","phylum":"Arthropoda","order":"Hymenoptera","family":"Apidae","genus":"Apis","species":"Apis
        albiventris","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":1457,"familyKey":4334,"genusKey":7799978,"speciesKey":9637818,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"c8227bb4-4143-443f-8cb2-51f9576aff14","parentKey":7799978,"parent":"Apis","scientificName":"Apis
        albiventris Panzer, 1798","canonicalName":"Apis albiventris","authorship":"Panzer,
        1798","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"DOUBTFUL","nomenclaturalStatus":[],"remarks":"","publishedIn":"Panzer,
        Georg W. F. 1798. Faunae insectorum Germanicae initia. Felsecker, Nürnberg.:
        Heft 56: 1-24.","numDescendants":0,"lastCrawled":"2019-09-06T05:41:48.812+0000","lastInterpreted":"2019-09-06T04:29:36.825+0000","issues":[],"synonym":false,"class":"Insecta"},{"key":1341975,"nubKey":1341975,"nameKey":837544,"taxonID":"gbif:1341975","sourceTaxonKey":110189262,"kingdom":"Animalia","phylum":"Arthropoda","order":"Hymenoptera","family":"Apidae","genus":"Apis","species":"Apis
        andreniformis","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":1457,"familyKey":4334,"genusKey":7799978,"speciesKey":1341975,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ddf754f-d193-4cc9-b351-99906754a03b","parentKey":7799978,"parent":"Apis","scientificName":"Apis
 [...]
