http_interactions:
- request:
    method: get
    uri: http://www.catalogueoflife.org/col/webservice?name=Hereroa&response=full&format=json
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0 rOpenSci(taxize/0.9.5.9911)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"id":"","name":"Hereroa","total_number_of_results":42,"number_of_results_returned":42,"start":0,"error_message":"","version":"1.9
        rev 2126ab0","rank":"","results":[{"id":"82d98e03e16e77c0defa5206ed553876","name":"Hereroa","rank":"Genus","name_status":"accepted
        name","name_html":"<i>Hereroa<\/i>","url":"http:\/\/www.catalogueoflife.org\/col\/browse\/tree\/id\/82d98e03e16e77c0defa5206ed553876","is_extinct":"false","classification":[{"id":"208cf441fe2e1662376a9ce9e80782e1","name":"Plantae","rank":"Kingdom","name_html":"Plantae","url":"http:\/\/www.catalogueoflife.org\/col\/browse\/tree\/id\/208cf441fe2e1662376a9ce9e80782e1"},{"id":"73328ba4e1446e1ee3602956b66eb127","name":"Tracheophyta","rank":"Phylum","name_html":"Tracheophyta","url":"http:\/\/www.catalogueoflife.org\/col\/browse\/tree\/id\/73328ba4e1446e1ee3602956b66eb127"},{"id":"53497bb664b89c28e60f020f7f21f882","name":"Magnoliopsida","rank":"Class","name_html":"Magnoliopsida","url":"http:\/\/www.catalogueoflife.org\/col\/browse\/tree\/id\/53497bb664b89c28e60f020f7f21f882"},{"id":"1794a285e93023d7725d56adcc3e2c0f","name":"Caryophyllales","rank":"Order","name_html":"Caryophyllales","url":"http:\/\/www.catalogueoflife.org\/col\/browse\/tree\/id\/1794a285e93023d7725d56adcc3e2c0f"},{"id":"2dbcfcff31de7f5933bd773eb679daa5","name":"Aizoaceae","rank":"Family","name_html":"Aizoaceae","url":"http:\/\/www.catalogueoflife.org\/col\/browse\/tree\/id\/2dbcfcff31de7f5933bd773eb679daa5"}],"child_taxa":[{"id":"c1bb7175d2c79b6f97c7d2369c92122e","name":"Hereroa
        acuminata","rank":"Species","name_html":"<i>Hereroa acuminata<\/i> L. Bol.","url":"http:\/\/www.catalogueoflife.org\/col\/details\/species\/id\/c1bb7175d2c79b6f97c7d2369c92122e","is_extinct":"false"},{"id":"b6787e2cbadc1da2b68e6ddadfadacca","name":"Hereroa
        aspera","rank":"Species","name_html":"<i>Hereroa aspera<\/i> L. Bol.","url":"http:\/\/www.catalogueoflife.org\/col\/details\/species\/id\/b6787e2cbadc1da2b68e6ddadfadacc[...]
- request:
    method: get
    uri: http://www.catalogueoflife.org/col/webservice?id=82d98e03e16e77c0defa5206ed553876&response=full
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.7.0 rOpenSci(taxize/0.9.5.9911)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <results id="82d98e03e16e77c0defa5206ed553876" name="" total_number_of_results="1" number_of_results_returned="1" start="0" error_message="" version="1.9 rev 2126ab0" rank="">
          <result>
            <id>82d98e03e16e77c0defa5206ed553876</id>
            <name>Hereroa</name>
            <rank>Genus</rank>
            <name_status>accepted name</name_status>
            <name_html><i>Hereroa</i></name_html>
            <url>http://www.catalogueoflife.org/col/browse/tree/id/82d98e03e16e77c0defa5206ed553876</url>
            <is_extinct>false</is_extinct>
            <classification>
              <taxon>
                <id>208cf441fe2e1662376a9ce9e80782e1</id>
                <name>Plantae</name>
                <rank>Kingdom</rank>
                <name_html>Plantae</name_html>
                <url>http://www.catalogueoflife.org/col/browse/tree/id/208cf441fe2e1662376a9ce9e80782e1</url>
              </taxon>
              <taxon>
                <id>73328ba4e1446e1ee3602956b66eb127</id>
                <name>Tracheophyta</name>
                <rank>Phylum</rank>
                <name_html>Tr[...]
