http_interactions:
- request:
    method: get
    uri: http://www.catalogueoflife.org/col/webservice?id=d324f3777e98688584cf8b68d0f06e5f&response=full
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <results id="d324f3777e98688584cf8b68d0f06e5f" name="" total_number_of_results="1" number_of_results_returned="1" start="0" error_message="" version="1.9 rev 2126ab0" rank="">
          <result>
            <id>d324f3777e98688584cf8b68d0f06e5f</id>
            <name>Squamata</name>
            <rank>Order</rank>
            <name_status>accepted name</name_status>
            <name_html>Squamata</name_html>
            <url>http://www.catalogueoflife.org/col/browse/tree/id/d324f3777e98688584cf8b68d0f06e5f</url>
            <is_extinct>false</is_extinct>
            <classification>
              <taxon>
                <id>5ede24b0534ebd5e1f552d5b9f874a6a</id>
                <name>Animalia</name>
                <rank>Kingdom</rank>
                <name_html>Animalia</name_html>
                <url>http://www.catalogueoflife.org/col/browse/tree/id/5ede24b0534ebd5e1f552d5b9f874a6a</url>
              </taxon>
              <taxon>
                <id>4313bc7637e1fc1feb316a4dea2b668b</id>
                <name>Chordata</name>
                <rank>Phylum</rank>
                <name_html>Chordata</name_html>
                <url>http://www.catalogueoflife.org/col/browse/tree/id/4313bc7637e1fc1feb316a4dea2b668b</url>
              </taxon>
              <taxon>
                <id>f2e91eb663bb9950c972474f65d2693b</id>
                <name>Reptilia</name>
                <rank>Class</rank>
                <name_html>Reptilia</name_html>
                <url>http://www.catalogueoflife.org/col/browse/tree/id/f2e91eb663bb9950c972474f65d2693b</url>
              </taxon>
            </classification>
            <child_taxa>
              <taxon>
                <id>2f1af78906aa814c838d514f49cc9063</id>
                <name>Acrochordidae</name>
                <rank>Family</rank>
                <name_html>Acrochordidae</name_html>
                <url>http://www.catalogueoflife.org/col/browse/tree/id/2f1af78906aa814c838d514f49cc9063</url>
                <is_extinct>false</is_extinct>
              </taxon>
              <taxon>
                <id>aa58d0d4643f6ef91690d3e7ae169d89</id>
                <name>Agami[...]
