http_interactions:
- request:
    method: get
    uri: http://www.catalogueoflife.org/col/webservice?name=Carya&response=full&format=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"id":"","name":"Carya","total_number_of_results":92,"number_of_results_returned":50,"start":0,"error_message":"","version":"1.9
        rev 2126ab0","rank":"","results":[{"id":"aaf7c507038de9fe556f740239978805","name":"Carya","rank":"Genus","name_status":"accepted
        name","name_html":"<i>Carya<\/i>","url":"http:\/\/www.catalogueoflife.org\/col\/browse\/tree\/id\/aaf7c507038de9fe556f740239978805","is_extinct":"false","classification":[{"id":"208cf441fe2e1662376a9ce9e80782e1","name":"Plantae","rank":"Kingdom","name_html":"Plantae","url":"http:\/\/www.catalogueoflife.org\/col\/browse\/tree\/id\/208cf441fe2e1662376a9ce9e80782e1"},{"id":"73328ba4e1446e1ee3602956b66eb127","name":"Tracheophyta","rank":"Phylum","name_html":"Tracheophyta","url":"http:\/\/www.catalogueoflife.org\/col\/browse\/tree\/id\/73328ba4e1446e1ee3602956b66eb127"},{"id":"53497bb664b89c28e60f020f7f21f882","name":"Magnoliopsida","rank":"Class","name_html":"Magnoliopsida","url":"http:\/\/www.catalogueoflife.org\/col\/browse\/tree\/id\/53497bb664b89c28e60f020f7f21f882"},{"id":"80b4b8d0a38c4eaca71873ff1dd82d4c","name":"Fagales","rank":"Order","name_html":"Fagales","url":"http:\/\/www.catalogueoflife.org\/col\/browse\/tree\/id\/80b4b8d0a38c4eaca71873ff1dd82d4c"},{"id":"6b4025e0b25b1c7cee0a633912197b6d","name":"Juglandaceae","rank":"Family","name_html":"Juglandaceae","url":"http:\/\/www.catalogueoflife.org\/col\/browse\/tree\/id\/6b4025e0b25b1c7cee0a633912197b6d"}],"child_taxa":[{"id":"0914acc2cfd3f9307ad039e9e15b90c5","name":"Carya
        alba","rank":"Species","name_html":"<i>Carya alba<\/i> (L.) Nutt.","url":"http:\/\/www.catalogueoflife.org\/col\/details\/species\/id\/0914acc2cfd3f9307ad039e9e15b90c5","is_extinct":"false"},{"id":"8443d9807260e81a256c12f136a60e7e","name":"Carya
        aquatica","rank":"Species","name_html":"<i>Carya aquatica<\/i> (Michx. fil.)
        Nutt.","url":"http:\/\/www.catalogueoflife.org\/col\/details\/species\/id\/8443d9807260e81a256c12[...]
- request:
    method: get
    uri: http://www.catalogueoflife.org/col/webservice?id=aaf7c507038de9fe556f740239978805&response=full
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <results id="aaf7c507038de9fe556f740239978805" name="" total_number_of_results="1" number_of_results_returned="1" start="0" error_message="" version="1.9 rev 2126ab0" rank="">
          <result>
            <id>aaf7c507038de9fe556f740239978805</id>
            <name>Carya</name>
            <rank>Genus</rank>
            <name_status>accepted name</name_status>
            <name_html><i>Carya</i></name_html>
            <url>http://www.catalogueoflife.org/col/browse/tree/id/aaf7c507038de9fe556f740239978805</url>
            <is_extinct>false</is_extinct>
            <classification>
              <taxon>
                <id>208cf441fe2e1662376a9ce9e80782e1</id>
                <name>Plantae</name>
                <rank>Kingdom</rank>
                <name_html>Plantae</name_html>
                <url>http://www.catalogueoflife.org/col/browse/tree/id/208cf441fe2e1662376a9ce9e80782e1</url>
              </taxon>
              <taxon>
                <id>73328ba4e1446e1ee3602956b66eb127</id>
                <name>Tracheophyta</name>
                <rank>Phylum</rank>
                <name_html>Tr[...]
