http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Ursus&strict=FALSE&verbose=TRUE&limit=500
    body:
      encoding: ''
      string: ''
    headers:
      X-User-Agent: r-curl/3.3 crul/0.7.0.9100 taxize/0.9.4.9914
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"usageKey":2433406,"scientificName":"Ursus Linnaeus, 1758","canonicalName":"Ursus","rank":"GENUS","status":"ACCEPTED","confidence":94,"note":"Similarity:
        name=100; authorship=0; classification=-2; rank=0; status=1; nextMatch=5","matchType":"EXACT","alternatives":[{"usageKey":5429022,"acceptedUsageKey":2441017,"scientificName":"Urus
        Bojanus, 1827","canonicalName":"Urus","rank":"GENUS","status":"SYNONYM","confidence":73,"note":"Similarity:
        name=75; authorship=0; classification=-2; rank=0; status=0","matchType":"FUZZY","kingdom":"Animalia","phylum":"Chordata","order":"Artiodactyla","family":"Bovidae","genus":"Bos","kingdomKey":1,"phylumKey":44,"classKey":359,"orderKey":731,"familyKey":9614,"genusKey":2441017,"synonym":true,"class":"Mammalia"},{"usageKey":8433205,"acceptedUsageKey":2441175,"scientificName":"Urus
        Bojanus, 1827","canonicalName":"Urus","rank":"GENUS","status":"SYNONYM","confidence":73,"note":"Similarity:
        name=75; authorship=0; classification=-2; rank=0; status=0","matchType":"FUZZY","kingdom":"Animalia","phylum":"Chordata","order":"Artiodactyla","family":"Bovidae","genus":"Bison","kingdomKey":1,"phylumKey":44,"classKey":359,"orderKey":731,"familyKey":9614,"genusKey":2441175,"synonym":true,"class":"Mammalia"},{"usageKey":8162648,"acceptedUsageKey":2441175,"scientificName":"Urus
        Swainson, 1835","canonicalName":"Urus","rank":"GENUS","status":"SYNONYM","confidence":73,"note":"Similarity:
        name=75; authorship=0; classification=-2; rank=0; status=0","matchType":"FUZZY","kingdom":"Animalia","phylum":"Chordata","order":"Artiodactyla","family":"Bovidae","genus":"Bison","kingdomKey":1,"phylumKey":44,"classKey":359,"orderKey":731,"familyKey":9614,"genusKey":2441175,"synonym":true,"class":"Mammalia"}],"kingdom":"Animalia","phylum":"Chordata","order":"Carnivora","family":"Ursidae","genus":"Ursus","kingdomKey":1,"phylumKey":44,"classKey":359,"orderKey":732,"familyKey":9681,"genusKey":2433406,"synonym":false,"class":"Mammalia"}'
  recorded_at: 2019-01-26 17:38:26 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
- request:
    method: get
    uri: http://api.gbif.org/v1/species/2433406?limit=20
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"key":2433406,"nubKey":2433406,"nameKey":11658347,"taxonID":"gbif:2433406","sourceTaxonKey":144316162,"kingdom":"Animalia","phylum":"Chordata","order":"Carnivora","family":"Ursidae","genus":"Ursus","kingdomKey":1,"phylumKey":44,"classKey":359,"orderKey":732,"familyKey":9681,"genusKey":2433406,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ddf754f-d193-4cc9-b351-99906754a03b","parentKey":9681,"parent":"Ursidae","scientificName":"Ursus
        Linnaeus, 1758","canonicalName":"Ursus","authorship":"Linnaeus, 1758","nameType":"SCIENTIFIC","rank":"GENUS","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","publishedIn":"Linnæus,
        Carolus. 1758. Systema naturae per regna tria naturae, secundum classes, ordines,
        genera, species, cum characteribus, differentiis, synonymis, locis. Laurentii
        Salvii, Holmiae. Vol. Tomus I, Editio decima, reformata: i-ii, 1-824.","numDescendants":150,"lastCrawled":"2018-06-20T14:41:51.801+0000","lastInterpreted":"2018-06-20T13:42:53.556+0000","issues":[],"synonym":false,"class":"Mammalia"}'
  recorded_at: 2019-01-26 17:38:26 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
- request:
    method: get
    uri: http://api.gbif.org/v1/species/2433406/children?limit=100
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":100,"endOfRecords":false,"results":[{"key":9717328,"nameKey":18424526,"taxonID":"gbif:9717328","sourceTaxonKey":144031871,"kingdom":"Animalia","phylum":"Chordata","order":"Carnivora","family":"Ursidae","genus":"Ursus","species":"Euarctos
        optimus","kingdomKey":1,"phylumKey":44,"classKey":359,"orderKey":732,"familyKey":9681,"genusKey":2433406,"speciesKey":9717328,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"c33ce2f2-c3cc-43a5-a380-fe4526d63650","parentKey":2433406,"parent":"Ursus","scientificName":"Euarctos
        optimus Shultz, 1938","canonicalName":"Euarctos optimus","authorship":"Shultz,
        1938","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","numDescendants":0,"lastCrawled":"2018-06-20T14:41:51.801+0000","lastInterpreted":"2018-06-20[...]
