http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Hereroa&strict=FALSE&verbose=TRUE&limit=500
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(taxize/0.9.92.94)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"usageKey":7329478,"scientificName":"Hereroa","canonicalName":"Hereroa","rank":"GENUS","status":"ACCEPTED","confidence":94,"note":"Similarity:
        name=100; authorship=0; classification=-2; rank=0; status=1; singleMatch=5","matchType":"EXACT","kingdom":"Plantae","phylum":"Tracheophyta","order":"Caryophyllales","family":"Aizoaceae","genus":"Hereroa","kingdomKey":6,"phylumKey":7707728,"classKey":220,"orderKey":422,"familyKey":6752,"genusKey":7329478,"synonym":false,"class":"Magnoliopsida"}'
  recorded_at: 2020-03-06 19:18:35 GMT
  recorded_with: vcr/0.5.0, webmockr/0.6.0
- request:
    method: get
    uri: https://api.gbif.org/v1/species/7329478?limit=20
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(taxize/0.9.92.94)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"key":7329478,"nubKey":7329478,"nameKey":5146728,"taxonID":"gbif:7329478","sourceTaxonKey":155824226,"kingdom":"Plantae","phylum":"Tracheophyta","order":"Caryophyllales","family":"Aizoaceae","genus":"Hereroa","kingdomKey":6,"phylumKey":7707728,"classKey":220,"orderKey":422,"familyKey":6752,"genusKey":7329478,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ddf754f-d193-4cc9-b351-99906754a03b","parentKey":6752,"parent":"Aizoaceae","scientificName":"Hereroa","canonicalName":"Hereroa","authorship":"","nameType":"SCIENTIFIC","rank":"GENUS","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","numDescendants":29,"lastCrawled":"2019-09-06T05:41:48.812+0000","lastInterpreted":"2019-09-06T05:27:58.902+0000","issues":[],"synonym":false,"class":"Magnoliopsida"}'
  recorded_at: 2020-03-06 19:18:35 GMT
  recorded_with: vcr/0.5.0, webmockr/0.6.0
- request:
    method: get
    uri: https://api.gbif.org/v1/species/7329478/children?limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(taxize/0.9.92.94)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":100,"endOfRecords":true,"results":[{"key":3707493,"nubKey":3707493,"nameKey":5146734,"taxonID":"gbif:3707493","sourceTaxonKey":153408278,"kingdom":"Plantae","phylum":"Tracheophyta","order":"Caryophyllales","family":"Aizoaceae","genus":"Hereroa","species":"Hereroa
        acuminata","kingdomKey":6,"phylumKey":7707728,"classKey":220,"orderKey":422,"familyKey":6752,"genusKey":7329478,"speciesKey":3707493,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ddf754f-d193-4cc9-b351-99906754a03b","parentKey":7329478,"parent":"Hereroa","scientificName":"Hereroa
        acuminata L.Bolus","canonicalName":"Hereroa acuminata","authorship":"L.Bolus","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","numDescendants":0,"lastCrawled":"2019-09-06T05:41:48.812+0000","lastInterpreted":"2019-09-06T05:27:58.995+[...]
