http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Apis&strict=FALSE&verbose=TRUE&limit=500
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(taxize/1.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"usageKey":1334757,"scientificName":"Apis Linnaeus, 1758","canonicalName":"Apis","rank":"GENUS","status":"ACCEPTED","confidence":94,"note":"Similarity:
        name=100; authorship=0; classification=-2; rank=0; status=1; nextMatch=3","matchType":"EXACT","alternatives":[{"usageKey":7799978,"scientificName":"Apis
        Fabricius","canonicalName":"Apis","rank":"GENUS","status":"DOUBTFUL","confidence":90,"note":"Similarity:
        name=100; authorship=0; classification=-2; rank=0; status=-5","matchType":"EXACT","kingdom":"Animalia","phylum":"Arthropoda","order":"Hymenoptera","family":"Apidae","genus":"Apis","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":1457,"familyKey":4334,"genusKey":7799978,"synonym":false,"class":"Insecta"},{"usageKey":8347994,"scientificName":"Acis
        Salisb.","canonicalName":"Acis","rank":"GENUS","status":"ACCEPTED","confidence":74,"note":"Similarity:
        name=75; authorship=0; classification=-2; rank=0; status=1","matchType":"FUZZY","kingdom":"Plantae","phylum":"Tracheophyta","order":"Asparagales","family":"Amaryllidaceae","genus":"Acis","kingdomKey":6,"phylumKey":7707728,"classKey":196,"orderKey":1169,"familyKey":7682,"genusKey":8347994,"synonym":false,"class":"Liliopsida"},[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/species/1334757?limit=20
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(taxize/1.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"key":1334757,"nubKey":1334757,"nameKey":837474,"taxonID":"gbif:1334757","sourceTaxonKey":173465646,"kingdom":"Animalia","phylum":"Arthropoda","order":"Hymenoptera","family":"Apidae","genus":"Apis","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":1457,"familyKey":4334,"genusKey":1334757,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ddf754f-d193-4cc9-b351-99906754a03b","parentKey":4334,"parent":"Apidae","scientificName":"Apis
        Linnaeus, 1758","canonicalName":"Apis","authorship":"Linnaeus, 1758","nameType":"SCIENTIFIC","rank":"GENUS","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","publishedIn":"Linnaeus,
        C. (1758). Systema Naturae per Regna Tria Naturae, Secundum Classes, Ordines,
        Genera, Species, cum Characteribus, Differentiis, Synonymis, Locis. 10th edition.","numDescendants":69,"lastCrawled":"2021-03-03T06:32:33.335+0000","lastInterpreted":"2021-03-03T05:32:25.038+0000","issues":[],"synonym":false,"class":"Insecta"}'
  recorded_at: 2021-09-15 22:44:57 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.gbif.org/v1/species/1334757/children?limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(taxize/1.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":100,"endOfRecords":true,"results":[{"key":9414554,"nameKey":16749747,"taxonID":"gbif:9414554","sourceTaxonKey":121403639,"kingdom":"Animalia","phylum":"Arthropoda","order":"Hymenoptera","family":"Apidae","genus":"Apis","species":"Apidae
        melisuga","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":1457,"familyKey":4334,"genusKey":1334757,"speciesKey":9414554,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"c33ce2f2-c3cc-43a5-a380-fe4526d63650","parentKey":1334757,"parent":"Apis","scientificName":"Apidae
        melisuga (Handlirsch, 1907)","canonicalName":"Apidae melisuga","authorship":"
        (Handlirsch, 1907)","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","numDescendants":0,"lastCrawled":"2021-03-03T06:32:33.335+0000","lastInterpreted":"[...]
