http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Pinus&strict=FALSE&verbose=TRUE&limit=500
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/5.2.2 crul/1.5.0 rOpenSci(taxize/0.9.102)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"confidence":100,"note":"Multiple equal matches for Pinus","matchType":"NONE","alternatives":[{"usageKey":2684241,"scientificName":"Pinus
        L.","canonicalName":"Pinus","rank":"GENUS","status":"ACCEPTED","confidence":99,"note":"Similarity:
        name=100; authorship=0; classification=-2; rank=0; status=1; score=99","matchType":"EXACT","kingdom":"Plantae","phylum":"Tracheophyta","order":"Pinales","family":"Pinaceae","genus":"Pinus","kingdomKey":6,"phylumKey":7707728,"classKey":194,"orderKey":640,"familyKey":3925,"genusKey":2684241,"synonym":false,"class":"Pinopsida"},{"usageKey":3243387,"acceptedUsageKey":4604234,"scientificName":"Pinus
        Perry, 1811","canonicalName":"Pinus","rank":"GENUS","status":"SYNONYM","confidence":98,"note":"Similarity:
        name=100; authorship=0; classification=-2; rank=0; status=0; score=98","matchType":"EXACT","kingdom":"Animalia","phylum":"Mollusca","order":"Neogastropoda","family":"Fasciolariidae","genus":"Clavilithes","kingdomKey":1,"phylumKey":52,"classKey":225,"orderKey":982,"familyKey":6776,"genusKey":4604234,"synonym":true,"class":"Gastropoda"},{"usageK[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/species/2684241?limit=20
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/5.2.2 crul/1.5.0 rOpenSci(taxize/0.9.102)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"key":2684241,"nubKey":2684241,"nameKey":8767939,"taxonID":"gbif:2684241","kingdom":"Plantae","phylum":"Tracheophyta","order":"Pinales","family":"Pinaceae","genus":"Pinus","kingdomKey":6,"phylumKey":7707728,"classKey":194,"orderKey":640,"familyKey":3925,"genusKey":2684241,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ddf754f-d193-4cc9-b351-99906754a03b","parentKey":3925,"parent":"Pinaceae","scientificName":"Pinus
        L.","canonicalName":"Pinus","vernacularName":"pine","authorship":"L.","nameType":"SCIENTIFIC","rank":"GENUS","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","publishedIn":"Sp.
        Pl.: 1000 (1753)","numDescendants":531,"lastCrawled":"2023-08-22T23:20:59.545+00:00","lastInterpreted":"2023-08-22T23:18:25.893+00:00","issues":[],"class":"Pinopsida"}'
  recorded_at: 2024-09-06 19:54:31 GMT
  recorded_with: vcr/1.6.0.91, webmockr/1.0.0
- request:
    method: get
    uri: https://api.gbif.org/v1/species/2684241/children?limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/5.2.2 crul/1.5.0 rOpenSci(taxize/0.9.102)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":100,"endOfRecords":false,"results":[{"key":9020463,"nubKey":9020463,"nameKey":56300681,"taxonID":"gbif:9020463","sourceTaxonKey":184973933,"kingdom":"Plantae","phylum":"Tracheophyta","order":"Pinales","family":"Pinaceae","genus":"Pinus","species":"Ophioglossum
        granulatum","kingdomKey":6,"phylumKey":7707728,"classKey":194,"orderKey":640,"familyKey":3925,"genusKey":2684241,"speciesKey":9020463,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"c33ce2f2-c3cc-43a5-a380-fe4526d63650","parentKey":2684241,"parent":"Pinus","scientificName":"Ophioglossum
        granulatum (Heer, 1883)","canonicalName":"Ophioglossum granulatum","authorship":"(Heer,
        1883) ","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","numDescendants":0,"lastCrawled":"2023-08-22T23:20:59.545+00:00","lastInterpre[...]
