http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Apis&strict=FALSE&verbose=TRUE&limit=500
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/5.2.2 crul/1.5.0 rOpenSci(taxize/0.9.102)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"usageKey":1334757,"scientificName":"Apis Linnaeus, 1758","canonicalName":"Apis","rank":"GENUS","status":"ACCEPTED","confidence":94,"note":"Similarity:
        name=100; authorship=0; classification=-2; rank=0; status=1; score=99; nextMatch=3","matchType":"EXACT","alternatives":[{"usageKey":7799978,"scientificName":"Apis","canonicalName":"Apis","rank":"GENUS","status":"DOUBTFUL","confidence":90,"note":"Similarity:
        name=100; authorship=0; classification=-2; rank=0; status=-5; score=93","matchType":"EXACT","kingdom":"Animalia","genus":"Apis","kingdomKey":1,"genusKey":7799978,"synonym":false},{"usageKey":12354605,"scientificName":"Apis
        Fabricius","canonicalName":"Apis","rank":"GENUS","status":"DOUBTFUL","confidence":90,"note":"Similarity:
        name=100; authorship=0; classification=-2; rank=0; status=-5; score=93","matchType":"EXACT","kingdom":"Animalia","phylum":"Arthropoda","order":"Hymenoptera","family":"Apidae","genus":"Apis","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":1457,"familyKey":4334,"genusKey":12354605,"synonym":false,"class":"Insecta"},{"usageKey":8347994,"scientificName":"Acis
        Salisb.","canonicalName":"Acis","rank":"GENUS","status":"ACCEPTED","confidence":74,"note":"Similarity:
        name=75; authorship=0; classification=-2; rank=0; status=1; score=74","matchType":"FUZZY","kingdom":"Plantae","phylum":"Tracheophyta","order":"Asparagales","family":"Amaryllidaceae","genus":"Acis","kingdomKey":6,"phylumKey":7707728,"classKey":196,"orderKey":1169,"familyKey":7682,"genusKey":8347994,"synonym":false,"class":"Lil[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/species/1334757?limit=20
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/5.2.2 crul/1.5.0 rOpenSci(taxize/0.9.102)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"key":1334757,"nubKey":1334757,"nameKey":837474,"taxonID":"gbif:1334757","sourceTaxonKey":173465646,"kingdom":"Animalia","phylum":"Arthropoda","order":"Hymenoptera","family":"Apidae","genus":"Apis","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":1457,"familyKey":4334,"genusKey":1334757,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ddf754f-d193-4cc9-b351-99906754a03b","parentKey":4334,"parent":"Apidae","scientificName":"Apis
        Linnaeus, 1758","canonicalName":"Apis","vernacularName":"honey bee","authorship":"Linnaeus,
        1758","nameType":"SCIENTIFIC","rank":"GENUS","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","publishedIn":"Linnæus,
        Carolus. 1758. Systema naturae per regna tria naturae, secundum classes, ordines,
        genera, species, cum characteribus, differentiis, synonymis, locis. Laurentii
        Salvii, Holmiae. Vol. Tomus I, Editio decima, reformata: i-ii, 1-824.","numDescendants":75,"lastCrawled":"2023-08-22T23:20:59.545+00:00","lastInterpreted":"2023-08-22T22:29:58.642+00:00","issues":[],"class":"Insecta"}'
  recorded_at: 2024-09-05 16:40:31 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
- request:
    method: get
    uri: https://api.gbif.org/v1/species/1334757/children?limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/5.2.2 crul/1.5.0 rOpenSci(taxize/0.9.102)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":100,"endOfRecords":true,"results":[{"key":9414554,"nubKey":9414554,"nameKey":16749747,"taxonID":"gbif:9414554","sourceTaxonKey":121403639,"kingdom":"Animalia","phylum":"Arthropoda","order":"Hymenoptera","family":"Apidae","genus":"Apis","species":"Apidae
        melisuga","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":1457,"familyKey":4334,"genusKey":1334757,"speciesKey":9414554,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"c33ce2f2-c3cc-43a5-a380-fe4526d63650","parentKey":1334757,"parent":"Apis","scientificName":"Apidae
        melisuga (Handlirsch, 1907)","canonicalName":"Apidae melisuga","authorship":"(Handlirsch,
        1907) ","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","numDescendants":0,"lastCrawled":"2023-08-22T23:20:59.545+00:00","lastInterpreted":[...]
