http_interactions:
- request:
    method: get
    uri: http://www.catalogueoflife.org/col/webservice?id=015be25f6b061ba517f495394b80f108&response=full
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <results id="015be25f6b061ba517f495394b80f108" name="" total_number_of_results="1" number_of_results_returned="1" start="0" error_message="" version="1.9 rev 2126ab0" rank="">
          <result>
            <id>015be25f6b061ba517f495394b80f108</id>
            <name>Apis</name>
            <rank>Genus</rank>
            <name_status>accepted name</name_status>
            <name_html><i>Apis</i></name_html>
            <url>http://www.catalogueoflife.org/col/browse/tree/id/015be25f6b061ba517f495394b80f108</url>
            <is_extinct>false</is_extinct>
            <classification>
              <taxon>
                <id>5ede24b0534ebd5e1f552d5b9f874a6a</id>
                <name>Animalia</name>
                <rank>Kingdom</rank>
                <name_html>Animalia</name_html>
                <url>http://www.catalogueoflife.org/col/browse/tree/id/5ede24b0534ebd5e1f552d5b9f874a6a</url>
              </taxon>
              <taxon>
                <id>89ac18bfcf1654a9662a600ba06bb494</id>
                <name>Arthropoda</name>
                <rank>Phylum</rank>
                <name_html>Ar[...]
[...]
