http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Achlya&strict=FALSE&verbose=TRUE&limit=500
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(taxize/1.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"confidence":100,"note":"Multiple equal matches for Achlya","matchType":"NONE","alternatives":[{"usageKey":1952222,"scientificName":"Achlya
        Billberg, 1820","canonicalName":"Achlya","rank":"GENUS","status":"ACCEPTED","confidence":99,"note":"Similarity:
        name=100; authorship=0; classification=-2; rank=0; status=1","matchType":"EXACT","kingdom":"Animalia","phylum":"Arthropoda","order":"Lepidoptera","family":"Drepanidae","genus":"Achlya","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":797,"familyKey":7294,"genusKey":1952222,"synonym":false,"class":"Insecta"},{"usageKey":3203100,"scientificName":"Achlya
        Nees","canonicalName":"Achlya","rank":"GENUS","status":"ACCEPTED","confidence":99,"note":"Similarity:
        name=100; authorship=0; classification=-2; rank=0; status=1","matchType":"EXACT","kingdom":"Chromista","phylum":"Oomycota","order":"Saprolegniales","family":"Saprolegniaceae","genus":"Achlya","kingdomKey":4,"phylumKey":32,"classKey":8179345,"orderKey":1031,"familyKey":4789,"genusKey":3203100,"synonym":false,"class":"Peronosp[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/species/1952222?limit=20
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(taxize/1.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"key":1952222,"nubKey":1952222,"nameKey":122655,"taxonID":"gbif:1952222","sourceTaxonKey":173274095,"kingdom":"Animalia","phylum":"Arthropoda","order":"Lepidoptera","family":"Drepanidae","genus":"Achlya","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":797,"familyKey":7294,"genusKey":1952222,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"d8fb1600-d636-4b35-aa0d-d4f292c1b424","parentKey":7294,"parent":"Drepanidae","scientificName":"Achlya
        Billberg, 1820","canonicalName":"Achlya","authorship":"Billberg, 1820","nameType":"SCIENTIFIC","rank":"GENUS","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","publishedIn":"Enum.
        Insect. in Mus. Blbg.","numDescendants":14,"lastCrawled":"2021-03-03T06:32:33.335+0000","lastInterpreted":"2021-03-03T05:35:25.393+0000","issues":[],"synonym":false,"class":"Insecta"}'
  recorded_at: 2021-09-15 22:44:55 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.gbif.org/v1/species/1952222/children?limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(taxize/1.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":100,"endOfRecords":true,"results":[{"key":3276352,"nubKey":3276352,"nameKey":123121,"taxonID":"gbif:3276352","sourceTaxonKey":173274100,"kingdom":"Animalia","phylum":"Arthropoda","order":"Lepidoptera","family":"Drepanidae","genus":"Achlya","species":"Achlya
        flavicornis","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":797,"familyKey":7294,"genusKey":1952222,"speciesKey":3276352,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"d8fb1600-d636-4b35-aa0d-d4f292c1b424","parentKey":1952222,"parent":"Achlya","basionymKey":9079831,"basionym":"Phalaena
        flavicornis Linnaeus, 1758","scientificName":"Achlya flavicornis (Linnaeus,
        1758)","canonicalName":"Achlya flavicornis","authorship":" (Linnaeus, 1758)","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","numDescendants":7,"lastCrawled":"2021-03-03T06:32:33.335+0000","lastInterpreted":"2021-03-03T05:35:25.401+0000","issues":[],"synonym":false,"class":"Insecta"},{"key":5142926,"nubKey":5142926,"na[...]
