http_interactions:
- request:
    method: get
    uri: https://eol.org/api/search/1.0.json?q=Ursus%2Bamericanus&page=1
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(taxize/0.9.92.93)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      etag: W/"4ce59a3d09b2818c6832eb6e849b24a5"
    body:
      encoding: UTF-8
      file: no
      string: '{"totalResults":18,"startIndex":1,"itemsPerPage":50,"results":[{"id":328582,"title":"Ursus
        americanus","link":"https://eol.org/pages/328582","content":""},{"id":1268223,"title":"Ursus
        americanus kermodei","link":"https://eol.org/pages/1268223","content":""},{"id":1268225,"title":"Ursus
        americanus pugnax","link":"https://eol.org/pages/1268225","content":""},{"id":1265749,"title":"Ursus
        americanus carlottae","link":"https://eol.org/pages/1265749","content":""},{"id":1265952,"title":"Ursus
        americanus cinnamomum","link":"https://eol.org/pages/1265952","content":""},{"id":1285957,"title":"Ursus
        americanus mac[...]
