http_interactions:
- request:
    method: get
    uri: https://eol.org/api/data_objects/1.0/7561533.json?taxonomy=false
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/5.2.2 crul/1.5.0 rOpenSci(taxize/0.9.102)
  response:
    status:
      status_code: '503'
      message: Service Unavailable
      explanation: The server cannot process the request due to a high load
    headers:
      status: HTTP/1.1 503 Backend fetch failed
      content-type: text/html; charset=utf-8
      retry-after: '5'
    body:
      encoding: ''
      file: no
      string: |
        <!DOCTYPE html>
        <html>
          <head>
            <title>503 Backend fetch failed</title>
          </head>
          <body>
            <h1>Error 503 Backend fetch failed</h1>
            <p>Backend fetch failed</p>
            <h3>Guru Meditation:</h3>
            <p>XID: 110695</p>
            <hr>
            <p>Varnish cache server</p>
          </body>
        </html>
  recorded_at: 2024-09-05 16:40:40 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
