http_interactions:
- request:
    method: get
    uri: https://eol.org/api/search/1.0.json?q=Ursus%2Bamericanus&page=1
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/5.2.2 crul/1.5.0 rOpenSci(taxize/0.9.102)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      etag: W/"14097cb19e5cf1f12cc44805c33d6fc8"
    body:
      encoding: ''
      file: no
      string: '{"totalResults":23,"startIndex":1,"itemsPerPage":50,"results":[{"id":1282475,"title":"Ursus
        americanus perniger","link":"https://eol.org/pages/1282475","content":""},{"id":1267499,"title":"Ursus
        americanus vancouveri","link":"https://eol.org/pages/1267499","content":""},{"id":1267501,"title":"Ursus
        americanus hamiltoni","link":"https://eol.org/pages/1267501","content":""},{"id":1268003,"title":"Ursus
        americanus eremicus","link":"https://eol.org/pages/1268003","content":""},{"id":1268225,"title":"Ursus
        americanus pugnax","link":"https://eol.org/pages/1268225","content":""},{"id":1268223,"title":"Ursus
        americanus ker[...]
