http_interactions:
- request:
    method: get
    uri: https://eol.org/api/data_objects/1.0/7561533.json?taxonomy=true
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(taxize/0.9.92.93)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      etag: W/"ba96ff8b788fbf84fbe4cadf1f868d0d"
    body:
      encoding: UTF-8
      file: no
      string: '{"taxon":{"identifier":46554351,"scientificName":"Aurelia aurita (Linnaeus,
        1758)","richness_score":null,"dataObjects":[{"identifier":"EOL-media-509-12138291","dataObjectVersionID":7561533,"dataType":"http://purl.org/dc/dcmitype/StillImage","dataSubtype":"jpg","vettedStatus":"Trusted","dataRatings":"","dataRating":"2.5","mimeType":"image/jpeg","created":"2018-04-05T10:48:10.000Z","modified":"2019-08-14T06:52:12.000Z","title":"Aurelia
        aurita (auge24eu).jpg","license":"http://creativecommons.org/licenses/by/3.0/","license_id":11,"rightsHolder":"Andreas
        Augstein","source":"https://commons.wikimedia.org/wiki/File:Aurelia_aurita_(auge24eu).jpg","mediaURL":"https://upload.wikimedia.org/wikipedia/commons/4/4e/Aurelia_aurita_(auge24eu).jpg","description":"Summary[\u003ca
        href=\"https://commons.wikimedia.org/w/index.php?title=API\u0026amp;action=edit\u0026amp;section=1\"
        title=\"Edit section: Summary\"\u003eedit\u003c/a\u003e]   DescriptionAPI  English:
        This image shows two moon jelly fish (Aurelia aurita). Deutsch: Dieses Bild
        zeigt zwei Ohrenquallen (Aurelia aurita).    Date 15 November 2009   Source
        Own work selbst fotografiert; Ort: Aquarium Berlin.   Author \u003ca href=\"https://commons.wikimedia.org/w/index.php?title=Benutzer:Andreas_Augstein\u0026amp;action=edit\u0026amp;redlink=1\"
        title=\"Benutzer:Andreas Augstein\"\u003eAndreas Augstein\u003c/a\u003e  ","eolMediaURL":"https://content.eol.org/data/media/55/a9/97/509.12138291.jpg","eolThumbnailURL":"https://content.eol.org/data/media/55/a9/97/509.12138291.98x68.jpg","agents":[{"full_name":"Andreas
        Augstein","homepage":"https://commons.wikimedia.org/w/index.php?title=Benutzer:Andreas_Augstein\u0026action=edit\u0026redlink=1","role":"creator"},{"full_name":"Own
        work selbst fotografiert; Ort: Aquarium Berlin.","homepage":null,"role":"source"},{"full_name":"Wikimedia
        Commons","homepage":null,"role":"provider"}]}]},"taxonConcepts":[{"identifier":2731383,"scientificName":"Aurelia
        aurita","name":"Aurelia aurita","nameAccordingTo":"Flickr BHL","canonicalForm":"\u003ci\u003eAurelia
        aurita\u003c/i\u003e","sourceIdentifier":"441a04e6c4fe1c06d9dd98daa967cc29"},{"identifier":6186418,"scientificName":"Aurelia
        aurita (Linnaeus, 1758)","name":"Aurelia aurita (Linnaeus, 1758)","nameAccordingTo":"EOL
        Dynamic Hierarchy 0.9","canonicalForm":"\u003ci\u003eAurelia aurita\u003c/i\u003e","sourceIdentifier":"-150366","taxonRank":"species"},{"identifier":10239192,"scientificName":"Aurelia
        aurita","name":"Aurelia aurita","nameAccordingTo":"iNaturalist","canonicalForm":"\u003ci\u003eAurelia
        aurita\u003c/i\u003e","sourceIdentifier":"https://www.inaturalist.org/taxa/48328"},{"identifier":19173695,"scientificName":"Aurelia
        aurita","name":"Aurelia aurita","nameAccordingTo":"Ceram Sea Species List","canonicalForm":"\u003ci\u003eAurelia
        aurita\u003c/i\u003e","sourceIdentifier":"T102723","taxonRank[...]
