http_interactions:
- request:
    method: get
    uri: https://eol.org/api/search/1.0.json?q=Ursus%2Bamericanus&page=1
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(taxize/1.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      etag: W/"c4665ae7ac9f180101f721c3baee1e3c"
    body:
      encoding: UTF-8
      file: no
      string: '{"totalResults":18,"startIndex":1,"itemsPerPage":50,"results":[{"id":1268223,"title":"Ursus
        americanus kermodei","link":"https://eol.org/pages/1268223","content":""},{"id":1268225,"title":"Ursus
        americanus pugnax","link":"https://eol.org/pages/1268225","content":""},{"id":1265749,"title":"Ursus
        americanus carlottae","link":"https://eol.org/pages/1265749","content":""},{"id":1268003,"title":"Ursus
        americanus eremicus","link":"https://eol.org/pages/1268003","content":""},{"id":1267501,"title":"Ursus
        americanus hamiltoni","link":"https://eol.org/pages/1267501","content":""},{"id":1285957,"title":"Ursus
        americanus mach[...]
