http_interactions:
- request:
    method: get
    uri: https://eol.org/api/pages/1.0/44915.json?subjects=overview&licenses=all&details=false&common_names=false&synonyms=false&references=false&taxonomy=TRUE&vetted=0
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(taxize/0.9.92.93)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      etag: W/"e4ae51e75e953ea7e328b8cb45dec73d"
    body:
      encoding: UTF-8
      file: no
      string: '{"taxonConcept":{"identifier":44915,"scientificName":"Helianthus","richness_score":null,"taxonConcepts":[{"identifier":2725973,"scientificName":"Helianthus","name":"Helianthus","nameAccordingTo":"Flickr
        BHL","canonicalForm":"Helianthus","sourceIdentifier":"Helianthus"},{"identifier":7977041,"scientificName":"Helianthus","name":"Helianthus","nameAccordingTo":"EOL
        Dynamic Hierarchy 0.9","canonicalForm":"Helianthus","sourceIdentifier":"-641379","taxonRank":"genus"},{"identifier":10174108,"scientificName":"Helianthus","name":"Helianthus","nameAccordingTo":"iNaturalist","canonicalForm":"Helianthus","sourceIdentifier":"Helianthus"},{"identifier":14722459,"scientificName":"Helianthus","name":"Helianthus","nameAccordingTo":"Jordan
        Species List","canonicalForm":"Helianthus","sourceIdentifier":"T102000","taxonRank":"genus"},{"identifier":20914157,"scientificName":"Helianthus","name":"Helianthus","nameAccordingTo":"Barcode
        of Life Data Sys[...]
