http_interactions:
- request:
    method: get
    uri: https://eol.org/api/search/1.0.json?q=Pomatomus&page=1
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(taxize/0.9.92.93)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      etag: W/"43a7eb0b1bc59a0dfd472500195752e1"
    body:
      encoding: UTF-8
      file: no
      string: '{"totalResults":6,"startIndex":1,"itemsPerPage":50,"results":[{"id":46578889,"title":"Pomatomus","link":"https://eol.org/pages/46578889","content":"Pomatomus;
        Pomatomus LacepÃ¨de, 1802; Pomatomus Lacepède, 1802; Pomatomus Lacépède, 1802"},{"id":46578890,"title":"Pomatomus
        saltatrix","link":"https://eol.org/pages/46578890","content":"Pomatomus saltatrix;
        Pomatomus saltatrix (Linnaeus, 1766); Pomatomus saltatrix (L.) (1758); Pomatomus
        saltatrix (Linnaeus, 1766) ; Pomatomus saltator (Linnaeus, 1766); Pomatomus
        pedica Whitley, 1931; Pomatomus skib Lacepède, 1802; Pomatomus saltator; Pomatomus
        pedica; \u003ci\u003ePomatomus saltatrix\u003c/i\u003e; \u003ci\u003ePomatomus
        saltator\u003c/i\u003e; \u003ci\u003ePomatomus pedica\u003c/i\u003e; \u003ci\u003ePomatomus
        skib\u003c/i\u003e"},{"id":48943882,"title":"Pomatomus saltator","link":"https://eol.org/pages/48943882","content":"Pomatomus
        saltator"},{"id":46578379,"title":"Epigonus telescopus","link":"https://eol.org/pages/46578379","content":"Pomatomus
        telescopus Risso, 1810; Pomatomus telescopium Risso, 1810; Pomatomus cuvieri
        Cocco, 1829; Pomatomus cuvierii Cocco, 1829; Pomatomus telescopus; \u003ci\u003ePomatomus
        telescopus\u003c/i\u003e; \u003ci\u003ePomatomus telescopium\u003c/i\u003e;
        \u003ci\u003ePomatomus cuvieri\u003c/i\u003e; \u003ci\u003ePomatomus cuvierii\u003c/i\u003e"},{"id":47364517,"title":"Pomatomus
        saltatrix","link":"https://eol.org/pages/47364517","content":"Pomatomus saltatrix"}]}'
  recorded_at: 2020-03-06 18:03:31 GMT
  recorded_with: vcr/0.5.0, webmockr/0.6.0
- request:
    method: get
    uri: https://eol.org/api/search/1.0.json?q=Helianthus&page=1
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(taxize/0.9.92.93)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      etag: W/"32ec24b0bc2aa9e87ff0063bda48a23f"
    body:
    [...]
- request:
    method: get
    uri: https://eol.org/api/pages/1.0/46578889.json?subjects=overview&licenses=all&details=false&common_names=false&synonyms=false&references=false&taxonomy=TRUE&vetted=0
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(taxize/0.9.92.93)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      etag: W/"00a990fa038ed70648530f8d42084b81"
    body:
      encoding: UTF-8
      file: no
      string: '{"taxonConcept":{"identifier":46578889,"scientificName":"Pomatomus","richness_score":null,"taxonConcepts":[{"identifier":7214190,"scientificName":"Pomatomus
        LacepÃ¨de, 1802","name":"Pomatomus LacepÃ¨de, 1802","nameAccordingTo":"EOL
        Dynamic Hierarchy 0.9","canonicalForm":"Pomatomus","sourceIdentifier":"-2438676","taxonRank":"genus"},{"identifier":10244932,"scientificName":"Pomatomus","name":"Pomatomus","nameAccordingTo":"iNaturalist","canonicalForm":"Pomatomus","sourceIdentifier":"Pomatomus"},{"identifier":17116813,"scientificName":"Pomatomus","name":"Pomatomus","nameAccordingTo":"Aegean
        Sea Species List","canonicalForm":"Pomatomus","sourceIdentifier":"T102857","taxonRank":"genus"},{"identifier":20016877,"scientificName":"Pomatomus","name":"Pomatomus","nameAccordingTo":"NMNH
        Fishes","canonicalForm":[...]
