http_interactions:
- request:
    method: get
    uri: https://cybertaxonomy.org/eu-bon/utis/1.3/search?query=Prionus&providers=pesi&searchMode=scientificNameExact&addSynonymy=false&addParentTaxon=false&timeout=0&pageSize=20&pageIndex=0
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/6.1.0 crul/1.5.0 rOpenSci(taxize/0.9.102)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"query":[{"request":{"queryString":"Prionus","searchMode":"scientificNameExact","addSynonymy":false,"addParentTaxon":false,"pageSize":20,"pageIndex":0},"response":[{"taxon":{"taxonName":{"scientificName":"Prionus
        Geoffroy, 1762","canonicalName":"Prionus","atomisedName":null,"authorship":"Geoffroy,
        1762","rank":"Genus","nomenclaturalReference":null},"accordingTo":"FaEu_v2.6.1
        export for PESI","url":"http://www.eu-nomen.eu/portal/taxon.php?GUID=urn:lsid:faunaeur.org:taxname:115091","taxonomicStatus":"accepted","identifier":"urn:lsid:faunaeur.org:taxname:115091"},"otherNames":[],"vernacularNames":[],"checklist":"PESI","checklistId":"pesi","checklistUrl":"http://www.eu-nomen.eu/portal/index.php","checklistVersion":null,"checklistCitation":null,"matchingNameString":"Prionus
        Geoffroy, 1762","matchingNameType":"TAXON","synonyms":[]}],"clientStatus":[{"checklistId":"pesi","duration":282,"statusMessage":"ok"}]}]}'
  recorded_at: 2025-01-16 22:16:56 GMT
  recorded_with: vcr/1.6.0.91, webmockr/1.0.0
- request:
    method: get
    uri: https://cybertaxonomy.org/eu-bon/utis/1.3/search?query=Salmo&providers=pesi%2Cworms&searchMode=scientificNameExact&addSynonymy=false&addParentTaxon=false&timeout=0&pageSize=20&pageIndex=0
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/6.1.0 crul/1.5.0 rOpenSci(taxize/0.9.102)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"query":[{"request":{"queryString":"Salmo","searchMode":"scientificNameExact","addSynonymy":false,"addParentTaxon":false,"pageSize":20,"pageIndex":0},"response":[{"taxon":{"taxonName":{"scientificName":"Salmo
        Linnaeus, 1758","canonicalName":"Salmo","atomisedName":null,"authorship":"Linnaeus,
        1758","rank":"Genus","nomenclaturalReference":null},"accordingTo":"ERMS export
        for PESI","url":"http://www.eu-nomen.eu/portal/taxon.php?GUID=urn:lsid:marinespecies.org:taxname:126141","taxonomicStatus":"accepted","sources":[{"url":null,"identifier":"http://gdz.sub.uni-goettingen.de/no_cache/dms/load/toc/?IDDOC=265100","datasetName":null,"name":null,"title":"Linnaeus,
        C. (1758). Systema Naturae per regna tria naturae, secundum classes, ordines,
        genera, species, cum characteribus, differentiis, synonymis, locis. Editio
        decima, reformata. Laurentius Salvius: Holmiae. ii, 824 pp."},{"url":null,"identifier":null,"datasetName":null,"name":null,"title":"FishBase,
        version october 2012"},{"url":null,"identifier":"http://researcharchive.calacademy.org/research/Ichthyology/catalog/fishcatmain.asp","datasetName":null,"name":null,"title":"Eschmeyer,
        W.: Catalog of fishes; California Academy of Sciences, department Ichtyology."},{"url":null,"identifier":null,"datasetName":null,"name":null,"title":"van
        der Land, J.; Costello, M.J.; Zavodnik, D.; Santos, R.S.; Porteiro, F.M.;
        Bailly, N.; Eschmeyer, W.N.; Froese, R. (2001). Pisces, <B><I>in</I></B>:
        Costello, M.J. <i>et al.</i> (Ed.) (2001). <i>European register of marine
        species: a check-list of the marine species in Europe and a bibliography of
        guides to their identification. Collection Patrimoines Naturels,</i> 50: pp.
        357-374"}],"identifier":"urn:lsid:marinespecies.org:taxname:126141"},"otherNames":[],"vernacularNames":[],"checklist":"PESI","checklistId":"pesi","checklistUrl":"http://www.eu-nomen.eu/portal/index.php","checklistVersion":null,"checklistCitation":null,"matchingNameString":"Salmo
        Linnaeus, 1758","matchingNameType":"TAXON","synonyms":[]}],"clientStatus":[{"checklistId":"pesi","duration":187,"statusMessage":"ok"},{"checklistId":"worms","duration":null,"statusMessage":"ok"}]}]}'
  recorded_at: 2025-01-16 22:16:56 GMT
  recorded_with: vcr/1.6.0.91, webmockr/1.0.0
