http_interactions:
- request:
    method: get
    uri: https://cybertaxonomy.eu/eu-bon/utis/1.3/search?query=Prionus&providers=pesi&searchMode=scientificNameExact&addSynonymy=false&addParentTaxon=false&timeout=0&pageSize=20&pageIndex=0
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(taxize/1.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"query":[{"request":{"queryString":"Prionus","searchMode":"scientificNameExact","addSynonymy":false,"addParentTaxon":false,"pageSize":20,"pageIndex":0},"response":[{"taxon":{"taxonName":{"scientificName":"Prionus
        Geoffroy, 1762","canonicalName":"Prionus","atomisedName":null,"authorship":"Geoffroy,
        1762","rank":"Genus","nomenclaturalReference":null},"accordingTo":"FaEu_v2.6.1
        export for PESI","url":"http://www.eu-nomen.eu/portal/taxon.php?GUID=urn:lsid:faunaeur.org:taxname:115091","taxonomicStatus":"accepted","identifier":"urn:lsid:faunaeur.org:taxname:115091"},"otherNames":[],"vernacularNames":[],"checklist":"PESI","checklistId":"pesi","checklistUrl":"http://www.eu-nomen.eu/portal/index.php","checklistVersion":null,"checklistCitation":null,"matchingNameString":"Prionus
        Geoffroy, 1762","matchingNameType":"TAXON","synonyms":[]}],"clientStatus":[{"checklistId":"pesi","duration":236,"statusMessage":"ok"}]}]}'
  recorded_at: 2021-09-15 22:45:19 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://cybertaxonomy.eu/eu-bon/utis/1.3/search?query=Salmo&providers=worms&searchMode=scientificNameExact&addSynonymy=false&addParentTaxon=false&timeout=0&pageSize=20&pageIndex=0
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(taxize/1.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"query":[{"request":{"queryString":"Salmo","searchMode":"scientificNameExact","addSynonymy":false,"addParentTaxon":false,"pageSize":20,"pageIndex":0},"response":[{"taxon":{"taxonName":{"scientificName":"Salmo
        Linnaeus, 1758","canonicalName":"Salmo","atomisedName":null,"authorship":"Linnaeus,
        1758","rank":"Genus","nomenclaturalReference":null},"url":"http://www.marinespecies.org/aphia.php?p=taxdetails&id=126141","taxonomicStatus":"accepted","sources":[{"url":"http://www.marinespecies.org/aphia.php?p=taxdetails&id=126141","identifier":"","datasetName":"","name":"","title":null}],"identifier":"urn:lsid:marinespecies.org:taxname:126141"},"otherNames":[],"vernacularNames":[],"checklist":"WoRMS","checklistId":"worms","checklistUrl":"http://www.marinespecies.org/index.php","checklistVersion":null,"checklistCitation":null,"matchingNameString":"Salmo
        Linnaeus, 1758","matchingNameType":"TAXON","synonyms":[]}],"clientStatus":[{"checklistId":"worms","duration":401,"statusMessage":"ok"}]}]}'
  recorded_at: 2021-09-15 22:45:19 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://cybertaxonomy.eu/eu-bon/utis/1.3/search?query=Salmo&providers=pesi%2Cworms&searchMode=scientificNameExact&addSynonymy=false&addParentTaxon=false&timeout=0&pageSize=20&pageIndex=0
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(taxize/1.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"query":[{"request":{"queryString":"Salmo","searchMode":"scientificNameExact","addSynonymy":false,"addParentTaxon":false,"pageSize":20,"pageIndex":0},"response":[{"taxon":{"taxonName":{"scientificName":"Salmo
        Linnaeus, 1758","canonicalName":"Salmo","atomisedName":null,"authorship":"Linnaeus,
        1758","rank":"Genus","nomenclaturalReference":null},"accordingTo":"ERMS export
        for PESI","url":"http://www.eu-nomen.eu/portal/taxon.php?GUID=urn:lsid:marinespecies.org:taxname:126141","taxonom[...]
