http_interactions:
- request:
    method: get
    uri: http://www.indexfungorum.org/ixfwebservice/fungus.asmx/EpithetSearch?SearchText=phalloides&AnywhereInText=true&MaxNumber=2
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<NewDataSet>\r\n  <IndexFungorum>\r\n
        \   <NAME_x0020_OF_x0020_FUNGUS>Agaricus phalloides</NAME_x0020_OF_x0020_FUNGUS>\r\n
        \   <AUTHORS>Vaill. ex Fr.</AUTHORS>\r\n    <SPECIFIC_x0020_EPITHET>phalloides</SPECIFIC_x0020_EPITHET>\r\n
        \   <INFRASPECIFIC_x0020_RANK>sp.</INFRASPECIFIC_x0020_RANK>\r\n    <VOLUME>1</VOLUME>\r\n
        \   <PAGE>13</PAGE>\r\n    <YEAR_x0020_OF_x0020_PUBLICATION>1821</YEAR_x0020_OF_x0020_PUBLICATION>\r\n
        \   <CORRECTION>$Nhttp://www.librifungorum.org/Image.asp?ItemID=21&amp;ImageFileName=0013b.jpg</CORRECTION>\r\n
        \   <SANCTIONING_x0020_AUTHOR>Fr.$http://www.librifungorum.org/Image.asp?ItemID=21&amp;ImageFileName=0013b.jpg</SANCTIONING_x0020_AUTHOR>\r\n
        \   <SANCTIONING_x0020_REFERENCE_x0020_VOLUME>1</SANCTIONING_x0020_REFERENCE_x0020_VOLUME>\r\n
        \   <SANCTIONING_x0020_REFERENCE_x0020_PAGE>13</SANCTIONING_x0020_REFERENCE_x0020_PAGE>\r\n
        \   <SANCTIONING_x0020_REFERENCE_x0020_YEAR>1821</SANCTIONING_x0020_REFERENCE_x0020_YEAR>\r\n
        \   <SANCTIONING_x0020_REFERENCE_x0020_LITERATURE_x0020_LINK>889</SANCTIONING_x0020_REFERENCE_x0020_LITERATURE_x0020_LINK>\r\n
        \   <LITERATURE_x0020_LINK>889</LITERATURE_x0020_LINK>\r\n    <RECORD_x0020_NUMBER>452913</RECORD_x0020_NUMBER>\r\n
        \   <BASIONYM_x0020_RECORD_x0020_NUMBER>452913</BASIONYM_x0020_RECORD_x0020_NUMBER>\r\n
        \   <PROTONYM_x0020_RECORD_x0020_NUMBER>452913</PROTONYM_x0020_RECORD_x0020_NUMBER>\r\n
        \   <NAME_x0020_OF_x0020_FUNGUS_x0020_FUNDIC_x0020_RECORD_x0020_NUMBER>17030</NAME_x0020_OF_x0020_FUNGUS_x0020_FUNDIC_x0020_RECORD_x0020_NUMBER>\r\n
        \   <CURRENT_x0020_NAME>Amanita phalloides</CURRENT_x0020_NAME>\r\n    <CURRENT_x0020_NAME_x0020_RECORD_x0020_NUMBER>178962</CURRENT_x0020_NAME_x0020_RECORD_x0020_NUMBER>\r\n
        \   <CURRENT_x0020_NAME_x0020_FUNDIC_x0020_RECORD_x0020_NUMBER>17045</CURRENT_x0020_NAME_x0020_FUNDIC_x0020_RECORD_x0020_NUMBER>\r\n
        \   <GSD_x0020_FLAG>GSD25</GSD_x0020_FLAG>\r\n    <SQLTimeStamp>AAAAAAhdJ0A=</SQLTimeStamp>\r\n
        \   <UpdatedBy>IUSR_KPPIND01</UpdatedBy>\r\n    <AddedBy>CABI_UK\\kirk</AddedBy>\r\n
        \   <UpdatedDate>2015-06-21T08:19:02.11+01:00</UpdatedDate>\r\n    <AddedDate>2001-01-12T07:55:00+00:00</AddedDate>\r\n
        \   <UUID>1cb1aea7-36b9-11d5-9548-00d0592d548c</UUID>\r\n  </IndexFungorum>\r\n
        \ <IndexFungorum>\r\n    <NAME_x0020_OF_x0020_FUNGUS>Agaricus phalloides</NAME_x0020_OF_x0020_FUNGUS>\r\n
        \   <AUTHORS>Bull.</AUTHORS>\r\n    <SPECIFIC_x0020_EPITHET>phalloides</SPECIFIC_x0020_EPITHET>\r\n
        \   <INFRASPECIFIC_x0020_RANK>sp.</INFRASPECIFIC_x0020_RANK>\r\n    <PAGE>tab.
        2, 577</PAGE>\r\n    <YEAR_x0020_OF_x0020_PUBLICATION>1792</YEAR_x0020_OF_x0020_PUBLICATION>\r\n
        \   <EDITORIAL_x0020_COMMENT>Unpriorable because of sanctioned name</EDITORIAL_x0020_COMMENT>\r\n
        \   <LITERATURE_x0020_LINK>7184</LITERATURE_x0020_LINK>\r\n    <RECORD_x0020_NUMBER>490346</RECORD_x0020_NUMBER>\r\n
        \   <BASIONYM_x0020_RECORD_x0020_NUMBER>490346</BASIONYM_x0020_RECORD_x0020_NUMBER>\r\n
        \   <PROTONYM_x0020_RECORD_x0020_NUMBER>490346</PROTONYM_x0020_RECORD_x0020_NUMBER>\r\n
        \   <NAME_x0020_OF_x0020_FUNGUS_x0020_FUNDIC_x0020_RECORD_x0020_NUMBER>17030</NAME_x0020_OF_x0020_FUNGUS_x0020_FUNDIC_x0020_RECORD_x0020_NUMBER>\r\n
        \   <CURRENT_x0020_NAME>Amanita phalloides</CURRENT_x0020_NAME>\r\n    <CURRENT_x0020_NAME_x0020_RECORD_x0020_NUMBER>178962</CURRENT_x0020_NAME_x0020_RECORD_x0020_NUMBER>\r\n
        \   <CURRENT_x0020_NAME_x0020_FUNDIC_x0020_RECORD_x0020_NUMBER>17045</CURRENT_x0020_NAME_x0020_FUNDIC_x0020_RECORD_x0020_NUMBER>\r\n
        \   <GSD_x0020_FLAG>GSD25</GSD_x0020_FLAG>\r\n    <UpdatedBy>IUSR_KPPIND01</UpdatedBy>\r\n
        \   <AddedBy>CABI_UK\\KIRK</AddedBy>\r\n    <UpdatedDate>2015-06-21T08:19:02.11+01:00</UpdatedDate>\r\n
        \   <AddedDate>2007-03-26T12:35:00+01:00</AddedDate>\r\n    <UUID>dc643e71-308d-4564-ba9d-42e0e7891c40</UUID>\r\n
        \ </IndexFungorum>\r\n</NewDataSet>"
  recorded_at: 2019-01-24 01:38:10 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
