http_interactions:
- request:
    method: get
    uri: https://www.indexfungorum.org/ixfwebservice/fungus.asmx/EpithetSearch?SearchText=phalloides&AnywhereInText=true&MaxNumber=2
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/6.1.0 crul/1.5.0 rOpenSci(taxize/0.9.102)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/xml; charset=utf-8
    body:
      encoding: ''
      file: no
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<NewDataSet>\r\n  <IndexFungorum>\r\n
        \   <NAME_x0020_OF_x0020_FUNGUS>Agaricus phalloides</NAME_x0020_OF_x0020_FUNGUS>\r\n
        \   <AUTHORS>Vaill. ex Fr.</AUTHORS>\r\n    <SPECIFIC_x0020_EPITHET>phalloides</SPECIFIC_x0020_EPITHET>\r\n
        \   <INFRASPECIFIC_x0020_RANK>sp.</INFRASPECIFIC_x0020_RANK>\r\n    <TYPIFICATION_x0020_DETAILS>Typification:
        Tab. 14, fig. 5 (Vaillant, par.; 'Fung. phalloid.')</TYPIFICATION_x0020_DETAILS>\r\n
        \   <VOLUME>1</VOLUME>\r\n    <PAGE>13</PAGE>\r\n    <YEAR_x0020_OF_x0020_PUBLICATION>1821</YEAR_x0020_OF_x0020_PUBLICATION>\r\n
        \   <CORRECTION>https://www.biodiversitylibrary.org/page/4338020</CORRECTION>\r\n
        \   <SANCTIONING_x0020_AUTHOR>Fr.$https://www.biodiversitylibrary.org/page/4338020</SANCTIONING_x0020_AUTHOR>\r\n
        \   <SANCTIONING_x0020_REFERENCE_x0020_VOLUME>1</SANCTIONING_x0020_REFERENCE_x0020_VOLUME>\r\n
        \   <SANCTIONING_x0020_REFERENCE_x0020_PAGE>13</SANCTIONING_x0020_REFERENCE_x0020_PAGE>\r\n
        \   <SANCTIONING_x0020_REFERENCE_x0020_YEAR>1821</SANCTIONING_x0020_REFERENCE_x0020_YEAR>\r\n
        \   <SANCTIONING_x0020_REFERENCE_x0020_LITERATURE_x0020_LINK>889</SANCTIONING_x0020_REFERENCE_x0020_LITERATURE_x0020_LINK>\r\n
        \   <LITERATURE_x0020_LINK>889</LITERATURE_x0020_LINK>\r\n    <RECORD_x0020_NUMBER>452913</RECORD_x0020_NUMBER>\r\n
        \   <BASIONYM_x0020_RECORD_x0020_NUMBER>452913</BASIONYM_x0020_RECORD_x0020_NUMBER>\r\n
        \   <PROTONYM_x0020_RECORD_x0020_NUMBER>452913</PROTONYM_x0020_RECORD_x0020_NUMBER>\r\n
        \   <NAME_x0020_OF_x0020_FUNGUS_x0020_FUNDIC_x0020_RECORD_x0020_NUMBER>17030</NAME_x0020_OF_x0020_FUNGUS_x0020_FUNDIC_x0020_RECORD_x0020_NUMBER>\r\n
        \   <CURRENT_x0020_NAME>Amanita phalloides</CURRENT_x0020_NAME>\r\n    <CURRENT_x0020_NAME_x0020_RECORD_x0020_NUMBER>178962</CURRENT_x0020_NAME_x0020_RECORD_x0020_NUMBER>\r\n
        \   <CURRENT_x0020_NAME_x0020_FUNDIC_x0020_RECORD_x0020_NUMBER>17045</CURRENT_x0020_NAME_x0020_FUNDIC_x0020_RECORD_x0020_NUMBER>\r\n
        \   <GSD_x0020_FLAG>GSD25</GSD_x0020_FLAG>\r\n    <SQLTimeStamp>AAAAAAhdJ0A=</SQLTimeStamp>\r\n
        \   <UpdatedBy>sa</UpdatedBy>\r\n    <AddedBy>CABI_UK\\kirk</AddedBy>\r\n
        \   <UpdatedDate>2023-11-07T11:41:28.243+00:00</UpdatedDate>\r\n    <AddedDate>2001-01-12T07:55:00+00:00</AddedDate>\r\n
        \   <UUID>1cb1aea7-36b9-11d5-9548-00d0592d548c</UUID>\r\n  </IndexFungorum>\r\n
        \ <IndexFungorum>\r\n    <NAME_x0020_OF_x0020_FUNGUS>Agaricus phalloides subsp.
        vernus</NAME_x0020_OF_x0020_FUNGUS>\r\n    <AUTHORS>(Bull. ex Lam.) G. Winter</AUTHORS>\r\n
        \   <SPECIFIC_x0020_EPITHET>phalloides</SPECIFIC_x0020_EPITHET>\r\n    <INFRASPECIFIC_x0020_RANK>subsp.</INFRASPECIFIC_x0020_RANK>\r\n
        \   <INFRASPECIFIC_x0020_EPITHET>vernus</INFRASPECIFIC_x0020_EPITHET>\r\n
        \   <VOLUME>1.1</VOLUME>\r\n    <PAGE>850</PAGE>\r\n    <YEAR_x0020_OF_x0020_PUBLICATION>1882</YEAR_x0020_OF_x0020_PUBLICATION>\r\n
        \   <YEAR_x0020_ON_x0020_PUBLICATION>1884</YEAR_x0020_ON_x0020_PUBLICATION>\r\n
        \   <SANCTIONING_x0020_AUTHOR>Fr.</SANCTIONING_x0020_AUTHOR>\r\n    <LITERATURE_x0020_LINK>1016</LITERATURE_x0020_LINK>\r\n
        \   <RECORD_x0020_NUMBER>654473</RECORD_x0020_NUMBER>\r\n    <BASIONYM_x0020_RECORD_x0020_NUMBER>163667</BASIONYM_x0020_RECORD_x0020_NUMBER>\r\n
        \   <PROTONYM_x0020_RECORD_x0020_NUMBER>163667</PROTONYM_x0020_RECORD_x0020_NUMBER>\r\n
        \   <NAME_x0020_OF_x0020_FUNGUS_x0020_FUNDIC_x0020_RECORD_x0020_NUMBER>17030</NAME_x0020_OF_x0020_FUNGUS_x0020_FUNDIC_x0020_RECORD_x0020_NUMBER>\r\n
        \   <CURRENT_x0020_NAME>Amanita verna</CURRENT_x0020_NAME>\r\n    <CURRENT_x0020_NAME_x0020_RECORD_x0020_NUMBER>163667</CURRENT_x0020_NAME_x0020_RECORD_x0020_NUMBER>\r\n
        \   <CURRENT_x0020_NAME_x0020_FUNDIC_x0020_RECORD_x0020_NUMBER>17045</CURRENT_x0020_NAME_x0020_FUNDIC_x0020_RECORD_x0020_NUMBER>\r\n
        \   <GSD_x0020_FLAG>GSD25</GSD_x0020_FLAG>\r\n    <UpdatedBy>sa</UpdatedBy>\r\n
        \   <UpdatedDate>2023-03-06T17:29:06.867+00:00</UpdatedDate>\r\n    <AddedDate>2022-03-21T15:04:33.727+00:00</AddedDate>\r\n
        \   <UUID>65519314-d885-4d56-994c-7d4c5692917f</UUID>\r\n  </IndexFungorum>\r\n</NewDataSet>"
  recorded_at: 2025-01-16 22:16:58 GMT
  recorded_with: vcr/1.6.0.91, webmockr/1.0.0
