http_interactions:
- request:
    method: get
    uri: http://www.indexfungorum.org/ixfwebservice/fungus.asmx/NameSearch?SearchText=Gymnopus&AnywhereInText=true&MaxNumber=2
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<NewDataSet>\r\n  <IndexFungorum>\r\n
        \   <NAME_x0020_OF_x0020_FUNGUS>Agaricus familia Gymnopus</NAME_x0020_OF_x0020_FUNGUS>\r\n
        \   <AUTHORS>Pers.</AUTHORS>\r\n    <INFRASPECIFIC_x0020_RANK>infragen.</INFRASPECIFIC_x0020_RANK>\r\n
        \   <INFRASPECIFIC_x0020_EPITHET>Gymnopus</INFRASPECIFIC_x0020_EPITHET>\r\n
        \   <PAGE>[xii]</PAGE>\r\n    <YEAR_x0020_OF_x0020_PUBLICATION>1800</YEAR_x0020_OF_x0020_PUBLICATION>\r\n
        \   <EDITORIAL_x0020_COMMENT>Published as 'familia octava'</EDITORIAL_x0020_COMMENT>\r\n
        \   <NOMENCLATURAL_x0020_COMMENT>Nom. inval., Art. 37.6 (Melbourne)</NOMENCLATURAL_x0020_COMMENT>\r\n
        \   <CORRECTION>http://gallica.bnf.fr/ark:/12148/bpt6k979062/f11.image.r=(text:Persoon)%20AND%20(categories:DroitsSpec.langEN</CORRECTION>\r\n
        \   <LITERATURE_x0020_LINK>10765</LITERATURE_x0020_LINK>\r\n    <STS_x0020_FLAG>g</STS_x0020_FLAG>\r\n
        \   <RECORD_x0020_NUMBER>700005</RECORD_x0020_NUMBER>\r\n    <BASIONYM_x0020_RECORD_x0020_NUMBER>700005</BASIONYM_x0020_RECORD_x0020_NUMBER>\r\n
        \   <PROTONYM_x0020_RECORD_x0020_NUMBER>700005</PROTONYM_x0020_RECORD_x0020_NUMBER>\r\n
        \   <NAME_x0020_OF_x0020_FUNGUS_x0020_FUNDIC_x0020_RECORD_x0020_NUMBER>17030</NAME_x0020_OF_x0020_FUNGUS_x0020_FUNDIC_x0020_RECORD_x0020_NUMBER>\r\n
        \   <CURRENT_x0020_NAME>Gymnopus</CURRENT_x0020_NAME>\r\n    <CURRENT_x0020_NAME_x0020_RECORD_x0020_NUMBER>17703</CURRENT_x0020_NAME_x0020_RECORD_x0020_NUMBER>\r\n
        \   <CURRENT_x0020_NAME_x0020_FUNDIC_x0020_RECORD_x0020_NUMBER>17703</CURRENT_x0020_NAME_x0020_FUNDIC_x0020_RECORD_x0020_NUMBER>\r\n
        \   <UpdatedBy>sa</UpdatedBy>\r\n    <AddedBy>CABI_UK\\KIRK</AddedBy>\r\n
        \   <UpdatedDate>2015-11-12T09:56:59.1+00:00</UpdatedDate>\r\n    <AddedDate>2007-01-08T09:05:00+00:00</AddedDate>\r\n
        \   <UUID>994ed421-782f-4686-94aa-85d0f73c1d36</UUID>\r\n  </IndexFungorum>\r\n
        \ <IndexFungorum>\r\n    <NAME_x0020_OF_x0020_FUNGUS>Agaricus sect. Gymnopus</NAME_x0020_OF_x0020_FUNGUS>\r\n
        \   <AUTHORS>Pers.</AUTHORS>\r\n    <INFRASPECIFIC_x0020_RANK>sect.</INFRASPECIFIC_x0020_RANK>\r\n
        \   <INFRASPECIFIC_x0020_EPITHET>Gymnopus</INFRASPECIFIC_x0020_EPITHET>\r\n
        \   <TYPIFICATION_x0020_DETAILS>144144$Agaricus purus Pers. 1794</TYPIFICATION_x0020_DETAILS>\r\n
        \   <VOLUME>2</VOLUME>\r\n    <PAGE>302</PAGE>\r\n    <YEAR_x0020_OF_x0020_PUBLICATION>1801</YEAR_x0020_OF_x0020_PUBLICATION>\r\n
        \   <EDITORIAL_x0020_COMMENT>Published as 'sectio tertia'</EDITORIAL_x0020_COMMENT>\r\n
        \   <CORRECTION>$Nhttp://www.librifungorum.org/Image.asp?ItemID=82&amp;ImageFileName=0302b.jpg</CORRECTION>\r\n
        \   <LITERATURE_x0020_LINK>760</LITERATURE_x0020_LINK>\r\n    <STS_x0020_FLAG>g</STS_x0020_FLAG>\r\n
        \   <RECORD_x0020_NUMBER>700943</RECORD_x0020_NUMBER>\r\n    <BASIONYM_x0020_RECORD_x0020_NUMBER>700943</BASIONYM_x0020_RECORD_x0020_NUMBER>\r\n
        \   <PROTONYM_x0020_RECORD_x0020_NUMBER>700943</PROTONYM_x0020_RECORD_x0020_NUMBER>\r\n
        \   <NAME_x0020_OF_x0020_FUNGUS_x0020_FUNDIC_x0020_RECORD_x0020_NUMBER>17030</NAME_x0020_OF_x0020_FUNGUS_x0020_FUNDIC_x0020_RECORD_x0020_NUMBER>\r\n
        \   <CURRENT_x0020_NAME>Gymnopus</CURRENT_x0020_NAME>\r\n    <CURRENT_x0020_NAME_x0020_RECORD_x0020_NUMBER>17703</CURRENT_x0020_NAME_x0020_RECORD_x0020_NUMBER>\r\n
        \   <CURRENT_x0020_NAME_x0020_FUNDIC_x0020_RECORD_x0020_NUMBER>17703</CURRENT_x0020_NAME_x0020_FUNDIC_x0020_RECORD_x0020_NUMBER>\r\n
        \   <UpdatedBy>sa</UpdatedBy>\r\n    <AddedBy>CABI_UK\\KIRK</AddedBy>\r\n
        \   <UpdatedDate>2018-10-13T16:57:31.41+01:00</UpdatedDate>\r\n    <AddedDate>2008-09-25T14:06:00+01:00</AddedDate>\r\n
        \   <UUID>c8f5f616-88cb-4d99-8a22-9e74e77fc7b2</UUID>\r\n  </IndexFungorum>\r\n</NewDataSet>"
  recorded_at: 2019-01-24 01:38:04 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
[...]
