http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/2978223?limit=20
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/5.2.2 crul/1.5.0 rOpenSci(taxize/0.9.102)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"key":2978223,"nubKey":2978223,"nameKey":51035,"taxonID":"gbif:2978223","kingdom":"Plantae","phylum":"Tracheophyta","order":"Fabales","family":"Fabaceae","genus":"Acacia","kingdomKey":6,"phylumKey":7707728,"classKey":220,"orderKey":1370,"familyKey":5386,"genusKey":2978223,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ddf754f-d193-4cc9-b351-99906754a03b","parentKey":5386,"parent":"Fabaceae","scientificName":"Acacia
        Mill.","canonicalName":"Acacia","vernacularName":"acacia, wattle","authorship":"Mill.","nameType":"SCIENTIFIC","rank":"GENUS","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","publishedIn":"Gard.
        Dict. Abr., ed. 4.: [s.p.] (1754)","numDescendants":1759,"lastCrawled":"2023-08-22T23:20:59.545+00:00","lastInterpreted":"2023-08-22T23:08:31.009+00:00","issues":[],"class":"Magnoliopsida"}'
  recorded_at: 2024-09-05 22:54:15 GMT
  recorded_with: vcr/1.6.0.91, webmockr/1.0.0
- request:
    method: get
    uri: https://api.gbif.org/v1/species/2978223/children?limit=3
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/5.2.2 crul/1.5.0 rOpenSci(taxize/0.9.102)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":0,"limit":3,"endOfRecords":false,"results":[{"key":3980165,"nubKey":3980165,"nameKey":51060,"taxonID":"gbif:3980165","kingdom":"Plantae","phylum":"Tracheophyta","order":"Fabales","family":"Fabaceae","genus":"Acacia","species":"Acacia
        abbatiana","kingdomKey":6,"phylumKey":7707728,"classKey":220,"orderKey":1370,"familyKey":5386,"genusKey":2978223,"speciesKey":3980165,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ddf754f-d193-4cc9-b351-99906754a03b","parentKey":2978223,"parent":"Acacia","scientificName":"Acacia
        abbatiana Pedley","canonicalName":"Acacia abbatiana","authorship":"Pedley","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","publishedIn":"Austrobaileya
        5(2): 313 (1999)","numDescendants":0,"lastCrawled":"2023-08-22T23:20:59.545[...]
[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/species/2978223/children?offset=3&limit=3
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/5.2.2 crul/1.5.0 rOpenSci(taxize/0.9.102)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"offset":3[...]
