http_interactions:
- request:
    method: post
    uri: https://api.gbif.org/v1/parser/name
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json
      x-api-url: /v1/parser/name
    body:
      encoding: UTF-8
      string: '[{"scientificName":"x Agropogon littoralis L.","type":"SCIENTIFIC","genusOrAbove":"Agropogon","specificEpithet":"littoralis","notho":"GENERIC","authorship":"L.","parsed":true,"parsedPartially":false,"canonicalName":"Agropogon
        littoralis","canonicalNameWithMarker":"×Agropogon littoralis","canonicalNameComplete":"×Agropogon
        littoralis L.","rankMarker":"sp."}]'
  recorded_at: 2019-01-24 01:46:16 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
