http_interactions:
- request:
    method: get
    uri: http://api.gbif.org/v1/species/198?limit=20
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/species/198?limit=20
    body:
      encoding: UTF-8
      string: '{"key":198,"nubKey":198,"nameKey":1334961,"taxonID":"gbif:198","sourceTaxonKey":145904939,"kingdom":"Plantae","phylum":"Rhodophyta","kingdomKey":6,"phylumKey":106,"classKey":198,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ea21580-4f06-469d-995b-3f713fdcc37c","parentKey":106,"parent":"Rhodophyta","scientificName":"Bangiophyceae","canonicalName":"Bangiophyceae","authorship":"","nameType":"SCIENTIFIC","rank":"CLASS","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","numDescendants":131,"lastCrawled":"2018-06-20T14:41:51.801+0000","lastInterpreted":"2018-06-20T14:38:02.984+0000","issues":[],"synonym":false,"class":"Bangiophyceae"}'
  recorded_at: 2019-01-24 01:40:40 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
- request:
    method: get
    uri: http://api.gbif.org/v1/species/198/children?limit=100
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/species/198/children?limit=100
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":100,"endOfRecords":true,"results":[{"key":1389,"nubKey":1389,"nameKey":1334866,"taxonID":"gbif:1389","sourceTaxonKey":145904940,"kingdom":"Plantae","phylum":"Rhodophyta","order":"Bangiales","kingdomKey":6,"phylumKey":106,"classKey":198,"orderKey":1389,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ea21580-4f06-469d-995b-3f713fdcc37c","parentKey":198,"parent":"Bangiophyceae","scientificName":"Bangiales","canonicalName":"Bangiales","authorship":"","nameType":"SCIENTIFIC","rank":"ORDER","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","numDescendants":123,"lastCrawled":"2018-06-20T14:41:51.801+0000","lastInterpreted":"2018-06-20T14:38:02.986+0000","issues":[],"synonym":false,"class":"Bangiophyceae"},{"key":671,"nubKey":671,"nameKey":4798419,"taxonID":"gbif:671","sourceTaxonKey":117199473,"kingdom":"Plantae","phylum":"Rhodophyta","order":"Goniotrichales","kingdomKey":6,"phylumKey":106,"classKey":198,"orderKey":671,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ea21580-4f06-469d-995b-3f713fdcc37c","parentKey":198,"parent":"Bangiophyceae","scientificName":"Goniotrichales","canonicalName":"Goniotrichales","authorship":"","nameType":"SCIENTIFIC","rank":"ORDER","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","numDescendants":6,"lastCrawled":"2018-06-20T14:41:51.801+0000","lastInterpreted":"2018-06-20T14:38:03.322+0000","issues":[],"synonym":false,"class":"Bangiophyceae"}]}'
  recorded_at: 2019-01-24 01:40:40 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
[...]
- request:
    method: get
    uri: http://api.gbif.org/v1/species/1389/children?limit=100
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/species/1389/children?limit=100
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":100,"endOfRecords":true,"results":[{"key":8962,"nubKey":8962,"nameKey":1334843,"taxonID":"gbif:8962","sourceTaxonKey":145904943,"kingdom":"Plantae","phylum":"Rhodophyta","order":"Bangiales","family":"Bangiaceae","kingdomKey":6,"phylumKey":106,"classKey":198,"orderKey":1389,"familyKey":8962,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ea21580-4f06-469d-995b-3f713fdcc37c","parentKey":1389,"parent":"Bangiales","scientificName":"Bangiaceae","canonicalName":"Bangiaceae","authorship":"","nameType":"SCIENTIFIC","rank":"FAMILY","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","numDescendants":120,"lastCrawled":"2018-06-20T14:41:51.801+0000","lastInterpreted":"2018-06-20T14:38:02.995+0000","issues":[],"synonym":false,"class":"Bangiophyceae"},{"key":7655163,"nameKey":4830809,"taxonID":"gbif:7655163","sourceTaxonKey":145904941,"kingdom":"Plantae","phylum":"Rhodophyta","order":"Bangiales","family":"Granufilaceae","kingdomKey":6,"phylumKey":106,"classKey":198,"orderKey":1389,"familyKey":7655163,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ea21580-4f06-469d-995b-3f713fdcc37c","parentKey":1389,"parent":"Bangiales","scientificName":"Granufilaceae","canonicalName":"Granufilaceae","authorship":"","nameType":"SCIENTIFIC","rank":"FAMILY","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","numDescendants":1,"lastCrawled":"2018-06-20T14:41:51.801+0000","lastInterpreted":"2018-06-20T14:38:02.988+0000","issues":[],"synonym":false,"class":"Bangiophyceae"}]}'
  recorded_at: 2019-01-24 01:40:40 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
[...]
- request:
    method: get
    uri: http://api.gbif.org/v1/species/8962/children?limit=100
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/species/8962/children?limit=100
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":100,"endOfRecords":true,"results":[{"key":2651958,"nubKey":2651958,"nameKey":443717,"taxonID":"gbif:2651958","sourceTaxonKey":145904960,"kingdom":"Plantae","phylum":"Rhodophyta","order":"Bangiales","family":"Bangiaceae","genus":"Allogonium","kingdomKey":6,"phylumKey":106,"classKey":198,"orderKey":1389,"familyKey":8962,"genusKey":2651958,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ddf754f-d193-4cc9-b351-99906754a03b","parentKey":8962,"parent":"Bangiaceae","scientificName":"Allogonium
        Kützing, 1843","canonicalName":"Allogonium","authorship":"Kützing, 1843","nameType":"SCIENTIFIC","rank":"GENUS","origin":"SOURCE","taxonomicStatus":"DOUBTFUL","nomenclaturalStatus":[],"remarks":"","publishedIn":"Phycol.
        Gener., p","numDescendants":0,"lastCrawled":"2018-06-20T14:41:51.801+0000","lastInterpreted":"2018-06-20T14:38:03.027+0000","issues":["NO_SPECIES"],"synonym":false,"class":"Bangiophyceae"},{"key":2653776,"nubKey":2653776,"nameKey":1334221,"taxonID":"gbif:2653776","sourceTaxonKey":145904959,"kingdom":"Plantae","phylum":"Rhodophyta","order":"Bangiales","family":"Bangiaceae","genus":"Bangia","kingdomKey":6,"phylumKey":106,"classKey":198,"orderKey":1389,"familyKey":8962,"genusKey":2[...]
[...]
