http_interactions:
- request:
    method: get
    uri: http://api.gbif.org/v1/species/2978223?limit=20
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/species/2978223?limit=20
    body:
      encoding: UTF-8
      string: '{"key":2978223,"nubKey":2978223,"nameKey":51035,"taxonID":"gbif:2978223","sourceTaxonKey":145405242,"kingdom":"Plantae","phylum":"Tracheophyta","order":"Fabales","family":"Fabaceae","genus":"Acacia","kingdomKey":6,"phylumKey":7707728,"classKey":220,"orderKey":1370,"familyKey":5386,"genusKey":2978223,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ddf754f-d193-4cc9-b351-99906754a03b","parentKey":5386,"parent":"Fabaceae","scientificName":"Acacia
        Mill.","canonicalName":"Acacia","authorship":"Mill.","nameType":"SCIENTIFIC","rank":"GENUS","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","numDescendants":2217,"lastCrawled":"2018-06-20T14:41:51.801+0000","lastInterpreted":"2018-06-20T14:29:37.663+0000","issues":[],"synonym":false,"class":"Magnoliopsida"}'
  recorded_at: 2019-01-24 01:40:47 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
- request:
    method: get
    uri: http://api.gbif.org/v1/species/2978223/children?limit=3
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/species/2978223/children?limit=3
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":3,"endOfRecords":false,"results":[{"key":3980165,"nubKey":3980165,"nameKey":51060,"taxonID":"gbif:3980165","sourceTaxonKey":143435623,"kingdom":"Plantae","phylum":"Tracheophyta","order":"Fabales","family":"Fabaceae","genus":"Acacia","species":"Acacia
        abbatiana","kingdomKey":6,"phylumKey":7707728,"classKey":220,"orderKey":1370,"familyKey":5386,"genusKey":2978223,"speciesKey":3980165,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ddf754f-d193-4cc9-b351-99906754a03b","parentKey":2978223,"parent":"Acacia","scientificName":"Acacia
        abbatiana Pedley","canonicalName":"Acacia abbatiana","authorship":"Pedley","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","numDescendants":0,"lastCrawled":"2018-06-20T14:41:51.801+0000","lastInterpreted":"2018-06-20T14:29:45.393+0000"[...]
[...]
- request:
    method: get
    uri: http://api.gbif.org/v1/species/2978223/children?offset=3&limit=3
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
      x-api-url: /v1/species/2978223/children?offset=3&limit=3
    body:
      encoding: UTF-8
      string: '{"offset":3,"limit":3,"endOf[...]
