http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/2978223?limit=20
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(taxize/1.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"key":2978223,"nubKey":2978223,"nameKey":51035,"taxonID":"gbif:2978223","sourceTaxonKey":170885708,"kingdom":"Plantae","phylum":"Tracheophyta","order":"Fabales","family":"Fabaceae","genus":"Acacia","kingdomKey":6,"phylumKey":7707728,"classKey":220,"orderKey":1370,"familyKey":5386,"genusKey":2978223,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"f382f0ce-323a-4091-bb9f-add557f3a9a2","parentKey":5386,"parent":"Fabaceae","scientificName":"Acacia
        Mill.","canonicalName":"Acacia","authorship":"Mill.","nameType":"SCIENTIFIC","rank":"GENUS","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","publishedIn":"Gard.
        Dict. Abr., ed. 4. 1: [25]. 1754 [28 Jan 1754]","numDescendants":1713,"lastCrawled":"2021-03-03T06:32:33.335+0000","lastInterpreted":"2021-03-03T06:17:55.212+0000","issues":[],"synonym":false,"class":"Magnoliopsida"}'
  recorded_at: 2021-09-15 22:45:39 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.gbif.org/v1/species/2978223/children?limit=3
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(taxize/1.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":3,"endOfRecords":false,"results":[{"key":3980165,"nubKey":3980165,"nameKey":51060,"taxonID":"gbif:3980165","sourceTaxonKey":170888938,"kingdom":"Plantae","phylum":"Tracheophyta","order":"Fabales","family":"Fabaceae","genus":"Acacia","species":"Acacia
        abbatiana","kingdomKey":6,"phylumKey":7707728,"classKey":220,"orderKey":1370,"familyKey":5386,"genusKey":2978223,"speciesKey":3980165,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"f382f0ce-323a-4091-bb9f-add557f3a9a2","parentKey":2978223,"parent":"Acacia","scientificName":"Acacia
        abbatiana Pedley","canonicalName":"Acacia abbatiana","authorship":"Pedley","nameType":"SCIENTIFIC","rank":"SPECIES","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","publishedIn":"Austrobaileya
        5(2): 313 (1999).","numDescendants":0,"lastCrawled":"2021-03-03T06:32:33.33[...]
[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/species/2978223/children?offset=3&limit=3
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(taxize/1.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":3,[...]
