http_interactions:
- request:
    method: get
    uri: http://api.gbif.org/v1/species/1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"key":1,"nubKey":1,"nameKey":18528683,"taxonID":"gbif:1","sourceTaxonKey":144299179,"kingdom":"Animalia","kingdomKey":1,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","scientificName":"Animalia","canonicalName":"Animalia","authorship":"","nameType":"SCIENTIFIC","rank":"KINGDOM","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","numDescendants":2226311,"lastCrawled":"2018-06-20T14:41:51.801+0000","lastInterpreted":"2018-06-20T13:39:53.354+0000","issues":[],"synonym":false}'
  recorded_at: 2019-01-25 22:57:41 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
[...]
