http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/1
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(taxize/1.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"key":1,"nubKey":1,"nameKey":40736507,"taxonID":"gbif:1","sourceTaxonKey":1,"kingdom":"Animalia","kingdomKey":1,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","scientificName":"Animalia","canonicalName":"Animalia","authorship":"","nameType":"SCIENTIFIC","rank":"KINGDOM","origin":"SOURCE","taxonomicStatus":"ACCEPTED","nomenclaturalStatus":[],"remarks":"","numDescendants":2784829,"lastCrawled":"2021-03-03T06:32:33.335+0000","lastInterpreted":"2021-03-03T05:17:50.137+0000","issues":[],"synonym":false}'
  recorded_at: 2021-09-15 22:49:18 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
