http_interactions:
- request:
    method: get
    uri: http://services.tropicos.org/Name/Search?format=json&name=Helianthus%20excubitor&apikey=<<tropicos_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(taxize/1.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"NameId":50230899,"ScientificName":"Helianthus excubitor","ScientificNameWithAuthors":"Helianthus
        excubitor E. Watson","Family":"Asteraceae","RankAbbreviation":"sp.","NomenclatureStatusName":"No
        opinion","Author":"E. Watson","DisplayReference":"Pap. Michigan Acad. Sci.
        9: 396, pl. 54","DisplayDate":"1929","TotalRows":1}]'
  recorded_at: 2021-09-15 22:47:04 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: http://services.tropicos.org/Name/Search?format=json&name=adsf%20asdf%20asdf&apikey=<<tropicos_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(taxize/1.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"Error":"No names were found"}]'
  recorded_at: 2021-09-15 22:47:04 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
