http_interactions:
- request:
    method: get
    uri: http://www.plantsoftheworldonline.org/api/2/search?q=adsf%20asdf%20asdf&perPage=100&cursor=%2A
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(taxize/1.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/1.1 200 '
      content-type: application/json;charset=UTF-8
      etag: W/"079f43b03e319832200d33519d1aafd9b"
    body:
      encoding: UTF-8
      file: no
      string: '{"totalResults":0,"page":1,"totalPages":0,"perPage":100,"cursor":"*","message":"If
        you would like to download and use the POWO data in a conciencious way, please
        use our official library pykew [https://github.com/RBGKew/pykew]."}'
  recorded_at: 2021-09-15 22:46:59 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: http://www.plantsoftheworldonline.org/api/2/search?q=Helianthus%20excubitor&perPage=100&cursor=%2A
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(taxize/1.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/1.1 200 '
      content-type: application/json;charset=UTF-8
      etag: W/"077138e51fa08f192e3621a895161919a"
    body:
      encoding: UTF-8
      file: no
      string: '{"totalResults":1,"page":1,"totalPages":1,"perPage":100,"cursor":"AoMIQVmRvj8BNjAwQXN0ZXJhY2VhZUhlbGlhbnRodXNleGN1Yml0b3IsVGF4b25fNDY0OTIy","message":"If
        you would like to download and use the POWO data in a conciencious way, please
        use our official library pykew [https://github.com/RBGKew/pykew].","results":[{"accepted":true,"author":"E.Watson","kingdom":"Plantae","family":"Asteraceae","name":"Helianthus
        excubitor","rank":"Species","url":"/taxon/urn:lsid:ipni.org:names:119125-2","fqId":"urn:lsid:ipni.org:names:119125-2"}]}'
  recorded_at: 2021-09-15 22:46:59 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
