http_interactions:
- request:
    method: get
    uri: http://www.catalogueoflife.org/col/webservice?name=adsf%20asdf%20asdf&response=full&format=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"id":"","name":"adsf asdf asdf","total_number_of_results":0,"number_of_results_returned":0,"start":0,"error_message":"No
        names found","version":"1.9 rev 2126ab0","rank":""}'
  recorded_at: 2019-01-24 04:20:47 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
