http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Dugesia&strict=FALSE&verbose=TRUE&limit=500
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/5.2.2 crul/1.5.0 rOpenSci(taxize/0.9.102)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"confidence":100,"note":"Multiple equal matches for Dugesia","matchType":"NONE","alternatives":[{"usageKey":3091142,"scientificName":"Dugesia
        A.Gray","canonicalName":"Dugesia","rank":"GENUS","status":"ACCEPTED","confidence":99,"note":"Similarity:
        name=100; authorship=0; classification=-2; rank=0; status=1; score=99","matchType":"EXACT","kingdom":"Plantae","phylum":"Tracheophyta","order":"Asterales","family":"Asteraceae","genus":"Dugesia","kingdomKey":6,"phylumKey":7707728,"classKey":220,"orderKey":414,"familyKey":3065,"genusKey":3091142,"synonym":false,"class":"Magnoliopsida"},{"usageKey":2502872,"scientificName":"Dugesia
        Girard, 1850","canonicalName":"Dugesia","rank":"GENUS","status":"ACCEPTED","confidence":99,"note":"Similarity:
        name=100; authorship=0; classification=-2; rank=0; status=1; score=99","matchType":"EXACT","kingdom":"Animalia","phylum":"Platyhelminthes","order":"Tricladida","family":"Dugesiidae","genus":"Dugesia","kingdomKey":1,"phylumKey":108,"orderKey":427,"familyKey":6365,"genusKey":2502872,"synonym":false},{"usageKey":3253009,"acceptedUsageKey":6006594,"scientificName":"Dugesia
        Berlese, 1883","canonicalName":"Dugesia","rank":"GENUS","status":"SYNONYM","confidence":98,"note":"Similarity:
        name=100; authorship=0; classification=-2; rank=0; status=0; score=98","matchType":"EXACT","kingdom":"Animalia","phylum":"Arthropoda","order":"Trombidiformes","family":"Smarididae","genus":"Smaris","kingdomKey":1,"phylumKey":54,"classKey":367,"orderKey":543,"familyKey":2805,"genusKey":6006594,"synonym":true,"class":"Arachnida"},{"usageKe[...]
