http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Satyrium&strict=FALSE&verbose=TRUE&limit=500
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(taxize/0.9.97.95)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"confidence":100,"note":"Multiple equal matches for Satyrium","matchType":"NONE","alternatives":[{"usageKey":1927718,"scientificName":"Satyrium
        Scudder, 1876","canonicalName":"Satyrium","rank":"GENUS","status":"ACCEPTED","confidence":99,"note":"Similarity:
        name=100; authorship=0; classification=-2; rank=0; status=1","matchType":"EXACT","kingdom":"Animalia","phylum":"Arthropoda","order":"Lepidoptera","family":"Lycaenidae","genus":"Satyrium","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":797,"familyKey":5473,"genusKey":1927718,"synonym":false,"class":"Insecta"},{"usageKey":5307264,"scientificName":"Satyrium
        Sw.","canonicalName":"Satyrium","rank":"GENUS","status":"ACCEPTED","confidence":99,"note":"Similarity:
        name=100; authorship=0; classification=-2; rank=0; status=1","matchType":"EXACT","kingdom":"Plantae","phylum":"Tracheophyta","order":"Asparagales","family":"Orchidaceae","genus":"Satyrium","kingdomKey":6,"phylumKey":7707728,"classKey":196,"orderKey":1169,"familyKey":7689,"genusKey":5307264,"synonym":false,"class":"Liliopsida"},{"usageKey":8020470,"acceptedUsageKey":2809736,"scientificName":"Satyrium
        L., 1753","canonicalName":"Satyrium","rank":"GENUS","status":"SYNONYM","confidence":98,"note":"Similarity:
        name=100; authorship=0; classification=-2; rank=0; status=0","matchType":"EXACT","kingdom":"Plantae","phylum":"Tracheophyta","order":"Asparagales","family":"Orchidaceae","genus":"Dactylorhiza","kingdomKey":6,"phylumKey":7707728,"classKey":196,"orderKey":1169,"familyKey":7689,"genusKey":2809736,"synonym":true,"class":"Liliopsida"},{"usageKey":3651296,"scientificName":"Satirium
        Neck.","canonicalName":"Satirium","rank":"GENUS","status":"DOUBTFUL","confidence":68,"note":"Similarity:
        name=75; authorship=0; classification=-2; rank=0; status=-5","matchType":"FUZZY","kingdom":"Plantae","phylum":"Tracheophyta","order":"Asparagales","family":"Orchidaceae","genus":"Satirium","kingdomKey":6,"phylumKey":7707728,"classKey":196,"orderKey":1169,"familyKey":7689,"genusKey":3651296,"synonym":false,"class":"Liliopsida"}],"synonym":false}'
  recorded_at: 2020-09-16 17:25:01 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
[...]
