http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Satyrium&strict=FALSE&verbose=TRUE&limit=500
    body:
      encoding: ''
      string: ''
    headers:
      X-User-Agent: r-curl/3.3 crul/0.7.0.9100 taxize/0.9.4.9914
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"confidence":100,"note":"Multiple equal matches for Satyrium","matchType":"NONE","alternatives":[{"usageKey":1927718,"scientificName":"Satyrium
        Scudder, 1876","canonicalName":"Satyrium","rank":"GENUS","status":"ACCEPTED","confidence":99,"note":"Similarity:
        name=100; authorship=0; classification=-2; rank=0; status=1","matchType":"EXACT","kingdom":"Animalia","phylum":"Arthropoda","order":"Lepidoptera","family":"Lycaenidae","genus":"Satyrium","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":797,"familyKey":5473,"genusKey":1927718,"synonym":false,"class":"Insecta"},{"usageKey":5307264,"scientificName":"Satyrium
        Sw.","canonicalName":"Satyrium","rank":"GENUS","status":"ACCEPTED","confidence":99,"note":"Similarity:
        name=100; authorship=0; classification=-2; rank=0; status=1","matchType":"EXACT","kingdom":"Plantae","phylum":"Tracheophyta","order":"Asparagales","family":"Orchidaceae","genus":"Satyrium","kingdomKey":6,"phylumKey":7707728,"classKey":196,"orderKey":1169,"familyKey":7689,"genusKey":5307264,"synonym":false,"class":"Liliopsida"},{"usageKey":3651296,"scientificName":"Satirium
        Neck.","canonicalName":"Satirium","rank":"GENUS","status":"DOUBTFUL","confidence":68,"note":"Similarity:
        name=75; authorship=0; classification=-2; rank=0; status=-5","matchType":"FUZZY","kingdom":"Plantae","phylum":"Tracheophyta","order":"Asparagales","family":"Orchidaceae","genus":"Satirium","kingdomKey":6,"phylumKey":7707728,"classKey":196,"orderKey":1169,"familyKey":7689,"genusKey":3651296,"synonym":false,"class":"Liliopsida"}],"synonym":false}'
  recorded_at: 2019-01-26 17:07:35 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
[...]
