http_interactions:
- request:
    method: get
    uri: https://www.marinespecies.org/rest/AphiaRecordsByName/Apedinella?like=true&marine_only=true&offset=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"AphiaID":248096,"url":"https:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=248096","scientificname":"Apedinella","authority":"Throndsen,
        1971","status":"accepted","unacceptreason":null,"taxonRankID":180,"rank":"Genus","valid_AphiaID":248096,"valid_name":"Apedinella","valid_authority":"Throndsen,
        1971","parentNameUsageID":1652121,"kingdom":"Chromista","phylum":"Ochrophyta","class":"Dictyochophyceae","order":"Pedinellales","family":"Actinomonadaceae","genus":"Apedinella","citation":"Guiry,
        M.D. & Guiry, G.M. (2024). AlgaeBase. World-wide electronic publication, National
        University of Ireland, Galway (taxonomic information republished from AlgaeBase
        with permission of M.D. Guiry). Apedinella Throndsen, 1971. Accessed through:
        World Register of Marine Species at: https:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=248096
        on 2024-09-26","lsid":"urn:lsid:marinespecies.org:taxname:248096","isMarine":1,"isBrackish":1,"isFreshwater":null,"isTerrestrial":null,"isExtinct":null,"match_type":"like","modified":"2023-04-11T06:15:42.320Z"},{"AphiaID":248097,"url":"https:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=248097","scientificname":"Apedinella
        radians","authority":"(Lohmann) P.H.Campbell, 1973","status":"accepted","unacceptreason":null,"taxonRankID":220,"rank":"Species","valid_AphiaID":248097,"valid_name":"Apedinella
        radians","valid_authority":"(Lohmann) P.H.Campbell, 1973","parentNameUsageID":248096,"kingdom":"Chromista","phylum":"Ochrophyta","class":"Dictyochophyceae","o[...]
- request:
    method: get
    uri: https://www.marinespecies.org/rest/AphiaRecordsByName/Apedinella?like=true&marine_only=false&offset=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"AphiaID":248096,"url":"https:\/\/www.mari[...]
