http_interactions:
- request:
    method: get
    uri: https://www.marinespecies.org/rest/AphiaRecordsByName/Platypleu?like=true&marine_only=true&offset=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"AphiaID":105519,"url":"https:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=105519","scientificname":"Platypleura","authority":"Thomsen","status":"accepted","unacceptreason":null,"taxonRankID":180,"rank":"Genus","valid_AphiaID":105519,"valid_name":"Platypleura","valid_authority":"Thomsen","parentNameUsageID":580084,"kingdom":"Protozoa","phylum":"Choanozoa","class":"Choanoflagellatea","order":"Acanthoecida","family":"Acanthoecidae","genus":"Platypleura","citation":"Guiry,
        M.D. & Guiry, G.M. (2024). AlgaeBase. World-wide electronic publication, National
        University of Ireland, Galway (taxonomic information republished from AlgaeBase
        with permission of M.D. Guiry). Platypleura Thomsen. Accessed through: World
        Register of Marine Species at: https:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=105519
        on 2024-09-26","lsid":"urn:lsid:marinespecies.org:taxname:105519","isMarine":1,"isBrackish":null,"isFreshwater":null,"isTerrestrial":null,"isExtinct":null,"match_type":"like","modified":"2011-09-14T13:41:44.730Z"},{"AphiaID":526597,"url":"https:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=526597","scientificname":"Platypleura","authority":"Pomel,
        1887","status":"unaccepted","unacceptreason":"preoccupied (non Amyot & Audinet-Serville,
        1849, a hemipter)","taxonRankID":180,"rank":"Genus","valid_AphiaID":205242,"valid_name":"Clypeaster","valid_authority":"Lamarck,
        1801","parentNameUsageID":196177,"kingdom":"Animalia","phylum":"Echinodermata","class":"Echinoidea","order":"Clypeasteroida","family":"Clypeasteridae","genus":"Platypleura","citation":"Kroh,
        A.; Mooi, R. (2024). World Echinoidea Database. Platypleura Pomel, 1887. Accessed
        through: World Register of Marine Species at: https:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=526597
        on 2024-09-26","lsid":"urn:lsid:marinespecies.org:taxname:526597","isMarine":1,"isBrackish":0,"isFreshwater":0,"isTerrestrial":0,"isExtinct":0,"match_type":"like","modified":"2012-01-12T21:06:49.627Z"},{"AphiaID":105591,"url":"https:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=105591","scientificname":"Platypleura
        infundibuliformis","authority":"(Leadbeater) Thomsen","status":"uncertain","unacceptreason":null,"taxonRankID":220,"rank":"Species","valid_AphiaID":null,"valid_name":null,"valid_authority":null,"parentNameUsageID":105519,"kingdom":"Protozoa","phylum":"Choanozoa","class":"Choanoflagellatea","order":"Acanthoecida","family":"Acanthoecidae","genus":"Platypleura","citation":"Guiry,
        M.D. & Guiry, G.M. (2024). AlgaeBase. World-wide electronic publication, National
        University of Ireland, Galway (taxonomic information republished from AlgaeBase
        with permission of M.D. Guiry). Platypleura infundibuliformis (Leadbeater)
        Thomsen. Accessed through: World Register of Marine Species at: https:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=105591
        on 2024-09-26","lsid":"urn:lsid:marinespecies.org:taxname:105591","isMarine":1,"isBrackish":null,"isFreshwater":null,"isTerrestrial":null,"isExtinct":null,"match_type":"like","modified":"2019-08-13T06:47:24.613Z"}]'
  recorded_at: 2024-09-25 22:38:00 GMT
  recorded_with: vcr/1.6.0.91, webmockr/1.0.0
- request:
    method: get
    uri: https://www.marinespecies.org/rest/AphiaRecordsByName/Platypleu?like=false&marine_only=true&offset=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '204'
      message: No Content
      explanation: Request fulfilled, nothing follows
    headers:
      status: 'HTTP/2 204 '
    body:
      encoding: ''
      file: no
      string: ''
  recorded_at: 2024-09-25 22:38:00 GMT
  recorded_with: vcr/1.6.0.91, webmockr/1.0.0
