http_interactions:
- request:
    method: get
    uri: https://apiv3.iucnredlist.org/api/v3/species/Poa%20annua?token=<<rredlist_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      etag: W/"2b0-NjMXqteLqvoszOTZqUYumg"
    body:
      encoding: UTF-8
      file: no
      string: '{"name":"Poa annua","result":[{"taxonid":168729,"scientific_name":"Poa
        annua","kingdom":"PLANTAE","phylum":"TRACHEOPHYTA","class":"LILIOPSIDA","order":"POALES","family":"POACEAE","genus":"Poa","main_common_name":"Annual
        Meadow Grass","authority":"L.","published_year":2013,"assessment_date":"2010-02-18","category":"LC","criteria":null,"population_trend":"Increasing","marine_system":false,"freshwater_system":false,"terrestrial_system":true,"assessor":"Brummitt,
        N.","reviewer":"Scott, J.A.","aoo_km2":null,"eoo_km2":null,"elevation_upper":4800,"elevation_lower":0,"depth_upper":null,"depth_lower":null,"errata_flag":null,"errata_reason":null,"amended_flag":null,"amended_reason":null}]}'
  recorded_at: 2020-11-20 01:14:58 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
