http_interactions:
- request:
    method: get
    uri: http://www.marinespecies.org/rest/AphiaRecordsByName/Platanista%20gangetica?like=true&marine_only=true&offset=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"AphiaID":254967,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=254967","scientificname":"Platanista
        gangetica","authority":"(Lebeck, 1801)","status":"accepted","unacceptreason":null,"rank":"Species","valid_AphiaID":254967,"valid_name":"Platanista
        gangetica","valid_authority":"(Lebeck, 1801)","kingdom":"Animalia","phylum":"Chordata","class":"Mammalia","order":"Cetartiodactyla","family":"Platanistidae","genus":"Platanista","citation":"Perrin,
        W.F. (2019). World Cetacea Database. Platanista gangetica (Lebeck, 1801).
        Accessed through: World Register of Marine Species at: http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=254967
        on 2019-01-26","lsid":"urn:lsid:marinespecies.org:taxname:254967","isMarine":null,"isBrackish":null,"isFreshwater":1,"isTerrestrial":null,"isExtinct":null,"match_type":"like","modified":"2010-01-04T16:38:16.250Z"},{"AphiaID":383571,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=383571","scientificname":"Platanista
        gangetica gangetica","authority":"Roxburgh, 1801","status":"accepted","unacceptreason":null,"rank":"Subspecies","valid_AphiaID":383571,"valid_name":"Platanista
        gangetica gangetica","valid_authority":"Roxburgh, 1801","kingdom":"Animalia","phylum":"Chordata","class":"Mammalia","order":"Cetartiodactyla","family":"Platanistidae","genus":"[...]
- request:
    method: get
    uri: http://www.marinespecies.org/rest/AphiaRecordsByName/asdasf?like=true&marine_only=true&offset=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '204'
      message: No Content
      explanation: Request fulfilled, nothing follows
    headers:
      status: HTTP/1.1 204 No Content
      content-type: text/html; charset=UTF-8;
    body:
      encoding: UTF-8
      string: ''
  recorded_at: 2019-01-26 17:23:48 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
