http_interactions:
- request:
    method: get
    uri: https://api.catalogueoflife.org/nameusage/search?q=Dugesia&dataset_key=3LR&fuzzy=false&status=accepted&offset=0&limit=100
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(rcol/0.1.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":100,"total":122,"result":[{"id":"48NP","classification":[{"id":"5T6MX","name":"Biota","rank":"unranked"},{"id":"P","name":"Plantae","rank":"kingdom"},{"id":"TP","name":"Tracheophyta","rank":"phylum"},{"id":"MG","name":"Magnoliopsida","rank":"class"},{"id":"ST","name":"Asterales","rank":"order"},{"id":"622TP","name":"Asteraceae","rank":"family"},{"id":"J6T","name":"Asteroideae","rank":"subfamily"},{"id":"48NP","name":"Dugesia","rank":"genus"}],"usage":{"created":"2020-10-15T16:02:06.867272","createdBy":103,"modified":"2020-10-15T16:02:06.867272","modifiedBy":103,"datasetKey":2242,"id":"48NP","sectorKey":990,"name":{"created":"2020-10-15T16:02:06.867272","createdBy":103,"modified":"2020-10-15T16:02:06.867272","modifiedBy":103,"datasetKey":2242,"id":"7d53ce86-2606-43eb-9757-0a43567df391","sectorKey":990,"homotypicNameId":"7d53ce86-2606-43eb-9757-0a43567df391","scientificName":"Dugesia","authorship":"A.
        Gray","rank":"genus","uninomial":"Dugesia","combinationAuthorship":{"authors":["A.Gray"]},"code":"botanical","publishedInId":"3ef69712-61aa-41f7-a131-26aed2c6fcb4","publishedInPage":"1881","origin":"source","type":"scientific","parsed":true},"status":"accepted","origin":"source","parentId":"J6T","extinct":false,"label":"Dugesia
        A. Gray","labelHtml":"<i>Dugesia</i> A. Gray"},"sectorDatasetKey":1141},{"id":"48NN","classification":[{"id":"5T6MX","name":"Biota","rank":"unranked"},{"id":"N","name":"Animalia","rank":"kingdom"},{"id":"PM","name":"Platyhelminthes","rank":"phylum"},{"id":"49D","name":"Tricladida","rank":"order"},{"id":"562","name":"Geoplanoidea","rank":"superfamily"},{"id":"9HN","name":"Dugesiidae","rank":"family"},{"id":"48NN","name":"Dugesia","rank":"genus"}],"usage":{"created":"2020-07-18T08:56:11.054887","createdBy":103,"modified":"2020-07-18T08:56:11.054887","modifiedBy"[...]
