http_interactions:
- request:
    method: get
    uri: https://biodiversity.org.au/nsl/services/api/name/acceptable-name.json?name=Acacia%20adfdadaasdf
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(taxize/0.9.99.92)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"action":"acceptable-name","count":0,"query":"Acacia adfdadaasdf","names":[],"status":{"enumType":"org.springframework.http.HttpStatus","name":"OK"}}'
  recorded_at: 2020-11-11 02:04:51 GMT
  recorded_with: vcr/0.5.4.93, webmockr/0.7.0.91
- request:
    method: get
    uri: https://biodiversity.org.au/nsl/services/api/name/acceptable-name.json?name=Acacia
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(taxize/0.9.99.92)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"action":"acceptable-name","count":100,"query":"Acacia","names":[{"class":"au.org.biodiversity.nsl.Name","_links":{"permalink":{"link":"https://id.biodiversity.org.au/name/apni/56859","preferred":true,"resources":1}},"nameType":"scientific","nameStatus":"legitimate","nameRank":"Genus","primaryInstance":[{"class":"au.org.biodiversity.nsl.Instance","_links":{"permalink":{"link":"https://id.biodiversity.org.au/instance/apni/459697","preferred":true,"resources":1}},"instanceType":"tax.
        nov.","page":"[unnumbered page 25]","name":"<scientific><name data-id=''56859''><element>Acacia<\u002felement>
        <authors><author data-id=''7037'' title=''Miller, P.''>Mill.<\u002fauthor><\u002fauthors><\u002fname><\u002fscientific>","protologue":true,"citation":"Miller,
        P. (1754), The Gardeners Dictionary abridged Edn. 4","citationHtml":"<ref
        data-id=''36109''><ref-section><author>Miller, P.<\u002fauthor> <year>(1754)<\u002fyear>,
        <par-title><i>The Gardeners Dictionary abridged<\u002fi><\u002fpar-title>
        <edition>Edn. 4<\u002fedition><\u002fref-section><\u002fref>","citationAuthYear":"Mill.,
        1754"}],"fullName":"Acacia Mill.","fullNameHtml":"<scientific><name data-id=''56859''><element>Acacia<\u002felement>
        <authors><author data-id=''7037'' title=''Miller, P.''>Mill.<\u002fauthor><\u002fauthors><\u002fname><\u002fscientific>","simpleName":"Acacia","simpleNameHtml":"<scientific><name
        data-id=''56859''><element>Acacia<\u002felement><\u002fname><\u002fscientific>"},{"class":"au.org.biodiversity.nsl.Name","_links":{"permalink":{"link":"https://id.biodiversity.org.au/name/apni/242009","preferred":true,"resources":1}},"nameType":"scientific","nameStatus":"legitimate","nameRank":"Species","primaryInstance":[{"class":"au.org.biodiversity.nsl.Instance","_links":{"permalink":{"link":"https://id.biodiversity.org.au/instance/apni/762260","preferred":true,"res[...]
- request:
    method: get
    uri: https://biodiversity.org.au/nsl/services/api/name/acceptable-name.json?name=Pinus
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(taxize/0.9.99.92)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"action":"acceptable-name","count":37,"query":"Pinus","names":[{"class":"au.org.biodiversity.nsl.Name","_links":{"permalink":{"link":"https://id.biodiversity.org.au/name/apni/71130","preferred":true,"resources":1}},"nameType":"scientific","nameStatus":"legitimate","nameRank":"Genus","primaryInstance":[{"class":"au.org.biodiversity.nsl.Instance","_links":{"permalink":{"link":"https://id.biodiversity.org.au/instance/apni/482121","preferred":true,"resources":1}},"instanceType":"tax.
        nov.","page":"1000","name":"<scientific><name data-id=''71130''><element>Pinus<\u002felement>
        <authors><author data-id=''1426'' title=''Linnaeus, C.''>L.<\u002fauthor><\u002fauthors><\u002fname><\u002fscientific>","protologue":true,"citation":"Linnaeus,
        C. (1753), Species Plantarum 2","citationHtml":"<ref data-id=''22411''><ref-section><author>Linnaeus,
        C.<\u002fauthor> <year>(1753)<\u002fyear>, <par-title><i>Species Plantarum<\u002fi><\u002fpar-title>
        <volume>2<\u002fvolume><\u002fref-section><\u002fref>","citationAuthYear":"L.,
        1753"}],"fullName":"Pinus L.","fullNameHtml":"<scientific><name data-id=''71130''><element>Pinus<\u002felement>
        <authors><author data-id=''1426'' title=''Linnaeus, C.''>L.<\u002fauthor><\u002fauthors><\u002fname><\u002fscientific>","simpleName":"Pinus","simpleNameHtml":"<scientific><name
        data-id=''71130''><element>Pinus<\u002felement><\u002fname><\u002fscientific>"},{"class":"au.org.biodiversity.nsl.Na[...]
