http_interactions:
- request:
    method: get
    uri: http://www.marinespecies.org/rest/AphiaRecordsByName/Gadus?like=true&marine_only=true&offset=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"AphiaID":125732,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=125732","scientificname":"Gadus","authority":"Linnaeus,
        1758","status":"accepted","unacceptreason":null,"taxonRankID":180,"rank":"Genus","valid_AphiaID":125732,"valid_name":"Gadus","valid_authority":"Linnaeus,
        1758","parentNameUsageID":125469,"kingdom":"Animalia","phylum":"Chordata","class":"Actinopterygii","order":"Gadiformes","family":"Gadidae","genus":"Gadus","citation":"Froese,
        R. and D. Pauly. Editors. (2020). FishBase. Gadus Linnaeus, 1758. Accessed
        through: World Register of Marine Species at: http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=125732
        on 2020-09-16","lsid":"urn:lsid:marinespecies.org:taxname:125732","isMarine":1,"isBrackish":1,"isFreshwater":0,"isTerrestrial":0,"isExtinct":null,"match_type":"like","modified":"2014-11-21T13:09:37.943Z"},{"AphiaID":990530,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=990530","scientificname":"Gadus","authority":"Deshayes,
        1861","status":"unaccepted","unacceptreason":"invalid: junior homonym of <i>Gadus<\/i>
        Linnaeus, 1758 ","taxonRankID":180,"rank":"Genus","valid_AphiaID":138026,"valid_name":"Gadila","valid_authority":"Gray,
        1847","parentNameUsageID":435,"kingdom":"Animalia","phylum":"Mollusca","class":"Scaphopoda","order":"G[...]
