http_interactions:
- request:
    method: get
    uri: https://eol.org/api/search/1.0.json?q=adsf%2Basdf%2Basdf&page=1
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(taxize/0.9.97.95)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      etag: W/"dc0e79a0d15459ce916f533908820166"
    body:
      encoding: UTF-8
      file: no
      string: '{"totalResults":0,"startIndex":1,"itemsPerPage":50,"results":[]}'
  recorded_at: 2020-09-16 17:12:11 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
