http_interactions:
- request:
    method: get
    uri: https://species-ws.nbnatlas.org/search?q=howdy&fq=idxtype%3ATAXON&pageSize=500&startIndex=0
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(taxize/0.9.99.92)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-application-context: application:production
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"searchResults":{"totalRecords":0,"facetResults":[],"results":[],"queryTitle":"howdy"}}'
  recorded_at: 2020-11-20 00:28:54 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
