http_interactions:
- request:
    method: get
    uri: https://v4.boldsystems.org/index.php/API_Tax/TaxonSearch?taxName=Helianthus&fuzzy=false
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: text/html; charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"top_matched_names":[{"taxid":125295,"taxon":"Helianthus","tax_rank":"genus","tax_division":"Plantae","parentid":151101,"parentname":"Asteroideae","taxonrep":"Helianthus","representitive_image":{"image":"SDH\/CCDB-24909-C11_h153421+1421197108.jpg","apectratio":0.688},"specimenrecords":"355"}],"total_matched_names":1}'
  recorded_at: 2024-09-05 22:54:20 GMT
  recorded_with: vcr/1.6.0.91, webmockr/1.0.0
- request:
    method: get
    uri: https://v4.boldsystems.org/index.php/API_Tax/TaxonSearch?taxName=adsf%20asdf%20asdf&fuzzy=false
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: text/html; charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"top_matched_names":[],"total_matched_names":0}'
  recorded_at: 2024-09-05 22:54:20 GMT
  recorded_with: vcr/1.6.0.91, webmockr/1.0.0
- request:
    method: get
    uri: https://v4.boldsystems.org/index.php/API_Tax/TaxonSearch?taxName=Helianthus%20excubitor&fuzzy=false
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: text/html; charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"top_matched_names":[],"total_matched_names":0}'
  recorded_at: 2024-09-05 22:54:20 GMT
  recorded_with: vcr/1.6.0.91, webmockr/1.0.0
[...]
