http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Chironomus%20riparius&strict=FALSE&verbose=TRUE&limit=500
    body:
      encoding: ''
      string: ''
    headers:
      X-User-Agent: r-curl/3.3 crul/0.7.0.9100 taxize/0.9.4.9914
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"usageKey":1448237,"scientificName":"Chironomus riparius Meigen, 1804","canonicalName":"Chironomus
        riparius","rank":"SPECIES","status":"ACCEPTED","confidence":98,"note":"Similarity:
        name=110; authorship=0; classification=-2; rank=5; status=1; nextMatch=5","matchType":"EXACT","alternatives":[{"usageKey":1449850,"scientificName":"Chironomus
        vicarius (Walker, 1850)","canonicalName":"Chironomus vicarius","rank":"SPECIES","status":"ACCEPTED","confidence":9,"note":"Similarity:
        name=5; authorship=0; classification=-2; rank=5; status=1","matchType":"FUZZY","kingdom":"Animalia","phylum":"Arthropoda","order":"Diptera","family":"Chironomidae","genus":"Chironomus","species":"Chironomus
        vicarius","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":811,"familyKey":3343,"genusKey":1448033,"speciesKey":1449850,"synonym":false,"class":"Insecta"}],"kingdom":"Animalia","phylum":"Arthropoda","order":"Diptera","family":"Chironomidae","genus":"Chironomus","species":"Chironomus
        riparius","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":811,"familyKey":3343,"genusKey":1448033,"speciesKey":1448237,"synonym":false,"class":"Insecta"}'
  recorded_at: 2019-01-26 17:07:24 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=aaasdfadsfasdf&strict=FALSE&verbose=TRUE&limit=500
    body:
      encoding: ''
      string: ''
    headers:
      X-User-Agent: r-curl/3.3 crul/0.7.0.9100 taxize/0.9.4.9914
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"confidence":100,"matchType":"NONE","synonym":false}'
  recorded_at: 2019-01-26 17:07:24 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Chaetopteryx&strict=FALSE&verbose=TRUE&limit=500
    body:
      encoding: ''
      string: ''
    headers:
      X-User-Agent: r-curl/3.3 crul/0.7.0.9100 taxize/0.9.4.9914
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"usageKey":1442276,"scientificName":"Chaetopteryx Stephens, 1829","canonicalName":"Chaetopteryx","rank":"GENUS","status":"ACCEPTED","confidence":94,"note":"Similarity:
        name=100; authorship=0; classification=-2; rank=0; status=1; nextMatch=5","matchType":"EXACT","alternatives":[{"usageKey":4722607,"acceptedUsageKey":4723980,"scientificName":"Chartopteryx
        Westwood, 1841","canonicalName":"Chartopteryx","rank":"GENUS","status":"SYNONYM","confidence":73,"note":"Similarity:
        name=75; authorship=0; classification=-2; rank=0; status=0","matchType":"FUZZY","kingdom":"Animalia","phylum":"Arthropoda","order":"Coleoptera","family":"Tenebrionidae","genus":"Cyphaleus","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":1470,"familyKey":7857,"genusKey":4723980,"synonym":true,"class":"Insecta"},{"usageK[...]
