http_interactions:
- request:
    method: get
    uri: http://services.tropicos.org/Name/Search?format=json&name=Pinus%20contorta%20var%252E%20yukonensis&apikey=<<tropicos_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
      X-User-Agent: r-curl/3.3 crul/0.7.0.9100 taxize/0.9.4.9914
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"Error":"No names were found"}]'
  recorded_at: 2019-01-24 22:27:07 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
- request:
    method: get
    uri: http://services.tropicos.org/Name/Search?format=json&name=Pinus%20contorta%20yukonensis&apikey=<<tropicos_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
      X-User-Agent: r-curl/3.3 crul/0.7.0.9100 taxize/0.9.4.9914
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"NameId":100363705,"ScientificName":"Pinus contorta var. yukonensis","ScientificNameWithAuthors":"Pinus
        contorta var. yukonensis W.L. Strong","Family":"Pinaceae","RankAbbreviation":"var.","NomenclatureStatusName":"No
        opinion","Author":"W.L. Strong","DisplayReference":"Nordic J. Bot. 28: 448–452,
        f. 1, 2A–C","DisplayDate":"2010","TotalRows":1}]'
  recorded_at: 2019-01-24 22:27:08 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
