http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Dugesia&strict=FALSE&verbose=TRUE&limit=500
    body:
      encoding: ''
      string: ''
    headers:
      X-User-Agent: r-curl/3.3 crul/0.7.0.9100 taxize/0.9.4.9914
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"confidence":100,"note":"Multiple equal matches for Dugesia","matchType":"NONE","alternatives":[{"usageKey":3091142,"scientificName":"Dugesia
        A.Gray","canonicalName":"Dugesia","rank":"GENUS","status":"ACCEPTED","confidence":99,"note":"Similarity:
        name=100; authorship=0; classification=-2; rank=0; status=1","matchType":"EXACT","kingdom":"Plantae","phylum":"Tracheophyta","order":"Asterales","family":"Asteraceae","genus":"Dugesia","kingdomKey":6,"phylumKey":7707728,"classKey":220,"orderKey":414,"familyKey":3065,"genusKey":3091142,"synonym":false,"class":"Magnoliopsida"},{"usageKey":2502872,"scientificName":"Dugesia
        Girard, 1851","canonicalName":"Dugesia","rank":"GENUS","status":"ACCEPTED","confidence":99,"note":"Similarity:
        name=100; authorship=0; classification=-2; rank=0; status=1","matchType":"EXACT","kingdom":"Animalia","phylum":"Platyhelminthes","order":"Tricladida","family":"Dugesiidae","genus":"Dugesia","kingdomKey":1,"phylumKey":108,"classKey":5967490,"orderKey":427,"familyKey":6365,"genusKey":2502872,"synonym":false,"class":"Rhabditophora"},{"usageKey":3253009,"acceptedUsageKey":6006594,"scientificName":"Dugesia
        Berlese, 1883","canonicalName":"Dugesia","rank":"GENUS","status":"SYNONYM","confidence":98,"note":"Similarity:
        name=100; authorship=0; classification=-2; rank=0; status=0","matchType":"EXACT","kingdom":"Animalia","phylum":"Arthropoda","order":"Trombidiformes","family":"Calyptostomatidae","genus":"Smaris","kingdomKey":1,"phylumKey":54,"classKey":367,"orderKey":543,"familyKey":3252736,"genusKey":6006594,"synonym":true,"class":"Arachnida"},{"usageKe[...]
