http_interactions:
- request:
    method: get
    uri: https://eol.org/api/search/1.0.json?q=Puma%2Bconcolor&page=1
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(taxize/0.9.92.93)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      etag: W/"62e785ef54c2e38d7b4ead2798a43756"
    body:
      encoding: UTF-8
      file: no
      string: '{"totalResults":29,"startIndex":1,"itemsPerPage":50,"results":[{"id":49994165,"title":"Puma
        concolor coryi","link":"https://eol.org/pages/49994165","content":""},{"id":52384445,"title":"Puma
        concolor coryi","link":"https://eol.org/pages/52384445","content":""},{"id":1244081,"title":"Puma
        concolor puma","link":"https://eol.org/pages/1244081","content":""},{"id":311910,"title":"Puma
        concolor","link":"https://eol.org/pages/311910","content":""},{"id":47364954,"title":"Puma
        concolor coryi","link":"https://eol.org/pages/47364954","content":""},{"id":1268505,"title":"Puma
        concolor concolor","link":"https://eol.org/pa[...]
- request:
    method: get
    uri: https://eol.org/api/pages/1.0/49994165.json?subjects=overview&licenses=all&details=false&common_names=false&synonyms=false&references=false&taxonomy=TRUE&vetted=0
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(taxize/0.9.92.93)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      etag: W/"80bb71e131085baf883bfae933758e62"
    body:
      encoding: UTF-8
      file: no
      string: '{"taxonConcept":{"identifier":49994165,"scientificName":"Puma concolor
        coryi","richness_score":null,"taxonConcepts":[{"identifier":10196321,"scientificName":"Puma
        concolor coryi","name":"Puma concolor coryi","nameAccordingTo":"iNaturalist","canonicalForm":"\u003ci\u003ePuma
        concolor coryi\u003c/i\u003e","sourceIdentifier":"https://www.inaturalist.org/taxa/198919"},{"identifier":31391334,"scientificName":"Puma
        concolor coryi","name":"Puma concolor coryi","nameAccordingTo":"Animal Diversity
        Web","canonicalForm":"\u003ci\u003ePuma concolor coryi\u003c/i\u003e","sourceIdentifier":"Puma_concolor_coryi"}]}}'
  recorded_at: 2020-03-06 18:07:03 GMT
  recorded_with: vcr/0.5.0, webmockr/0.6.0
- request:
    method: get
    uri: https://eol.org/api/pages/1.0/52384445.json?subjects=overview&licenses=all&details=false&common_names=false&synonyms=false&references=false&taxonomy=TRUE&vetted=0
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(taxize/0.9.92.93)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      etag: W/"148a817b6449d103c60233fdc1da3e3e"
    body:
      encoding: UTF-8
      file: no
      string: '{"taxonConcept":{"identifier":52384445,"scientificName":"Puma concolor
        coryi","richness_score":null,"taxonConcepts":[{"identifier":39051943,"scientificName":"Puma
        concolor coryi","name":"Puma concolor coryi","nameAccordingTo":"Wikidata","canonicalForm":"\u003ci\u003ePuma
        concolor coryi\u003c/i\u003e","sourceIdentifier":"Q776670","taxonRank":"subspecies"}]}}'
  recorded_at: 2020-03-06 18:07:03 GMT
  recorded_with: vcr/0.5.0, webmockr/0.6.0
[...]
- request:
    method: get
    uri: https://eol.org/api/pages/1.0/52384446.json?subjects=overview&licenses=all&details=false&common_names=false&synonyms=false&references=false&taxonomy=TRUE&vetted=0
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(taxize/0.9.92.93)
  response:
    status:
      status_code: '500'
      message: Internal Server Error
      explanation: Server got itself in trouble
    headers:
      status: HTTP/1.1 500 Internal Server Error
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: |
        {"error": "Internal server error - 500"}
  recorded_at: 2020-03-06 18:07:03 GMT
  recorded_with: vcr/0.5.0, webmockr/0.6.0
[...]
