http_interactions:
- request:
    method: get
    uri: http://v4.boldsystems.org/index.php/API_Tax/TaxonSearch?taxName=Helianthus
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"top_matched_names":[{"taxid":125295,"taxon":"Helianthus","tax_rank":"genus","tax_division":"Plants","parentid":151101,"parentname":"Asteroideae","taxonrep":"Helianthus","representitive_image":{"image":"SDH\/CCDB-24909-C11_h153421+1421197108.jpg","apectratio":0.688},"specimenrecords":"326"}],"total_matched_names":1}'
  recorded_at: 2019-01-24 01:16:00 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
- request:
    method: get
    uri: http://v4.boldsystems.org/index.php/API_Tax/TaxonSearch?taxName=adsf%20asdf%20asdf
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"top_matched_names":[],"total_matched_names":0}'
  recorded_at: 2019-01-24 01:16:00 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
- request:
    method: get
    uri: http://v4.boldsystems.org/index.php/API_Tax/TaxonSearch?taxName=Helianthus%20excubitor
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"top_matched_names":[],"total_matched_names":0}'
  recorded_at: 2019-01-24 01:16:00 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
[...]
