http_interactions:
- request:
    method: get
    uri: https://v4.boldsystems.org/index.php/API_Tax/TaxonSearch?taxName=Chordata
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"top_matched_names":[{"taxid":18,"taxon":"Chordata","tax_rank":"phylum","tax_division":"Animalia","parentid":1,"taxonrep":"Chordata","representitive_image":{"image":"GBMA\/sheep005+1357763501.jpg","apectratio":1.506},"specimenrecords":"810375"}],"total_matched_names":1}'
  recorded_at: 2020-09-16 17:09:18 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
