http_interactions:
- request:
    method: get
    uri: http://www.marinespecies.org/rest/AphiaRecordsByName/Apedinella?like=true&marine_only=true&offset=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"AphiaID":248097,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=248097","scientificname":"Apedinella
        radians","authority":"(Lohmann) P.H.Campbell, 1973","status":"accepted","unacceptreason":null,"taxonRankID":220,"rank":"Species","valid_AphiaID":248097,"valid_name":"Apedinella
        radians","valid_authority":"(Lohmann) P.H.Campbell, 1973","parentNameUsageID":248096,"kingdom":"Chromista","phylum":"Ochrophyta","class":"Dictyochophyceae","order":"Pedinellales","family":"Pedinellaceae","genus":"Apedinella","citation":"Guiry,
        M.D. & Guiry, G.M. (2020). AlgaeBase. World-wide electronic publication, National
        University of Ireland, Galway (taxonomic information republished from AlgaeBase
        with permission of M.D. Guiry). Apedinella radians (Lohmann) P.H.Campbell,
        1973. Accessed through: World Register of Marine Species at: http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=248097
        on 2020-09-16","lsid":"urn:lsid:marinespecies.org:taxname:248097","isMarine":1,"isBrackish":1,"isFreshwater":null,"isTerrestrial":0,"isExtinct":null,"match_type":"like","modified":"2015-06-26T12:00:51.270Z"},{"AphiaID":248098,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=248098","scientificname":"Apedinella
        spinifera","authority":"(Throndsen) Throndsen, 1971","status":"unaccepted","unacceptreason":"synonym","taxonRankID":220,"rank":"Species","valid_AphiaID":248097,"valid_name":"Apedinella
        radians","valid_authority":"(Lohmann) P.H.Campbell, 1973","parentNameUsageID":248096,"kingdom":"Chromista","phylum":"Ochrophyta","class":"Dictyochophyceae","order":"Pedinellales","family":"Pedinellaceae","genus":"Apedinella","citation":"Guiry,
        M.D. & Guiry, G.M. (2020). AlgaeBase. World-wide electronic publication, National
        University of Ireland, Galway (taxonomic information republished from AlgaeBase
        with permission of M.D. Guiry). Apedinella spinifera (Throndsen) Throndsen,
        1971. Accessed through: World Register of Marine Species at: http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=248098
        on 2020-09-16","lsid":"urn:lsid:marinespecies.org:taxname:248098","isMarine":1,"isBrackish":null,"isFreshwater":null,"isTerrestrial":null,"isExtinct":null,"match_type":"like","modified":"2015-06-26T12:00:51.270Z"}]'
  recorded_at: 2020-09-16 18:11:14 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: http://www.marinespecies.org/rest/AphiaRecordsByName/Apedinella?like=true&marine_only=false&offset=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"AphiaID":248096,"url":"http:\/\/www.m[...]
