http_interactions:
- request:
    method: get
    uri: http://services.tropicos.org/Name/Search?format=json&name=Helianthus%20excubitor&apikey=00ca3d6a-cbcc-4924-b882-c26b16d54446
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/5.2.2 crul/1.5.0 rOpenSci(taxize/0.9.102)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: ''
      file: no
      string: '[{"NameId":50230899,"ScientificName":"Helianthus excubitor","ScientificNameWithAuthors":"Helianthus
        excubitor E. Watson","Family":"Asteraceae","RankAbbreviation":"sp.","NomenclatureStatusName":"No
        opinion","Author":"E. Watson","DisplayReference":"Pap. Michigan Acad. Sci.
        9: 396, pl. 54","DisplayDate":"1929","TotalRows":1}]'
  recorded_at: 2024-09-25 18:54:54 GMT
  recorded_with: vcr/1.6.0.91, webmockr/1.0.0
- request:
    method: get
    uri: http://services.tropicos.org/Name/Search?format=json&name=adsf%20asdf%20asdf&apikey=00ca3d6a-cbcc-4924-b882-c26b16d54446
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/5.2.2 crul/1.5.0 rOpenSci(taxize/0.9.102)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: ''
      file: no
      string: '[{"Error":"No names were found"}]'
  recorded_at: 2024-09-25 18:54:54 GMT
  recorded_with: vcr/1.6.0.91, webmockr/1.0.0
[...]
