http_interactions:
- request:
    method: get
    uri: http://www.plantsoftheworldonline.org/api/2/search?q=adsf%20asdf%20asdf&perPage=100&cursor=%2A
    body:
      encoding: ''
      string: ''
    headers:
      X-User-Agent: r-curl/3.3 crul/0.7.0 taxize/0.9.5.9310
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      etag: '"087a75e35cca4694f5c2a4abfb14b9d9f-gzip"'
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalResults":0,"page":0,"totalPages":0,"perPage":100,"cursor":"*"}'
  recorded_at: 2019-02-21 00:38:06 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
- request:
    method: get
    uri: http://www.plantsoftheworldonline.org/api/2/search?q=Helianthus%20excubitor&perPage=100&cursor=%2A
    body:
      encoding: ''
      string: ''
    headers:
      X-User-Agent: r-curl/3.3 crul/0.7.0 taxize/0.9.5.9310
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      etag: '"0b8b70cc85af8cfbd082f475e8e29685b-gzip"'
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalResults":1,"page":0,"totalPages":1,"perPage":100,"cursor":"AoMIQVhEhT8BNjAwQXN0ZXJhY2VhZUhlbGlhbnRodXNleGN1Yml0b3ItVGF4b25fMTA3NzQxOA==","results":[{"accepted":true,"author":"E.Watson","kingdom":"Plantae","family":"Asteraceae","name":"Helianthus
        excubitor","rank":"Species","url":"/taxon/urn:lsid:ipni.org:names:119125-2","fqId":"urn:lsid:ipni.org:names:119125-2"}]}'
  recorded_at: 2019-02-21 00:38:06 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
[...]
