http_interactions:
- request:
    method: get
    uri: http://www.marinespecies.org/rest/AphiaRecordsByVernacular/asiatic%20clam?like=false&offset=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"AphiaID":181580,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=181580","scientificname":"Corbicula
        fluminea","authority":"(O. F. M\u00fcller, 1774)","status":"accepted","unacceptreason":null,"taxonRankID":220,"rank":"Species","valid_AphiaID":181580,"valid_name":"Corbicula
        fluminea","valid_authority":"(O. F. M\u00fcller, 1774)","parentNameUsageID":238371,"kingdom":"Animalia","phylum":"Mollusca","class":"Bivalvia","order":"Venerida","family":"Cyrenidae","genus":"Corbicula","citation":"MolluscaBase
        eds. (2020). MolluscaBase. Corbicula fluminea (O. F. M\u00fcller, 1774). Accessed
        through: World Register of Marine Species at: http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=181580
        on 2020-09-16","lsid":"urn:lsid:marinespecies.org:taxname:181580","isMarine":0,"isBrackish":null,"isFreshwater":1,"isTerrestrial":0,"isExtinct":0,"match_type":"exact","modified":"2015-11-28T00:49:17.317Z"}]'
  recorded_at: 2020-09-16 18:11:13 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
