http_interactions:
- request:
    method: get
    uri: https://eol.org/api/search/1.0.json?q=adsf%2Basdf%2Basdf&page=1
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(taxize/1.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      etag: W/"dc0e79a0d15459ce916f533908820166"
    body:
      encoding: UTF-8
      file: no
      string: '{"totalResults":0,"startIndex":1,"itemsPerPage":50,"results":[]}'
  recorded_at: 2021-09-15 22:46:03 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
