http_interactions:
- request:
    method: get
    uri: http://www.marinespecies.org/rest/AphiaRecordsByName/Gadus%20morhua?like=true&marine_only=true&offset=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"AphiaID":126436,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=126436","scientificname":"Gadus
        morhua","authority":"Linnaeus, 1758","status":"accepted","unacceptreason":null,"rank":"Species","valid_AphiaID":126436,"valid_name":"Gadus
        morhua","valid_authority":"Linnaeus, 1758","kingdom":"Animalia","phylum":"Chordata","class":"Actinopterygii","order":"Gadiformes","family":"Gadidae","genus":"Gadus","citation":"Froese,
        R. and D. Pauly. Editors. (2019). FishBase. Gadus morhua Linnaeus, 1758. Accessed
        through: World Register of Marine Species at: http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=126436
        on 2019-01-29","lsid":"urn:lsid:marinespecies.org:taxname:126436","isMarine":1,"isBrackish":1,"isFreshwater":0,"isTerrestrial":0,"isExtinct":null,"match_type":"like","modified":"2008-01-15T17:27:08.177Z"},{"AphiaID":322689,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=322689","scientificname":"Gadus
        morhua callarias","authority":"Linnaeus, 1758","status":"unaccepted","unacceptreason":null,"rank":"Subspecies","valid_AphiaID":126436,"valid_name":"Gadus
        morhua","valid_authority":"Linnaeus, 1758","kingdom":"Animalia","phylum":"Chordata","class":"Actinopterygii","order":"Gadiformes","family":"Gadidae","genus":"Gadus","citation":"Froese,
  [...]
- request:
    method: get
    uri: http://www.marinespecies.org/rest/AphiaRecordsByName/Platanista%20gangetica?like=true&marine_only=true&offset=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"AphiaID":254967,"url":"http[...]
- request:
    method: get
    uri: http://www.marinespecies.org/rest/AphiaRecordsByName/Lichenopora%20neapolitana?like=true&marine_only=true&offset=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"AphiaID":933474,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=933474","scientificname":"Lichenopora
        neapolitana","authority":"Waters, 1918","status":"nomen nudum","unacceptreason":null,"rank":"Species","valid_AphiaID":null,"valid_name":null,"valid_authority":null,"kingdom":"Animalia","phylum":"Bryozoa","class":"Stenolaemata","order":"Cyclostomatida","family":"Lichenoporidae","genus":"Lichenopora","citation":"WoRMS
        (2019). Lichenopora neapolitana Waters, 1918. Accessed at: http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=933474
        on 2019-01-29","lsid":"urn:lsid:marinespecies.org:taxname:933474","isMarine":1,"isBrackish":null,"isFreshwater":null,"isTerrestrial":null,"isExtinct":null,"match_type":"like","modified":"2017-01-09T20:02:52.330Z"}]'
  recorded_at: 2019-01-28 23:30:56 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
