http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Z%2A&strict=FALSE&verbose=TRUE&limit=500
    body:
      encoding: ''
      string: ''
    headers:
      X-User-Agent: r-curl/3.3 crul/0.7.0.9100 taxize/0.9.4.9914
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"confidence":100,"matchType":"NONE","synonym":false}'
  recorded_at: 2019-01-26 17:07:33 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
- request:
    method: get
    uri: https://api.gbif.org/v1/species/search?q=Z%2A&datasetKey=d7dddbf4-2cf0-4f39-9b2a-bb099caae36c&limit=500
    body:
      encoding: ''
      string: ''
    headers:
      X-User-Agent: r-curl/3.3 crul/0.7.0.9100 taxize/0.9.4.9914
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"offset":0,"limit":500,"endOfRecords":false,"count":4897,"results":[{"key":1679744,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ddf754f-d193-4cc9-b351-99906754a03b","nubKey":1679744,"parentKey":1679742,"parent":"Mazarredia","kingdom":"Animalia","phylum":"Arthropoda","order":"Orthoptera","family":"Tetrigidae","genus":"Mazarredia","species":"Mazarredia
        chishuia","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":1458,"familyKey":3040,"genusKey":1679742,"speciesKey":1679744,"scientificName":"Mazarredia
        chishuia Zheng, Z. & Z.-Z.Li, 2006","canonicalName":"Mazarredia chishuia","authorship":"Zheng,
        Z. & Z.-Z.Li, 2006","publishedIn":"Zheng, Z. & Z.-Z. Li. 2006. In Zheng, Z.
        & F.-M. Shi. Catantopidae, Arcypteridae and Acrididae. In Jin, D.-C. & Z.-Z.
        Li [Ed.]. Discotettigidae, Cladonotidae, Scelimenidae, Metrodoridae and Tetrigidae.
        Insects from Chishui spinulose tree fern landscape, Guizhou Science and Technology
        Publishing House, Guiyang 79-92","nameType":"SCIENTIFIC","taxonomicStatus":"ACCEPTED","rank":"SPECIES","origin":"SOURCE","numDescendants":0,"numOccurrences":0,"extinct":false,"habitats":["TERRESTRIAL"],"nomenclaturalStatus":[],"threatStatuses":[],"descriptions":[{"description":"Terrestrial."},{"description":"CHC-GZ"}],"vernacularNames":[],"higherClassificationMap":{"1":"Animalia","54":"Arthropoda","216":"Insecta","1458":"Orthoptera","3040":"Tetrigidae","1679742":"Mazarredia"},"synonym":false,"class":"Insecta"},{"key":1680371,"datasetKey":"d7dddbf4-2cf0-4f39-9b2a-bb099caae36c","constituentKey":"7ddf754f-d193-4cc9-b351-99906754a03b","nubKey":1680371,"parentKey":1680368,"parent":"Flatocerus","acceptedKey":1680375,"accepted":"Flatocerus
        wuyishanensis Zheng & Z., 1991","kingdom":"Animalia","phylum":"Arthropoda","order":"Orthoptera","family":"Tetrigidae","genus":"Flatocerus","species":"Flatocerus
        wuyishanensis","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":1458,"familyKey":3040,"genusKey":1680368,"speciesKey":1680375,"scientificName":"Flatocerus
        chishuiensis Zheng, Z. & Z.-Z.Li, 2006","canonicalName":"Flatocerus chishuiensis","authorship":"Zheng,
        Z. & Z.-Z.Li, 2006","published[...]
