http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Chironomus%20riparius&strict=FALSE&verbose=TRUE&limit=500
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(taxize/1.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"usageKey":1448237,"scientificName":"Chironomus riparius Meigen, 1804","canonicalName":"Chironomus
        riparius","rank":"SPECIES","status":"ACCEPTED","confidence":98,"note":"Similarity:
        name=110; authorship=0; classification=-2; rank=5; status=1; nextMatch=5","matchType":"EXACT","alternatives":[{"usageKey":1449850,"scientificName":"Chironomus
        vicarius (Walker, 1850)","canonicalName":"Chironomus vicarius","rank":"SPECIES","status":"ACCEPTED","confidence":9,"note":"Similarity:
        name=5; authorship=0; classification=-2; rank=5; status=1","matchType":"FUZZY","kingdom":"Animalia","phylum":"Arthropoda","order":"Diptera","family":"Chironomidae","genus":"Chironomus","species":"Chironomus
        vicarius","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":811,"familyKey":3343,"genusKey":1448033,"speciesKey":1449850,"synonym":false,"class":"Insecta"}],"kingdom":"Animalia","phylum":"Arthropoda","order":"Diptera","family":"Chironomidae","genus":"Chironomus","species":"Chironomus
        riparius","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":811,"familyKey":3343,"genusKey":1448033,"speciesKey":1448237,"synonym":false,"class":"Insecta"}'
  recorded_at: 2021-09-15 22:46:39 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Pinus%20contorta&strict=FALSE&verbose=TRUE&limit=500
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(taxize/1.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"usageKey":5285750,"scientificName":"Pinus contorta Douglas ex Loudon","canonicalName":"Pinus
        contorta","rank":"SPECIES","status":"ACCEPTED","confidence":97,"note":"Similarity:
        name=110; authorship=0; classification=-2; rank=5; status=1; nextMatch=0","matchType":"EXACT","alternatives":[{"usageKey":7617264,"acceptedUsageKey":5285750,"scientificName":"Pinus
        contorta Douglas","canonicalName":"Pinus contorta","rank":"SPECIES","status":"SYNONYM","confidence":97,"note":"Similarity:
        name=110; authorship=0; classification=-2; rank=5; status=0","matchType":"EXACT","kingdom":"Plantae","phylum":"Tracheophyta","order":"Pinales","family":"Pinaceae","genus":"Pinus","species":"Pinus
        contorta","kingdomKey":6,"phylumKey":7707728,"classKey":194,"orderKey":640,"familyKey":3925,"genusKey":2684241,"speciesKey":5285750,"synonym":true,"class":"Pinopsida"},{"usageKey":8405446,"scientificName":"Pinus
        contorta Bol., 1866","canonicalName":"Pinus contorta","rank":"SPECIES","status":"DOUBTFUL","confidence":95,"note":"Similarity:
        name=110; authorship=0; classification=-2; rank=5; status=-5","matchType":"EXACT","kingdom":"Plantae","phylum":"Tracheophyta","order":"Pinales","family":"Pinaceae","genus":"Pinus","species":"Pinus
        contorta","kingdomKey":6,"phylumKey":7707728,"classKey":194,"orderKey":640,"familyKey":3925,"genusKey":2684241,"speciesKey":8405446,"synonym":false,"class":"Pinopsida"}],"kingdom":"Plantae","phylum":"Tracheophyta","order":"Pinales","family":"Pinaceae","genus":"Pinus","species":"Pinus
        contorta","kingdomKey":6,"phylumKey":7707728,"classKey":194,"orderKey":640,"familyKey":3925,"genusKey":2684241,"speciesKey":5285750,"synonym":false,"class":"Pinopsida"}'
  recorded_at: 2021-09-15 22:46:39 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
