http_interactions:
- request:
    method: post
    uri: https://explorer.natureserve.org/api/data/speciesSearch
    body:
      encoding: ''
      string: '{"criteriaType":"species","textCriteria":[{"paramType":"textSearch","searchToken":"Pomatomus
        saltatrix","matchAgainst":"allScientificNames","operator":"similarTo"}]}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 200
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"results":[{"recordType":"SPECIES","elementGlobalId":101998,"uniqueId":"ELEMENT_GLOBAL.2.101998","nsxUrl":"/Taxon/ELEMENT_GLOBAL.2.101998/Pomatomus_saltatrix","elcode":"AFCQS01010","scientificName":"Pomatomus
        saltatrix","formattedScientificName":"<i>Pomatomus saltatrix</i>","primaryCommonName":"Bluefish","primaryCommonNameLanguage":"EN","roundedGRank":"G5","nations":[{"nationCode":"US","roundedNRank":"N5","subnations":[{"subnationCode":"RI","roundedSRank":"SNR","exotic":false,"native":true},{"subnationCode":"LA","roundedSRank":"S4","exotic":false,"native":true},{"subnationCode":"NY","roundedSRank":"SNRN","exotic":false,"native":true},{"subnationCode":"GA","roundedSRank":"SNR","exotic":false,"native":true}],"exotic":false,"native":true}],"lastModified":"2020-09-05T01:23:30.259166Z","classificationStatus":"Standard","speciesGlobal":{"usesaCode":null,"cosewicCode":null,"saraCode":null,"synonyms":[],"otherCommonNames":[],"kingdom":"Animalia","phylum":"Craniata","taxclass":"Actinopterygii","taxorder":"Perciformes","family":"Pomatomidae","genus":"Pomatomus","taxonomicComments":null,"informalTaxonomy":"Animals
        - Vertebrates - Fishes - Marine Bony and Cartilaginous; Hagfishes","infraspecies":false,"completeDistribution":false},"gRank":"G5"}],"resultsSummary":{"page":0,"recordsPerPage":20,"totalPages":1,"totalResults":1,"speciesResults":{"total":1}},"searchCriteria":{"criteriaType":"species","textCriteria":[{"paramType":"textSearch","searchToken":"Pomatomus
        saltatrix","matchAgainst":"allScientificNames","operator":"similarTo"}],"statusCriteria":null,"locationCriteria":null,"pagingOptions":{"page":0,"recordsPerPage":20},"recordSubtypeCriteria":null,"modifiedSince":null,"locationOptions":null,"classificationOptions":null,"speciesTaxonomyCriteria":null}}'
  recorded_at: 2020-09-16 17:30:34 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
[...]
