http_interactions:
- request:
    method: get
    uri: https://biodiversity.org.au/nsl/services/api/name/acceptable-name.json?name=Acacia%20a
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(taxize/0.9.99.92)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"action":"acceptable-name","count":100,"query":"Acacia a","names":[{"class":"au.org.biodiversity.nsl.Name","_links":{"permalink":{"link":"https://id.biodiversity.org.au/name/apni/165295","preferred":true,"resources":1}},"nameType":"scientific","nameStatus":"legitimate","nameRank":"Species","primaryInstance":[{"class":"au.org.biodiversity.nsl.Instance","_links":{"permalink":{"link":"https://id.biodiversity.org.au/instance/apni/559927","preferred":true,"resources":1}},"instanceType":"tax.
        nov.","page":"313","name":"<scientific><name data-id=''165295''><scientific><name
        data-id=''56859''><element>Acacia<\u002felement><\u002fname><\u002fscientific>
        <element>abbatiana<\u002felement> <authors><author data-id=''1524'' title=''Pedley,
        L.''>Pedley<\u002fauthor><\u002fauthors><\u002fname><\u002fscientific>","protologue":true,"citation":"Pedley,
        L. (25 January 1999), Notes on Acacia (Leguminosae: Mimosoideae) chiefly from
        northern Australia. Austrobaileya 5(2)","citationHtml":"<ref data-id=''39772''><ref-paper><author>Pedley,
        L.<\u002fauthor> <year>(25 January 1999)<\u002fyear>, <ref-title>Notes on
        Acacia (Leguminosae: Mimosoideae) chiefly from northern Australia.<\u002fref-title>
        <par-title><i>Austrobaileya<\u002fi><\u002fpar-title> <volume>5(2)<\u002fvolume><\u002fref-paper><\u002fref>","citationAuthYear":"Pedley,
        1999"}],"fullName":"Acacia abbatiana Pedley","fullNameHtml":"<scientific><name
        data-id=''165295''><scientific><name data-id=''56859''><element>Acacia<\u002felement><\u002fname><\u002fscientific>
        <element>abbatiana<\u002felement> <authors><author data-id=''1524'' title=''Pedley,
        L.''>Pedley<\u002fauthor><\u002fauthors><\u002fname><\u002fscientific>","simpleName":"Acacia
        abbatiana","simpleNameHtml":"<scientific><name data-id=''165295''><scientific><name
        data-id=''56859''><element>Acacia<\u002felement><\u002fname><\u002fscientific>
        <element>abbatiana<\u002felement><\u002fname><\u002fscientific>"},{"class":"au.org.biodiversity.nsl.Name","_links":{"permalink":{"link":"https://id.biodiversity.org.au/name/apni/57932","preferred":true,"resources":1}},"nameType":"scientific","nameStatus":"legitimate","nameRank":"Species","primaryInstance":[{"class":"au.org.biodiversity.nsl.Instanc[...]
[...]
