http_interactions:
- request:
    method: get
    uri: http://www.marinespecies.org/rest/AphiaRecordsByVernacular/asiatic%20clam?like=false&offset=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"AphiaID":181580,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=181580","scientificname":"Corbicula
        fluminea","authority":"(O. F. M\u00fcller, 1774)","status":"accepted","unacceptreason":null,"rank":"Species","valid_AphiaID":181580,"valid_name":"Corbicula
        fluminea","valid_authority":"(O. F. M\u00fcller, 1774)","kingdom":"Animalia","phylum":"Mollusca","class":"Bivalvia","order":"Venerida","family":"Cyrenidae","genus":"Corbicula","citation":"MolluscaBase
        (2018). Corbicula fluminea (O. F. M\u00fcller, 1774). Accessed through: World
        Register of Marine Species at: http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=181580
        on 2019-01-26","lsid":"urn:lsid:marinespecies.org:taxname:181580","isMarine":0,"isBrackish":null,"isFreshwater":1,"isTerrestrial":0,"isExtinct":0,"match_type":"exact","modified":"2015-11-28T00:49:17.317Z"}]'
  recorded_at: 2019-01-26 17:23:51 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
