http_interactions:
- request:
    method: get
    uri: https://v4.boldsystems.org/index.php/API_Tax/TaxonSearch?taxName=Chordata&fuzzy=false
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: text/html; charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"top_matched_names":[{"taxid":18,"taxon":"Chordata","tax_rank":"phylum","tax_division":"Animalia","parentid":1,"taxonrep":"Chordata","representitive_image":{"image":"GBMA\/sheep005+1357763501.jpg","apectratio":1.506},"specimenrecords":"1041476"}],"total_matched_names":1}'
  recorded_at: 2024-09-05 22:54:20 GMT
  recorded_with: vcr/1.6.0.91, webmockr/1.0.0
