http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Chironomus%20riparius&strict=FALSE&verbose=TRUE&limit=500
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(taxize/0.9.97.95)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"usageKey":1448237,"scientificName":"Chironomus riparius Meigen, 1804","canonicalName":"Chironomus
        riparius","rank":"SPECIES","status":"ACCEPTED","confidence":98,"note":"Similarity:
        name=110; authorship=0; classification=-2; rank=5; status=1; nextMatch=5","matchType":"EXACT","alternatives":[{"usageKey":1449850,"scientificName":"Chironomus
        vicarius (Walker, 1850)","canonicalName":"Chironomus vicarius","rank":"SPECIES","status":"ACCEPTED","confidence":9,"note":"Similarity:
        name=5; authorship=0; classification=-2; rank=5; status=1","matchType":"FUZZY","kingdom":"Animalia","phylum":"Arthropoda","order":"Diptera","family":"Chironomidae","genus":"Chironomus","species":"Chironomus
        vicarius","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":811,"familyKey":3343,"genusKey":1448033,"speciesKey":1449850,"synonym":false,"class":"Insecta"}],"kingdom":"Animalia","phylum":"Arthropoda","order":"Diptera","family":"Chironomidae","genus":"Chironomus","species":"Chironomus
        riparius","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":811,"familyKey":3343,"genusKey":1448033,"speciesKey":1448237,"synonym":false,"class":"Insecta"}'
  recorded_at: 2020-09-16 17:25:02 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Pinus%20contorta&strict=FALSE&verbose=TRUE&limit=500
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(taxize/0.9.97.95)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      [...]
