http_interactions:
- request:
    method: get
    uri: https://powo.science.kew.org/api/2/search?q=adsf%20asdf%20asdf&perPage=100&cursor=%2A
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/5.2.2 crul/1.5.0 rOpenSci(taxize/0.9.102)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/1.1 200 '
      content-type: application/json;charset=UTF-8
      etag: '"079f43b03e319832200d33519d1aafd9b"'
    body:
      encoding: ''
      file: no
      string: '{"totalResults":0,"page":1,"totalPages":0,"perPage":100,"cursor":"*","message":"If
        you would like to download and use the POWO data in a conciencious way, please
        use our official library pykew [https://github.com/RBGKew/pykew]."}'
  recorded_at: 2024-09-05 22:54:44 GMT
  recorded_with: vcr/1.6.0.91, webmockr/1.0.0
- request:
    method: get
    uri: https://powo.science.kew.org/api/2/search?q=Helianthus%20excubitor&perPage=100&cursor=%2A
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/5.2.2 crul/1.5.0 rOpenSci(taxize/0.9.102)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/1.1 200 '
      content-type: application/json;charset=UTF-8
      etag: '"01545ab021713d7972919125a9285f8e4"'
    body:
      encoding: ''
      file: no
      string: '{"totalResults":1,"page":1,"totalPages":1,"perPage":100,"cursor":"AoMIQVxwQT8BNjAwQXN0ZXJhY2VhZUhlbGlhbnRodXNleGN1Yml0b3IsVGF4b25fNDIxNTk0","message":"If
        you would like to download and use the POWO data in a conciencious way, please
        use our official library pykew [https://github.com/RBGKew/pykew].","results":[{"accepted":true,"author":"E.Watson","kingdom":"Plantae","family":"Asteraceae","name":"Helianthus
        excubitor","rank":"Species","url":"/taxon/urn:lsid:ipni.org:names:119125-2","fqId":"urn:lsid:ipni.org:names:119125-2"}]}'
  recorded_at: 2024-09-05 22:54:44 GMT
  recorded_with: vcr/1.6.0.91, webmockr/1.0.0
[...]
