http_interactions:
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Chironomus%20riparius&strict=FALSE&verbose=TRUE&limit=500
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/5.2.2 crul/1.5.0 rOpenSci(taxize/0.9.102)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"usageKey":1448237,"scientificName":"Chironomus riparius Meigen, 1804","canonicalName":"Chironomus
        riparius","rank":"SPECIES","status":"ACCEPTED","confidence":99,"note":"Similarity:
        name=110; authorship=0; classification=-2; rank=6; status=1; score=115; singleMatch=5","matchType":"EXACT","kingdom":"Animalia","phylum":"Arthropoda","order":"Diptera","family":"Chironomidae","genus":"Chironomus","species":"Chironomus
        riparius","kingdomKey":1,"phylumKey":54,"classKey":216,"orderKey":811,"familyKey":3343,"genusKey":1448033,"speciesKey":1448237,"synonym":false,"class":"Insecta"}'
  recorded_at: 2024-09-05 22:54:34 GMT
  recorded_with: vcr/1.6.0.91, webmockr/1.0.0
- request:
    method: get
    uri: https://api.gbif.org/v1/species/match?name=Pinus%20contorta&strict=FALSE&verbose=TRUE&limit=500
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/5.2.2 crul/1.5.0 rOpenSci(taxize/0.9.102)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"usageKey":5285750,"scientificName":"Pinus contorta Douglas ex Loudon","canonicalName":"Pinus
        contorta","rank":"SPECIES","status":"ACCEPTED","confidence":97,"note":"Similarity:
        name=110; authorship=0; classification=-2; rank=6; status=1; score=115; nextMatch=0","matchType":"EXACT","alternatives":[{"usageKey":7617264,"acceptedUsageKey":5285750,"scientificName":"Pinus
        contorta Douglas","canonicalName":"Pinus contorta","rank":"SPECIES","status":"SYNONYM","confidence":97,"note":"Similarity:
        name=110; authorship=0; classification=-2; rank=6; status=0; score=114","matchType":"EXACT","kingdom":"Plantae","phylum":"Tracheophyta","order":"Pinales","family":"Pinaceae","genus":"Pinus","species":"Pinus
        contorta","kingdomKey":6,"phylumKey":7707728,"classKey":194,"orderKey":640,"familyKey":3925,"genusKey":2684241,"sp[...]
