http_interactions:
- request:
    method: post
    uri: https://api.opentreeoflife.org/v3/tnrs/match_names
    body:
      encoding: ''
      string: '{"names":["Quercus douglasii"],"do_approximate_matching":true,"include_suppressed":false}'
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;
    body:
      encoding: UTF-8
      file: no
      string: |-
        {
         "context": "Rosids",
         "governing_code": "ICN",
         "includes_approximate_matches": true,
         "includes_deprecated_taxa": false,
         "includes_suppressed_names": false,
         "matched_names": [
          "Quercus douglasii"
         ],
         "results": [
          {
           "matches": [
            {
             "is_approximate_match": false,
             "is_synonym": false,
             "matched_name": "Quercus douglasii",
             "nomenclature_code": "ICN",
             "score": 1.0,
             "search_string": "quercus douglasii",
             "taxon": {
              "flags": [],
              "is_suppressed": false,
              "is_suppressed_from_synth": false,
              "name": "Quercus douglasii",
              "ott_id": 3930798,
              "rank": "species",
              "source": "ott3.2draft9",
              "synonyms": [
               "Quercus oblongifolia brevilobata",
               "Quercus gambelii",
               "Quercus ransomii",
               "Quercus douglasii ransomii"
              ],
              "tax_sources": [
               "ncbi:465759",
               "gbif:2878266",
               "irmng:10607676"
              ],
              "unique_name": "Quercus douglasii"
             }
            }
           ],
           "name": "Quercus douglasii"
          }
         ],
         "taxonomy": {
          "author": "open tree of life project",
          "name": "ott",
          "source": "ott3.2draft9",
          "version": "3.2",
          "weburl": "https://tree.opentreeoflife.org/about/taxonomy-version/ott3.2"
         },
         "unambiguous_names": [
          "Quercus douglasii"
         ],
         "unmatched_names": []
        }
  recorded_at: 2020-04-17 14:55:58 GMT
  recorded_with: vcr/0.5.4.91, webmockr/0.6.2.92
[...]
