http_interactions:
- request:
    method: get
    uri: https://eol.org/api/search/1.0.json?q=adsf%2Basdf%2Basdf&page=1
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/5.2.2 crul/1.5.0 rOpenSci(taxize/0.9.102)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      etag: W/"dc0e79a0d15459ce916f533908820166"
    body:
      encoding: ''
      file: no
      string: '{"totalResults":0,"startIndex":1,"itemsPerPage":50,"results":[]}'
  recorded_at: 2024-09-05 22:54:28 GMT
  recorded_with: vcr/1.6.0.91, webmockr/1.0.0
