http_interactions:
- request:
    method: post
    uri: https://api.opentreeoflife.org/v3/tnrs/match_names
    body:
      encoding: ''
      string: '{"names":["Dugesia"],"do_approximate_matching":true,"include_suppressed":false}'
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;
    body:
      encoding: UTF-8
      file: no
      string: |-
        {
         "context": "All life",
         "governing_code": "undefined",
         "includes_approximate_matches": true,
         "includes_deprecated_taxa": false,
         "includes_suppressed_names": false,
         "matched_names": [
          "Dugesia"
         ],
         "results": [
          {
           "matches": [
            {
             "is_approximate_match": false,
             "is_synonym": false,
             "matched_name": "Dugesia",
             "nomenclature_code": "ICN",
             "score": 1.0,
             "search_string": "dugesia",
             "taxon": {
              "flags": [],
              "is_suppressed": false,
              "is_suppressed_from_synth": false,
              "name": "Dugesia",
              "ott_id": 750182,
              "rank": "genus",
              "source": "ott3.3draft1",
              "synonyms": [],
              "tax_sources": [
               "ncbi:121909",
               "gbif:3091142",
               "irmng:1291533"
              ],
              "unique_name": "Dugesia (genus in kingdom Archaeplastida)"
             }
            },
            {
             "is_approximate_match": false,
             "is_synonym": false,
             "matched_name": "Dugesia",
             "nomenclature_code": "ICZN",
             "score": 1.0,
             "search_string": "dugesia",
             "taxon": {
              "flags": [],
              "is_suppressed": false,
              "is_suppressed_from_synth": false,
              "name": "Dugesia",
            [...]
