http_interactions:
- request:
    method: get
    uri: http://v4.boldsystems.org/index.php/API_Tax/TaxonSearch?taxName=Chordata
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"top_matched_names":[{"taxid":18,"taxon":"Chordata","tax_rank":"phylum","tax_division":"Animals","parentid":1,"taxonrep":"Chordata","representitive_image":{"image":"GBMA\/sheep005+1357763501.jpg","apectratio":1.506},"specimenrecords":"626751"}],"total_matched_names":1}'
  recorded_at: 2019-01-24 01:16:57 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
