http_interactions:
- request:
    method: get
    uri: https://species-ws.nbnatlas.org/search?q=Poa%20annua&fq=idxtype%3ATAXON&pageSize=500&startIndex=0
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(taxize/1.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-application-context: application:production
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"searchResults":{"totalRecords":93,"facetResults":[],"results":[{"id":"00f44ac7-0925-40a3-9dce-462233eaf966","guid":"NBNSYS0000002544","linkIdentifier":"Poa
        annua","idxtype":"TAXON","name":"Poa annua","kingdom":"Plantae","nomenclaturalCode":null,"scientificName":"Poa
        annua","scientificNameAuthorship":"L.","author":"L.","nameComplete":"Poa annua
        L.","nameFormatted":"<span class=\"scientific-name rank-species\"><span class=\"name\">Poa
        annua<\u002fspan> <span class=\"author\">L.<\u002fspan><\u002fspan>","taxonomicStatus":"accepted","nomenclaturalStatus":null,"parentGuid":"NHMSYS0000461798","rank":"species","rankID":7000,"commonName":"Annual
        Meadow-Grass, Annual Meadow-grass, Gwellt y Gweunydd, Gweunwellt Blynyddol,
        Gweunwellt Unflwydd","commonNameSingle":"Annual Meadow-grass","occurrenceCount":101934,"conservationStatus":null,"infoSourceName":"UKSI","infoSourceURL":"https://registry.nbnatlas.org/public/show/null","taxonGroup_s":"flowering
        plant","establishmentMeans":"Native","establishmentStatus_s":null,"datasetID":null,"listMembership_m_s":null,"riskAssessment_m_s":null,"managementPlans_m_s":null,"habitat_s":"freshwater","habitat_m_s":["freshwater"],"speciesGroup":["Plants"],"synonymComplete":null,"kingdomGuid":"NBNSYS0100004757","orderGuid":"NHMSYS0021060390","order":"Poales","class":"Magnoliopsida","genus":"Poa","phylum":"Tracheophyta","genusGuid":"NHMSYS0000461798","family":"Poaceae","classGuid":"NBNSYS0100003871","familyGuid":"NBNSYS0000160753","phylumGuid":"NHMSYS0020787695","species":"Poa
        annua","speciesGuid":"NBNSYS0000002544","highlight":"<b>Annual<\u002fb> Meadow-grass<br><b>Poa<\u002fb>
        <b>annua<\u002fb> L.<br><b>Poa annua<\u002fb><br><b>Annual Meadow-grass<\u002fb><br><b>Poa<\u002fb>
        <b>annua<\u002fb>"},{"id":"52d8283a-63c4-4d16-a81a-57fc49aa80aa","guid":"NBNSYS0200003392","linkIdentifier":null,"idxtype":"TAXON","name":"Triumfetta
        annua","kingdom":"Plantae","nomenclaturalCode":null,"scientificName":"Triumfetta
        annua","scientificNameAuthorship":"L.","author":"L.","nameComplete":"Triumfetta
        annua L.","nameFormatted":"<span [...]
