http_interactions:
- request:
    method: get
    uri: https://parser.globalnames.org/api?q=Cyanistes%20caeruleus
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(taxize/1.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/plain; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: |
        [
        {"parsed":true,"quality":1,"verbatim":"Cyanistes caeruleus","normalized":"Cyanistes caeruleus","cardinality":2,"canonicalName":{"full":"Cyanistes caeruleus","simple":"Cyanistes caeruleus","stem":"Cyanistes caerule"},"details":[{"genus":{"value":"Cyanistes"},"specificEpithet":{"value":"caeruleus"}}],"positions":[["genus",0,9],["specificEpithet",10,19]],"surrogate":false,"virus":false,"hybrid":false,"bacteria":false,"nameStringId":"88e91191-2617-571d-94ef-bf3fafd32c1e","parserVersion":"v0.14.1"}]
  recorded_at: 2021-09-15 22:47:39 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
