http_interactions:
- request:
    method: get
    uri: https://parser.globalnames.org/api/v1/Cyanistes%20caeruleus
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/5.2.3 crul/1.5.0 rOpenSci(taxize/0.9.102)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: HTTP/1.1 200 OK
    body:
      encoding: ''
      file: no
      string: |
        [{"parsed":true,"quality":1,"verbatim":"Cyanistes caeruleus","normalized":"Cyanistes caeruleus","canonical":{"stemmed":"Cyanistes caerule","simple":"Cyanistes caeruleus","full":"Cyanistes caeruleus"},"cardinality":2,"rank":"sp.","id":"88e91191-2617-571d-94ef-bf3fafd32c1e","parserVersion":"v1.10.1"}]
  recorded_at: 2024-09-27 01:55:14 GMT
  recorded_with: vcr/1.6.0.91, webmockr/1.0.0
