http_interactions:
- request:
    method: get
    uri: https://verifier.globalnames.org/api/v1/data_sources
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/6.2.0 crul/1.5.0 rOpenSci(taxize/0.9.102)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json
      status: 'HTTP/2 200 '
    body:
      encoding: ''
      file: no
      string: |
        [{"id":1,"uuid":"d4df2968-4257-4ad9-ab81-bedbbfb25e2a","title":"Catalogue of Life","titleShort":"Catalogue of Life","version":"2024-12-19","doi":"10.48580/dglq4","description":"The Catalogue of Life is an assembly of expert-based global species checklists with the aim to build a comprehensive catalogue of all known species of organisms on Earth. Continuous progress is made towards completion, but for now, it probably includes just over 80% of the world's known species. The Catalogue of Life estimates 2.3M extant species on the planet recognised by taxonomists at present time. This means that for many groups it continues to be deficient, and users may notice that many species are still missing from the Catalogue.\n\n### What's new in December 2024 edition?\n\n#### 86 checklists have been updated:\n\n* 3i Auchenorrhyncha\n* Entiminae\n* GLI\n* ITIS (incl. new global checklist for cynaobacteria, class Cyanophyceae)\n* Scarabs\n* Sesiidae\n* SF Aphid\n* SF Chrysididae\n* SF Coreoidea\n* SF Dermaptera\n* SF Embioptera\n* SF Isoptera \n* SF Lygaeoidea \n* SF Mantodea \n* SF Orthoptera \n* SF Phasmida \n* SF Plecoptera \n* SF Psocodea \n* Systema Dipterorum\n* WCO \n* WOL \n* WoRMS, 65 checklists\n\n#### Other changes:\n\n* Gymnodinium ver. 0.1 of Jun 2017, Mites GSD Tenuipalpidae of Nov 2009 were re-synced.","homeURL":"https://www.catalogueoflife.org/","isOutlinkReady":true,"curation":"Curated","hasTaxonData":true,"recordCount":5256795,"updatedAt":"2025-01-29"},{"id":2,"uuid":"68923690-0727-473c-b7c5-2ae9e601e3fd","title":"Wikispecies","titleShort":"Wikispecies","version":"2025-01-29","description":"The free species directory that anyone can edit.","homeURL":"https://species.wikimedia.org/wiki/Main_Page","isOutlinkReady":true,"curation":"Curated","hasTaxonData":false,"recordCount":786988,"updatedAt":"2025-01-29"},{"id":3,"uuid":"5d066e84-e512-4a2f-875c-0a605d3d9f35","title":"Integrated Taxonomic Information SystemITIS","titleShort":"ITIS"[...]
