http_interactions:
- request:
    method: get
    uri: http://gni.globalnames.org/parsers.json?names=Nu%20aakhu
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(taxize/1.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json; charset=utf-8
      etag: '"f003ec2832883ef62f03058c185ec25d"'
      status:
      - HTTP/1.1 200 OK
      - 200 OK
    body:
      encoding: UTF-8
      file: no
      string: |-
        [{"scientificName":{"parsed":false,"parser_version":"3.1.4","verbatim":"Nu aakhu\n"}}
        ]
  recorded_at: 2021-09-15 22:47:40 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
