http_interactions:
- request:
    method: get
    uri: http://gni.globalnames.org/name_strings.json?search_term=ama%2A&per_page=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json; charset=utf-8
      etag: '"20d31a3d67d21535e87052fe3b2c45cf"'
      status:
      - HTTP/1.1 200 OK
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"name_strings":[{"uuid_hex":"4176e232-9271-5103-ae17-019b866a9e91","name":"*litsea
        amara Blume","id":22693003,"lsid":"urn:lsid:globalnames.org:index:4176e232-9271-5103-ae17-019b866a9e91","resource_uri":"http://gni.globalnames.org/name_strings/22693003.xml"}],"name_strings_total":57492,"page_number":1,"per_page":1}'
  recorded_at: 2019-01-24 19:00:00 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
