http_interactions:
- request:
    method: get
    uri: http://gni.globalnames.org/name_strings.json?search_term=ama%2A&per_page=1
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(taxize/1.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json; charset=utf-8
      etag: '"869e56134157c8e8ca83a2ddbe17e6e6"'
      status:
      - HTTP/1.1 200 OK
      - 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"name_strings":[{"uuid_hex":"4176e232-9271-5103-ae17-019b866a9e91","name":"*litsea
        amara Blume","lsid":"urn:lsid:globalnames.org:index:4176e232-9271-5103-ae17-019b866a9e91","resource_uri":"http://gni.globalnames.org/name_strings/22693003.xml","id":22693003}],"name_strings_total":57492,"page_number":1,"per_page":1}'
  recorded_at: 2021-09-15 22:47:42 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
