http_interactions:
- request:
    method: get
    uri: http://gni.globalnames.org/parsers.json?names=Cyanistes%20caeruleus
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(taxize/1.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json; charset=utf-8
      etag: '"7f5a346a633add12dd95333822bd77c8"'
      status:
      - HTTP/1.1 200 OK
      - 200 OK
    body:
      encoding: UTF-8
      file: no
      string: |-
        [{"scientificName":{"parsed":true,"parser_version":"3.1.4","verbatim":"Cyanistes caeruleus","normalized":"Cyanistes caeruleus","canonical":"Cyanistes caeruleus","hybrid":false,"details":[{"genus":{"string":"Cyanistes"},"species":{"string":"caeruleus"}}],"parser_run":1,"positions":{"0":["genus",9],"10":["species",19]}}}
        ]
  recorded_at: 2021-09-15 22:47:40 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
