http_interactions:
- request:
    method: get
    uri: http://gni.globalnames.org/name_strings/17802847.json?all_records=1
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(taxize/1.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json; charset=utf-8
      etag: '"b501c1bee6cc2f16679e15f39dbc40de"'
      status:
      - HTTP/1.1 200 OK
      - 200 OK
    body:
      encoding: UTF-8
      file: no
      string: '{"data":[{"data_source":{"created_at":"2009/08/14 18:56:01 +0000","title":"Index
        to Organism Names","web_site_url":"http://www.organismnames.com/","refresh_period_days":14,"description":"ION
        will ultimately contain all the organism names related data found within the
        Thomson Reuters life science literature databases.","data_url":"http://gnapartnership.org/gna_test/ion/data.xml","name_strings_count":4104326,"data_zip_compressed":null,"updated_at":"2010/05/14
        22:47:59 +0000","data_hash":"da39a3ee5e6b4b0d3255bfef95601890afd80709","unique_names_count":2511782,"id":30},"name_index_id":98448788,"records":[{"url":"http://www.organismnames.com/details.htm?lsid=2521957","original_name_string":null,"created_at":"2009/09/27
        10:27:31 +0000","global_id":null,"record_hash":null,"name_index_id":98448788,"local_id":"2521957","updated_at":"2009/09/27
        10:27:31 +0000","kingdom_id":null,"nomenclatural_code_id":null,"name_rank_id":2,"id":127858346}],"records_number":1}],"name_string":{"normalized":"ACALLEPITRIX
        ANILA","created_at":"2009/08/14 15:14:10 +0000","name":"Acallepitrix anila","is_canonical_form":1,"resource_uri":null,"canonical_form_id":5703176,"uuid_hex":"35fa270e-1a07-5e5d-914c-90230dc8680a","has_words":true,"lsid":"urn:lsid:globalnames.org:index:35fa270e-1a07-5e5d-914c-90230dc8680a","updated_at":"2009/08/14
        15:14:10 +0000","id":17802847}}'
  recorded_at: 2021-09-15 22:47:40 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
