http_interactions:
- request:
    method: get
    uri: http://gni.globalnames.org/name_strings/17802847.json?all_records=1
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/5.2.2 crul/1.5.0 rOpenSci(taxize/0.9.102)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html; charset=UTF-8
    body:
      encoding: ''
      file: no
      string: "\n<!DOCTYPE html>\n<html>\n  <head>\n    <title>Global Names Verifier</title>\n
        \   <link href=\"/static/styles/screen.css\" media=\"screen\" rel=\"stylesheet\"
        type=\"text/css\" />\n    <link href='/static/images/favicon.ico' rel='icon'
        type='image/x-icon'>\n    <script src=\"/static/js/jquery-3.6.0.min.js\"></script>\n
        \   \n    <script src=\"/static/js/home.js\"></script>\n    \n  </head>\n
        \ <body>\n    <div id=\"SiteContainer\" class=\"structural\">\n\n      <div
        class=\"background\"></div>\n\n      <div id=\"Header\" class=\"structural
        fixedWidth\">\n        <div class=\"inner\">\n          <div id=\"Logo\">\n
        \           <a href=\"/\">\n              <h1>Global Names Verifier</h1>\n
        \           </a>\n          </div>\n          <ul id=\"SiteNavigation\">\n
        \           \n            <li class=\"active\"><a href=\"/\">Home</a></li>\n
        \           \n\n            \n            <li><a href=\"/data_sources\">Sources</a></li>\n
        \           \n\n            <li>\n            <a href=\"https://github.com/gnames/gnverifier/issues\">Issues</a>\n
        \           </li>\n\n            \n            <li><a href=\"/about\">About</a></li>\n
        \           \n\n            \n            <li><a href=\"/api\">API</a></li>\n
        \           \n          </ul>\n        </d[...]
