http_interactions:
- request:
    method: get
    uri: http://gni.globalnames.org/name_strings/17802847.json?all_records=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json; charset=utf-8
      etag: '"dad22422a1edf0c9406b7c894fcdba46"'
      status:
      - HTTP/1.1 200 OK
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"data":[{"data_source":{"web_site_url":"http://www.organismnames.com/","data_url":"http://gnapartnership.org/gna_test/ion/data.xml","data_hash":"da39a3ee5e6b4b0d3255bfef95601890afd80709","name_strings_count":4104326,"created_at":"2009/08/14
        18:56:01 +0000","id":30,"data_zip_compressed":null,"title":"Index to Organism
        Names","unique_names_count":2511782,"refresh_period_days":14,"description":"ION
        will ultimately contain all the organism names related data found within the
        Thomson Reuters life science literature databases.","updated_at":"2010/05/14
        22:47:59 +0000"},"name_index_id":98448788,"records":[{"local_id":"2521957","record_hash":null,"name_index_id":98448788,"global_id":null,"created_at":"2009/09/27
        10:27:31 +0000","original_name_string":null,"id":127858346,"name_rank_id":2,"kingdom_id":null,"url":"http://www.organismnames.com/details.htm?lsid=2521957","updated_at":"2009/09/27
        10:27:31 +0000","nomenclatural_code_id":null}],"records_number":1}],"name_string":{"normalized":"ACALLEPITRIX
        ANILA","is_canonical_form":1,"resource_uri":null,"name":"Acallepitrix anila","canonical_form_id":5703176,"uuid_hex":"35fa270e-1a07-5e5d-914c-90230dc8680a","has_words":true,"created_at":"2009/08/14
        15:14:10 +0000","id":17802847,"lsid":"urn:lsid:globalnames.org:index:35fa270e-1a07-5e5d-914c-90230dc8680a","updated_at":"2009/08/14
        15:14:10 +0000"}}'
  recorded_at: 2019-01-26 00:43:57 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
