http_interactions:
- request:
    method: get
    uri: https://resolver.globalnames.org/data_sources.json
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/5.2.3 crul/1.5.0 rOpenSci(taxize/0.9.102)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      etag: '"51f0fd355504668235a9b22d4f2d76bb"'
    body:
      encoding: ''
      file: no
      string: '[{"created_at":"2012-07-06T11:36:36Z","data_hash":null,"data_url":null,"description":"The
        Catalogue of Life is an assembly of expert-based global species checklists
        with the aim to build a comprehensive catalogue of all known species of organisms
        on Earth. Continuous progress is made towards completion, but for now, it
        probably includes just over 80% of the world''s known species. The Catalogue
        of Life estimates 2.3M extant species on the planet recognised by taxonomists
        at present time. This means that for many groups it continues to be deficient,
        and users may notice that many species are still missing from the Catalogue.\n\n###
        What''s new in December 2023 edition?\n\n#### 77 checklists updated:\n\n*
        3i Auchenorrhyncha\n* Bryonames\n* Entiminae\n* GLI (Lepidoptera)\n* ITIS
        (incl. a new global checklist for mite superfamily Caeculoidea)\n* Scarabs\n*
        SF Isoptera\n* SF Orthoptera\n* WCO (Opiliones)\n* WOL (Odonata)\n* World
        Ferns\n* World Plants\n* WoRMS, 65 checklists\n\n#### Other changes:\n* Collembola.org
        of Apr 2023, Species Fungorum Plus of Jan 2023, Systema Dipterorum ver. 4.2.2
        of May 2023, ThripsWiki of 2022-10-07, WCVP-Fabaceae ver. 2023v.4 of 2023-08-02
        re-synced","id":1,"logo_url":null,"name_strings_count":0,"refresh_period_days":14,"title":"Catalogue
        of Life Checklist","unique_names_count":0,"updated_at":"2024-01-23T14:46:07Z","web_site_url":null},{"created_at":"2012-07-06T11:38:14Z","data_hash":null,"data_url":null,"description":"The
        free species directory that anyone can edit.","id":2,"logo_url":null,"name_strings_count":0,"refresh_period_days":14,"title":"Wikispecies","unique_names_count":0,"updated_at":"2023-08-24T23:37:32Z","web_site_url":null},{"created_at":"2012-02-09T10:31:13Z","data_hash":null,"data_url":null,"description":"The
        White House Subcommittee on Biodiversity and Ecosystem Dynamics has identified
  [...]
