http_interactions:
- request:
    method: get
    uri: https://resolver.globalnames.org/data_sources.json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      etag: '"90a4e2f8ce6fb92ec5a0bdba6589e589"'
    body:
      encoding: UTF-8
      string: '[{"created_at":"2012-07-06T11:36:36Z","data_hash":null,"data_url":null,"description":"[\"This
        release of the Catalogue of Life contains contributions from 169 databases
        with information on 1,803,488 species, 158,708 infraspecific taxa and also
        includes 1,638,520 synonyms and 428,289 common names covering the following
        groups:\", \"Viruses * Viruses and Subviral agents from ICTV_MSL\\nBacteria
        and Archaea from BIOS\\nChromista * Chromistan fungi from Species Fungorum\\nProtozoa
        * Major groups from ITIS Regional, * Ciliates from CilCat, * Polycystines
        from WoRMS Polycystina UPDATED!, * Protozoan fungi from Species Fungorum and
        Trichomycetes database * Slime moulds from Nomen.eumycetozoa.com\\nFungi *
        Various taxa in whole or in part from CABI Bioservices databases (Species
     [...]
