http_interactions:
- request:
    method: get
    uri: http://www.organismnames.com/lsidmetadata.htm?lsid=155166
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/5.2.3 crul/1.5.0 rOpenSci(taxize/0.9.102)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/rdf+xml;charset=utf-8
      content-language: en-US
    body:
      encoding: ''
      file: no
      string: <?xml version="1.0" encoding="utf-8" ?> <rdf:RDF xmlns:dc="http://purl.org/dc/elements/1.1/"
        xmlns:dcterms="http://purl.org/dc/terms/" xmlns:tdwg_pc="http://rs.tdwg.org/ontology/voc/PublicationCitation#"
        xmlns:tdwg_co="http://rs.tdwg.org/ontology/voc/Common#" xmlns:tdwg_tn="http://rs.tdwg.org/ontology/voc/TaxonName#"
        xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"><tdwg_tn:TaxonName
        rdf:about="155166"><dc:identifier>155166</dc:identifier><dc:creator rdf:resource="http://www.organismnames.com"/><dc:Title>Pliopithecidae</dc:Title><tdwg_tn:nameComplete>Pliopithecidae</tdwg_tn:nameComplete><tdwg_tn:nomenclaturalCode
        rdf:resource="http://rs.tdwg.org/ontology/voc/TaxonName#ICZN"/><rdfs:seeAlso
        rdf:resource="http://www.organismnames.com/namedetails.htm?lsid=155166"/></tdwg_tn:TaxonName></rdf:RDF>
  recorded_at: 2024-09-26 22:30:55 GMT
  recorded_with: vcr/1.6.0.91, webmockr/1.0.0
[...]
