http_interactions:
- request:
    method: get
    uri: http://www.organismnames.com/lsidmetadata.htm?lsid=2343434434434
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/5.2.3 crul/1.5.0 rOpenSci(taxize/0.9.102)
  response:
    status:
      status_code: '500'
      message: Internal Server Error
      explanation: Server got itself in trouble
    headers:
      status: HTTP/1.1 500 Internal Server Error
      content-type: text/html;charset=utf-8
    body:
      encoding: ''
      file: no
      string: "<html><head><title>Apache Tomcat/7.0.32 - Error report</title><style><!--H1
        {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:22px;}
        H2 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:16px;}
        H3 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:14px;}
        BODY {font-family:Tahoma,Arial,sans-serif;color:black;background-color:white;}
        B {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;}
        P {font-family:Tahoma,Arial,sans-serif;background:white;color:black;font-size:12px;}A
        {color : black;}A.name {color : black;}HR {color : #525D76;}--></style> </head><body><h1>HTTP
        Status 500 - Request processing failed; nested exception is java.lang.NumberFormatException:
        For input string: &quot;2343434434434&quot;</h1><HR size=\"1\" noshade=\"noshade\"><p><b>type</b>
        Exception report</p><p><b>message</b> <u>Request processing failed; nested
        exception is java.lang.NumberFormatException: For input string: &quot;2343434434434&quot;</u></p><p><b>description</b>
        <u>The server encountered an internal error that prevented it from fulfilling
        this request.</u></p><p><b>exception</b> <pre>org.springframework.web.util.NestedServletException:
        Request processing failed; nested exception is java.lang.NumberFormatException:
        For input string: &quot;2343434434434&quot;\n\torg.springframework.web.servlet.FrameworkServlet.processRequest(FrameworkServlet.java:583)\n\torg.springframework.web.servlet.FrameworkServlet.doGet(FrameworkServlet.java:501)\n\tjavax.servlet.http.HttpServlet.service(HttpServlet.java:621)\n\tjavax.servlet.http.HttpServlet.service(HttpServlet.java:722)\[...]
- request:
    method: get
    uri: http://www.organismnames.com/lsidmetadata.htm?lsid=asdfasfs
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/5.2.3 crul/1.5.0 rOpenSci(taxize/0.9.102)
  response:
    status:
      status_code: '500'
      message: Internal Server Error
      explanation: Server got itself in trouble
    headers:
      status: HTTP/1.1 500 Internal Server Error
      content-type: text/html;charset=utf-8
    body:
      encoding: ''
      f[...]
