http_interactions:
- request:
    method: get
    uri: http://www.ipni.org/ipni/advPlantNameSearch.do?output_format=delimited-minimal
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html;charset=UTF-8
    body:
      encoding: UTF-8
      string: "\t\n\t\t\n\t\t\t\n\t\t\n\n\n\n\n\n<html>\n<head>\n<title>IPNI: Plant
        Name search</title>\n<meta name=\"content-style-type\" content=\"text/css\"/>\n<meta
        name=\"owner\" content=\"ipni.org\"/>\n<meta name=\"author\" content=\"Christine
        Barker\"/>\n<meta name=\"created_on\" content=\"21 11 2003\"/>\n<meta name=\"last_modified\"
        content=\"21 11 2003\"/>\n<meta name=\"review_on\" content=\"21 01 2004\"/>\n<meta
        name=\"action\" content=\"R\"/>\n<link href=\"../ipni.css\" rel=\"stylesheet\"
        type=\"text/css\"/>\n<meta http-equiv=\"Content-Type\" content=\"text/html;
        charset=utf-8\"/>\n<style type=\"text/css\"> \n\tp { margin-left: 0px; }\n</style>\n</head>\n\n<body>\n
        <table border=\"0\" width=\"100%\" cellspacing=\"0\" cellpadding=\"8\" bgcolor=\"#ffffff\">\n\t<tr>
        \n\t\t<td width=\"135\" align=\"center\" valign=\"middle\" bgcolor=\"#FFFFFF\"><a
        class=\"navbar\" href=\"../index.html\"><img src= \n\"../images/ipni_logoonly_sm.jpg\"
        alt=\"IPNI logo - link to home\" width=\"89\" height=\"86\" border=\"0\"/></a>
        \n\t\t</td>\n\t\t<td valign=\"middle\" bgcolor=\"#FFFFFF\">\n\t\t        <img
        src=\"../images/ipni_logo4_2.gif\" alt=\"The International Plant Names Index\"
        width=\"450\" height=\"39\"/><br/>\n\t\t</td>\n\t</tr>\n\t<tr> \n\t\t<!--
        left hand bar begins here -->\n\t\t<td width=\"135\" valign=\"TOP\" class=\"navbar\">
        <h4>Search the data </h4>\n\t\t\t<ul>\n\t\t\t\t<li class=\"navbar\"> <a class=\"navbar\"
        href= \n                  \"plantsearch?request_type=search&amp;output_format=query&amp;ret_defaults=on\">Plant
        Names</a></li>\n\t\t\t\t<li class=\"navbar\"> <a class=\"navbar\" href= \n
        \                 \"authorsearch?request_type=search&amp;output_format=query&amp;ret_defaults=on\">Authors</a></li>\n\t\t\t\t<li
        class=\"navbar\"> <a class=\"navbar\" href= \n                  \"publicationsearch?request_type=search&amp;output_format=query&amp;ret_defaults=on\">
        Publications</a></li>\n\t\t\t</ul>\n\t\t\t<h4><a class=\"navbar\" href=\"../index.html\">IPNI
        Home</a></h4>\n\t\t\t<p><a class=\"navbar\" href=\"mailto:ipnifeedback@ipni.org\">contact
        us</a>&#160;</p>\n\t\t</td>\n\t<td valign=\"top\"> \n\t\t<h2>Plant Name Query</h2>\n\t\t<p><a
        href=\"/ipni/editAdvPlantNameSearch.do?show_extras=&find_includePublicationAuthors=true&find_includeBasionymAuthors=true&find_isIKRecord=true&find_isGCIRecord=true&find_isAPNIRecord=true&find_sortByFamily=true\">Reset
        search terms</a></p>\n\t\t\n\n\t\t<form action=\"/ipni/simplePlantNameSearch.do\">\n\t<table
        width=\"100%\" cellpadding=\"2\">\n\t\t<tr> \n\t\t\t<td bgcolor=\"eeeeee\">
        \n\t\t\t\t<table>\n\t\t\t\t\t<tr> \n\t\t\t\t  \t\t<td colspan=\"3\"><p><b>Quick
        search</b> - enter a plant name (without authors) </p></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\t<tr>
        \n\t\t\t\t  \t\t<td valign=\"center\"> \n\t\t\t\t\t\t\t<p> Full Name: \n  <input
        size=\"30\" name=\"find_wholeName\" type=\"text\" value=\"\"/>\n      </p>\n\t\t\t\t\t\t</td>\n\t\t\t\t\t\t<td
        valign=\"center\">\n\t\t\t\t\t\t\t<p> \t\t\t\t\t\t         <small><a href=\"../sample_searches.html#name_quick\"
        target=\"help\">What's this?</a></small>\n\t\t\t\t\t\t\t</p>\n\t\t\t\t\t\t</td>\t\t\t\t\n\t\t<td
        align=\"right\" valign=\"center\">\n\t\t\t\t\t\t\t<p>Output Format \n\t\t\t\t\t\t\t\t<select
        name=\"output_format\">\n\t\t\t\t\t\t\t\t\t\t<option value=\"normal\" selected=\"selected\">Normal</option>\n\t\t\t\t\t\t\t\t\t\t<option
        value=\"delimited\"  >Delimited (classic)</option>\n\t\t\t\t\t\t\t\t\t\t<option
        value=\"delimited-minimal\"  >Delimited (minimal)</option>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<option
        value=\"delimited-short\"  >Delimited (short)</option>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<option
        value=\"delimited-extended\"  >Delimited (extended)</option>\n\t\t\t\t\t<option
        value=\"full\"  >Full records</option>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t</select>\n\t\t\t\t\t\t\t\t\t<small>\t\t\t\t\t\t\t\t\t<a
        href=\"delimited_help.html\" target=\"help\">What's this?</a></small>\n\t\t\t\t\t\t\t\t
        \   \t\t\t\t\t\t\t\t<input type=\"submit\" value=\"Search\" />\n\t\t\t\t\t\t\t</p>\n\t\t\t\t\t\t</td>\n
        \t\t\t\t\t</tr>\n\t\t\t  \t</table>\n\t\t\t</td>\n\t\t</tr>\n\t</table>\n\t<input
        type=\"hidden\" name=\"query_type\" value=\"by_query\" /><input type=\"hidden\"
        name=\"back_page\" value=\"query_ipni.html\" /><br />\n</form>\n\t\t<form
        action=\"/ipni/advPlantNameSearch.do\">\n\t\t\t<table cellpadding=\"2\" width=\"100%\">\n\t\t\t\t<tr>
        \n\t\t\t\t\t<td bgcolor=\"eeeeee\"> \n\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t<table>\n\t\t\t\t\t\t\t<tr>\n\t\t\t\t\t\t\t\t<td>\n\t\t\t\t\t\t\t\t<p><b>Full
        search</b>\t\t\t\t\t\t\t</p></td>\n\t\t\t\t\t\t\t\t<td> </td>\n\t\t\t\t\t\t\t\t<td>
        </td>\n\t\t\t\t\t\t\t</tr>\n\t\t\t\t\t\t\n\t\t\t\t\t\t\t<tr> \n\t\t\t\t\t\t\t\t<td><p><b>Name</b></p></td>\n\t\t\t\t\t\t\t\t<td>
        </td>\n\t\t\t\t\t\t\t\t<td> </td>\n\t\t\t\t\t\t\t</tr>\n\t\t\t\t\t\t\t<tr>
        \n\t\t\t\t\t\t\t\t<td valign=\"top\" align=\"right\">\n\t\t\t\t\t\t\t\t\t<p>Family
        \n\t\t\t\t\t\t\t\t\t<input size=\"16\" name=\"find_family\" type=\"text\"
        value=\"\"/>\n\t\t\t\t\t\t\t\t\t                        \t<div class=\"error\">
        <img src=\"images/ipni_alert.gif\"/> At least one search term is required</div><br/>\n
        \           \t\t\t\t\t\t\t\t\t</p>\n\t\t\t\t\t\t\t\t</td>\n\t\t\t\t\t\t\t\t<td
        valign=\"top\" align=\"right\">\n\t\t\t\t\t\t\t\t\t<p>Genus \n\t\t\t\t\t\t\t\t\t<input
        size=\"16\" name=\"find_genus\" type=\"text\" value=\"\"/>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t
        \                       \t<div class=\"error\"> <img src=\"images/ipni_alert.gif\"/>
        [...]
- request:
    method: get
    uri: http://www.ipni.org/ipni/advPlantNameSearch.do?output_format=delimited-minimal&find_family=5
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html;charset=UTF-8
    body:
      encoding: UTF-8
      string: "\t\n\t\t\n\t\t\t\n\t\t\n\n\n\n\n\n<html>\n<head>\n<title[...]
- request:
    method: get
    uri: http://www.ipni.org/ipni/advPlantNameSearch.do?output_format=delimited-minimal&find_genus=adfasdfasffd
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: 2019-01-24 16:55:18 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
