http_interactions:
- request:
    method: get
    uri: https://www.itis.gov/ITISWebService/jsonservice/getPublicationsFromTSN?tsn=202385
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/json;charset=ISO-8859-1
      status: 'HTTP/1.1 200 '
      x-application: itis_webservices
      x-node-name: not shown
      x-upstream-member: not shown
    body:
      encoding: UTF-8
      string: |
        {"class":"gov.usgs.itis.itis_service.data.SvcTaxonPublicationList","publications":[{"actualPubDate":"1981-04-03","class":"gov.usgs.itis.itis_service.data.SvcTaxonPublication","isbn":"0-471-05443-5","issn":"","listedPubDate":"1981-04-03","pages":"601-1175","pubComment":"","pubName":"The Mammals of North America, vol. 2, 2nd ed.","pubPlace":"New York, New York, USA","publisher":"John Wiley and Sons, Inc.","referenceAuthor":"Hall, E. Raymond","referenceFor":[{"class":"gov.usgs.itis.itis_service.data.SvcReferenceForElement","name":"Ursus arctos horribilis","refLanguage":null,"referredTsn":"202385"}],"title":"","updateDate":"2018-11-27"},{"actualPubDate":"2005-10-01","class":"gov.usgs.itis.itis_service.data.SvcTaxonPublication","isbn":"0-8018-8221-4","issn":"","listedPubDate":"2005-10-01","pages":"2142","pubComment":"","pubName":"Mammal Species of the World: A Taxonomic and Geographic Reference, 3rd ed., vols. 1 & 2","pubPlace":"Baltimore, Maryland, USA","publisher":"Johns Hopkins University Press","referenceAuthor":"Wilson, Don E., and DeeAnn M. Reeder, eds.","referenceFor":[{"class":"gov.usgs.itis.itis_service.data.SvcReferenceForElement","name":"Ursus arctos horribilis","refLanguage":null,"referredTsn":"202385"}],"title":"","updateDate":"2018-11-27"},{"actualPubDate":"1993-01-01","class":"gov.usgs.itis.itis_service.data.SvcTaxonPublication","isbn":"1-56098-217-9","issn":"","listedPubDate":"1992-01-01","pages":"xviii + 1207","pubComment":"Corrections were made to text at 3rd printing","pubName":"Mammal Species of the World: A Taxonomic and Geographic Reference, 2nd ed., 3rd printing","pubPlace":"Washington, DC, USA","publisher":"Smithsonian Institution Press","referenceAuthor":"Wilson, Don E., and DeeAnn M. Reeder, eds.","referenceFor":[{"class":"gov.usgs.itis.itis_service.data.SvcReferenceForElement","name":"Ursus arctos horribilis","refLanguage":null,"referredTsn":"202385"}],"title":"","updateDate":"2018-11-27"}],"tsn":"202385"}
  recorded_at: 2019-01-24 18:53:28 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
[...]
