http_interactions:
- request:
    method: get
    uri: https://www.itis.gov/ITISWebService/jsonservice/getPublicationsFromTSN?tsn=202385
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: text/json;charset=ISO-8859-1
    body:
      encoding: ''
      file: no
      string: |
        {"class":"gov.usgs.itis.itis_service.data.SvcTaxonPublicationList","publications":[{"actualPubDate":"1981-04-03","class":"gov.usgs.itis.itis_service.data.SvcTaxonPublication","isbn":"0-471-05443-5","issn":"","listedPubDate":"1981-04-03","pages":"601-1175","pubComment":"","pubName":"The Mammals of North America, vol. 2, 2nd ed.","pubPlace":"New York, New York, USA","publisher":"John Wiley and Sons, Inc.","referenceAuthor":"Hall, E. Raymond","referenceFor":[{"class":"gov.usgs.itis.itis_service.data.SvcReferenceForElement","name":"Ursus arctos horribilis","refLanguage":null,"referredTsn":"202385"}],"title":"","updateDate":"2024-02-26"},{"actualPubDate":"2005-10-01","class":"gov.usgs.itis.itis_service.data.SvcTaxonPublication","isbn":"0-8018-8221-4","issn":"","listedPubDate":"2005-10-01","pages":"2142","pubComment":"","pubName":"Mammal Species of the World: A Taxonomic and Geographic Reference, 3rd ed., vols. 1 & 2","pubPlace":"Baltimore, Maryland, USA","publisher":"Johns Hopkins University Press","referenceAuthor":"Wilson, Don E., and DeeAnn M. Reeder, eds.","referenceFor":[{"class":"gov.usgs.itis.itis_service.da[...]
[...]
