http_interactions:
- request:
    method: get
    uri: https://www.itis.gov/ITISWebService/jsonservice/getITISTerms?srchKey=bear
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/json;charset=ISO-8859-1
      status: 'HTTP/1.1 200 '
    body:
      encoding: UTF-8
      file: no
      string: |
        {"class":"gov.usgs.itis.itis_service.data.SvcItisTermList","itisTerms":[{"author":"(Cav.) Sw.","class":"gov.usgs.itis.itis_service.data.SvcItisTerm","commonNames":["nitbearing lipfern","nit-bearing lip fern"],"nameUsage":"accepted","scientificName":"Cheilanthes lendigera","tsn":"17449"},{"author":"Torr. & A. Gray","class":"gov.usgs.itis.itis_service.data.SvcItisTerm","commonNames":["old man's beard"],"nameUsage":"accepted","scientificName":"Clematis drummondii","tsn":"18695"},{"author":"Nutt.","class":"gov.usgs.itis.itis_service.data.SvcItisTerm","commonNames":["old-man's-beard"],"nameUsage":"accepted","scientificName":"Clematis ligusticifolia","tsn":"18702"},{"author":"L.","class":"gov.usgs.itis.itis_service.data.SvcItisTerm","commonNames":["old-man's-beard"],"nameUsage":"accepted","scientificName":"Clematis vitalba","tsn":"18717"},{"author":"Torr. & Fr<e9>m.","class":"gov.usgs.itis.itis_service.data.SvcItisTerm","commonNames":["bearpoppy"],"nameUsage":"accepted","scientificName":"Arctomecon","tsn":"18898"},{"author":"Torr. & Fr<e9>m.","class":"gov.usgs.itis.itis_service.data.SvcItisTerm","commonNames":["California bearpoppy"],"nameUsage":"accepted","scientificName":"Arctomecon californica","tsn":"18899"},{"author":"Coville","class":"gov.usgs.itis.itis_service.data.SvcItisTerm","commonNames":["dwarf bearpoppy","common bearpoppy","dwarf bear poppy"[...]
- request:
    method: get
    uri: https://www.itis.gov/ITISWebService/jsonservice/getITISTermsFromCommonName?srchKey=tarweed
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/json;charset=ISO-8859-1
      status: 'HTTP/1.1 200 '
    body:
      encoding: UTF-8
      file: no
      string: |
        {"class":"gov.usgs.itis.itis_[...]
- request:
    method: get
    uri: https://www.itis.gov/ITISWebService/jsonservice/getITISTermsFromScientificName?srchKey=Poa%20annua
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/json;charset=ISO-8859-1
      status: 'HTTP/1.1 200 '
    body:
      encoding: UTF-8
      file: no
      string: |
        {"class":"gov.usgs.it[...]
