http_interactions:
- request:
    method: get
    uri: https://www.itis.gov/ITISWebService/jsonservice/getKingdomNames
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/json;charset=ISO-8859-1
      status: 'HTTP/1.1 200 '
      x-application: itis_webservices
      x-node-name: not shown
      x-upstream-member: not shown
    body:
      encoding: UTF-8
      string: |
        {"class":"gov.usgs.itis.itis_service.metadata.SvcKingdomNameList","kingdomNames":[{"class":"gov.usgs.itis.itis_service.metadata.SvcKingdomName","kingdomId":"1","kingdomName":"Bacteria","tsn":"202421"},{"class":"gov.usgs.itis.itis_service.metadata.SvcKingdomName","kingdomId":"2","kingdomName":"Protozoa","tsn":"630577"},{"class":"gov.usgs.itis.itis_service.metadata.SvcKingdomName","kingdomId":"3","kingdomName":"Plantae","tsn":"202422"},{"class":"gov.usgs.itis.itis_service.metadata.SvcKingdomName","kingdomId":"4","kingdomName":"Fungi","tsn":"555705"},{"class":"gov.usgs.itis.itis_service.metadata.SvcKingdomName","kingdomId":"5","kingdomName":"Animalia","tsn":"202423"},{"class":"gov.usgs.itis.itis_service.metadata.SvcKingdomName","kingdomId":"6","kingdomName":"Chromista","tsn":"630578"},{"class":"gov.usgs.itis.itis_service.metadata.SvcKingdomName","kingdomId":"7","kingdomName":"Archaea","tsn":"935939"}]}
  recorded_at: 2019-01-24 17:22:20 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
