http_interactions:
- request:
    method: get
    uri: https://www.itis.gov/ITISWebService/jsonservice/getFullHierarchyFromTSN?tsn=180543
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: text/json;charset=ISO-8859-1
    body:
      encoding: ''
      file: no
      string: |
        {"author":"","class":"gov.usgs.itis.itis_service.data.SvcHierarchyRecordList","hierarchyList":[{"author":null,"class":"gov.usgs.itis.itis_service.data.SvcHierarchyRecord","parentName":"","parentTsn":"","rankName":"Kingdom","taxonName":"Animalia","tsn":"202423"},{"author":null,"class":"gov.usgs.itis.itis_service.data.SvcHierarchyRecord","parentName":"Animalia","parentTsn":"202423","rankName":"Subkingdom","taxonName":"Bilateria","tsn":"914154"},{"author":null,"class":"gov.usgs.itis.itis_service.data.SvcHierarchyRecord","parentName":"Bilateria","parentTsn":"914154","rankName":"Infrakingdom","taxonName":"Deuterostomia","tsn":"914156"},{"author":null,"class":"gov.usgs.itis.itis_service.data.SvcHierarchyRecord","parentName":"Deuterostomia","parentT[...]
- request:
    method: get
    uri: https://www.itis.gov/ITISWebService/jsonservice/getHierarchyUpFromTSN?tsn=180543
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: text/json;charset=ISO-8859-1
    body:
      encoding: ''
      file: no
      string: |
        {"author":"Linnaeus, 1758","class":"gov.usgs.itis.itis_service.data.SvcHierarchyRecord","parentName":"Ursus","parentTsn":"180541","rankName":"Species","taxonName":"Ursus arctos","tsn":"180543"}
  recorded_at: 2025-01-16 22:23:59 GMT
  recorded_with: vcr/1.6.0.91, webmockr/1.0.0
- request:
    method: get
    uri: https://www.itis.gov/ITISWebService/jsonservice/getHierarchyDownFromTSN?tsn=180543
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: text/json;charset=ISO-8859-1
    body:
      encoding: ''
      file: no
      string: |
        {"author":"Linnaeus, 1758","class":"gov.us[...]
[...]
