http_interactions:
- request:
    method: get
    uri: https://www.itis.gov/ITISWebService/jsonservice/getKingdomNames
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: text/json;charset=ISO-8859-1
    body:
      encoding: ''
      file: no
      string: |
        {"class":"gov.usgs.itis.itis_service.metadata.SvcKingdomNameList","kingdomNames":[{"class":"gov.usgs.itis.itis_service.metadata.SvcKingdomName","kingdomId":"1","kingdomName":"Bacteria","tsn":"50"},{"class":"gov.usgs.itis.itis_service.metadata.SvcKingdomName","kingdomId":"2","kingdomName":"Protozoa","tsn":"630577"},{"class":"gov.usgs.itis.itis_service.metadata.SvcKingdomName","kingdomId":"3","kingdomName":"Plantae","tsn":"202422"},{"class":"gov.usgs.itis.itis_service.metadata.SvcKingdomName","kingdomId":"4","kingdomName":"Fungi","tsn":"555705"},{"class":"gov.usgs.itis.itis_service.metadata.SvcKingdomName","kingdomId":"5","kingdomName":"Animalia","tsn":"202423"},{"class":"gov.usgs.itis.itis_service.metadata.SvcKingdomName","kingdomId":"6","kingdomName":"Chromista","tsn":"630578"},{"class":"gov.usgs.itis.itis_service.metadata.SvcKingdomName","kingdomId":"7","kingdomName":"Archaea","tsn":"935939"}]}
  recorded_at: 2025-01-16 21:32:36 GMT
  recorded_with: vcr/1.6.0.91, webmockr/1.0.0
