http_interactions:
- request:
    method: get
    uri: https://www.itis.gov/ITISWebService/jsonservice/getTaxonomicRankNameFromTSN?tsn=202385
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/json;charset=ISO-8859-1
      status: 'HTTP/1.1 200 '
    body:
      encoding: UTF-8
      file: no
      string: |
        {"class":"gov.usgs.itis.itis_service.data.SvcTaxonRankInfo","kingdomId":"5","kingdomName":"Animalia","rankId":"230","rankName":"Subspecies","tsn":"202385"}
  recorded_at: 2021-09-15 22:48:06 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
