http_interactions:
- request:
    method: get
    uri: https://www.itis.gov/ITISWebService/jsonservice/getTSNFromLSID?lsid=urn%3Alsid%3Aitis.gov%3Aitis_tsn%3A180543
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/json;charset=ISO-8859-1
      status: 'HTTP/1.1 200 '
      x-application: itis_webservices
      x-node-name: not shown
      x-upstream-member: not shown
    body:
      encoding: UTF-8
      string: |
        {"return":"180543"}
  recorded_at: 2019-01-24 17:24:41 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
- request:
    method: get
    uri: https://www.itis.gov/ITISWebService/jsonservice/getRecordFromLSID?lsid=urn%3Alsid%3Aitis.gov%3Aitis_tsn%3A180543
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/json;charset=ISO-8859-1
      status: 'HTTP/1.1 200 '
      x-application: itis_webservices
      x-node-name: not shown
      x-upstream-member: not shown
    body:
      encoding: UTF-8
      string: |
        {"authorship":"Linnaeus, 1758","class":"gov.usgs.itis.itis_service.data.SvcLSIDRecord","genusPart":"Ursus","infragenericEpithet":null,"infraspecificEpithet":null,"lsid":"urn:lsid:itis.gov:itis_tsn:180543","nameComplete":"Ursus arctos","nomenclaturalCode":"iczn","rank":"http://rs.tdwg.org/ontology/voc/TaxonRank#Species","rankString":"Species","specificEpithet":"arctos","tsn":"180543","uninomial":null}
  recorded_at: 2019-01-24 17:24:41 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
- request:
    method: get
    uri: https://www.itis.gov/ITISWebService/jsonservice/getFullRecordFromLSID?lsid=urn%3Alsid%3Aitis.gov%3Aitis_tsn%3A202385
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/json;charset=ISO-8859-1
      status: 'HTTP/1.1 200 '
      x-application: itis_webservices
      x-node-name: not shown
      x-upstream-member: not shown
    body:
      encoding: UTF-8
      string: |
        {"acceptedNameList":{"acceptedNames":[null],"class":"gov.usgs.itis.itis_service.data.SvcAcceptedNameList","tsn":"202385"},"class":"gov.usgs.itis.itis_service.data.SvcFullRecord","commentList":{"class":"gov.usgs.itis.itis_service.data.SvcTaxonCommentList","comments":[null],"tsn":"202385"},"commonNameList":{"class":"gov.usgs.itis.itis_service.data.SvcCommonNameList","commonNames":[{"class":"gov.usgs.itis.itis_service.data.SvcCommonName","commonName":"brown bear","language":"English","tsn":"202385"},{"class":"gov.usgs.itis.itis_service.data.SvcCommonName","commonName":"grizzly bear","language":"English","tsn":"202385"}],"tsn":"202385"},"completenessRating":{"class":"gov.usgs.itis.itis_service.data.SvcGlobalSpeciesCompleteness","completeness":"","rankId":230,"tsn":"202385"},"coreMetadata":{"class":"gov.usgs.itis.itis_service.data.SvcCoreMetadata","credRating":"TWG standards met","rankId":230,"taxonCoverage":"","taxonCurrency":"","taxonUsageRating":"valid","tsn":"202385","unacceptReason":""},"credibilityRating":{"class":"gov.usgs.itis.itis_service.data.SvcCredibilityData","credRating":"TWG standards met","tsn":"202385"},"currencyRating":{"class":"gov.usgs.itis.itis_service.data.SvcCurrencyData","rankId":230,"taxonCurrency":"","tsn":"202385"},"dateData":{"class":"gov.usgs.itis.itis_service.data.SvcTaxonDateData","initialTimeStamp":"1996-06-13 14:51:08.0","tsn":"202385","updateDate":"2014-02-03"},"expertList":{"class":"gov.usgs.itis.itis_service.data.SvcTaxonExpertList","experts":[{"class":"gov.usgs.itis.itis_service.data.SvcTaxonExpert","comment":"Curator of North American mammals and Chief of Mammal Section, National Biological Service, Smithsonian Institution, National Museum of Natural History, Washington, DC, USA","expert":"Alfred L. Gardner","referenceFor":[{"class":"gov.usgs.itis.itis_service.data.SvcReferenceForElement","name":"Ursus arctos horribilis","refLanguage":null,"referredTsn":"202385"}],"updateDate":"2003-10-28"},{"class":"gov.usgs.itis.itis_service.data.SvcTaxonExpert","comment":"Division of Natural Sciences, Bethel College, 1001 W. McKinley Ave., Mishawaka, IN 46545","expert":"W. Christopher Wozencraft","referenceFor":[{"class":"gov.usgs.itis.itis_service.data.SvcReferenceForElement","name":"Ursus arctos horribilis","refLanguage":null,"referredTsn":"202385"}],"updateDate":"2003-10-28"}],"tsn":"202385"},"geographicDivisionList":{"class":"gov.usgs.itis.itis_service.data.SvcTaxonGeoDivisionList","geoDivisions":[null],"tsn":"202385"},"hierarchyUp":{"author":null,"class":"gov.usgs.itis.itis_service.data.SvcHierarchyRecord","parentName":"Ursus arctos","parentTsn":"180543","rankName":"Subspecies","taxonName":"Ursus arctos horribilis","tsn":"202385"},"jurisdictionalOriginList":{"class":"gov.usgs.itis.itis_service.data.SvcTaxonJurisdictionalOriginList","jurisdictionalOrigins":[null],"tsn":"202385"},"kingdom":{"class":"gov.usgs.itis.itis_service.data.SvcKingdomInfo","kingdomId":"5","kingdomName":"Animalia  ","tsn":"202385"},"otherSourceList":{"class":"gov.usgs.itis.itis_service.data.SvcTaxonOtherSourceList","otherSources":[{"acquisitionDate":"1996-07-29","class":"gov.usgs.itis.itis_service.data.SvcTaxonOtherSource","referenceFor":[{"class":"gov.usgs.itis.itis_service.data.SvcReferenceForElement","name":"Ursus arctos horribilis","refLanguage":null,"referredTsn":"202385"}],"source":"NODC Taxonomic Code","sourceComment":"","sourceType":"database","updateDate":"2010-01-14","version":"8.0"},{"acquisitionDate":"2001-03-22","class":"gov.usgs.itis.itis_service.data.SvcTaxonOtherSource","referenceFor":[{"class":"gov.usgs.itis.itis_service.data.SvcReferenceForElement","name":"Ursus arctos horribilis","refLanguage":null,"referredTsn":"202385"}],"source":"U. S. Fish and Wildlife Service Endangered Species Program-03/01","sourceComment":"http://www.fws.gov/endangered/","sourceType":"website","updateDate":"2012-11-21","version":"undefined"}],"tsn":"202385"},"parentTSN":{"class":"gov.usgs.itis.itis_service.data.SvcParentTsn","parentTsn":"180543","tsn":"202385"},"publicationList":{"class":"gov.usgs.itis.itis_service.data.SvcTaxonPublicationList","publications":[{"actualPubDate":"1981-04-03","class":"gov.usgs.itis.itis_service.data.SvcTaxonPublication","isbn":"0-471-05443-5","issn":"","listedPubDate":"1981-04-03","pages":"601-1175","pubComment":"","pubName":"The Mammals of North America, vol. 2, 2nd ed.","pubPlace":"New York, New York, USA","publisher":"John Wiley and Sons, Inc.","referenceAuthor":"Hall, E. Raymond","referenceFor":[{"class":"gov.usgs.itis.itis_service.data.SvcReferenceForElement","name":"Ursus arctos horribilis","refLanguage":null,"referredTsn":"202385"}],"title":"","updateDate":"2018-11-27"},{"actualPubDate":"2005-10-01","class":"gov.usgs.itis.itis_service.data.SvcTaxonPublication","isbn":"0-8018-8221-4","issn":"","listedPubDate":"2005-10-01","pages":"2142","pubComment":"","pubName":"Mammal Species of the World: A Taxonomic and Geographic Reference, 3rd ed., vols. 1 & 2","pubPlace":"Baltimore, Maryland, USA","publisher":"Johns Hopkins University Press","referenceAuthor":"Wilson, Don E., and DeeAnn M. Reeder, eds.","referenceFor":[{"class":"gov.usgs.itis.itis_service.data.SvcReferenceForElement","name":"Ursus arctos horribilis","refLanguage":null,"referredTsn":"202385"}],"title":"","updateDate":"2018-11-27"},{"actualPubDate":"1993-01-01","class":"gov.usgs.itis.itis_service.data.SvcTaxonPublication","isbn":"1-56098-217-9","issn":"","listedPubDate":"1992-01-01","pages":"xviii + 1207","pubComment":"Corrections were made to text at 3rd printing","pubName":"Mammal Species of the World: A Taxonomic and Geographic Reference, 2nd ed., 3rd printing","pubPlace":"Washington, DC, USA","publisher":"Smithsonian Institution Press","referenceAuthor":"Wilson, Don E., and DeeAnn M. Reeder, eds.","referenceFor":[{"class":"gov.usgs.itis.itis_service.data.SvcReferenceForElement","name":"Ursus arctos horribilis","refLanguage":null,"referredTsn":"202385"}],"title":"","updateDate":"2018-11-27"}],"tsn":"202385"},"scientificName":{"author":"Ord, 1815","class":"gov.usgs.itis.itis_service.data.SvcScientificName","combinedName":"Ursus arctos horribilis","kingdom":null,"tsn":"202385","unitInd1":null,"unitInd2":null,"unitInd3":null,"unitInd4":null,"unitName1":"Ursus                              ","unitName2":"arctos","unitName3":"horribilis","unitName4":null},"synonymList":{"class":"gov.usgs.itis.itis_service.data.SvcSynonymNameList","synonyms":[{"author":null,"class":"gov.usgs.itis.itis_service.data.SvcTaxonName","sciName":"Ursus arctos nelsoni","tsn":"202384"}],"tsn":"202385"},"taxRank":{"class":"gov.usgs.itis.itis_service.data.SvcTaxonRankInfo","kingdomId":"5","kingdomName":"Animalia  ","rankId":"230","rankName":"Subspecies     ","tsn":"202385"},"taxonAuthor":{"authorship":"Ord, 1815","class":"gov.usgs.itis.itis_service.data.SvcTaxonAuthorship","tsn":"202385","updateDate":"2003-10-28"},"tsn":"202385","unacceptReason":{"class":"gov.usgs.itis.itis_service.data.SvcUnacceptData","tsn":"202385","unacceptReason":null},"usage":{"class":"gov.usgs.itis.itis_service.data.SvcTaxonUsageData","taxonUsageRating":"valid","tsn":"202385"}}
  recorded_at: 2019-01-24 17:24:41 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
- request:
    method: get
    uri: https://www.itis.gov/ITISWebService/jsonservice/getTSNFromLSID?lsid=202385
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/1.1 200 '
      x-application: itis_webservices
      x-node-name: not shown
      x-upstream-member: not shown
    body:
      encoding: UTF-8
      string: |
        {"return": null}
  recorded_at: 2019-01-24 17:24:41 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
