http_interactions:
- request:
    method: get
    uri: https://www.itis.gov/ITISWebService/jsonservice/getTaxonomicRankNameFromTSN?tsn=183264
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/json;charset=ISO-8859-1
      status: 'HTTP/1.1 200 '
    body:
      encoding: UTF-8
      file: no
      string: |
        {"class":"gov.usgs.itis.itis_service.data.SvcTaxonRankInfo","kingdomId":"3","kingdomName":"Plantae","rankId":"180","rankName":"Genus","tsn":"183264"}
  recorded_at: 2021-09-15 22:47:56 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://www.itis.gov/ITISWebService/jsonservice/getHierarchyDownFromTSN?tsn=183264
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/json;charset=ISO-8859-1
      status: 'HTTP/1.1 200 '
    body:
      encoding: UTF-8
      file: no
      string: |
        {"author":"L.","class":"gov.usgs.itis.itis_service.data.SvcHierarchyRecordList","hierarchyList":[{"author":"L.","class":"gov.usgs.itis.itis_service.data.SvcHierarchyRecord","parentName":"Ginkgo","parentTsn":"183264","rankName":"Species","taxonName":"Ginkgo biloba","tsn":"183269"}],"rankName":"Genus","sciName":"Ginkgo","tsn":"183264"}
  recorded_at: 2021-09-15 22:47:56 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
