http_interactions:
- request:
    method: get
    uri: https://www.itis.gov/ITISWebService/jsonservice/getJurisdictionValues
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/json;charset=ISO-8859-1
      status: 'HTTP/1.1 200 '
    body:
      encoding: UTF-8
      file: no
      string: |
        {"class":"gov.usgs.itis.itis_service.metadata.SvcJurisdictionValueList","jurisdictionValues":["Alaska","Canada","Caribbean Territories","Central Pacific Territories","Continental US","Hawaii","Mexico"]}
  recorded_at: 2021-09-15 22:48:02 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://www.itis.gov/ITISWebService/jsonservice/getJurisdictionalOriginValues
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/json;charset=ISO-8859-1
      status: 'HTTP/1.1 200 '
    body:
      encoding: UTF-8
      file: no
      string: |
        {"class":"gov.usgs.itis.itis_service.metadata.SvcOriginValueList","originValues":[{"class":"gov.usgs.itis.itis_service.metadata.SvcOriginValue","jurisdiction":"Alaska","origin":"Incidental"},{"class":"gov.usgs.itis.itis_service.metadata.SvcOriginValue","jurisdiction":"Alaska","origin":"Introduced"},{"class":"gov.usgs.itis.itis_service.metadata.SvcOriginValue","jurisdiction":"Alaska","origin":"Native"},{"class":"gov.usgs.itis.itis_service.metadata.SvcOriginValue","jurisdiction":"Alaska","origin":"Native & Introduced"},{"class":"gov.usgs.itis.itis_service.metadata.SvcOriginValue","jurisdiction":"Canada","origin":"Incidental"},{"class":"gov.usgs.itis.itis_service.metadata[...]
- request:
    method: get
    uri: https://www.itis.gov/ITISWebService/jsonservice/getJurisdictionalOriginFromTSN?tsn=180543
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/json;charset=ISO-8859-1
      status: 'HTTP/1.1 200 '
    body:
      encoding: UTF-8
      file: no
      string: |
        {"class":"gov.usgs.itis.itis_service.data.SvcTaxonJurisdictionalOriginList","jurisdictionalOrigins":[{"class":"gov.usgs.itis.itis_service.data.SvcTaxonJurisdictionalOrigin","jurisdictionValue":"Alaska","origin":"Native","updateDate":"2007-08-20"},{"class":"gov.usgs.itis.itis_service.data.SvcTaxonJurisdictionalOrigin","jurisdictionValue":"Canada","origin":"Native","updateDate":"2007-08-20"},{"class":"gov.usgs.itis.itis_service.data.SvcTaxonJurisdictionalOrigin","jurisdictionValue":"Continental US","origin":"Native","updateDate":"2007-08-20"}],"tsn":"180543"}
  recorded_at: 2021-09-15 22:48:02 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
