http_interactions:
- request:
    method: get
    uri: https://www.itis.gov/ITISWebService/jsonservice/getKingdomNameFromTSN?tsn=202385
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: text/json;charset=ISO-8859-1
    body:
      encoding: ''
      file: no
      string: |
        {"class":"gov.usgs.itis.itis_service.data.SvcKingdomInfo","kingdomId":"5","kingdomName":"Animalia","tsn":"202385"}
  recorded_at: 2025-01-16 21:32:36 GMT
  recorded_with: vcr/1.6.0.91, webmockr/1.0.0
[...]
