http_interactions:
- request:
    method: get
    uri: http://apiv3.iucnredlist.org/api/v3/species/Abies%20koreana?token=<<rredlist_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"Abies koreana","result":[{"taxonid":31244,"scientific_name":"Abies
        koreana","kingdom":"PLANTAE","phylum":"TRACHEOPHYTA","class":"PINOPSIDA","order":"PINALES","family":"PINACEAE","genus":"Abies","main_common_name":"Korean
        Fir","authority":"E.H.Wilson","published_year":2011,"assessment_date":"2010-09-07","category":"EN","criteria":"B2ab(ii,iii,v)","population_trend":"Decreasing","marine_system":false,"freshwater_system":false,"terrestrial_system":true,"assessor":"Kim,
        Y.-S., Chang, C.-S., Kim, C.-S. & Gardner, M.","reviewer":"Thomas, P. & Farjon,
        A.","aoo_km2":"12","eoo_km2":null,"elevation_upper":1900,"elevation_lower":1000,"depth_upper":null,"depth_lower":null,"errata_flag":null,"errata_reason":null,"amended_flag":null,"amended_reason":null}]}'
  recorded_at: 2019-01-24 22:50:51 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
- request:
    method: get
    uri: http://apiv3.iucnredlist.org/api/v3/species/id/31244?token=<<rredlist_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"31244","result":[{"taxonid":31244,"scientific_name":"Abies
        koreana","kingdom":"PLANTAE","phylum":"TRACHEOPHYTA","class":"PINOPSIDA","order":"PINALES","family":"PINACEAE","genus":"Abies","main_common_name":"Korean
        Fir","authority":"E.H.Wilson","published_year":2011,"assessment_date":"2010-09-07","category":"EN","criteria":"B2ab(ii,iii,v)","population_trend":"Decreasing","marine_system":false,"freshwater_system":false,"terrestrial_system":true,"assessor":"Kim,
        Y.-S., Chang, C.-S., Kim, C.-S. & Gardner, M.","reviewer":"Thomas, P. & Farjon,
        A.","aoo_km2":"12","eoo_km2":null,"elevation_upper":1900,"elevation_lower":1000,"depth_upper":null,"depth_lower":null,"errata_flag":null,"errata_reason":null,"amended_flag":null,"amended_reason":null}]}'
  recorded_at: 2019-01-24 22:50:51 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
- request:
    method: get
    uri: http://apiv3.iucnredlist.org/api/v3/species/history/id/31244?token=<<rredlist_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"31244","result":[{"year":"2011","code":"EN","category":"Endangered"},{"year":"1998","code":"LR/nt","category":"Lower
        Risk/near threatened"},{"year":"1998","code":"R","category":"Rare"}]}'
  recorded_at: 2019-01-24 22:50:51 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
- request:
    method: get
    uri: http://apiv3.iucnredlist.org/api/v3/species/countries/id/31244?token=<<rredlist_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"31244","count":1,"result":[{"code":"KR","country":"Korea,
        Republic of","presence":"Extant","origin":"Native","distribution_code":"Native"}]}'
  recorded_at: 2019-01-24 22:50:51 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
- request:
    method: get
    uri: http://apiv3.iucnredlist.org/api/v3/species/Xylopia%20collina?token=<<rredlist_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"Xylopia collina","result":[{"taxonid":158[...]
[...]
- request:
    method: get
    uri: http://apiv3.iucnredlist.org/api/v3/species/Brugmansia%20versicolor?token=<<rredlist_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"Brugmansia versicolor","result":[{"taxonid":38125,"scientific_name":"Brugmansia
        versicolor","kingdom":"PLANTAE","phylum":"TRACHEOPHYTA","class":"MAGNOLIOPSIDA","order":"SOLANALES","family":"SOLANACEAE","genus":"Brugmansia","main_common_name":null,"authority":"Lagerh.","published_year":2014,"assessment_date":"2014-03-25","category":"EW","criteria":null,"population_trend":null,"marine_system":false,"freshwater_system":false,"terrestrial_system":true,"assessor":"Hay,
        A.","reviewer":"Scott, J.A.","aoo_km2":null,"eoo_km2":null,"elevation_upper":750,"elevation_lower":100,"depth_upper":null,"depth_lower":null,"errata_flag":null,"errata_reason":null,"amended_flag":null,"amended_reason":null}]}'
  recorded_at: 2019-01-24 22:50:51 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
[...]
- request:
    method: get
    uri: http://apiv3.iucnredlist.org/api/v3/species/Achatinella%20buddii?token=<<rredlist_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"Achatinella buddii","result":[{"taxonid":170,"scientific_name":"Achatinella
        buddii","kingdom":"ANIMALIA","phylum":"MOLLUSCA","class":"GASTROPODA","order":"STYLOMMATOPHORA","family":"ACHATINELLIDAE","genus":"Achatinella","main_common_name":null,"authority":"Newcomb,
        1853","published_year":1996,"assessment_date":"1996-08-01","category":"EX","criteria":null,"population_trend":null,"marine_system":false,"freshwater_system":false,"terrestrial_system":true,"assessor":"Mollusc
        Specialist Group","reviewer":"","aoo_km2":null,"eoo_km2":null,"elevation_upper":null,"elevation_lower":null,"depth_upper":null,"depth_lower":null,"errata_flag":null,"errata_reason":null,"amended_flag":null,"amended_reason":null}]}'
  recorded_at: 2019-01-24 22:50:51 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
[...]
- request:
    method: get
    uri: http://apiv3.iucnredlist.org/api/v3/species/Annona%20hystricoides?token=<<rredlist_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"Annona hystricoides","result":[{"taxonid":42818,"scientific_name":"Annona
        hystricoides","kingdom":"PLANTAE","phylum":"TRACHEOPHYTA","class":"MAGNOLIOPSIDA","order":"MAGNOLIALES","family":"ANNONACEAE","genus":"Annona","main_common_name":null,"authority":"A.H.Gentry","published_year":2003,"assessment_date":"2003-04-30","category":"CR","criteria":"A4c;
        B1ab(iii)","population_trend":null,"marine_system":false,"freshwater_system":false,"terrestrial_system":true,"assessor":"Muriel,
        P. & Pitman, N.","reviewer":"Valencia, R., Pitman, N., Léon-Yánez, S. & Jørgensen,
        P.M. (Ecuador Plants Red List Authority)","aoo_km2":null,"eoo_km2":null,"elevation_upper":null,"elevation_lower":null,"depth_upper":null,"depth_lower":null,"errata_flag":null,"errata_reason":null,"amended_flag":null,"amended_reason":null}]}'
  recorded_at: 2019-01-24 22:50:51 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
[...]
- request:
    method: get
    uri: http://apiv3.iucnredlist.org/api/v3/species/Chamaecrista%20onusta?token=<<rredlist_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"Chamaecrista onusta","result":[{"taxonid":19891952,"scientific_name":"Chamaecrista
        onusta","kingdom":"PLANTAE","phylum":"TRACHEOPHYTA","class":"MAGNOLIOPSIDA","order":"FABALES","family":"FABACEAE","genus":"Chamaecrista","main_common_name":null,"authority":"H.S.Irwin
        & Barneby","published_year":2012,"assessment_date":"2010-04-14","category":"VU","criteria":"B1ab(i,ii,iii)","population_trend":"Decreasing","marine_system":false,"freshwater_system":false,"terrestrial_system":true,"assessor":"Groom,
        A.","reviewer":"Hilton-Taylor, C.","aoo_km2":null,"eoo_km2":"7380","elevation_upper":40,"elevation_lower":1,"depth_upper":null,"depth_lower":null,"errata_flag":null,"errata_reason":null,"amended_flag":null,"amended_reason":null}]}'
  recorded_at: 2019-01-24 22:50:51 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
[...]
- request:
    method: get
    uri: http://apiv3.iucnredlist.org/api/v3/species/Cyornis%20lemprieri?token=<<rredlist_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"Cyornis lemprieri","result":[{"taxonid":22709548,"scientific_name":"Cyornis
        lemprieri","kingdom":"ANIMALIA","phylum":"CHORDATA","class":"AVES","order":"PASSERIFORMES","family":"MUSCICAPIDAE","genus":"Cyornis","main_common_name":"Palawan
        Blue-flycatcher","authority":"(Sharpe, 1884)","published_year":2016,"assessment_date":"2016-10-01","category":"NT","criteria":null,"population_trend":"Decreasing","marine_system":false,"freshwater_system":false,"terrestrial_system":true,"assessor":"BirdLife
        International","reviewer":"Butchart, S. & Symes, A.","aoo_km2":null,"eoo_km2":"50900","elevation_upper":null,"elevation_lower":null,"depth_upper":null,"depth_lower":null,"errata_flag":null,"errata_reason":null,"amended_flag":null,"amended_reason":null}]}'
  recorded_at: 2019-01-24 22:50:51 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
[...]
- request:
    method: get
    uri: http://apiv3.iucnredlist.org/api/v3/species/Frailea%20pumila?token=<<rredlist_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"Frailea pumila","result":[{"taxonid":152195,"scientific_name":"Frailea
        pumila","kingdom":"PLANTAE","phylum":"TRACHEOPHYTA","class":"MAGNOLIOPSIDA","order":"CARYOPHYLLALES","family":"CACTACEAE","genus":"Frailea","main_common_name":null,"authority":"(Lem.)
        Britton &amp; Rose","published_year":2017,"assessment_date":"2010-06-04","category":"LC","criteria":null,"population_trend":"Stable","marine_system":false,"freshwater_system":false,"terrestrial_system":true,"assessor":"Larocca,
        J., Machado, M. & Duarte, W.","reviewer":"Goettsch, B.K. & Superina, M.","aoo_km2":null,"eoo_km2":null,"elevation_upper":300,"elevation_lower":100,"depth_upper":null,"depth_lower":null,"errata_flag":null,"errata_reason":null,"amended_flag":true,"amended_reason":"The
        species distribution map has been added."}]}'
  recorded_at: 2019-01-24 22:50:51 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
[...]
