http_interactions:
- request:
    method: get
    uri: http://gni.globalnames.org/name_strings.json?search_term=Cyanistes%20caeruleus
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json; charset=utf-8
      etag: '"e8737c4934d9935c8ebed36139563872"'
      status:
      - HTTP/1.1 200 OK
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"name_strings":[{"uuid_hex":"88e91191-2617-571d-94ef-bf3fafd32c1e","name":"Cyanistes
        caeruleus","id":4490974,"lsid":"urn:lsid:globalnames.org:index:88e91191-2617-571d-94ef-bf3fafd32c1e","resource_uri":"http://gni.globalnames.org/name_strings/4490974.xml"},{"uuid_hex":"0a30d388-97d7-5eae-bdf5-0ac3499ecb97","name":"Cyanistes
        caeruleus (Linnaeus) 1758","id":2017480,"lsid":"urn:lsid:globalnames.org:index:0a30d388-97d7-5eae-bdf5-0ac3499ecb97","resource_uri":"http://gni.globalnames.org/name_strings/2017480.xml"},{"uuid_hex":"7c7c2a0e-2498-5945-95eb-6958d17bdf82","name":"Cyanistes
        caeruleus (Linnaeus, 1758)","id":1571500,"lsid":"urn:lsid:globalnames.org:index:7c7c2a0e-2498-5945-95eb-[...]
- request:
    method: get
    uri: http://gni.globalnames.org/parsers.json?names=Cyanistes%20caeruleus%7CCyanistes%20caeruleus%20%28Linnaeus%29%201758%7CCyanistes%20caeruleus%20%28Linnaeus%2C%201758%29%7CCyanistes%20caeruleus%20caeruleus%7CCyanistes%20caeruleus%20degener%7CCyanistes%20caeruleus%20obscurus%7CCyanistes%20caeruleus%20ogilastrae%7CCyanistes%20caeruleus%20ombriosus%7CCyanistes%20caeruleus%20orientalis%20Sarudny%20%26%20Loudon%201905%7CCyanistes%20caeruleus%20palmensis%7CCyanistes%20caeruleus%20ssp.%7CCyanistes%20caeruleus%20teneriffae%7CCyanistes%20caeruleus%20teneriffae%20%28Lesson%2C%201831%29%7CCyanistes%20caeruleus%20ultramarinus%7CParus%20%28Cyanistes%29%20caeruleus%7CParus%20%28Cyanistes%29%20caeruleus%20degener%7CParus%20%28Cyanistes%29%20caeruleus%20ultramarinus
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      status: 200 OK
      etag: '"f7147d0694f341c39b146a1dcc7630e2"'
      Content-Type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        [{"scientificName":{"parsed":true,"parser_version":"3.1.4","verbatim":"Cyanistes caeruleus","normalized":"Cyanistes caeruleus","canonical":"Cyanistes caeruleus","hybrid":false,"details":[{"genus":{"string":"Cyanistes"},"species":{"string":"caeruleus"}}],"parser_run":1,"positions":{"0":["genus",9],"10":["species",19]}}}
        ,
        {"scientificName":{"parsed":true,"parser_version":"3.1.4","verbatim":"Cyanistes caeruleus (Linnaeus) 1758","normalized":"Cyanistes caeruleus (Linnaeus 1758)","canonical":"Cyanistes caeruleus","hybrid":false,"details":[{"genus":{"string":"Cyanistes"},"species":{"string":"caeruleus","authorship":"(Linnaeus) 1758","basionymAuthorTeam":{"author_team":"(Linnaeus) 1758","author":["Linnaeus"],"year":"1758"}}}],"parser_run":1,"positions":{"0":["genus",9],"10":["species",19],"21":["author_word",29],"31":["year",35]}}}
        ,
        {"scientificName":{"parsed":true,"parser_version":"3.1.4","verbatim":"Cyanistes caeruleus (Linnaeus, 1758)","normalized":"Cyanistes caeruleus (Linnaeus 1758)","canonical":"Cyanistes caeruleus","hybrid":false,"details":[{"genus":{"string":"Cyanistes"},"species":{"string":"caeruleus","authorship":"(Linnaeus, 1758)","basionymAuthorTeam":{"authorTeam":"Linnaeus","author":["Linnaeus"],"year":"1758"}}}],"parser_run":1,"positions":{"0":["genus",9],"10":["species",19],"21":["author_word",29],"31":["year",35]}}}
        ,
        {"scientificName":{"parsed":true,"parser_version":"3.1.4","verbatim":"Cyanistes caeruleus caeruleus","normalized":"Cyanistes caeruleus caeruleus","canonical":"Cyanistes caeruleus caeruleus","hybrid":false,"details":[{"genus":{"string":"Cyanistes"},"species":{"string":"caeruleus"},"infraspecies":[{"string":"caeruleus","rank":"n/a"}]}],"parser_run":1,"positions":{"0":["genus",9],"10":["species",19],"20":["infraspecies",29]}}}
        ,
        {"scientificName":{"parsed":true,"parser_version":"3.1.4","verbatim":"Cyanistes caeruleus degener","normalized":"Cyanistes caeruleus degener","canonical":"Cyanistes caeruleus degener","hybrid":false,"details":[{"genus":{"string":"Cyanistes"},"species":{"string":"caeruleus"},"infraspecies":[{"string":"degener","rank":"n/a"}]}],"parser_run":1,"positions":{"0":["genus",9],"10":["s[...]
- request:
    method: get
    uri: https://apiv3.iucnredlist.org/api/v3/species/Cyanistes%20caeruleus?token=<<rredlist_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"Cyanistes caeruleus","result":[{"taxonid":103761667,"scientific_name":"Cyanistes
        caeruleus","kingdom":"ANIMALIA","phylum":"CHORDATA","class":"AVES","order":"PASSERIFORMES","family":"PARIDAE","genus":"Cyanistes","main_common_name":"Eurasian
        Blue Tit","authority":"(Linnaeus, 1758)","published_year":2017,"assessment_date":"2016-10-01","category":"LC","criteria":null,"population_trend":"Increasing","marine_system":false,"freshwater_system":false,"terrestrial_system":true,"assessor":"BirdLife
        International","reviewer":"Butchart, S. & Symes, A.","aoo_km2":null,"eoo_km2":"16600000","elevation_upper":3500,"elevation_lower":null,"depth_upper":null,"depth_lower":null,"errata_flag":null,"errata_reason":null,"amended_flag":true,"amended_reason":"Map
        updated: Added gaps in S &amp; SE Spain (where very scarce). EOO updated.
        Edited Habitats and Ecology Information text."}]}'
  recorded_at: 2019-01-24 19:10:38 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
[...]
- request:
    method: get
    uri: https://apiv3.iucnredlist.org/api/v3/species/Cyanistes%20caeruleus%20caeruleus?token=<<rredlist_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"Cyanistes caeruleus caeruleus","result":[]}'
  recorded_at: 2019-01-24 19:10:38 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
- request:
    method: get
    uri: https://apiv3.iucnredlist.org/api/v3/species/Cyanistes%20caeruleus%20degener?token=<<rredlist_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"Cyanistes caeruleus degener","result":[]}'
  recorded_at: 2019-01-24 19:10:38 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
- request:
    method: get
    uri: https://apiv3.iucnredlist.org/api/v3/species/Cyanistes%20caeruleus%20obscurus?token=<<rredlist_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"Cyanistes caeruleus obscurus","result":[]}'
  recorded_at: 2019-01-24 19:10:38 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
- request:
    method: get
    uri: https://apiv3.iucnredlist.org/api/v3/species/Cyanistes%20caeruleus%20ogilastrae?token=<<rredlist_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"Cyanistes caeruleus ogilastrae","result":[]}'
  recorded_at: 2019-01-24 19:10:38 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
- request:
    method: get
    uri: https://apiv3.iucnredlist.org/api/v3/species/Cyanistes%20caeruleus%20ombriosus?token=<<rredlist_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"Cyanistes caeruleus ombriosus","result":[]}'
  recorded_at: 2019-01-24 19:10:38 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
- request:
    method: get
    uri: https://apiv3.iucnredlist.org/api/v3/species/Cyanistes%20caeruleus%20orientalis?token=<<rredlist_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"Cyanistes caeruleus orientalis","result":[]}'
  recorded_at: 2019-01-24 19:10:38 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
- request:
    method: get
    uri: https://apiv3.iucnredlist.org/api/v3/species/Cyanistes%20caeruleus%20palmensis?token=<<rredlist_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"Cyanistes caeruleus palmensis","result":[]}'
  recorded_at: 2019-01-24 19:10:38 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
[...]
- request:
    method: get
    uri: https://apiv3.iucnredlist.org/api/v3/species/Cyanistes%20caeruleus%20teneriffae?token=<<rredlist_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"Cyanistes caeruleus teneriffae","result":[]}'
  recorded_at: 2019-01-24 19:10:38 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
[...]
- request:
    method: get
    uri: https://apiv3.iucnredlist.org/api/v3/species/Cyanistes%20caeruleus%20ultramarinus?token=<<rredlist_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"Cyanistes caeruleus ultramarinus","result":[]}'
  recorded_at: 2019-01-24 19:10:38 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
- request:
    method: get
    uri: https://apiv3.iucnredlist.org/api/v3/species/Parus%20caeruleus?token=<<rredlist_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"value":"0","species":"Parus caeruleus"}'
  recorded_at: 2019-01-24 19:10:38 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
- request:
    method: get
    uri: https://apiv3.iucnredlist.org/api/v3/species/Parus%20caeruleus%20degener?token=<<rredlist_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"Parus caeruleus degener","result":[]}'
  recorded_at: 2019-01-24 19:10:38 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
- request:
    method: get
    uri: https://apiv3.iucnredlist.org/api/v3/species/Parus%20caeruleus%20ultramarinus?token=<<rredlist_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"Parus caeruleus ultramarinus","result":[]}'
  recorded_at: 2019-01-24 19:10:38 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
- request:
    method: get
    uri: https://apiv3.iucnredlist.org/api/v3/species/id/103761667?token=<<rredlist_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"103761667","result":[{"taxonid":103761667,"scientific_name":"Cyanistes
        caeruleus","kingdom":"ANIMALIA","phylum":"CHORDATA","class":"AVES","order":"PASSERIFORMES","family":"PARIDAE","genus":"Cyanistes","main_common_name":"Eurasian
        Blue Tit","authority":"(Linnaeus, 1758)","published_year":2017,"assessment_date":"2016-10-01","category":"LC","criteria":null,"population_trend":"Increasing","marine_system":false,"freshwater_system":false,"terrestrial_system":true,"assessor":"BirdLife
        International","reviewer":"Butchart, S. & Symes, A.","aoo_km2":null,"eoo_km2":"16600000","elevation_upper":3500,"elevation_lower":null,"depth_upper":null,"depth_lower":null,"errata_flag":null,"errata_reason":null,"amended_flag":true,"amended_reason":"Map
        updated: Added gaps in S &amp; SE Spain (where very scarce). EOO updated.
        Edited Habitats and Ecology Information text."}]}'
  recorded_at: 2019-01-24 19:10:38 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
- request:
    method: get
    uri: https://apiv3.iucnredlist.org/api/v3/species/history/id/103761667?token=<<rredlist_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"103761667","result":[{"year":"2017","code":"LC","category":"Least
        Concern"},{"year":"2016","code":"LC","category":"Least Concern"}]}'
  recorded_at: 2019-01-24 19:10:38 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
- request:
    method: get
    uri: https://apiv3.iucnredlist.org/api/v3/species/countries/id/103761667?token=<<rredlist_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      etag: '"-180946319"'
    body:
      encoding: UTF-8
      string: '{"name":"103761667","count":51,"result":[{"code":"AD","country":"Andorra","presence":"Extant","origin":"Native","distribution_code":"Native"},{"code":"AL","country":"Albania","presence":"Extant","origin":"Native","distribution_code":"Native"},{"code":"AM","country":"Armenia","presence":"Extant","origin":"Native","distribution_code":"Native"},{"code":"AT","country":"Austria","presence":"Extant","origin":"Native","distribution_code":"Native"},{"code":"AZ","country":"Azerbaijan","presence":"Extant","origin":"Native","distribution_code":"Native"},{"code":"BA","country":"Bosnia
        and Herzegovina","presence":"Extant","origin[...]
[...]
