http_interactions:
- request:
    method: get
    uri: http://apiv3.iucnredlist.org/api/v3/species/?token=<<rredlist_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '404'
      message: Not Found
      explanation: Nothing matches the given URI
    headers:
      status: HTTP/1.1 404 Not Found
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":404}'
  recorded_at: 2019-01-24 22:50:55 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
- request:
    method: get
    uri: http://apiv3.iucnredlist.org/api/v3/species/Abies?token=<<rredlist_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"Abies","result":[]}'
  recorded_at: 2019-01-24 22:50:55 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
