http_interactions:
- request:
    method: get
    uri: http://apiv3.iucnredlist.org/api/v3/species/Panthera%20uncia?token=<<rredlist_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"Panthera uncia","result":[{"taxonid":22732,"scientific_name":"Panthera
        uncia","kingdom":"ANIMALIA","phylum":"CHORDATA","class":"MAMMALIA","order":"CARNIVORA","family":"FELIDAE","genus":"Panthera","main_common_name":"Snow
        Leopard","authority":"(Schreber, 1775)","published_year":2017,"assessment_date":"2016-11-08","category":"VU","criteria":"C1","population_trend":"Decreasing","marine_system":false,"freshwater_system":false,"terrestrial_system":true,"assessor":"McCarthy,
        T., Mallon, D., Jackson, R., Zahler, P. & McCarthy, K.","reviewer":"Böhm,
        M., Breitenmoser, U., Breitenmoser-Würsten, C., Harris, R., Hunter, L., Lanz,
        T., Nowell, K. & Rosen, T.","aoo_km2":null,"eoo_km2":"6786272","elevation_upper":5800,"elevation_lower":500,"depth_upper":null,"depth_lower":null,"errata_flag":null,"errata_reason":null,"amended_flag":null,"amended_reason":null}]}'
  recorded_at: 2019-01-24 22:50:28 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
- request:
    method: get
    uri: http://apiv3.iucnredlist.org/api/v3/species/Lynx%20lynx?token=<<rredlist_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"Lynx lynx","result":[{"taxonid":12519,"scientif[...]
- request:
    method: get
    uri: http://apiv3.iucnredlist.org/api/v3/species/id/22732?token=<<rredlist_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"22732","result":[{"taxonid":22732,"scientific_name":"Panthera
        uncia","kingdom":"ANIMALIA","phylum":"CHORDATA","class":"MAMMALIA","order":"CARNIVORA","family":"FELIDAE","genus":"Panthera","main_common_name":"Snow
        Leopard","authority":"(Schreber, 1775)","published_year":2017,"assessment_date":"2016-11-08","category":"VU","criteria":"C1","population_trend":"Decreasing","marine_system":false,"freshwater_system":false,"terrestrial_system":true,"assessor":"McCarthy,
        T., Mallon, D., Jackson, R., Zahler, P. & McCarthy, K.","reviewer":"Böhm,
        M., Breitenmoser, U., Breitenmoser-Würsten, C., Harris, R., Hunter, L., Lanz,
        T., Nowell, K. & Rosen, T.","aoo_km2":null,"eoo_km2":"6786272","elevation_upper":5800,"elevation_lower":500,"depth_upper":null,"depth_lower":null,"errata_flag":null,"errata_reason":null,"amended_flag":null,"amended_reason":null}]}'
  recorded_at: 2019-01-24 22:50:28 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
- request:
    method: get
    uri: http://apiv3.iucnredlist.org/api/v3/species/history/id/22732?token=<<rredlist_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"22732","result":[{"year":"2017","code":"VU","category":"Vulnerable"},{"year":"2008","code":"EN","category":"Endangered"},{"year":"2002","code":"EN","category":"Endangered"},{"year":"1996","code":"EN","category":"Endangered"},{"year":"1994","code":"E","category":"Endangered"},{"year":"1990","code":"E","category":"Endangered"},{"year":"1988","code":"E","category":"Endangered"},{"year":"1986","code":"E","category":"Endangered"}]}'
  recorded_at: 2019-01-24 22:50:28 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
- request:
    method: get
    uri: http://apiv3.iucnredlist.org/api/v3/species/countries/id/22732?token=<<rredlist_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      etag: '"1918570075"'
    body:
      encoding: UTF-8
      string: '{"name":"22732","count":12,"result":[{"code":"AF","country":"Afghanistan","presence":"Extant","origin":"Native","distribution_code":"Native"},{"code":"BT","country":"Bhutan","presence":"Extant","origin":"Native","distribution_code":"Native"},{"code":"CN","country":"China","presence":"Extant","origin":"Native","distribution_code":"Native"},{"code":"IN","country":"India","presence":"Extant","origin":"Native","distribution_code":"Native"},{"code":"KG","country":"Kyrgyzstan","presence":"Extant","origin":"Native","distribution_code":"Native"},{"code":"KZ","country":"Kazakhstan","presence":"Extant","origin":"Native","distribution_code":"Native"},{"code":"MN","country":"Mongolia","presence":"Extant","origin":"Native","distribution_code":"Native"},{"code":"NP","country":"Nepal","presence":"Extant","origin":"Native","distribution_code":"Native"},{"code":"PK","country":"Pakistan","presence":"Extant","origin":"Native","distribution_code":"Native"},{"code":"RU","country":"Russian
        Federation","presence":"Extant","origin":"Native","distribution_code":"Native"},{"code":"TJ","country":"Tajikistan","presence":"Extant","origin":"Native","distribution_code":"Native"},{"code":"UZ","country":"Uzbekistan","presence":"Extant","origin":"Native","distribution_code":"Native"}]}'
  recorded_at: 2019-01-24 22:50:28 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
[...]
