http_interactions:
- request:
    method: get
    uri: https://species-ws.nbnatlas.org/species/NHMSYS0000502940
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.1.0 rOpenSci(taxize/1.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-application-context: application:production
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"taxonConcept":{"guid":"NHMSYS0000502940","parentGuid":null,"nameString":"Inachis
        io","nameComplete":"Inachis io (Linnaeus, 1758)","nameFormatted":"<span class=\"scientific-name
        rank-species\"><span class=\"name\">Inachis io<\u002fspan> <span class=\"author\">(Linnaeus,
        1758)<\u002fspan><\u002fspan>","author":"(Linnaeus, 1758)","nomenclaturalCode":null,"taxonomicStatus":"synonym","nomenclaturalStatus":null,"rankString":"species","nameAuthority":"UKSI","rankID":7000,"nameAccordingTo":null,"nameAccordingToID":null,"namePublishedIn":null,"namePublishedInYear":null,"namePublishedInID":null,"taxonRemarks":null,"infoSourceURL":null,"datasetURL":null,"acceptedConceptID":"NHMSYS0021143568","acceptedConceptName":"Aglais
        io (Linnaeus, 1758)"},"taxonName":[],"classification":{"scientificName":"Inachis
        io","guid":"NHMSYS0000502940","species":"Inachis io","speciesGuid":"NHMSYS0000502940"},"synonyms":[],"commonNames":[],"imageIdentifier":null,"conservationStatuses":null,"extantStatuses":[],"habitats":[],"categories":[],"simpleProperties":[],"images":[],"occurrenceCounts":[],"identifiers":[],"variants":[],"establishmentMeans":"Native"}'
  recorded_at: 2021-09-15 22:49:15 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
