http_interactions:
- request:
    method: get
    uri: http://www.plantminer.com/tpl?taxon=foo%20bar
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '[{"id":"","family":"","genus":"","species":"","infraspecific.rank":"","infraspecific.epithet":"","authorship":"","taxonomic.status.in.tpl":"","confidence.level":"","source":"","accepted.id":"","name":"","note":"not
        found","original.search":"foo bar"}]'
  recorded_at: 2019-01-25 23:00:45 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
