http_interactions:
- request:
    method: get
    uri: http://www.plantsoftheworldonline.org/api/2/search?q=Quercus&perPage=100&cursor=%2A
    body:
      encoding: ''
      string: ''
    headers:
      X-User-Agent: r-curl/3.3 crul/0.7.0 taxize/0.9.5.9310
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      etag: '"0fe820965f65404f953fae1e063b28c5b-gzip"'
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalResults":3034,"page":0,"totalPages":31,"perPage":100,"cursor":"AoMIQL0iRj42MDBGYWdhY2VhZVF1ZXJjdXNhbmd1c3RpZm9saWEsVGF4b25fMTU4ODg0","results":[{"accepted":true,"author":"L.","kingdom":"Plantae","family":"Fagaceae","name":"Quercus","rank":"Genus","url":"/taxon/urn:lsid:ipni.org:names:325819-2","fqId":"urn:lsid:ipni.org:names:325819-2","images":[{"thumbnail":"http://d2seqvvyy3b8p2.cloudfront.net/fdb69f0ec50ab0f25a35d2cb0507f08a.jpg","fullsize":"http://d2seqvvyy3b8p2.cloudfront.net/9e4f0aa6edb7021d9c1eea1a70bba6a9.jpg","caption":"A
        specimen from Kew''s Herbarium"},{"thumbnail":"http://storage.googleapis.com/powop-assets/kew_profiles/Quercus_castaneifolia_canopy_DSC2378_web_thumbnail.jpg","fullsize":"http://storage.googleapis.com/powop-assets/kew_profiles/Quercus_castaneifolia_canopy_DSC2378_web_fullsize.jpg","caption":"Quercus
        castaneifolia (chestnut-leaved oak)"},{"thumbnail":"http://storage.googleapis.com/powop-assets/kew_profiles/PPCONT_010791_thumbnail.jpg","fullsize":"http://storage.googleapis.com/powop-assets/kew_profiles/PPCONT_010791_fullsize.jpg","caption":"Quercus
        robur (English oak)"}]},{"accepted":true,"author":"Dumort.","kingdom":"Plantae","family":"Fagaceae","name":"Fagaceae","rank":"Family","snippet":"
        <b>General</b>: : <em>Quercus</em>, Fagus and Colombobalanus.&nbsp;   Fagus
        is represented<br/> <b>Appearance</b>:  of Eastern Mexico.   <em>Quercus</em>
        is easily recognizable in fruit by its","url":"/taxon/urn:lsid:ipni.org:names:30000116-2","fqId":"urn:lsid:ipni.org:names:30000116-2","images":[{"thumbnail":"http://storage.googleapis.com/powop-assets/kew_profiles/PPCONT_008356_thumbnail.jpg","fullsize":"http://storage.googleapis.com/powop-assets/kew_profiles/PPCONT_008356_fullsize.jpg","caption":"Ca[...]
