http_interactions:
- request:
    method: get
    uri: http://www.plantsoftheworldonline.org/api/2/taxon/urn:lsid:ipni.org:names:320035-2
    body:
      encoding: ''
      string: ''
    headers:
      X-User-Agent: r-curl/3.3 crul/0.7.0 taxize/0.9.5.9310
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-disposition: inline;filename=f.txt
      etag: '"0e78d027ee15c1f68c65c8e7836382fab-gzip"'
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"modified":"2018-02-02T13:59:16.000Z","bibliographicCitation":"IPNI
        2019. Published on the Internet http://www.ipni.org; WCSP 2019. WCSP. Facilitated
        by the Royal Botanic Gardens, Kew. Published on the Internet; http://apps.kew.org/wcsp/
        Retrieved 2011 onwards","genus":"Poa","taxonomicStatus":"Accepted","kingdom":"Plantae","phylum":"Magnoliophyta","family":"Poaceae","nomenclaturalCode":"Botanical","source":"http://apps.kew.org/wcsp/namedetail.do?name_id=435194","namePublishedInYear":1753,"taxonRemarks":"Temp.
        Old World to Trop. Mts.","nomenclaturalStatus":"Available","synonym":false,"plantae":true,"fungi":false,"fqId":"urn:lsid:ipni.org:names:320035-2","name":"Poa
        annua","authors":"L.","species":"annua","rank":"SPECIES","reference":"Sp.
        Pl.: 68 (1753)","classification":[{"fqId":"urn:lsid:ipni.org:names:320035-2","name":"Poa
        annua","author":"L.","rank":"SPECIES","taxonomicStatus":"Accepted"}],"basionymOf":[{"fqId":"urn:lsid:ipni.org:names:77075710-1","name":"Ochlopoa
        annua","author":"(L.) H.Scholz","rank":"SPECIES","taxonomicStatus":"Homotypic_Synonym"}],"synonyms":[{"fqId":"urn:lsid:ipni.org:names:204089-2","name":"Poa
        annua var. eriolepis","author":"É.Desv.","rank":"VARIETY","taxonomicStatus":"Synonym"},{"fqId":"urn:lsid:ipni.org:names:417222-1","name":"Poa
        humilis","author":"Lej.","rank":"SPECIES","taxonomicStatus":"Synonym"},{"fqId":"urn:lsid:ipni.org:names:417204-1","name":"Poa
        hohenackeri","author":"Trin.","rank":"SPECIES","taxonomicStatus":"Synonym"},{"fqId":"urn:lsid:ipni.org:names:104087-2","name":"Festuca
        tenuiculm[...]
