http_interactions:
- request:
    method: get
    uri: https://www.itis.gov/ITISWebService/jsonservice/getITISTermsFromScientificName?srchKey=Foo%20bar
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/json;charset=ISO-8859-1
      status: 'HTTP/1.1 200 '
      x-application: itis_webservices
      x-node-name: not shown
      x-upstream-member: not shown
    body:
      encoding: UTF-8
      string: |
        {"class":"gov.usgs.itis.itis_service.data.SvcItisTermList","itisTerms":[null],"requestedName":"Foo bar"}
  recorded_at: 2019-07-18 23:39:34 GMT
  recorded_with: vcr/0.2.6.9100, webmockr/0.3.4
- request:
    method: get
    uri: http://services.tropicos.org/Name/Search?format=json&name=Foo%20bar&apikey=<<tropicos_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.8.1.9100 rOpenSci(taxize/0.9.8.9125)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"Error":"No names were found"}]'
  recorded_at: 2019-07-18 23:39:34 GMT
  recorded_with: vcr/0.2.6.9100, webmockr/0.3.4
- request:
    method: get
    uri: https://species-ws.nbnatlas.org/search?q=Foo%20barasdfasdf&fq=idxtype%3ATAXON&pageSize=500&startIndex=0
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.8.1.9100 rOpenSci(taxize/0.9.8.9125)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-application-context: application:production
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"searchResults":{"totalRecords":0,"facetResults":[],"results":[],"queryTitle":"Foo
        barasdfasdf"}}'
  recorded_at: 2019-07-18 23:39:34 GMT
  recorded_with: vcr/0.2.6.9100, webmockr/0.3.4
- request:
    method: get
    uri: http://www.catalogueoflife.org/col/webservice?name=Foo%20bar&response=full&format=json
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.8.1.9100 rOpenSci(taxize/0.9.8.9125)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"id":"","name":"Foo bar","total_number_of_results":0,"number_of_results_returned":0,"start":0,"error_message":"No
        names found","version":"1.9 rev 2126ab0","rank":""}'
  recorded_at: 2019-07-18 23:39:34 GMT
  recorded_with: vcr/0.2.6.9100, webmockr/0.3.4
- request:
    method: get
    uri: http://www.marinespecies.org/rest/AphiaRecordsByName/Foo%20bar?like=true&marine_only=true&offset=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '204'
      message: No Content
      explanation: Request fulfilled, nothing follows
    headers:
      status: HTTP/1.1 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: 2019-07-18 23:39:34 GMT
  recorded_with: vcr/0.2.6.9100, webmockr/0.3.4
- request:
    method: get
    uri: http://apiv3.iucnredlist.org/api/v3/species/Foo%20bar?token=<<rredlist_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"Foo bar","result":[]}'
  recorded_at: 2019-07-18 23:39:34 GMT
  recorded_with: vcr/0.2.6.9100, webmockr/0.3.4
