http_interactions:
- request:
    method: get
    uri: http://www.marinespecies.org/rest/AphiaRecordsByName/Pomatomus%20saltatrix?like=true&marine_only=true&offset=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"AphiaID":151482,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=151482","scientificname":"Pomatomus
        saltatrix","authority":"(Linnaeus, 1766)","status":"accepted","unacceptreason":null,"taxonRankID":220,"rank":"Species","valid_AphiaID":151482,"valid_name":"Pomatomus
        saltatrix","valid_authority":"(Linnaeus, 1766)","parentNameUsageID":126046,"kingdom":"Animalia","phylum":"Chordata","class":"Actinopteri","order":"Scombriformes","family":"Pomatomidae","genus":"Pomatomus","citation":"Froese,
        R. and D. Pauly. Editors. (2021). FishBase. Pomatomus saltatrix (Linnaeus,
        1766). Accessed through: World Register of Marine Species at: http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=151482
        on 2021-09-16","lsid":"urn:lsid:marinespecies.org:taxname:151482","isMarine":1,"isBrackish":1,"isFreshwater":0,"isTerrestrial":0,"isExtinct":null,"match_type":"like","modified":"2008-01-15T17:27:08.177Z"}]'
  recorded_at: 2021-09-15 22:49:32 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: http://www.marinespecies.org/rest/AphiaSynonymsByAphiaID/151482?offset=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"AphiaID":312701,"url":"http:\/\/www.marinespecies.org\/aphia.php?[...]
