http_interactions:
- request:
    method: get
    uri: https://www.marinespecies.org/rest/AphiaRecordsByName/Epigonus+thai?like=true&marine_only=true&offset=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"AphiaID":834973,"url":"https:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=834973","scientificname":"Epigonus
        thai","authority":"Prokofiev & Bussarawit, 2012","status":"accepted","unacceptreason":null,"taxonRankID":220,"rank":"Species","valid_AphiaID":834973,"valid_name":"Epigonus
        thai","valid_authority":"Prokofiev & Bussarawit, 2012","parentNameUsageID":125967,"kingdom":"Animalia","phylum":"Chordata","class":"Actinopteri","order":"Acropomatiformes","family":"Epigonidae","genus":"Epigonus","citation":"Froese,
        R. and D. Pauly. Editors. (2022). FishBase. Epigonus thai Prokofiev & Bussarawit,
        2012. Accessed through: World Register of Marine Species at: https:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=834973
        on 2022-04-19","lsid":"urn:lsid:marinespecies.org:taxname:834973","isMarine":1,"isBrackish":0,"isFreshwater":0,"isTerrestrial":0,"isExtinct":null,"match_type":"like","modified":"2017-07-04T08:16:25.400Z"}]'
  recorded_at: 2022-04-19 06:01:17 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://www.marinespecies.org/rest/AphiaSynonymsByAphiaID/834973?offset=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '204'
      message: No Content
      explanation: Request fulfilled, nothing follows
    headers:
      status: 'HTTP/2 204 '
    body:
      encoding: UTF-8
      file: no
      string: ''
  recorded_at: 2022-04-19 06:01:17 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://species-ws.nbnatlas.org/search?q=Arctoa%20andersonii&fq=idxtype%3ATAXON&pageSize=500&startIndex=0
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.2.0 rOpenSci(taxize/0.9.99.947)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-application-context: application:production
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"searchResults":{"totalRecords":39,"facetResults":[],"results":[{"id":"18e048f0-2938-46ed-9816-16729539361f","guid":"NHMSYS0020636842","linkIdentifier":"Arctoa
        anderssonii","idxtype":"TAXON","name":"Arctoa anderssonii","kingdom":"Plantae","nomenclaturalCode":null,"scientificName":"Arctoa
        anderssonii","scientificNameAuthorship":"Wich.","author":"Wich.","nameComplete":"Arctoa
        anderssonii Wich.","nameFormatted":"<span class=\"scientific-name rank-species\"><span
        class=\"name\">Arctoa anderssonii<\u002fspan> <span class=\"author\">Wich.<\u002fspan><\u002fspan>","taxonomicStatus":"accepted","nomenclaturalStatus":null,"parentGuid":"NHMSYS0000309379","rank":"species","rankID":7000,"commonName":"","commonNameSingle":"","occurrenceCount":2,"conservationStatus":null,"infoSourceName":"UKSI","infoSourceURL":"https://registry.nbnatlas.org/public/show/null","taxonGroup_s":"moss","establishmentMeans":"Native","establishmentStatus_s":null,"datasetID":null,"listMembership_m_s":null,"riskAssessment_m_s":null,"managementPlans_m_s":null,"habitat_s":null,"habitat_m_s":null,"speciesGroup":["Plants"],"synonymComplete":null,"kingdomGuid":"NBNSYS0100004757","orderGuid":"NHMSYS0000066017","order":"Dicranales","class":"Bryopsida","genus":"Arctoa","phylum":"Bryophyta","genusGuid":"NHMSYS0000309379","family":"Rhabdoweisiaceae","classGuid":"NBNSYS0000173038","familyGuid":"NHMSYS0020959458","phylumGuid":"NBNSYS0000172125","species":"Arctoa
        anderssonii","speciesGuid":"NHMSYS0020636842","highlight":"<b>Arctoa<\u002fb>
        <b>anderssonii<\u002fb> Wich.<br><b>Arctoa anderssonii<\u002fb><br><b>Arctoa<\u002fb>
        <b>anderssonii<\u002fb><br><b>Arctoa<\u002fb>"},{"id":"2221ac9f-655b-4594-b19a-95521cc8527b","guid":"BMSSYS0000045102","linkIdentifier":null,"idxtype":"TAXON","name":"Drechslera
        andersenii","kingdom":"Fungi","nomenclaturalCode":null,"scientificName":"Drechslera
        andersenii","scientificNameAuthorship":"A. Lam","author":"A. Lam","nameComplete":"Drechslera
        andersenii A. Lam","nameFormatted":"<span class=\"scientific-name rank-species\"><span
        class=\"name\">Drechslera andersenii<\u002fspan> <span class=\"author\">A.
        Lam<\u002fspan><\u002fspan>","taxonomicStatus":"accepted","nomenclaturalStatus":null,"parentGuid":"BMSSYS0000006238","rank":"species","rankID":7000,"commonName":"","commonNameSingle":"","occurrenceCount":3,"conservationStatus":null,"infoSourceName":"UKSI","infoSourceURL":"https://registry.nbnatlas.org/public/show/null","taxonGroup_s":"fungus","establishmentMeans":"Native","establishmentStatus_s":null,"datasetID":null,"listMembership_m_s":null,"riskAssessment_m_s":null,"managementPlans_m_s":null,"habitat_s":"terrestrial","habitat_m_s":["terrestrial"],"speciesGroup":["Fungi"],"synonymComplete":["Drechslera
        andersenii A. Lam","Drechslera andersenii Scharif"],"kingdomGuid":"NHMSYS0020535450","orderGuid":"NHMSYS0001494051","order":"Pleosporales","subphylumGuid":"NHMSYS0020535847","class":"Dothideomycetes","genus":"Drechslera","phylum":"Ascomycota","subclass":"Dothideomycetidae","subphylum":"Pezizomycotina","genusGuid":"BMSSYS0000006238","family":"Pleosporaceae","classGuid":"NHMSYS0020535391","familyGuid":"NHMSYS0001494050","phylumGuid":"NHMSYS0020535046","subclassGuid":"BMSSYS0000289958","species":"Drechslera
        andersenii","speciesGuid":"BMSSYS0000045102","highlight":"Drechslera <b>andersenii<\u002fb><br>Drechslera
        <b>andersenii<\u002fb> A. Lam"},{"id":"888a995b-f5bf-406e-ab6d-28d286e7db49","guid":"NHMSYS0020535516","linkIdentifier":"Helminthosporium
        andersenii","idxtype":"TAXON","name":"Helminthosporium andersenii","kingdom":"Fungi","nomenclaturalCode":null,"scientificName":"Helminthosporium
        andersenii","scientificNameAuthorship"[...]
- request:
    method: get
    uri: https://species-ws.nbnatlas.org/species/NHMSYS0020636842
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.2.0 rOpenSci(taxize/0.9.99.947)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-application-context: application:production
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"taxonConcept":{"guid":"NHMSYS0020636842","parentGuid":"NHMSYS0000309379","nameString":"Arctoa
        anderssonii","nameComplete":"Arctoa anderssonii Wich.","nameFormatted":"<span
        class=\"scientific-name rank-species\"><span class=\"name\">Arctoa anderssonii<\u002fspan>
        <span class=\"author\">Wich.<\u002fspan><\u002fspan>","author":"Wich.","nomenclaturalCode":null,"taxonomicStatus":"accepted","nomenclaturalStatus":null,"rankString":"species","nameAuthority":"UKSI","rankID":7000,"nameAccordingTo":null,"nameAccordingToID":null,"namePublishedIn":null,"namePublishedInYear":null,"namePublishedInID":null,"taxonRemarks":null,"infoSourceURL":null,"datasetURL":null,"taxonConceptID":"NBNORG0000099329"},"taxonName":[],"classification":{"kingdom":"Plantae","kingdomGuid":"NBNSYS0100004757","orderGuid":"NHMSYS0000066017","order":"Dicranales","class":"Bryopsida","genus":"Arctoa","phylum":"Bryophyta","genusGuid":"NHMSYS0000309379","family":"Rhabdoweisiaceae","classGuid":"NBNSYS0000173038","familyGuid":"NHMSYS0020959458","phylumGuid":"NBNSYS0000172125","scientificName":"Arctoa
        anderssonii","guid":"NHMSYS0020636842","species":"Arctoa anderssonii","speciesGuid":"NHMSYS0020636842"},"synonyms":[],"commonNames":[],"imageIdentifier":null,"conservationStatuses":null,"extantStatuses":[],"habitats":[],"categories":[],"simpleProperties":[],"images":[],"occurrenceCounts":[],"identifiers":[],"variants":[],"taxonGroup_s":"moss","establishmentMeans":"Native","speciesGroup":["Plants"]}'
  recorded_at: 2022-04-19 06:01:17 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: http://services.tropicos.org/Name/Search?format=json&name=Pinus%20contorta&apikey=<<tropicos_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.2.0 rOpenSci(taxize/0.9.99.947)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"NameId":24900183,"ScientificName":"Pinus contorta","ScientificNameWithAuthors":"Pinus
        contorta Douglas ex Loudon","Family":"Pinaceae","RankAbbreviation":"sp.","NomenclatureStatusName":"No
        opinion","Author":"Douglas ex Loudon","DisplayReference":"Arbor. Frutic. Brit.
        4: 2292, f. 2210, 2211","DisplayDate":"1838","TotalRows":16},{"NameId":24900184,"ScientificName":"Pinus
        contorta var. bolanderi","ScientificNameWithAuthors":"Pinus contorta var.
        bolanderi Vasey","Family":"Pinaceae","RankAbbreviation":"var.","NomenclatureStatusName":"No
        opinion","Author":"Vasey","DisplayReference":"Leafl. Dept. Agric. 18: 177","DisplayDate":"1876","TotalRows":16},{"NameId":24900185,"ScientificName":"Pinus
        contorta var. latifolia","ScientificNameWithAuthors":"Pinus contorta var.
        latifolia Engelm."[...]
- request:
    method: get
    uri: http://services.tropicos.org/Name/24900183/Synonyms?apikey=<<tropicos_api_token>>&format=json
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.2.0 rOpenSci(taxize/0.9.99.947)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"Error":"No synonyms were found"}]'
  recorded_at: 2022-04-19 06:01:17 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: http://www.plantsoftheworldonline.org/api/2/search?q=Quercus%20ransomii&perPage=100&cursor=%2A
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.2.0 rOpenSci(taxize/0.9.99.947)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/1.1 200 '
      content-type: application/json;charset=UTF-8
      etag: W/"0330fdb0dc0ca30bbcbcda69b45c4e265"
    body:
      encoding: UTF-8
      file: no
      string: '{"totalResults":2,"page":1,"totalPages":1,"perPage":100,"cursor":"AoMIQUpjYjs2MDBGYWdhY2VhZVF1ZXJjdXNkb3VnbGFzaWksVGF4b25fMjczNjQ1","message":"If
        you would like to download and use the POWO data in a conciencious way, please
        use our official library pykew [https://github.com/RBGKew/pykew].","results":[{"accepted":false,"author":"Kellogg","kingdom":"Plantae","family":"Fagaceae","name":"Quercus
        ransomii","rank":"Species","synonymOf":{"accepted":true,"author":"Hook. &
        Arn.","name":"Quercus douglasii","url":"/taxon/urn:lsid:ipni.org:names:296074-1","fqId":"urn:lsid:ipni.org:names:296074-1"},"url":"/taxon/urn:lsid:ipni.org:names:216297-2","fqId":"urn:lsid:ipni.org:names:216297-2"},{"accepted":true,"author":"Hook.
        & Arn.","kingdom":"Plantae","family":"Fagaceae","name":"Quercus douglasii","rank":"Species","url":"/taxon/urn:lsid:ipni.org:names:296074-1","fqId":"urn:lsid:ipni.org:names:296074-1","images":[{"thumbnail":"//d2seqvvyy3b8p2.cloudfront.net/97ca1d465cef5c3dcf1355adea1bea83.jpg","fullsize":"//d2seqvvyy3b8p2.cloudfront.net/7b40fd07136cc54d8241dd4f7183381c.jpg","caption":"Quercus
        douglasii"},{"thumbnail":"//d2seqvvyy3b8p2.cloudfront.net/fe4669c30e8b782c0d337267b401635b.jpg","fullsize":"//d2seqvvyy3b8p2.cloudfront.net/f9f081d294d20153f4aad15916759a4f.jpg","caption":"A
        specimen from Kew''s Herbarium"},{"thumbnail":"//d2seqvvyy3b8p2.cloudfront.net/1d3d5ec04b4d72a0901b83a6c59e52c3.jpg","fullsize":"//d2seqvvyy3b8p2.cloudfront.net/36ae36c5cbe55c18384ce554453fbc6b.jpg","caption":"A
        specimen from Kew''s Herbarium"}]}]}'
  recorded_at: 2022-04-19 06:01:17 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: http://www.plantsoftheworldonline.org/api/2/taxon/urn:lsid:ipni.org:names:216297-2
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.2.0 rOpenSci(taxize/0.9.99.947)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/1.1 200 '
      content-type: application/json;charset=UTF-8
      content-disposition: inline;filename=f.txt
      etag: W/"0c6f62a3ceac61493423660be7f91bf4b"
    body:
      encoding: UTF-8
      file: no
      string: '{"bibliographicCitation":"IPNI 2022. Published on the Internet http://www.ipni.org;
        WCSP 2022. WCSP. Facilitated by the Royal Botanic Gardens, Kew. Published
        on the Internet; http://apps.kew.org/wcsp/ Retrieved 2011 onwards","genus":"Quercus","taxonomicStatus":"Synonym","kingdom":"Plantae","phylum":"Magnoliophyta","family":"Fagaceae","nomenclaturalCode":"Botanical","source":"http://apps.kew.org/wcsp/namedetail.do?name_id=174669","namePublishedInYear":1873,"nomenclaturalStatus":"Available","accepted":{"fqId":"urn:lsid:ipni.org:names:296074-1","name":"Quercus
        douglasii","author":"Hook. & Arn.","rank":"SPECIES","taxonomicStatus":"Accepted"},"synonym":true,"plantae":true,"fungi":false,"fqId":"urn:lsid:ipni.org:names:216297-2","name":"Quercus
        ransomii","authors":"Kellogg","species":"ransomii","rank":"SPECIES","reference":"Proc.
        Calif. Acad. Sci., ed. 2, 1: 23 (1873)","classification":[{"fqId":"urn:lsid:ipni.org:names:216297-2","name":"Quercus
        ransomii","author":"Kellogg","rank":"SPECIES","taxonomicStatus":"Synonym"}]}'
  recorded_at: 2022-04-19 06:01:17 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
