http_interactions:
- request:
    method: get
    uri: https://www.itis.gov/ITISWebService/jsonservice/getITISTermsFromScientificName?srchKey=Foo%20bar
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: text/json;charset=ISO-8859-1
    body:
      encoding: UTF-8
      file: no
      string: |
        {"class":"gov.usgs.itis.itis_service.data.SvcItisTermList","itisTerms":[null],"requestedName":"Foo bar"}
  recorded_at: 2022-04-19 05:52:47 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: http://services.tropicos.org/Name/Search?format=json&name=Foo%20bar&apikey=<<tropicos_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.2.0 rOpenSci(taxize/0.9.99.947)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"Error":"No names were found"}]'
  recorded_at: 2022-04-19 05:52:47 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://species-ws.nbnatlas.org/search?q=Foo%20barasdfasdf&fq=idxtype%3ATAXON&pageSize=500&startIndex=0
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.2.0 rOpenSci(taxize/0.9.99.947)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-application-context: application:production
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"searchResults":{"totalRecords":0,"facetResults":[],"results":[],"queryTitle":"Foo
        barasdfasdf"}}'
  recorded_at: 2022-04-19 05:52:47 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://www.marinespecies.org/rest/AphiaRecordsByName/Foo+bar?like=true&marine_only=true&offset=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '204'
      message: No Content
      explanation: Request fulfilled, nothing follows
    headers:
      status: 'HTTP/2 204 '
    body:
      encoding: UTF-8
      file: no
      string: ''
  recorded_at: 2022-04-19 05:52:47 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: http://www.plantsoftheworldonline.org/api/2/search?q=Foo%20bar&perPage=100&cursor=%2A
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.2 crul/1.2.0 rOpenSci(taxize/0.9.99.947)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/1.1 200 '
      content-type: application/json;charset=UTF-8
      etag: W/"079f43b03e319832200d33519d1aafd9b"
    body:
      encoding: UTF-8
      file: no
      string: '{"totalResults":0,"page":1,"totalPages":0,"perPage":100,"cursor":"*","message":"If
        you would like to download and use the POWO data in a conciencious way, please
        use our official library pykew [https://github.com/RBGKew/pykew]."}'
  recorded_at: 2022-04-19 05:52:47 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
