http_interactions:
- request:
    method: get
    uri: https://www.itis.gov/ITISWebService/jsonservice/getITISTermsFromScientificName?srchKey=Poa%20annua
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/json;charset=ISO-8859-1
      status: 'HTTP/1.1 200 '
    body:
      encoding: UTF-8
      file: no
      string: |
        {"class":"gov.usgs.itis.itis_service.data.SvcItisTermList","itisTerms":[{"author":"L.","class":"gov.usgs.itis.itis_service.data.SvcItisTerm","commonNames":["annual bluegrass","annual blue grass","walkgrass"],"nameUsage":"accepted","scientificName":"Poa annua","tsn":"41107"},{"author":"Asch.","class":"gov.usgs.itis.itis_service.data.SvcItisTerm","commonNames":[null],"nameUsage":"not accepted","scientificName":"Poa annua var. aquatica","tsn":"538978"},{"author":"Hausskn.","class":"gov.usgs.itis.itis_service.data.SvcItisTerm","commonNames":[null],"nameUsage":"not accepted","scientificName":"Poa annua var. reptans","tsn":"538979"},{"author":"(L.) H. Scholz","class":"gov.usgs.itis.itis_service.data.SvcItisTerm","commonNames":[null],"nameUsage":"not accepted","s[...]
- request:
    method: get
    uri: https://www.itis.gov/ITISWebService/jsonservice/getAcceptedNamesFromTSN?tsn=41107
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/json;charset=ISO-8859-1
      status: 'HTTP/1.1 200 '
    body:
      encoding: UTF-8
      file: no
      string: |
        {"acceptedNames":[null],"class":"gov.usgs.itis.itis_service.data.SvcAcceptedNameList","tsn":"41107"}
  recorded_at: 2021-09-15 22:49:48 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://www.itis.gov/ITISWebService/jsonservice/getSynonymNamesFromTSN?tsn=41107
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/json;charset=ISO-8859-1
      status: 'HTTP/1.1 200 '
    body:
      encoding: UTF-8
      file: no
      string: |
        {"class":"gov.usgs.itis.itis_service.data.SvcSynonymNameList","synonyms":[{"author":"Asch.","class":"gov.usgs.itis.itis_service.data.SvcTaxonName","sciName":"Poa annua var. aquatica","tsn":"538978"},{"author":"Hausskn.","class":"gov.usgs.itis.itis_service.data.SvcTaxonName","sciName":"Poa annua var. reptans","tsn":"538979"},{"author":"Pursh","class":"gov.usgs.itis.itis_service.data.SvcTaxonName","sciName":"Aira pumila","tsn":"785854"},{"author":"(Pursh) Roem. & Schult.","class":"gov.usgs.itis.itis_service.data.SvcTaxonName","sciName":"Catabrosa pumila","tsn":"787993"},{"author":"(L.) H. Scholz","class":"gov.usgs.itis.itis_service.data.SvcTaxonName","sciName":"Ochlopoa annua","tsn":"791574"},{"author":"J. Presl","class":"gov.usgs.itis.itis_service.data.SvcTaxonName","sciName":"Poa aestivalis","tsn":"793946"},{"author":"Trin.","class":"gov.usgs.itis.itis_service.data.SvcTaxonName","sciName":"Poa algida","tsn":"793954"},{"author":"L.","class":"gov.usgs.itis.itis_service.data.SvcTaxonName","sciName":"Poa annua var. annua","tsn":"802116"},{"author":"E. Desv.","class":"gov.usgs.itis.itis_service.data.SvcTaxonName","sciName":"Poa annua var. eriolepis","tsn":"802117"},{"author":"L.H. Dewey","class":"gov.usgs.itis.itis_service.data.SvcTaxonName","sciName":"Poa annua var. rigidiuscula","tsn":"802119"},{"author":"(Hausskn.) T. Koyama","class":"gov.usgs.itis.itis_service.data.SvcTaxonName","sciName":"Poa annua f. reptans","tsn":"803667"}],"tsn":"41107"}
  recorded_at: 2021-09-15 22:49:48 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
