http_interactions:
- request:
    method: get
    uri: http://www.marinespecies.org/rest/AphiaRecordsByName/Epigonus%20thai?like=true&marine_only=true&offset=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '[{"AphiaID":834973,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=834973","scientificname":"Epigonus
        thai","authority":"Prokofiev & Bussarawit, 2012","status":"accepted","unacceptreason":null,"taxonRankID":220,"rank":"Species","valid_AphiaID":834973,"valid_name":"Epigonus
        thai","valid_authority":"Prokofiev & Bussarawit, 2012","parentNameUsageID":125967,"kingdom":"Animalia","phylum":"Chordata","class":"Actinopterygii","order":"Perciformes","family":"Epigonidae","genus":"Epigonus","citation":"Froese,
        R. and D. Pauly. Editors. (2019). FishBase. Epigonus thai Prokofiev & Bussarawit,
        2012. Accessed through: World Register of Marine Species at: http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=834973
        on 2019-07-19","lsid":"urn:lsid:marinespecies.org:taxname:834973","isMarine":1,"isBrackish":0,"isFreshwater":0,"isTerrestrial":0,"isExtinct":null,"match_type":"like","modified":"2017-07-04T08:16:25.400Z"}]'
  recorded_at: 2019-07-18 23:39:44 GMT
  recorded_with: vcr/0.2.6.9100, webmockr/0.3.4
- request:
    method: get
    uri: http://www.marinespecies.org/rest/AphiaSynonymsByAphiaID/834973?offset=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '204'
      message: No Content
      explanation: Request fulfilled, nothing follows
    headers:
      status: HTTP/1.1 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: 2019-07-18 23:39:44 GMT
  recorded_with: vcr/0.2.6.9100, webmockr/0.3.4
- request:
    method: get
    uri: https://species-ws.nbnatlas.org/search?q=Ursus%20arctos&fq=idxtype%3ATAXON&pageSize=500&startIndex=0
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.8.1.9100 rOpenSci(taxize/0.9.8.9125)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-application-context: application:production
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"searchResults":{"totalRecords":25,"facetResults":[],"results":[{"id":"c7619db1-c921-41e6-90c5-078387cb3a1c","guid":"NBNSYS0000005185","linkIdentifier":"Ursus
        arctos","idxtype":"TAXON","name":"Ursus arctos","kingdom":"Animalia","nomenclaturalCode":null,"scientificName":"Ursus
        arctos","scientificNameAuthorship":"Linnaeus, 1758","author":"Linnaeus, 1758","nameComplete":"Ursus
        arctos Linnaeus, 1758","nameFormatted":"<span class=\"scientific-name rank-species\"><span
        class=\"name\">Ursus arctos<\u002fspan> <span class=\"author\">Linnaeus, 1758<\u002fspan><\u002fspan>","taxonomicStatus":"accepted","nomenclaturalStatus":null,"parentGuid":"NHMSYS0000377313","rank":"species","rankID":7000,"commonName":"Brown
        Bear","commonNameSingle":"Brown Bear","occurrenceCount":0,"conservationStatus":null,"infoSourceName":"UKSI","infoSourceURL":"https://registry.nbnatlas.org/public/show/null","taxonGroup_s":"terrestrial
        mammal","establishmentMeans":"Native","establishmentStatus_s":null,"datasetID":null,"listMembership_m_s":null,"riskAssessment_m_s":null,"managementPlans_m_s":null,"habitat_s":"terrestrial","speciesGroup":["Mammals"],"kingdomGuid":"NBNSYS0100001342","orderGuid":"NHMSYS0000376165","order":"Carnivora","subphylumGuid":"NBNSYS0100005954","class":"Mammalia","genus":"Ursus","phylum":"Chordata","subphylum":"Vertebrata","genusGuid":"NHMSYS0000377313","family":"Ursidae","classGuid":"NHMSYS0000376154","familyGuid":"NHMSYS0000377309","phylumGuid":"NBNSYS0100002380","species":"Ursus
        arctos","speciesGuid":"NBNSYS0000005185","highlight":"<b>Ursus arctos<\u002fb><br><b>Ursus<\u002fb>
        <b>arctos<\u002fb> Linnaeus, 1758<br><b>Ursus<\u002fb> <b>arctos<\u002fb>"},{"id":"cad97318-b48d-40eb-ad84-e36be329bd4c","guid":"NHMSYS0020636842","linkIdentifier":null,"idxtype":"TAXON","name":"Arctoa
        anderssonii","kingdom":"Plantae","nomenclaturalCode":null,"scientificName":"Arctoa
        anderssonii","scientificNameAuthorship":"Wich.","author":"Wich.","nameComplete":"Arctoa
        anderssonii Wich.","nameFormatted":"<span class=\"scientific-name rank-specie[...]
- request:
    method: get
    uri: https://species-ws.nbnatlas.org/species/NBNSYS0000005185
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.8.1.9100 rOpenSci(taxize/0.9.8.9125)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      x-application-context: application:production
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"taxonConcept":{"guid":"NBNSYS0000005185","parentGuid":"NHMSYS0000377313","nameString":"Ursus
        arctos","nameComplete":"Ursus arctos Linnaeus, 1758","nameFormatted":"<span
        class=\"scientific-name rank-species\"><span class=\"name\">Ursus arctos<\u002fspan>
        <span class=\"author\">Linnaeus, 1758<\u002fspan><\u002fspan>","author":"Linnaeus,
        1758","nomenclaturalCode":null,"taxonomicStatus":"accepted","nomenclaturalStatus":null,"rankString":"species","nameAuthority":"UKSI","rankID":7000,"nameAccordingTo":null,"nameAccordingToID":null,"namePublishedIn":null,"namePublishedInYear":null,"namePublishedInID":null,"taxonRemarks":null,"infoSourceURL":null,"datasetURL":null,"taxonConceptID":"NBNORG0000008826"},"taxonName":[],"classification":{"kingdom":"Animalia","kingdomGuid":"NBNSYS0100001342","orderGuid":"NHMSYS0000376165","order":"Carnivora","subphylumGuid":"NBNSYS0100005954","class":"Mammalia","genus":"Ursus","phylum":"Chordata","subphylum":"Vertebrata","genusGuid":"NHMSYS0000377313","family":"Ursidae","classGuid":"NHMSYS0000376154","familyGuid":"NHMSYS0000377309","phylumGuid":"NBNSYS0100002380","scientificName":"Ursus
        arctos","guid":"NBNSYS0000005185","species":"Ursus arctos","speciesGuid":"NBNSYS0000005185"},"synonyms":[],"commonNames":[{"nameString":"Brown
        Bear","status":"preferred","priority":300,"language":"en","temporal":null,"locationID":null,"locality":null,"countryCode":null,"sex":null,"lifeStage":null,"isPlural":null,"organismPart":null,"taxonRemarks":null,"labels":null,"infoSourceName":"UKSI","infoSourceURL":null,"datasetURL":null}],"imageIdentifier":null,"conservationStatuses":null,"extantStatuses":[],"habitats":[],"categories":[],"simpleProperties":[],"images":[],"identifiers":[],"variants":[],"taxonGroup_s":"terrestrial
        mammal","establishmentMeans":"Native","habitat_s":"terrestrial","speciesGroup":["Mammals"]}'
  recorded_at: 2019-07-18 23:39:44 GMT
  recorded_with: vcr/0.2.6.9100, webmockr/0.3.4
- request:
    method: get
    uri: http://apiv3.iucnredlist.org/api/v3/species/Ursus%20americanus?token=<<rredlist_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"Ursus americanus","result":[{"taxonid":41687,"scientific_name":"Ursus
        americanus","kingdom":"ANIMALIA","phylum":"CHORDATA","class":"MAMMALIA","order":"CARNIVORA","family":"URSIDAE","genus":"Ursus","main_common_name":"American
        Black Bear","authority":"Pallas, 1780","published_year":2016,"assessment_date":"2016-03-18","category":"LC","criteria":null,"population_trend":"Increasing","marine_system":false,"freshwater_system":false,"terrestrial_system":true,"assessor":"Beecham,
        J.J., Garshelis, D.L., Obbard, M.E., Scheick, B.K., Doan-Crider, D.L.","reviewer":"van
        Manen, F.T.","aoo_km2":null,"eoo_km2":null,"elevation_upper":3500,"elevation_lower":0,"depth_upper":null,"depth_lower":null,"errata_flag":true,"errata_reason":"The
        previous version of this assessment accidentally used the estimated total
        number of American Black Bears as the number of mature individuals. That error
        is corrected here.","amended_flag":null,"amended_reason":null}]}'
  recorded_at: 2019-07-18 23:39:44 GMT
  recorded_with: vcr/0.2.6.9100, webmockr/0.3.4
- request:
    method: get
    uri: http://apiv3.iucnredlist.org/api/v3/species/synonym/Ursus%20americanus?token=<<rredlist_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"Ursus americanus","count":0,"result":[]}'
  recorded_at: 2019-07-18 23:39:44 GMT
  recorded_with: vcr/0.2.6.9100, webmockr/0.3.4
- request:
    method: get
    uri: http://www.catalogueoflife.org/col/webservice?name=Pinus%20contorta&response=full&format=json
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.8.1.9100 rOpenSci(taxize/0.9.8.9125)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"id":"","name":"Pinus contorta","total_number_of_results":10,"number_of_results_returned":10,"start":0,"error_message":"","version":"1.9
        rev 2126ab0","rank":"","results":[{"id":"13c40c3f2be0b0965bddf948d2b3115f","name":"Pinus
        contorta","rank":"Species","name_status":"accepted name","genus":"Pinus","subgenus":"","species":"contorta","infraspecies_marker":"","infraspecies":"","author":"Douglas
        ex Loudon","record_scrutiny_date":{"scrutiny":"31-Jan-2014"},"online_resource":"","is_extinct":"false","source_database":"Conifer
        Database","source_database_url":"","bibliographic_citation":"Farjon A., Gardner
        M. & Thomas P. (2019). Conifer Database (version Jan 2014). In: Species 2000
        & ITIS Catalogue of Life, 2019 Annual Checklist (Roskov Y., Ower G., Orrell
        T., Nicolson D., Bailly N., Kirk P.M., Bourgoin T., DeWalt R.E., Decock W.,
        Nieukerken E. van, Zarucchi J., Penev L., eds.). Digital resource at www.catalogueoflife.org\/annual-checklist\/2019.
        Species 2000: Naturalis, Leiden, the Netherlands. ISSN 2405-884X.","name_html":"<i>Pinus
        contorta<\/i> Douglas ex Loudon","url":"http:\/\/www.catalogueoflife.org\/col\/details\/species\/id\/13c40c3f2be0b0965bddf948d2b3115f","distribution":"70
        ASK NWT-MK YUK 71 ABT BRC 73 74 SDA 76 79 MXN-BC 68815 0; Western North America,
        from Yukon to Baja California and S Colorado. 68814 0","references":[{"author":"Farjon,
        A. & D. Filer","year":"2013","title":null,"source":"In: An Atlas of the World\u2019s
        conifers. An analysis of their distribution, biogeography, diversity and conservation
        status. \nBrill, Leiden & Boston. 512 pp."},{"author":"Farjon, A.","year":"2010","title":null,"source":"In:
        A Handbook of the World\u2019s Conifers.\nVol. 1 & 2. E. J. Brill, Leiden
        & Boston. 1112 pp."},{"author":"Bean, W.J.","year":"1980","title":"Trees and
        shrubs hardy in the British Isles, ed. 8, Vols. 1-4","source":"John Murray,
     [...]
- request:
    method: get
    uri: http://www.catalogueoflife.org/col/webservice?id=13c40c3f2be0b0965bddf948d2b3115f&response=full&format=json
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.8.1.9100 rOpenSci(taxize/0.9.8.9125)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      enco[...]
- request:
    method: get
    uri: https://www.itis.gov/ITISWebService/jsonservice/getITISTermsFromScientificName?srchKey=Pinus%20balfouriana
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/json;charset=ISO-8859-1
      status: 'HTTP/1.1 200 '
      x-application: itis_webservices
      x-node-name: not shown
      x-upstream-member: not shown
    body:
      encoding: UTF-8
      string: |
        {"class":"gov.usgs.itis.itis_service.data.SvcItisTermList","itisTerms":[{"author":"(Engelm.) Engelm.","class":"gov.usgs.itis.itis_service.data.SvcItisTerm","commonNames":[null],"nameUsage":"not accepted","scientificName":"Pinus balfouriana var. aristata","tsn":"183314"},{"author":"Balf.","class":"gov.usgs.itis.itis_service.data.SvcItisTerm","commonNames":["foxtailed pine","foxtail pine"],"nameUsage":"accepted","scientificName":"Pinus balfouriana","tsn":"183316"},{"author":"Balf.","class":"gov.usgs.itis.itis_service.data.SvcItisTerm","commonNames":["foxtail pine"],"nameUsage":"accepted","scientificName":"Pinus balfouriana ssp. balfouriana","tsn":"183317"},{"author":"R.J. Mastrog. & J.D. Mastrog.","class":"gov.usgs.itis.itis_service.data.SvcItisTerm","commonNames":["foxtail pine"],"nameUsage":"accepted","scientificName":"Pinus balfouriana ssp. austrina","tsn":"183318"}],"requestedName":"Pinus balfouriana"}
  recorded_at: 2019-07-18 23:39:44 GMT
  recorded_with: vcr/0.2.6.9100, webmockr/0.3.4
- request:
    method: get
    uri: https://www.itis.gov/ITISWebService/jsonservice/getAcceptedNamesFromTSN?tsn=183316
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/json;charset=ISO-8859-1
      status: 'HTTP/1.1 200 '
      x-application: itis_webservices
      x-node-name: not shown
      x-upstream-member: not shown
    body:
      encoding: UTF-8
      string: |
        {"acceptedNames":[null],"class":"gov.usgs.itis.itis_service.data.SvcAcceptedNameList","tsn":"183316"}
  recorded_at: 2019-07-18 23:39:44 GMT
  recorded_with: vcr/0.2.6.9100, webmockr/0.3.4
- request:
    method: get
    uri: https://www.itis.gov/ITISWebService/jsonservice/getSynonymNamesFromTSN?tsn=183316
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: text/json;charset=ISO-8859-1
      status: 'HTTP/1.1 200 '
      x-application: itis_webservices
      x-node-name: not shown
      x-upstream-member: not shown
    body:
      encoding: UTF-8
      string: |
        {"class":"gov.usgs.itis.itis_service.data.SvcSynonymNameList","synonyms":[null],"tsn":"183316"}
  recorded_at: 2019-07-18 23:39:44 GMT
  recorded_with: vcr/0.2.6.9100, webmockr/0.3.4
- request:
    method: get
    uri: http://services.tropicos.org/Name/Search?format=json&name=Pinus%20contorta&apikey=<<tropicos_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.8.1.9100 rOpenSci(taxize/0.9.8.9125)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"NameId":24900183,"ScientificName":"Pinus contorta","ScientificNameWithAuthors":"Pinus
        contorta Douglas ex Loudon","Family":"Pinaceae","RankAbbreviation":"sp.","NomenclatureStatusName":"No
        opinion","Author":"Douglas ex Loudon","DisplayReference":"Arbor. Frutic. Brit.
        4: 2292, f. 2210, 2211","DisplayDate":"1838","TotalRows":16},{"NameId":24900184,"ScientificName":"Pinus
        contorta var. bolanderi","ScientificNameWithAuthors":"Pinus contorta var.
        bolanderi Vasey","Family":"Pinaceae","RankAbbreviation":"var.","NomenclatureStatusName":"No
        opinion","Author":"Vasey","DisplayReference":"Leafl. Dept. Agric. 18: 177","DisplayDate":"1876","TotalRows":16},{"NameId":24900185,"ScientificName":"Pinus
        contorta var. latifolia","ScientificNameWithAuthors":"Pinus contorta var.
        latifolia Engelm."[...]
- request:
    method: get
    uri: http://services.tropicos.org/Name/24900183/Synonyms?apikey=<<tropicos_api_token>>&format=json
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.8.1.9100 rOpenSci(taxize/0.9.8.9125)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"Error":"No synonyms were found"}]'
  recorded_at: 2019-07-18 23:39:44 GMT
  recorded_with: vcr/0.2.6.9100, webmockr/0.3.4
