http_interactions:
- request:
    method: get
    uri: https://v4.boldsystems.org/index.php/API_Tax/TaxonSearch?taxName=Helianthus%20annuus&fuzzy=false
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: text/html; charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"top_matched_names":[{"taxid":421377,"taxon":"Helianthus annuus","tax_rank":"species","tax_division":"Plantae","parentid":125295,"parentname":"Helianthus","taxonrep":"Helianthus
        annuus","representitive_image":{"image":"HOLIN\/C-L_R-0151_1+1346854820.JPG","apectratio":0.954},"specimenrecords":"47"}],"total_matched_names":1}'
  recorded_at: 2025-01-29 19:13:36 GMT
  recorded_with: vcr/1.6.0.91, webmockr/1.0.0
- request:
    method: get
    uri: https://v4.boldsystems.org/index.php/API_Tax/TaxonData?taxId=421377&dataTypes=basic&includeTree=true
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: text/html; charset=utf-8
    body:
      encoding: ''
      file: no
      string: '{"421377":{"taxid":421377,"taxon":"He[...]
