http_interactions:
- request:
    method: get
    uri: https://v4.boldsystems.org/index.php/API_Tax/TaxonSearch?taxName=Helianthus%20annuus
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"top_matched_names":[{"taxid":421377,"taxon":"Helianthus annuus","tax_rank":"species","tax_division":"Plantae","parentid":125295,"parentname":"Helianthus","taxonrep":"Helianthus
        annuus","representitive_image":{"image":"PNOR\/TROM_V_962829+1465220946.JPG","apectratio":1.499},"specimenrecords":"44"}],"total_matched_names":1}'
  recorded_at: 2020-05-05 14:37:20 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: https://v4.boldsystems.org/index.php/API_Tax/TaxonData?taxId=421377&dataTypes=basic&includeTree=true
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: text/html; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"421377":{"taxid":421377,"taxon":[...]
