http_interactions:
- request:
    method: post
    uri: http://taxosaurus.org/submit?source=iPlant_TNRS
    body:
      encoding: ''
      string: file=list(path = "/private/var/folders/fc/n7g_vrvn0sx_st0p8lxb3ts40000gn/T/RtmpaeQ2lw/file8de799cfa28.txt",
        type = "text/plain")
    headers:
  response:
    status:
      status_code: '302'
      message: Found
      explanation: Object moved temporarily -- see URI list
    headers:
      status: HTTP/1.1 302 Found
      location: http://taxosaurus.org/retrieve/bff2bb9b620bff5d6a80107e251b36f2
      content-type: text/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"submit date":"Fri Jan 25 16:41:44 2019","version":"2.2.2","status":"found","token":"bff2bb9b620bff5d6a80107e251b36f2","message":"Your
        request is being processed. You can retrieve the results at http://taxosaurus.org/retrieve/bff2bb9b620bff5d6a80107e251b36f2.","uri":"http://taxosaurus.org/retrieve/bff2bb9b620bff5d6a80107e251b36f2"}'
  recorded_at: 2019-01-25 23:41:46 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
- request:
    method: get
    uri: http://taxosaurus.org/retrieve/bff2bb9b620bff5d6a80107e251b36f2
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"OK","names":[{"matchCount":1,"matches":[{"acceptedName":"Brassica
        napus","sourceId":"iPlant_TNRS","score":"1","matchedName":"Brassica napus","annotations":{"Authority":"L."},"uri":"http://www.tropicos.org/Name/4100068"}],"submittedName":"Brassica
        napus"},{"matchCount":1,"matches":[{"acceptedName":"Brassica oleracea","sourceId":"iPlant_TNRS","score":"1","matchedName":"Brassica
        oleracea","annotations":{"Authority":"L."},"uri":"http://www.tropicos.org/Name/4100070"}],"submittedName":"Brassica
        oleracea"},{"matchCount":1,"matches":[{"acceptedName":"Acer campestre","sourceId":"iPlant_TNRS","score":"1","matchedName":"Acer
        campestre","annotations":{"Authority":"L."},"uri":"http://www.tropicos.org/Name/20[...]
