http_interactions:
- request:
    method: post
    uri: https://api.opentreeoflife.org/v3/tnrs/contexts
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;
    body:
      encoding: UTF-8
      file: no
      string: |-
        {
         "ANIMALS": [
          "Animals",
          "Birds",
          "Tetrapods",
          "Mammals",
          "Amphibians",
          "Vertebrates",
          "Arthropods",
          "Molluscs",
          "Nematodes",
          "Platyhelminthes",
          "Annelids",
          "Cnidarians",
          "Arachnids",
          "Insects"
         ],
         "FUNGI": [
          "Fungi",
          "Basidiomycetes",
          "Ascomycetes"
         ],
         "LIFE": [
          "All life"
         ],
         "MICROBES": [
          "Bacteria",
          "SAR group",
          "Archaea",
          "Excavata",
          "Amoebozoa",
          "Centrohelida",
          "Haptophyta",
          "Apusozoa",
          "Diatoms",
          "Ciliates",
          "Forams"
         ],
         "PLANTS": [
          "Land plants",
          "Hornworts",
          "Mosses",
          "Liverworts",
          "Vascular plants",
          "Club mosses",
          "Ferns",
          "Seed plants",
          "Flowering plants",
          "Monocots",
          "Eudicots",
          "Rosids",
          "Asterids",
          "Asterales",
          "Asteraceae",
          "Aster",
          "Symphyotrichum",
          "Campanulaceae",
          "Lobelia"
         ]
        }
  recorded_at: 2020-04-17 15:04:01 GMT
  recorded_with: vcr/0.5.4.91, webmockr/0.6.2.92
- request:
    method: post
    uri: https://api.opentreeoflife.org/v3/tnrs/match_names
    body:
      encoding: ''
      string: '{"names":["Hyla","Salmo","Diadema","Nautilus"],"context_name":"Animals","do_approximate_matching":true,"include_suppressed":false}'
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;
    body:
      encoding: UTF-8
      file: no
      string: |-
        {
         "context": "Animals",
         "governing_code": "ICZN",
         "includes_approximate_matches": true,
         "includes_deprecated_taxa": false,
         "includes_suppressed_names": false,
         "matched_names": [
          "Hyla",
          "Salmo",
          "Diadema",
          "Nautilus"
         ],
         "results": [
          {
           "matches": [
            {
             "is_approximate_match": false,
             "is_synonym": false,
             "matched_name": "Hyla",
             "nomenclature_code": "ICZN",
             "score": 1.0,
             "search_string": "hyla",
             "taxon": {
              "flags": [],
              "is_suppressed": false,
              "is_suppressed_from_synth": false,
              "name": "Hyla",
              "ott_id": 1062216,
              "rank": "genus",
              "source": "ott3.2draft9",
              "synonyms": [
               "Hylaria"
              ],
              "tax_sources": [
               "ncbi:8421",
               "gbif:2423589",
               "irmng:1282051"
              ],
              "unique_name": "Hyla"
             }
            }
           ],
           "name": "Hyla"
          },
          {
           "matches": [
            {
             "is_approximate_match": false,
             "is_synonym": false,
             "matched_name": "Salmo",
             "nomenclature_code": "ICZN",
             "score": 1.0,
             "search_string": "salmo",
             "taxon": {
              "flags": [],
              "is_suppressed": false,
              "is_suppressed_from_synth": false[...]
