http_interactions:
- request:
    method: post
    uri: https://api.opentreeoflife.org/v3/tnrs/match_names
    body:
      encoding: ''
      string: '{"names":["Nautilas"],"do_approximate_matching":false,"include_suppressed":false}'
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;
    body:
      encoding: UTF-8
      file: no
      string: |-
        {
         "context": "All life",
         "governing_code": "undefined",
         "includes_approximate_matches": false,
         "includes_deprecated_taxa": false,
         "includes_suppressed_names": false,
         "matched_names": [],
         "results": [
          {
           "matches": [],
           "name": "Nautilas"
          }
         ],
         "taxonomy": {
          "author": "open tree of life project",
          "name": "ott",
          "source": "ott3.3draft1",
          "version": "3.3",
          "weburl": "https://tree.opentreeoflife.org/about/taxonomy-version/ott3.3"
         },
         "unambiguous_names": [],
         "unmatched_names": [
          "Nautilas"
         ]
        }
  recorded_at: 2021-09-15 22:50:39 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
