http_interactions:
- request:
    method: post
    uri: https://api.opentreeoflife.org/v3/tnrs/match_names
    body:
      encoding: ''
      string: '{"names":["Nautilas"],"do_approximate_matching":true,"include_suppressed":false}'
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;
    body:
      encoding: ''
      file: no
      string: |-
        {
         "context": "All life",
         "governing_code": "undefined",
         "includes_approximate_matches": true,
         "includes_deprecated_taxa": false,
         "includes_suppressed_names": false,
         "matched_names": [
          "Nautilas"
         ],
         "results": [
          {
           "matches": [
            {
             "is_approximate_match": true,
             "is_synonym": false,
             "matched_name": "Nautilus",
             "nomenclature_code": "ICZN",
             "score": 0.875,
             "search_string": "nautilas",
             "taxon": {
              "flags": [],
              "is_suppressed": false,
              "is_suppressed_from_synth": false,
              "name": "Nautilus",
              "ott_id": 616358,
              "rank": "genus",
              "source": "ott3.7draft2",
              "synonyms": [
               "Nantilus",
               "Nautarius",
               "Nauticus"
              ],
              "tax_sources": [
               "worms:204549",
               "ncbi:34572",
               "gbif:2289060",
               "irmng:1286821"
              ],
              "unique_name": "Nautilus"
             }
            }
           ],
           "name": "Nautilas"
          }
         ],
         "taxonomy": {
          "author": "open tree of life project",
          "name": "ott",
          "source": "ott3.7draft2",
          "version": "3.7",
          "weburl": "https://tree.opentreeoflife.org/about/taxonomy-version/ott3.7"
         },
         "unambiguous_names": [
          "Nautilas"
         ],
         "unmatched_names": []
        }
  recorded_at: 2025-01-29 19:13:40 GMT
  recorded_with: vcr/1.6.0.91, webmockr/1.0.0
