http_interactions:
- request:
    method: post
    uri: https://api.opentreeoflife.org/v3/tnrs/match_names
    body:
      encoding: ''
      string: '{"names":["echinodermata","xenacoelomorpha","chordata","hemichordata"],"do_approximate_matching":true,"include_suppressed":false}'
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;
    body:
      encoding: ''
      file: no
      string: |-
        {
         "context": "Animals",
         "governing_code": "ICZN",
         "includes_approximate_matches": true,
         "includes_deprecated_taxa": false,
         "includes_suppressed_names": false,
         "matched_names": [
          "echinodermata",
          "xenacoelomorpha",
          "chordata",
          "hemichordata"
         ],
         "results": [
          {
           "matches": [
            {
             "is_approximate_match": false,
             "is_synonym": false,
             "matched_name": "Echinodermata",
             "nomenclature_code": "ICZN",
             "score": 1.0,
             "search_string": "echinodermata",
             "taxon": {
              "flags": [],
              "is_suppressed": false,
              "is_suppressed_from_synth": false,
              "name": "Echinodermata",
              "ott_id": 451020,
              "rank": "no rank",
              "source": "ott3.7draft2",
              "synonyms": [
               "Cornuta"
              ],
              "tax_sources": [
               "ncbi:7586",
               "worms:1806",
               "gbif:50",
               "irmng:158"
              ],
              "unique_name": "Echinodermata"
             }
            }
           ],
           "name": "echinodermata"
          },
          {
           "matches": [
            {
             "is_approximate_match": false,
             "is_synonym": false,
             "matched_name": "Xenacoelomorpha",
             "nomenclature_code": "ICZN",
             "score": 1.0,
             "search_string": "xenacoelomorpha",
             "taxon": {
              "flags": [
               "barren"
              ],
        [...]
