http_interactions:
- request:
    method: get
    uri: http://services.tropicos.org/Name/25503923/AcceptedNames?apikey=<<tropicos_api_token>>&format=json
    body:
      encoding: ''
      string: ''
    headers:
      X-User-Agent: r-curl/3.3 crul/0.7.0.9100 taxize/0.9.4.9914
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"SynonymName":{"NameId":25503923,"ScientificName":"Aira pumila","ScientificNameWithAuthors":"Aira
        pumila Pursh","Family":"Poaceae"},"AcceptedName":{"NameId":25509881,"ScientificName":"Poa
        annua","ScientificNameWithAuthors":"Poa annua L.","Family":"Poaceae"},"Reference":{"ReferenceId":1289,"PublicationId":1340,"AuthorString":"D''Arcy,
        W. G.","ArticleTitle":"Flora of Panama. Checklist and Index. Part 1: The introduction
        and checklist","Collation":"17: v–xxx, 1–328","AbbreviatedTitle":"Monogr.
        Syst. Bot. Missouri Bot. Gard.","TitlePageYear":"1987"}},{"SynonymName":{"NameId":25503923,"ScientificName":"Aira
        pumila","ScientificNameWithAuthors":"Aira pumila Pursh","Family":"Poaceae"},"AcceptedName":{"NameId":25509881,"ScientificName":"Poa
        annua","ScientificNameWithAuthors":"Poa annua L.","Family":"Poaceae"},"Reference":{"ReferenceId":6706,"PublicationId":626,"AuthorString":"Swallen,
        J. R.","ArticleTitle":"Gramineae. ~In:~ P. C. Standley & J. A. Steyermark
        (eds.), Flora of Guatemala---Part II","Collation"[...]
