http_interactions:
- request:
    method: get
    uri: http://services.tropicos.org/Name/25509881/Distributions?format=json&apikey=<<tropicos_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
      X-User-Agent: r-curl/3.3 crul/0.7.0.9100 taxize/0.9.4.9914
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"Location":{"LocationID":29,"RegionLocationID":99366965,"RegionName":"Europe","CountryLocationID":29,"CountryName":"Austria"},"Reference":{"ReferenceId":1000707,"ArticleTitle":"Poa","Collation":"5:
        159–1167","AbbreviatedTitle":"Fl. Eur.","TitlePageYear":"1980","FullCitation":"Edmondson,
        J. R. 1980. Poa. 5: 159–1167. In T. G. Tutin, V. H. Heywood, N. A. Burges,
        D. H. Valentine, S. M. Walters & D. A. Webb (eds.) Fl. Eur. Cambridge University
        Press, Cambridge. "}},{"Location":{"LocationID":34,"RegionLocationID":37101,"RegionName":"Asia","CountryLocationID":34,"CountryName":"Afghanistan"},"Reference":{"ReferenceId":25927,"ArticleTitle":"Gramineae","Collation":"70\/30:
        1–573,","AbbreviatedTitle":"Fl. Iranica","TitlePageYear":"1970","FullCi[...]
