http_interactions:
- request:
    method: get
    uri: http://services.tropicos.org/Name/25509881/References?apikey=<<tropicos_api_token>>&format=json
    body:
      encoding: ''
      string: ''
    headers:
      X-User-Agent: r-curl/3.3 crul/0.7.0.9100 taxize/0.9.4.9914
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"Reference":{"ReferenceId":61,"PublicationId":10843,"Collation":"1–848","AbbreviatedTitle":"Fl.
        Pl. Jamaica","TitlePageYear":"1972","FullCitation":"Adams, C. D. 1972. Fl.
        Pl. Jamaica 1–848. University of the West Indies, Mona. "},"AcceptedBy":true},{"Reference":{"ReferenceId":458,"PublicationId":14517,"Collation":"396
        pp.","AbbreviatedTitle":"Fl. Tierra del Fuego","TitlePageYear":"1983","FullCitation":"Moore,
        D. M. 1983. Fl. Tierra del Fuego 396 pp. A. Nelson; Missouri Botanical Garden,
        Oswestry; St. Louis. "},"AcceptedBy":true},{"Reference":{"ReferenceId":513,"PublicationId":3143,"ArticleTitle":"Flora
        de Chiapas","Collation":"4: i–v, 1–246","AbbreviatedTitle":"Listados Floríst.
        México","TitlePageYear":"1986","FullCitation":"Breedlove, D.E. 1986. Flora
        de Chiapas. Listados Floríst. México 4: i–v, 1–246. "},"AcceptedBy":true},{"Reference":{"ReferenceId":636,"PublicationId":8076,"Collation":"i–lxi,
        1–1183","AbbreviatedTitle":"Man. Vasc. Fl. Carolinas","TitlePageYear":"1968","FullCitation":"Radford,
        A. E., H. E. Ahles & C. R. Bell. 1968. Man. Vasc. F[...]
