http_interactions:
- request:
    method: get
    uri: http://services.tropicos.org/Name/Search?format=json&name=Poa%20annua&apikey=<<tropicos_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
      X-User-Agent: r-curl/3.3 crul/0.7.0.9100 taxize/0.9.4.9914
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"NameId":25509881,"ScientificName":"Poa annua","ScientificNameWithAuthors":"Poa
        annua L.","Family":"Poaceae","RankAbbreviation":"sp.","NomenclatureStatusID":1,"NomenclatureStatusName":"Legitimate","Symbol":"!","Author":"L.","DisplayReference":"Sp.
        Pl. 1: 68","DisplayDate":"1753","TotalRows":57},{"NameId":25512377,"ScientificName":"Poa
        annua var. reptans","ScientificNameWithAuthors":"Poa annua var. reptans Hausskn.","Family":"Poaceae","RankAbbreviation":"var.","NomenclatureStatusName":"No
        opinion","Author":"Hausskn.","DisplayReference":"Mitth. Thüring. Bot. Vereins
        9: 7","DisplayDate":"1891","TotalRows":57},{"NameId":25514155,"ScientificName":"Poa
        annua var. rigidiuscula","ScientificNameWithAuthors":"Poa annua var. rigidiuscula
        L.H. Dewey","Fa[...]
- request:
    method: get
    uri: http://services.tropicos.org/Name/Search?format=json&name=stuff%20things&apikey=<<tropicos_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
      X-User-Agent: r-curl/3.3 crul/0.7.0.9100 taxize/0.9.4.9914
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"Error":"No names were found"}]'
  recorded_at: 2019-01-26 00:06:57 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
