http_interactions:
- request:
    method: get
    uri: http://services.tropicos.org/Name/25509881/Synonyms?apikey=<<tropicos_api_token>>&format=json
    body:
      encoding: ''
      string: ''
    headers:
      X-User-Agent: r-curl/3.3 crul/0.7.0.9100 taxize/0.9.4.9914
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"SynonymName":{"NameId":25503923,"ScientificName":"Aira pumila","ScientificNameWithAuthors":"Aira
        pumila Pursh","Family":"Poaceae"},"AcceptedName":{"NameId":25509881,"ScientificName":"Poa
        annua","ScientificNameWithAuthors":"Poa annua L.","Family":"Poaceae"},"Reference":{"ReferenceId":15758,"PublicationId":7936,"AuthorString":"Hitchcock,
        A. S.","Collation":"1–1051","AbbreviatedTitle":"Man. Grasses U.S. (ed. 2)","TitlePageYear":"1951"}},{"SynonymName":{"NameId":25503923,"ScientificName":"Aira
        pumila","ScientificNameWithAuthors":"Aira pumila Pursh","Family":"Poaceae"},"AcceptedName":{"NameId":25509881,"ScientificName":"Poa
        annua","ScientificNameWithAuthors":"Poa annua L.","Family":"Poaceae"},"Reference":{"ReferenceId":46337,"PublicationId":100023941,"AuthorString":"Soreng,
        R. J., L. M. Giussani & M. A. Negritto","ArticleTitle":"~Poa~.","Collation":"48:
        505–580","AbbreviatedTitle":"Catalogue of New World Grasses (Poaceae): IV.
        Subfamily Pooideae, Contr. U.S. Natl. Herb.","TitlePageYear":"2003"}},{"SynonymName":{"NameId":25503923,"ScientificName":"Aira
        pumila","ScientificNameWithAuthors":"Aira pumila Pursh","Family":"Poaceae"},"AcceptedName":{"NameId":25509881,"ScientificName":"Poa
        annua","ScientificNameWithAuthors":"Poa annua L.","Family":"Poaceae"},"Reference":{"ReferenceId":6706,"Publi[...]
