http_interactions:
- request:
    method: get
    uri: http://services.tropicos.org/Name/25509881?apikey=<<tropicos_api_token>>&format=json
    body:
      encoding: ''
      string: ''
    headers:
      X-User-Agent: r-curl/3.3 crul/0.7.0.9100 taxize/0.9.4.9914
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"NameId":25509881,"ScientificName":"Poa annua","ScientificNameWithAuthors":"Poa
        annua L.","Family":"Poaceae","SynonymCount":"100","AcceptedNameCount":"0","Rank":"species","RankAbbreviation":"sp.","NomenclatureStatusID":1,"NomenclatureStatusName":"Legitimate","Symbol":"!","Genus":"Poa","SpeciesEpithet":"annua","Source":"http:\/\/www.tropicos.org\/Name\/25509881","Citation":"Tropicos.org.
        Missouri Botanical Garden. 25 Jan 2019 &lt;http:\/\/www.tropicos.org\/Name\/25509881&gt;","Copyright":"©
        2019 Missouri Botanical Garden - 4344 Shaw Boulevard - Saint Louis, Missouri
        63110","Author":"L.","NamePublishedCitation":"Species Plantarum 1: 68. 1753.
        (1 May 1753) (Sp. Pl.) ","TypeSpecimens":[{"KindOfTypeAbbrev":"LT","KindOfTypeName":"Lectotype","CollectionNumber":"87.17","CollectorName":"Herb.
        Linn.","Institution":"LINN","TypeNote":"Designated by R. Soreng in:"},{"KindOfTypeAbbrev":"LT","KindOfTypeName":"Lectotype","Institution":"LINN-87.17
        (right-hand plant)","TypeNote":"LT designated by Soreng in Cafferty et al.,
        Taxon 49(2): 254 (2000); same specimen indicated with uncertainty as HT by
        Veldkamp, Blumea 38: 421 (1994)"}]}'
  recorded_at: 2019-01-26 00:08:15 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
