http_interactions:
- request:
    method: get
    uri: http://services.tropicos.org/Name/25509881?apikey=<<tropicos_api_token>>&format=xml
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: '<Name xmlns="http://schemas.datacontract.org/2004/07/MOBOT.Tropicos.Web.Service.DataTransfer"
        xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><NameId>25509881</NameId><ScientificName>Poa
        annua</ScientificName><ScientificNameWithAuthors>Poa annua L.</ScientificNameWithAuthors><Family>Poaceae</Family><SynonymCount>100</SynonymCount><AcceptedNameCount>0</AcceptedNameCount><Rank>species</Rank><RankAbbreviation>sp.</RankAbbreviation><NomenclatureStatusID>1</NomenclatureStatusID><NomenclatureStatusName>Legitimate</NomenclatureStatusName><Symbol>!</Symbol><Genus>Poa</Genus><SpeciesEpithet>annua</SpeciesEpithet><Source>http://www.tropicos.org/Name/25509881</Source><Citation>Tropicos.org.
        Missouri Botanical Garden. 25 Jan 2019 &amp;lt;http://www.tropicos.org/Name/25509881&amp;gt;</Citation><Copyright>©
        2019 Missouri Botanical Garden - 4344 Shaw Boulevard - Saint Louis, Missouri
        63110</Copyright><Author>L.</Author><NamePublishedCitation>Species Plantarum
        1: 68. 1753. (1 May 1753) (Sp. Pl.) </NamePublishedCitation><TypeSpecimens><TypeSpecimen><KindOfTypeAbbrev>LT</KindOfTypeAbbrev><KindOfTypeName>Lectotype</KindOfTypeName><CollectionNumber>87.17</CollectionNumber><CollectorName>Herb.
        Linn.</CollectorName><Institution>LINN</Institution><TypeNote>Designated by
        R. Soreng in:</TypeNote></TypeSpecimen><TypeSpecimen><KindOfTypeAbbrev>LT</KindOfTypeAbbrev><KindOfTypeName>Lectotype</KindOfTypeName><Institution>LINN-87.17
        (right-hand plant)</Institution><TypeNote>LT designated by Soreng in Cafferty
        et al., Taxon 49(2): 254 (2000); same specimen indicated with uncertainty
        as HT by Veldkamp, Blumea 38: 421 (1994)</TypeNote></TypeSpecimen></TypeSpecimens></Name>'
  recorded_at: 2019-01-25 22:56:22 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
[...]
