http_interactions:
- request:
    method: get
    uri: http://data.canadensys.net/vascan/api/0.1/search.json?q=Helianthus%20annuus
    body:
      encoding: ''
      string: ''
    headers:
      X-User-Agent: r-curl/3.3 crul/0.7.0.9100 taxize/0.9.4.9914
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"apiVersion":"0.1","lastUpdatedDate":"2018-06-21\n","results":[{"searchedTerm":"Helianthus
        annuus","numMatches":1,"matches":[{"taxonID":3189,"scientificName":"Helianthus
        annuus Linnaeus","scientificNameAuthorship":"Linnaeus","canonicalName":"Helianthus
        annuus","taxonRank":"species","taxonomicAssertions":[{"acceptedNameUsage":"Helianthus
        annuus Linnaeus","acceptedNameUsageID":3189,"nameAccordingTo":"FNA Editorial
        Committee. 2006. Flora of North America north of Mexico. Volume 21: Magnoliophyta:
        Asteridae, part 8: Asteraceae, part 3. Oxford University Press, New York.","nameAccordingToID":"http://www.efloras.org/volume_page.aspx?volume_id=1021&flora_id=1","taxonomicStatus":"accepted","parentNameUsageID":1235,"higherClassification":"Equisetopsida;Magnoliidae;Asteranae;Asterales;Asteraceae;Asteroideae;Heliantheae;Helianthus"}],"vernacularNames":[{"vernacularName":"common
        sunflower","language":"en","source":"FNA Editorial Committee. 2006. Flora
        of North America north of Mexico. Volume 21: Magnoliophyta: Asteridae, part
        8: Asteraceae, part 3. Oxford University Press, New York.","preferredName":true},{"vernacularName":"tournesol","language":"fr","source":"Darbyshire
        S.J., M. Favreau & M. Murray (revu et augmenté par). 2000. Noms populaires
        et scientifiques des plantes nuisibles du Canada. Agriculture et Agroalimentaire
        Canada. Publication 1397. 132 pp.","preferredName":true},{"vernacularName":"garden
        sunflower","language":"en","source":"Robert W. Freckmann Herbarium (UWSP),
        University of Wisconsin-Stevens Point, Wisc.","preferredName":false},{"vernacularName":"grand
        soleil","language":"fr","source":"Louis-Marie, P. 1953. Flore-Manuel de la
        province de Québec. 2ième éd. Institut agricole d''Oka. 323 pp.","preferredName":false},{"vernacularName":"hélianthe
        annuel","language":"fr","source":"Marie-Victorin, Fr. 1995. Flore laurentienne.
        3e éd. Mise à jour et annotée par L. Brouillet, S.G. Hay, I. Goulet, M. Blondeau,
        J. Cayouette et J. Labrecque. Gaétan Morin éditeur. 1093 pp.","preferredName":false},{"vernacularName":"soleil","language":"fr","source":"Marie-Victorin,
        Fr. 1995. Flore laurentienne. 3e éd. Mise à jour et annotée par L. Brouillet,
        S.G. Hay, I. Goulet, M. Blondeau, J. Cayouette et J. Labrecque. Gaétan Morin
        éditeur. 1093 pp.","preferredName":false}],"distribution":[{"locationID":"ISO
        3166-2:CA-NT","locality":"NT","establishmentMeans":"","occurrenceStatus":"doubtful"},{"locationID":"ISO
        3166-2:CA-BC","locality":"BC","establishmentMeans":"introduced","occurrenceStatus":"introduced"},{"locationID":"ISO
        3166-2:CA-SK","locality":"SK","establishmentMeans":"introduced","occurrenceStatus":"introduced"},{"locationID":"ISO
        3166-2:CA-MB","locality":"MB","establishmentMeans":"introduced","occurrenceStatus":"introduced"},{"locationID":"ISO
        3166-2:CA-ON","locality":"ON","establishmentMeans":"introduced","occurrenceStatus":"introduced"},{"locationID":"","locality":"NL_N","establishmentMeans":"","occurrenceStatus":"excluded"},{"locationID":"ISO
        3166-2:CA-QC","locality":"QC","establishmentMeans":"introduced","occurrenceStatus":"introduced"},{"locationID":"ISO
        3166-2:CA-PE","locality":"PE","establishmentMeans":"","occurrenceStatus":"excluded"},{"locationID":"ISO
        3166-2:CA-NS","locality":"NS","establishmentMeans":"introduced","occurrenceStatus":"introduced"},{"locationID":"ISO
        3166-2:CA-NB","locality":"NB","establishmentMeans":"introduced","occurrenceStatus":"introduced"},{"locationID":"ISO
        3166-2:CA-AB","locality":"AB","establishmentMeans":"introduced","occurrenceStatus":"introduced"},{"locationID":"ISO
        3166-2:FR-PM","locality":"PM","establishmentMeans":"introduced","occurrenceStatus":"ephemeral"}]}]}]}'
  recorded_at: 2019-01-26 00:10:15 GMT
  recorded_with: vcr/0.2.2, webmockr/0.3.0
- request:
    method: post
    uri: http://data.canadensys.net/vascan/api/0.1/search.json
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: application/x-www-form-urlencoded
      X-User-Agent: r-curl/3.3 crul/0.7.0.9100 taxize/0.9.4.9914
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"apiVersion":"0.1","lastUpdatedDate":"2018-06-21\n","results":[{"searchedTerm":"Helianthus
        annuus","numMatches":1,"matches":[{"t[...]
[...]
