http_interactions:
- request:
    method: get
    uri: http://www.marinespecies.org/rest/AphiaChildrenByAphiaID/123165?marine_only=true&offset=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"AphiaID":689456,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=689456","scientificname":"Archaeodiadema","authority":"Gregory,
        1896","status":"nomen dubium","unacceptreason":"in need of redescription","taxonRankID":180,"rank":"Genus","valid_AphiaID":null,"valid_name":null,"valid_authority":null,"parentNameUsageID":123165,"kingdom":"Animalia","phylum":"Echinodermata","class":"Echinoidea","order":"Pedinoida","family":"Pedinidae","genus":"Archaeodiadema","citation":"Kroh,
        A.; Mooi, R. (2020). World Echinoidea Database. Archaeodiadema Gregory, 1896&nbsp;&#8224;.
        Accessed through: World Register of Marine Species at: http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=689456
        on 2020-05-27","lsid":"urn:lsid:marinespecies.org:taxname:689456","isMarine":1,"isBrackish":0,"isFreshwater":0,"isTerrestrial":0,"isExtinct":1,"match_type":"exact","modified":"2012-09-16T20:23:00.917Z"},{"AphiaID":123404,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=123404","scientificname":"Caenopedina","authority":"A.
        Agassiz, 1869","status":"accepted","unacceptreason":null,"taxonRankID":180,"rank":"Genus","valid_AphiaID":123404,"valid_name":"Caenopedina","valid_authority":"A.
        Agassiz, 1869","parentNameUsageID":123165,"kingdom":"Animalia","phylum":"Echinodermata","class":"Echinoidea","order":"Pedinoida","family":"Pedinidae","genus[...]
- request:
    method: get
    uri: http://www.marinespecies.org/rest/AphiaChildrenByAphiaID/599934?marine_only=true&offset=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '204'
      message: No Content
      explanation: Request fulfilled, nothing follows
    headers:
      status: HTTP/1.1 204 No Content
    body:
      encoding: UTF-8
      file: no
      string: ''
  recorded_at: 2020-05-27 00:27:10 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
[...]
- request:
    method: get
    uri: http://www.marinespecies.org/rest/AphiaChildrenByAphiaID/382253?marine_only=true&offset=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"AphiaID":833207,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=833207","scientificname":"Thoraliidae","authority":"N.
        Morris, 1980","status":"accepted","unacceptreason":null,"taxonRankID":140,"rank":"Family","valid_AphiaID":833207,"valid_name":"Thoraliidae","valid_authority":"N.
        Morris, 1980","parentNameUsageID":382253,"kingdom":"Animalia","phylum":"Mollusca","class":"Bivalvia","order":null,"family":"Thoraliidae","genus":null,"citation":"MolluscaBase
        eds. (2020). MolluscaBase. Thoraliidae N. Morris, 1980&nbsp;&#8224;. Accessed
        through: World Register of Marine Species at: http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=833207
        on 2020-05-27","lsid":"urn:lsid:marinespecies.org:taxname:833207","isMarine":1,"isBrackish":null,"isFreshwater":null,"isTerrestrial":null,"isExtinct":1,"match_type":"exact","modified":"2016-12-26T12:32:25.240Z"},{"AphiaID":382254,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=382254","scientificname":"Trigoniida","authority":null,"status":"accepted","unacceptreason":nu[...]
[...]
- request:
    method: get
    uri: http://www.marinespecies.org/rest/AphiaChildrenByAphiaID/1251206?marine_only=true&offset=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"AphiaID":833877,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=833877","scientificname":"Canterburyellidae","authority":"Bandel,
        Gr\u00fcndel & P. A. Maxwell, 2000","status":"accepted","unacceptreason":null,"taxonRankID":140,"rank":"Family","valid_AphiaID":833877,"valid_name":"Canterburyellidae","valid_authority":"Bandel,
        Gr\u00fcndel & P. A. Maxwell, 2000","parentNameUsageID":1251206,"kingdom":"Animalia","phylum":"Mollusca","class":"Gastropoda","order":null,"family":"Canterburyellidae","genus":null,"citation":"MolluscaBase
        eds. (2020). MolluscaBase. Canterburyellidae Bandel, Gr\u00fcndel & P. A.
        Maxwell, 2000&nbsp;&#8224;. Accessed through: World Register of Marine Species
        at: http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=833877 on 2020-05-27","lsid":"urn:lsid:marinespecies.org:taxname:833877","isMarine":1,"isBrackish":null,"isFreshwater":null,"isTerrestrial":null,"isExtinct":1,"match_type":"exact","modified":"2018-05-04T18:48:28.343Z"},{"AphiaID":833879,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=833879","scientificname":"Cassiopidae","authority":"Beurlen,
        1967","status":"accepted","unacceptreason":null,"taxonRankID":140,"ran[...]
