http_interactions:
- request:
    method: get
    uri: https://www.marinespecies.org/rest/AphiaChildrenByAphiaID/123165?marine_only=true&offset=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"AphiaID":689456,"url":"https:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=689456","scientificname":"Archaeodiadema","authority":"Gregory,
        1896","status":"nomen dubium","unacceptreason":"in need of redescription","taxonRankID":180,"rank":"Genus","valid_AphiaID":null,"valid_name":null,"valid_authority":null,"parentNameUsageID":123165,"kingdom":"Animalia","phylum":"Echinodermata","class":"Echinoidea","order":"Pedinoida","family":"Pedinidae","genus":"Archaeodiadema","citation":"Kroh,
        A.; Mooi, R. (2025). World Echinoidea Database. Archaeodiadema Gregory, 1896&nbsp;&#8224;.
        Accessed through: World Register of Marine Species at: https:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=689456
        on 2025-01-29","lsid":"urn:lsid:marinespecies.org:taxname:689456","isMarine":1,"isBrackish":0,"isFreshwater":0,"isTerrestrial":0,"isExtinct":1,"match_type":"exact","modified":"2012-09-16T20:23:00.917Z"},{"AphiaID":123404,"url":"https:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=123404","scientificname":"Caenopedina","authority":"A.
        Agassiz, 1869","status":"accepted","unacceptreason":null,"taxonRankID":180,"rank":"Genus","valid_AphiaID":123404,"valid_name":"Caenopedina","valid_authority":"A.
        Agassiz, 1869","parentNameUsageID":123165,"kingdom":"Animalia","phylum":"Echinodermata","class":"Echinoidea","order":"Pedinoida","family":"Pedinidae","genu[...]
- request:
    method: get
    uri: https://www.marinespecies.org/rest/AphiaChildrenByAphiaID/599934?marine_only=true&offset=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '204'
      message: No Content
      explanation: Request fulfilled, nothing follows
    headers:
      status: 'HTTP/2 204 '
    body:
      encoding: ''
      file: no
      string: ''
  recorded_at: 2025-01-29 19:14:21 GMT
  recorded_with: vcr/1.6.0.91, webmockr/1.0.0
[...]
- request:
    method: get
    uri: https://www.marinespecies.org/rest/AphiaChildrenByAphiaID/1793212?marine_only=true&offset=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"AphiaID":1793213,"url":"https:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=1793213","scientificname":"Carydiidae","authority":"Haffer,
        1959","status":"accepted","unacceptreason":null,"taxonRankID":140,"rank":"Family","valid_AphiaID":1793213,"valid_name":"Carydiidae","valid_authority":"Haffer,
        1959","parentNameUsageID":1793212,"kingdom":"Animalia","phylum":"Mollusca","class":"Bivalvia","order":null,"family":"Carydiidae","genus":null,"citation":"MolluscaBase
        eds. (2025). MolluscaBase. Carydiidae Haffer, 1959&nbsp;&#8224;. Accessed
        through: World Register of Marine Species at: https:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=1793213
        on 2025-01-29","lsid":"urn:lsid:marinespecies.org:taxname:1793213","isMarine":1,"isBrackish":0,"isFreshwater":0,"isTerrestrial":0,"isExtinct":1,"match_type":"exact","modified":"2025-01-26T15:10:48.393Z"}]'
  recorded_at: 2025-01-29 19:14:21 GMT
  recorded_with: vcr/1.6.0.91, webmockr/1.0.0
[...]
- request:
    method: get
    uri: https://www.marinespecies.org/rest/AphiaChildrenByAphiaID/1251206?marine_only=true&offset=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '[{"AphiaID":833877,"url":"https:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=833877","scientificname":"Canterburyellidae","authority":"Bandel,
        Gr\u00fcndel & P. A. Maxwell, 2000","status":"accepted","unacceptreason":null,"taxonRankID":140,"rank":"Family","valid_AphiaID":833877,"valid_name":"Canterburyellidae","valid_authority":"Bandel,
        Gr\u00fcndel & P. A. Maxwell, 2000","parentNameUsageID":1251206,"kingdom":"Animalia","phylum":"Mollusca","class":"Gastropoda","order":null,"family":"Canterburyellidae","genus":null,"citation":"MolluscaBase
        eds. (2025). MolluscaBase. Canterburyellidae Bandel, Gr\u00fcndel & P. A.
        Maxwell, 2000&nbsp;&#8224;. Accessed through: World Register of Marine Species
        at: https:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=833877 on 2025-01-29","lsid":"urn:lsid:marinespecies.org:taxname:833877","isMarine":1,"isBrackish":null,"isFreshwater":null,"isTerrestrial":null,"isExtinct":1,"match_type":"exact","modified":"2018-05-04T18:48:28.343Z"},{"AphiaID":833879,"url":"https:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=833879","scientificname":"Cassiopidae","authority":"Beurlen,
        1967","status":"accepted","unacceptreason":null,"taxonRankID":140,"r[...]
[...]
