http_interactions:
- request:
    method: get
    uri: http://www.marinespecies.org/rest/AphiaChildrenByAphiaID/125732?marine_only=true&offset=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"AphiaID":300720,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=300720","scientificname":"Gadus
        abyssorum","authority":"Nilsson, 1832","status":"unaccepted","unacceptreason":null,"taxonRankID":220,"rank":"Species","valid_AphiaID":126459,"valid_name":"Molva
        dypterygia","valid_authority":"(Pennant, 1784)","parentNameUsageID":125732,"kingdom":"Animalia","phylum":"Chordata","class":"Actinopterygii","order":"Gadiformes","family":"Gadidae","genus":"Gadus","citation":"Froese,
        R. and D. Pauly. Editors. (2020). FishBase. Gadus abyssorum Nilsson, 1832.
        Accessed through: World Register of Marine Species at: http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=300720
        on 2020-10-20","lsid":"urn:lsid:marinespecies.org:taxname:300720","isMarine":1,"isBrackish":0,"isFreshwater":0,"isTerrestrial":null,"isExtinct":null,"match_type":"exact","modified":"2008-02-28T13:41:07.550Z"},{"AphiaID":154763,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=154763","scientificname":"Gadus
        aeglefinus","authority":"Linnaeus, 1758","status":"unaccepted","unacceptreason":"basionym","taxonRankID":220,"rank":"Species","valid_AphiaID":126437,"valid_name":"Melanogrammus
        aeglefinus","valid_authority":"(Linnaeus, 1758)","parentNameUsageID":125732,"kingdom":"Animalia","phylum":"Chordata","class":"Actinopterygii","order":"Gadiformes","[...]
- request:
    method: get
    uri: http://www.marinespecies.org/rest/AphiaChildrenByAphiaID/125732?marine_only=true&offset=50
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"AphiaID":300759,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=300759","scientificname":"Gadus
        maraldi","authority":"Risso, 1810","status":"unaccepted","unacceptreason":null,"taxonRankID":220,"rank":"Species","valid_AphiaID":126488,"valid_name":"Gadella
        maraldi","valid_authority":"(Risso, 1810)","parentNameUsageID":125732,"kingdom":"Animalia","phylum":"Chordata","class":"Actinopterygii","order":"Gadiformes","family":"Gadidae","genus":"Gadus","citation":"Froese,
        R. and D. Pauly. Editors. (2020). FishBase. Gadus maraldi Risso, 1810. Accessed
        through: World Register of Marine Species at: http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=300759
        on 2020-10-20","lsid":"urn:lsid:marinespecies.org:taxname:300759","isMarine":1,"isBrackish":0,"isFreshwater":0,"isTerrestrial":null,"isExtinct":null,"match_type":"exact","modified":"2008-02-28T13:41:07.550Z"},{"AphiaID":300760,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=300760","scientificname":"Gadus
        mediterraneus","authority":"Linnaeus, 1758","status":"una[...]
