http_interactions:
- request:
    method: get
    uri: http://www.marinespecies.org/rest/AphiaRecordsByAphiaIDs?aphiaids%5B%5D=125732
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '[{"AphiaID":125732,"url":"http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=125732","scientificname":"Gadus","authority":"Linnaeus,
        1758","status":"accepted","unacceptreason":null,"taxonRankID":180,"rank":"Genus","valid_AphiaID":125732,"valid_name":"Gadus","valid_authority":"Linnaeus,
        1758","parentNameUsageID":125469,"kingdom":"Animalia","phylum":"Chordata","class":"Actinopterygii","order":"Gadiformes","family":"Gadidae","genus":"Gadus","citation":"Froese,
        R. and D. Pauly. Editors. (2019). FishBase. Gadus Linnaeus, 1758. Accessed
        through: World Register of Marine Species at: http:\/\/www.marinespecies.org\/aphia.php?p=taxdetails&id=125732
        on 2019-06-14","lsid":"urn:lsid:marinespecies.org:taxname:125732","isMarine":1,"isBrackish":1,"isFreshwater":0,"isTerrestrial":0,"isExtinct":null,"match_type":"exact","modified":"2014-11-21T13:09:37.943Z"}]'
  recorded_at: 2019-06-14 20:50:11 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
- request:
    method: get
    uri: http://www.marinespecies.org/rest/AphiaChildrenByAphiaID/125732?marine_only=true&offset=1
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '[{"AphiaID":300720,"url":"http:\/\/www.marinespecies.org\/aphia.ph[...]
[...]
